Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0 --ignore-pattern !.storybook",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix: update focusStyles jsdoc
  packages/theming/src/utils/focusStyles.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: global alert anchor
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Continued prop-based unit testing
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/elements/combobox/Option.tsx
  packages/dropdowns.next/src/index.ts
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/combobox/StyledValue.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(chrome): consistent focus style for sub nav items
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/subnav/CollapsibleSubNavItem.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Upgrade to container-combobox v1.0.0
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/package.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix: update snapshots
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/theming/.size-snapshot.json
Due: none

Round out unit test coverage
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
  packages/dropdowns.next/src/elements/combobox/OptGroup.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Option.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Option.tsx
  packages/dropdowns.next/src/elements/combobox/Tag.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add controlled prop unit testing
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add `listboxMinHeight` prop
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/combobox/StyledListbox.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add listbox portal pattern story
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/demo/~patterns/patterns.stories.mdx
  packages/dropdowns.next/demo/~patterns/stories/ListboxStory.tsx
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: focus style transitions for codeblock and accordion
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/accordion/StyledHeader.ts
  packages/typography/.size-snapshot.json
  packages/typography/src/styled/StyledCodeBlockContainer.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update READMEs with Combobox info
  README.md
  packages/dropdowns.next/README.md
Due: none

Add `listboxMinHeight` null type and testing
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/combobox/StyledListbox.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: add transition swatch button and file input
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/styled/ColorSwatch/StyledSwatchButton.ts
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/file-list/StyledFile.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

doc(adrs): add theming peer dependency ADR-001
  docs/adrs/001-theming-peer-dependency.md
  docs/adrs/README.md
Due: none

Add ADR link to root README
  README.md
Due: none

Update link
  README.md
Due: none

fix: global alert anchor decoration
  packages/buttons/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: button group styles
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: start and end position variable naming
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: button group border and focus styling
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(chrome): consistent focus style for sub nav items (#1558)
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/subnav/CollapsibleSubNavItem.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: snapshots
  packages/chrome/.size-snapshot.json
Due: none

Updates [skip ci]
  iframe.html
  main.87013d53.iframe.bundle.js
  main.b0575244.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Apply suggestions from code review
  docs/adrs/001-theming-peer-dependency.md
Due: none

Add figma designs to storybook
  packages/dropdowns.next/demo/combobox.stories.mdx
Due: none

Applied wording suggestions from @Francois-Esquire
  docs/adrs/001-theming-peer-dependency.md
Due: none

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.68.0 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  626.2a5a1685.iframe.bundle.js
  626.ef1d546f.iframe.bundle.js
  626.ef1d546f.iframe.bundle.js.LICENSE.txt
  iframe.html
  main.1f90b879.iframe.bundle.js
  main.b0575244.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.0be6fd49.iframe.bundle.js
  main.1f90b879.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

doc(adrs): add theming peer dependency ADR-001 (#1560)
  README.md
  docs/adrs/001-theming-peer-dependency.md
  docs/adrs/README.md
Due: none

Updates based on @Francois-Esquire review
  packages/dropdowns.next/README.md
  packages/dropdowns.next/package.json
Due: prettier-package-json --write

Remove unused `useEffect` dependencies
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Hint.tsx
  packages/dropdowns.next/src/elements/combobox/Message.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix warning focus color
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/views/combobox/StyledTrigger.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Move styled component out of element component
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/demo/~patterns/stories/ListboxStory.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Use consistent COMPONENT_ID taxonomy
  packages/dropdowns.next/src/views/combobox/StyledField.ts
  packages/dropdowns.next/src/views/combobox/StyledHint.ts
  packages/dropdowns.next/src/views/combobox/StyledLabel.ts
  packages/dropdowns.next/src/views/combobox/StyledMessage.ts
  packages/dropdowns.next/src/views/combobox/StyledOptGroup.ts
  packages/dropdowns.next/src/views/combobox/StyledOption.ts
  packages/dropdowns.next/src/views/combobox/StyledOptionContent.ts
  packages/dropdowns.next/src/views/combobox/StyledOptionIcon.ts
  packages/dropdowns.next/src/views/combobox/StyledOptionMeta.ts
  packages/dropdowns.next/src/views/combobox/StyledOptionTypeIcon.ts
  packages/dropdowns.next/src/views/combobox/StyledSeparator.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix combobox min-height
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/views/combobox/StyledTrigger.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Adjust input/value sizing
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/views/combobox/StyledInput.ts
  packages/dropdowns.next/src/views/combobox/StyledValue.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write
