Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Resolve Ryans comments
  packages/buttons/src/views/Anchor.js
  packages/tooltips/src/containers/TooltipContainer.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Initial versioning text
  VERSIONING.md
Due: prettier --write, markdownlint

Upgrade toggles
  packages/toggles/package.json
  packages/toggles/src/elements/Toggle.spec.js
  packages/toggles/src/views/Hint.js
  packages/toggles/src/views/Hint.spec.js
  packages/toggles/src/views/Input.spec.js
  packages/toggles/src/views/Label.example.md
  packages/toggles/src/views/Label.js
  packages/toggles/src/views/Label.spec.js
  packages/toggles/src/views/Message.js
  packages/toggles/src/views/Message.spec.js
  packages/toggles/src/views/ToggleView.js
  packages/toggles/src/views/ToggleView.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Upgrade breadcrumbs
  packages/breadcrumbs/package.json
  packages/breadcrumbs/src/containers/BreadcrumbContainer.spec.js
  packages/breadcrumbs/src/elements/Breadcrumb.spec.js
  packages/breadcrumbs/src/views/Item.js
  packages/breadcrumbs/src/views/Item.spec.js
  packages/breadcrumbs/src/views/List.js
  packages/breadcrumbs/src/views/List.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade checkboxes
  packages/checkboxes/package.json
  packages/checkboxes/src/elements/Checkbox.spec.js
  packages/checkboxes/src/views/CheckboxView.js
  packages/checkboxes/src/views/CheckboxView.spec.js
  packages/checkboxes/src/views/Hint.js
  packages/checkboxes/src/views/Hint.spec.js
  packages/checkboxes/src/views/Input.spec.js
  packages/checkboxes/src/views/Label.example.md
  packages/checkboxes/src/views/Label.js
  packages/checkboxes/src/views/Label.spec.js
  packages/checkboxes/src/views/Message.js
  packages/checkboxes/src/views/Message.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Upgrade radios
  packages/radios/package.json
  packages/radios/src/elements/Radio.spec.js
  packages/radios/src/views/Hint.js
  packages/radios/src/views/Hint.spec.js
  packages/radios/src/views/Input.spec.js
  packages/radios/src/views/Label.example.md
  packages/radios/src/views/Label.js
  packages/radios/src/views/Label.spec.js
  packages/radios/src/views/Message.js
  packages/radios/src/views/Message.spec.js
  packages/radios/src/views/RadioView.js
  packages/radios/src/views/RadioView.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Upgrade forms
  packages/forms/package.json
  packages/forms/src/fields/Checkbox.js
  packages/forms/src/fields/Input.js
  packages/forms/src/fields/Radio.js
  packages/forms/src/fields/Textarea.js
  packages/forms/src/fields/Toggle.js
  packages/forms/src/fields/other/FauxInput.js
  packages/forms/src/fields/other/MediaInput.js
  packages/forms/src/styled/checkboxes/StyledCheck.js
  packages/forms/src/styled/checkboxes/StyledCheckHint.js
  packages/forms/src/styled/checkboxes/StyledCheckLabel.js
  packages/forms/src/styled/checkboxes/StyledCheckMessage.js
  packages/forms/src/styled/radio/StyledRadioHint.js
  packages/forms/src/styled/radio/StyledRadioLabel.js
  packages/forms/src/styled/radio/StyledRadioMessage.js
  packages/forms/src/styled/text/StyledTextHint.js
  packages/forms/src/styled/text/StyledTextInput.js
  packages/forms/src/styled/text/StyledTextLabel.js
  packages/forms/src/styled/text/StyledTextMediaInput.js
  packages/forms/src/styled/text/StyledTextMessage.js
  packages/forms/src/styled/text/StyledTextarea.js
  packages/forms/src/styled/toggle/StyledToggleHint.js
  packages/forms/src/styled/toggle/StyledToggleLabel.js
  packages/forms/src/styled/toggle/StyledToggleMessage.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade textfields
  packages/textfields/package.json
  packages/textfields/src/elements/FauxInput.js
  packages/textfields/src/elements/FauxInput.spec.js
  packages/textfields/src/elements/TextField.js
  packages/textfields/src/elements/TextField.spec.js
  packages/textfields/src/views/Hint.js
  packages/textfields/src/views/Hint.spec.js
  packages/textfields/src/views/Input.js
  packages/textfields/src/views/Input.spec.js
  packages/textfields/src/views/Label.js
  packages/textfields/src/views/Label.spec.js
  packages/textfields/src/views/MediaFigure.spec.js
  packages/textfields/src/views/MediaInput.js
  packages/textfields/src/views/MediaInput.spec.js
  packages/textfields/src/views/Message.js
  packages/textfields/src/views/Message.spec.js
  packages/textfields/src/views/TextGroup.js
  packages/textfields/src/views/TextGroup.spec.js
  packages/textfields/src/views/Textarea.js
  packages/textfields/src/views/Textarea.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update forms readme
  packages/forms/README.md
Due: prettier --write, markdownlint

Upgrade ranges
  packages/ranges/package.json
  packages/ranges/src/elements/MultiThumbRange.js
  packages/ranges/src/elements/MultiThumbRange.spec.js
  packages/ranges/src/elements/Range.js
  packages/ranges/src/elements/Range.spec.js
  packages/ranges/src/elements/RangeField.spec.js
  packages/ranges/src/views/Hint.js
  packages/ranges/src/views/Hint.spec.js
  packages/ranges/src/views/Label.js
  packages/ranges/src/views/Label.spec.js
  packages/ranges/src/views/Message.js
  packages/ranges/src/views/Message.spec.js
  packages/ranges/src/views/RangeGroup.js
  packages/ranges/src/views/RangeGroup.spec.js
  packages/ranges/src/views/SingleThumbView.js
  packages/ranges/src/views/SingleThumbView.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgraded dropdowns
  packages/dropdowns/package.json
  packages/dropdowns/src/Autocomplete/Autocomplete.js
  packages/dropdowns/src/Fields/Field.js
  packages/dropdowns/src/Fields/Label.js
  packages/dropdowns/src/Menu/Items/AddItem.js
  packages/dropdowns/src/Menu/Items/Item.js
  packages/dropdowns/src/Menu/Items/MediaItem.js
  packages/dropdowns/src/Menu/Items/NextItem.js
  packages/dropdowns/src/Menu/Items/PreviousItem.js
  packages/dropdowns/src/Select/Select.js
  packages/dropdowns/src/Trigger/Trigger.js
  packages/dropdowns/src/examples/menu.md
  packages/dropdowns/src/styled/field/StyledField.js
  packages/dropdowns/src/styled/field/StyledHint.js
  packages/dropdowns/src/styled/field/StyledLabel.js
  packages/dropdowns/src/styled/field/StyledMessage.js
  packages/dropdowns/src/styled/field/StyledSelect.js
  packages/dropdowns/src/styled/items/StyledAddItem.js
  packages/dropdowns/src/styled/items/StyledItem.js
  packages/dropdowns/src/styled/items/StyledNextItem.js
  packages/dropdowns/src/styled/items/StyledPreviousItem.js
  packages/dropdowns/src/styled/items/header/StyledHeaderItem.js
  packages/dropdowns/src/styled/items/media/StyledMediaItem.js
  packages/dropdowns/src/styled/menu/StyledMenu.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Upgrade chrome
  packages/chrome/package.json
  packages/chrome/src/containers/AccordionContainer.spec.js
  packages/chrome/src/views/Chrome.js
  packages/chrome/src/views/body/Body.js
  packages/chrome/src/views/header/Header.js
  packages/chrome/src/views/header/HeaderItem.js
  packages/chrome/src/views/header/HeaderItemIcon.js
  packages/chrome/src/views/header/HeaderItemText.js
  packages/chrome/src/views/nav/Nav.js
  packages/chrome/src/views/nav/NavItem.js
  packages/chrome/src/views/nav/NavItemIcon.js
  packages/chrome/src/views/nav/NavItemText.js
  packages/chrome/src/views/subnav/CollapsibleSubNavItem.js
  packages/chrome/src/views/subnav/SubNavItem.js
  packages/chrome/src/views/subnav/SubNavItemText.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade loaders
  packages/loaders/package.json
  packages/loaders/src/Inline.js
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Spinner.example.md
  packages/loaders/src/styled-elements.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

chore(deps): update dependency fs-extra to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

Upgrade tags
  packages/tags/package.json
  packages/tags/src/views/Avatar.spec.js
  packages/tags/src/views/Close.js
  packages/tags/src/views/Close.spec.js
  packages/tags/src/views/Tag.example.md
  packages/tags/src/views/Tag.js
  packages/tags/src/views/Tag.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Upgrade tabs
  packages/tabs/package.json
  packages/tabs/src/containers/TabsContainer.spec.js
  packages/tabs/src/elements/Tabs.spec.js
  packages/tabs/src/views/Tab.js
  packages/tabs/src/views/Tab.spec.js
  packages/tabs/src/views/TabList.spec.js
  packages/tabs/src/views/TabPanel.spec.js
  packages/tabs/src/views/TabsView.js
  packages/tabs/src/views/TabsView.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade notifications
  packages/notifications/package.json
  packages/notifications/src/Alert.js
  packages/notifications/src/Alert.spec.js
  packages/notifications/src/Notification.js
  packages/notifications/src/Notification.spec.js
  packages/notifications/src/Well.js
  packages/notifications/src/Well.spec.js
  packages/notifications/src/content/Close.js
  packages/notifications/src/content/Close.spec.js
  packages/notifications/src/content/Paragraph.spec.js
  packages/notifications/src/content/Title.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade selection
  packages/selection/package.json
  packages/selection/src/containers/FieldContainer.spec.js
  packages/selection/src/containers/KeyboardFocusContainer.spec.js
  packages/selection/src/containers/SelectionContainer.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade pagination
  packages/pagination/src/containers/PaginationContainer.spec.js
  packages/pagination/src/elements/Pagination.spec.js
  packages/pagination/src/views/Gap.js
  packages/pagination/src/views/Gap.spec.js
  packages/pagination/src/views/NextPage.js
  packages/pagination/src/views/NextPage.spec.js
  packages/pagination/src/views/Page.js
  packages/pagination/src/views/Page.spec.js
  packages/pagination/src/views/PaginationView.js
  packages/pagination/src/views/PaginationView.spec.js
  packages/pagination/src/views/PreviousPage.js
  packages/pagination/src/views/PreviousPage.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Clean up children iteration
  packages/pagination/src/elements/Pagination.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Upgrade menus
  packages/menus/package.json
  packages/menus/src/containers/MenuContainer.example.md
  packages/menus/src/containers/MenuContainer.js
  packages/menus/src/containers/MenuContainer.spec.js
  packages/menus/src/elements/Menu.example.md
  packages/menus/src/elements/Menu.js
  packages/menus/src/elements/Menu.spec.js
  packages/menus/src/views/MenuView.js
  packages/menus/src/views/MenuView.spec.js
  packages/menus/src/views/Separator.spec.js
  packages/menus/src/views/items/AddItem.js
  packages/menus/src/views/items/AddItem.spec.js
  packages/menus/src/views/items/Item.js
  packages/menus/src/views/items/Item.spec.js
  packages/menus/src/views/items/ItemMeta.spec.js
  packages/menus/src/views/items/NextItem.js
  packages/menus/src/views/items/NextItem.spec.js
  packages/menus/src/views/items/PreviousItem.js
  packages/menus/src/views/items/PreviousItem.spec.js
  packages/menus/src/views/items/header/HeaderIcon.spec.js
  packages/menus/src/views/items/header/HeaderItem.js
  packages/menus/src/views/items/header/HeaderItem.spec.js
  packages/menus/src/views/items/media/MediaBody.spec.js
  packages/menus/src/views/items/media/MediaFigure.spec.js
  packages/menus/src/views/items/media/MediaItem.js
  packages/menus/src/views/items/media/MediaItem.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Upgrade dropdowns
  packages/select/package.json
  packages/select/src/containers/SelectContainer.spec.js
  packages/select/src/elements/Select.js
  packages/select/src/elements/Select.spec.js
  packages/select/src/elements/SelectField.spec.js
  packages/select/src/views/Dropdown.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade modals
  packages/modals/package.json
  packages/modals/src/containers/FocusJailContainer.spec.js
  packages/modals/src/containers/ModalContainer.example.md
  packages/modals/src/containers/ModalContainer.spec.js
  packages/modals/src/elements/Modal.example.md
  packages/modals/src/elements/Modal.js
  packages/modals/src/elements/Modal.spec.js
  packages/modals/src/views/Backdrop.js
  packages/modals/src/views/Backdrop.spec.js
  packages/modals/src/views/Body.spec.js
  packages/modals/src/views/Close.js
  packages/modals/src/views/Close.spec.js
  packages/modals/src/views/Footer.spec.js
  packages/modals/src/views/FooterItem.spec.js
  packages/modals/src/views/Header.js
  packages/modals/src/views/Header.spec.js
  packages/modals/src/views/ModalView.js
  packages/modals/src/views/ModalView.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Upgrade autocomplete
  packages/autocomplete/package.json
  packages/autocomplete/src/containers/AutocompleteContainer.js
  packages/autocomplete/src/containers/AutocompleteContainer.spec.js
  packages/autocomplete/src/elements/Autocomplete.js
  packages/autocomplete/src/elements/Autocomplete.spec.js
  packages/autocomplete/src/elements/Multiselect.js
  packages/autocomplete/src/elements/Multiselect.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Remove enzyme areas of react-testing
  packages/testing/package.json
  packages/testing/src/index.js
  packages/testing/src/utils/mountWithTheme.example.md
  packages/testing/src/utils/mountWithTheme.js
  packages/testing/src/utils/renderWithTheme.example.md
  packages/testing/src/utils/renderWithTheme.js
  packages/testing/src/utils/shallowWithTheme.example.md
  packages/testing/src/utils/shallowWithTheme.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

chore(deps): update all development non-major dependencies
  package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/menus/package.json
  packages/tables/package.json
  yarn.lock
Due: prettier-package-json --write

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/buttons/CHANGELOG.md
  packages/buttons/package.json
  packages/chrome/CHANGELOG.md
  packages/chrome/package.json
  packages/dropdowns/CHANGELOG.md
  packages/dropdowns/package.json
  packages/forms/CHANGELOG.md
  packages/forms/package.json
  packages/menus/CHANGELOG.md
  packages/menus/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/tables/CHANGELOG.md
  packages/tables/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

fix(docs): remove invalid deprecation warning
  packages/buttons/README.md
Due: prettier --write, markdownlint

Resolve Ryan's testing comments
  packages/modals/src/containers/FocusJailContainer.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(docs): remove invalid deprecation warning (#338)
  packages/buttons/README.md
Due: prettier --write, markdownlint

Remove react-testing package
  README.md
  demo/index.html
  package.json
  packages/.template/src/index.spec.js
  packages/autocomplete/src/index.spec.js
  packages/avatars/src/index.spec.js
  packages/breadcrumbs/src/index.spec.js
  packages/buttons/src/index.spec.js
  packages/checkboxes/src/index.spec.js
  packages/chrome/src/index.spec.js
  packages/grid/src/index.spec.js
  packages/loaders/src/index.spec.js
  packages/menus/src/index.spec.js
  packages/modals/src/index.spec.js
  packages/notifications/src/index.spec.js
  packages/pagination/src/index.spec.js
  packages/radios/src/index.spec.js
  packages/ranges/src/index.spec.js
  packages/select/src/index.spec.js
  packages/selection/src/index.spec.js
  packages/tables/src/index.spec.js
  packages/tabs/src/index.spec.js
  packages/tags/src/index.spec.js
  packages/testing/CHANGELOG.md
  packages/testing/README.md
  packages/testing/package.json
  packages/testing/src/index.js
  packages/testing/src/index.spec.js
  packages/testing/src/utils/getExports.example.md
  packages/testing/styleguide.config.js
  packages/textfields/src/index.spec.js
  packages/theming/src/index.spec.js
  packages/toggles/src/index.spec.js
  packages/tooltips/src/index.spec.js
  packages/typography/src/index.spec.js
  packages/utilities/src/index.spec.js
  utils/test/garden-test-utils.js
  utils/test/getExports.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Path conditions:
  stylelint: any of: *.js
  eslint: any of: *.js
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.md)
  markdownlint: any of: *.md
  prettier-package-json --write: any of: **/package.json
