Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Add `isRegular` prop
  packages/tags/src/elements/Tag.tsx
  packages/tags/src/styled/StyledTag.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add `isRegular` demo to examples
  packages/tags/.size-snapshot.json
  packages/tags/examples/advanced.md
  packages/tags/examples/basic.md
  packages/tags/src/styled/StyledTag.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/tags/.size-snapshot.json
Due: none

Add `isRegular` test
  packages/tags/src/styled/StyledTag.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(tags): support mixed weight content (#755)
  packages/tags/.size-snapshot.json
  packages/tags/examples/advanced.md
  packages/tags/examples/basic.md
  packages/tags/src/elements/Tag.tsx
  packages/tags/src/styled/StyledTag.spec.tsx
  packages/tags/src/styled/StyledTag.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.11.0 [skip ci]
  CHANGELOG.md
Due: none

Abstract duplicated icon styling code
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/styled/field/SelectWrapper.tsx
  packages/dropdowns/src/styled/field/StyledSelect.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix icon box sizing
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/styled/field/StyledSelect.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/dropdowns/.size-snapshot.json
Due: none

Align with updated GH UI
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix test
  packages/dropdowns/src/elements/Select/Select.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix test
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): prevent icon box-sizing inheritance (#756)
  .github/PULL_REQUEST_TEMPLATE.md
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.spec.tsx
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Select/Select.spec.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/styled/field/SelectWrapper.tsx
  packages/dropdowns/src/styled/field/StyledSelect.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(buttons): revise button padding (#751)
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore: update size snapshot
  packages/buttons/.size-snapshot.json
Due: none

Add new ToggleButton component
  .eslintrc.json
  packages/buttons/.size-snapshot.json
  packages/buttons/examples/basic.md
  packages/buttons/src/elements/Button.tsx
  packages/buttons/src/elements/ToggleButton.tsx
  packages/buttons/src/index.ts
  packages/buttons/src/styled/StyledButton.ts
  packages/buttons/src/styled/StyledIconButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add new ToggleIconButton component
  packages/buttons/.size-snapshot.json
  packages/buttons/examples/basic.md
  packages/buttons/src/elements/ChevronButton.tsx
  packages/buttons/src/elements/IconButton.tsx
  packages/buttons/src/elements/ToggleButton.tsx
  packages/buttons/src/elements/ToggleIconButton.tsx
  packages/buttons/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add toggle button testing
  packages/buttons/.size-snapshot.json
  packages/buttons/src/elements/ToggleButton.spec.tsx
  packages/buttons/src/elements/ToggleButton.tsx
  packages/buttons/src/elements/ToggleIconButton.spec.tsx
  packages/buttons/src/elements/ToggleIconButton.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/buttons/.size-snapshot.json
Due: none

Fix copy/paste
  packages/buttons/.size-snapshot.json
  packages/buttons/src/elements/ToggleIconButton.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use flex display
  packages/buttons/src/styled/StyledButton.spec.tsx
  packages/buttons/src/styled/StyledButton.ts
  packages/buttons/src/styled/StyledButtonGroup.ts
  packages/buttons/src/styled/StyledIcon.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fill out start/end icon slot styling
  packages/buttons/.size-snapshot.json
  packages/buttons/examples/basic.md
  packages/buttons/src/elements/Button.tsx
  packages/buttons/src/styled/StyledButton.ts
  packages/buttons/src/styled/StyledIcon.ts
  packages/buttons/src/styled/StyledIconButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snaphot
  packages/buttons/.size-snapshot.json
Due: none

Consolidate icon styles
  packages/buttons/src/styled/StyledButton.ts
  packages/buttons/src/styled/StyledIconButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix for undefined `isPressed` prop
  packages/buttons/examples/basic.md
  packages/buttons/src/elements/ToggleButton.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add toggle button example
  packages/buttons/.size-snapshot.json
  packages/buttons/examples/basic.md
Due: none

Fix IconToggleButton and add to demo
  packages/buttons/examples/basic.md
  packages/buttons/src/elements/ToggleIconButton.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add button media testing
  packages/buttons/src/elements/Button.spec.tsx
  packages/buttons/src/styled/StyledIcon.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Restore ButtonGroup styling
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Consolidate `isPressed` logic under ToggleButton demo
  packages/buttons/README.md
  packages/buttons/examples/basic.md
Due: none

Simplify with default props
  packages/buttons/.size-snapshot.json
  packages/buttons/src/elements/ToggleButton.tsx
  packages/buttons/src/elements/ToggleIconButton.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update to use Button.StartIcon and Button.EndIcon static accessors for media elements
  packages/buttons/.size-snapshot.json
  packages/buttons/README.md
  packages/buttons/examples/basic.md
  packages/buttons/src/elements/Button.spec.tsx
  packages/buttons/src/elements/Button.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
