Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

test: set test:ci to silent
  package.json
Due: prettier-package-json --write

chore: tweak + clean up CI config
  .github/workflows/ci.yaml
Due: none

Revert "chore: remove CCI config"
  .circleci/config.yml
Due: none

fix: better prop management
  packages/tables/src/elements/Row.tsx
  packages/tables/src/elements/SortableCell.tsx
  packages/tables/src/elements/Table.tsx
  packages/tables/src/styled/StyledTable.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Recolor select & range
  packages/forms/src/styled/range/StyledRangeInput.spec.tsx
  packages/forms/src/styled/range/StyledRangeInput.ts
  packages/forms/src/styled/select/StyledSelect.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: use solid colors for table row borders to prevent clipping
  packages/tables/src/styled/StyledRow.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(tables): use brighter colors for table row borders
  packages/tables/src/styled/StyledRow.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Recolor file components
  packages/forms/demo/fileUpload.stories.mdx
  packages/forms/demo/input.stories.mdx
  packages/forms/src/styled/file-list/StyledFile.spec.tsx
  packages/forms/src/styled/file-list/StyledFile.ts
  packages/forms/src/styled/file-list/StyledFileClose.spec.tsx
  packages/forms/src/styled/file-list/StyledFileClose.ts
  packages/forms/src/styled/file-list/StyledFileDelete.spec.tsx
  packages/forms/src/styled/file-list/StyledFileDelete.ts
  packages/forms/src/styled/file-list/StyledFileIcon.ts
  packages/forms/src/styled/file-upload/StyledFileUpload.ts
  packages/forms/src/styled/range/StyledRangeInput.ts
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

ci: add temp CCI config for transition
  .circleci/config.yml
Due: none

Update date input styling
  package-lock.json
  packages/forms/src/elements/FileUpload.spec.tsx
  packages/forms/src/styled/text/StyledTextInput.tsx
  utils/test/jest.setup.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: add fix-dist-tags script
  package.json
  utils/scripts/fix-dist-tags.mjs
Due: prettier-package-json --write

Format
  packages/forms/demo/input.stories.mdx
Due: none

Recolor tiles component
  packages/forms/src/elements/tiles/components/Tile.tsx
  packages/forms/src/styled/tiles/StyledTile.ts
  packages/forms/src/styled/tiles/StyledTileDescription.ts
  packages/forms/src/styled/tiles/StyledTileIcon.ts
  packages/forms/src/styled/tiles/StyledTileInput.ts
  packages/forms/src/styled/tiles/StyledTileLabel.ts
  packages/forms/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Correct neutral button states for `InputGroup` parity
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix `File` validation icon
  packages/forms/src/elements/file-list/components/File.tsx
  packages/forms/src/styled/file-list/StyledFile.ts
  packages/forms/src/styled/file-list/StyledFileIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix `Select` height
  packages/forms/src/styled/select/StyledSelect.ts
  packages/forms/src/styled/select/StyledSelectWrapper.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(notifications): new light/dark mode colors
  packages/notifications/src/elements/Alert.tsx
  packages/notifications/src/elements/Notification.tsx
  packages/notifications/src/elements/content/Close.tsx
  packages/notifications/src/styled/StyledAlert.ts
  packages/notifications/src/styled/StyledBase.ts
  packages/notifications/src/styled/StyledIcon.ts
  packages/notifications/src/styled/StyledNotification.ts
  packages/notifications/src/styled/content/StyledClose.ts
  packages/notifications/src/utils/icons.ts
  packages/notifications/src/utils/useNotificationsContext.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(notifications): updates tests
  packages/notifications/src/elements/Alert.tsx
  packages/notifications/src/elements/content/Title.spec.tsx
  packages/notifications/src/elements/content/Title.tsx
  packages/notifications/src/styled/StyledBase.spec.tsx
  packages/notifications/src/styled/StyledBase.ts
  packages/notifications/src/styled/content/StyledClose.spec.tsx
  packages/notifications/src/styled/content/StyledClose.ts
  packages/notifications/src/styled/content/StyledParagraph.ts
  packages/notifications/src/styled/content/StyledTitle.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: trigger workflow on pull_request open, sync, reopened
  .github/workflows/ci.yaml
Due: none

chore: remove redundant conditional
  .github/workflows/ci.yaml
Due: none

chore: use REPO_SLUG to get ower + repo name (WIP)
  .github/workflows/ci.yaml
Due: none

ci: smoke-test npm whoami
  .github/workflows/ci.yaml
Due: none

chore: use new solid colors for borders
  packages/tables/src/styled/StyledRow.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: adds colors for alert
  packages/notifications/src/elements/Alert.tsx
  packages/notifications/src/styled/StyledAlert.spec.tsx
  packages/notifications/src/styled/StyledAlert.ts
  packages/notifications/src/styled/StyledBase.ts
  packages/notifications/src/styled/content/StyledClose.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: PR feedback
  .github/workflows/ci.yaml
  package-lock.json
  package.json
Due: prettier-package-json --write

ci: restore cci config without deploy
  .circleci/config.yml
Due: none

Recolor debug grid
  packages/grid/demo/grid.stories.mdx
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/styled/StyledGrid.ts
  packages/grid/src/styled/StyledRow.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Recolor pane splitter
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/grid/src/styled/pane/StyledPaneSplitterButtonContainer.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix `Pane.SplitterButton` drop shadow
  packages/grid/src/styled/pane/StyledPaneSplitterButtonContainer.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(modals): recolor TooltipModal + Drawer
  packages/modals/src/styled/StyledDrawer.spec.tsx
  packages/modals/src/styled/StyledDrawer.ts
  packages/modals/src/styled/StyledDrawerFooter.ts
  packages/modals/src/styled/StyledModal.ts
  packages/modals/src/styled/StyledTooltipModalBody.ts
  packages/modals/src/styled/StyledTooltipModalClose.ts
  packages/modals/src/styled/StyledTooltipModalTitle.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: adds colors for global alert
  packages/notifications/src/elements/global-alert/GlobalAlert.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertButton.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertClose.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertTitle.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertContent.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertIcon.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertIcon.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.ts
  packages/notifications/src/utils/useGlobalAlertContext.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: adds colors to Well
  packages/notifications/src/elements/Well.tsx
  packages/notifications/src/styled/StyledWell.spec.tsx
  packages/notifications/src/styled/StyledWell.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: PR feedback
  .github/workflows/ci.yaml
Due: none

ci: drop name fields
  .github/workflows/ci.yaml
Due: none

feat(tables): new light/dark mode colors (#1833)
  docs/migration.md
  package-lock.json
  packages/tables/package.json
  packages/tables/src/elements/Cell.tsx
  packages/tables/src/elements/GroupRow.tsx
  packages/tables/src/elements/Head.tsx
  packages/tables/src/elements/HeaderCell.tsx
  packages/tables/src/elements/HeaderRow.tsx
  packages/tables/src/elements/OverflowButton.spec.tsx
  packages/tables/src/elements/OverflowButton.tsx
  packages/tables/src/elements/Row.spec.tsx
  packages/tables/src/elements/Row.tsx
  packages/tables/src/elements/SortableCell.tsx
  packages/tables/src/elements/Table.tsx
  packages/tables/src/styled/StyledBaseRow.ts
  packages/tables/src/styled/StyledCell.ts
  packages/tables/src/styled/StyledGroupRow.ts
  packages/tables/src/styled/StyledHead.spec.tsx
  packages/tables/src/styled/StyledHead.ts
  packages/tables/src/styled/StyledHeaderCell.ts
  packages/tables/src/styled/StyledHeaderRow.ts
  packages/tables/src/styled/StyledOverflowButton.ts
  packages/tables/src/styled/StyledRow.ts
  packages/tables/src/styled/StyledSortableButton.ts
  packages/tables/src/styled/StyledTable.ts
  packages/tables/src/styled/index.ts
  packages/tables/src/styled/style-utils.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore: type import in tests
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: adds styled base container light/dark tests
  packages/notifications/src/styled/StyledBase.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: remove unused validationHues enum
  packages/notifications/src/utils/icons.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: adds color tests for views
  packages/notifications/src/styled/StyledBase.spec.tsx
  packages/notifications/src/styled/StyledIcon.spec.tsx
  packages/notifications/src/styled/StyledNotification.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write
