Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore(release): publish
  lerna.json
  package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.37.1 [skip ci]
  CHANGELOG.md
Due: none

chore(typography): use scroll region hook for code block
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/typography/src/elements/CodeBlock.tsx
  packages/typography/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(typography): use scroll region hook for code block (#1118)
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/typography/src/elements/CodeBlock.tsx
  packages/typography/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Rollback @babel/core
  babel.config.js
  package.json
  packages/accordions/.size-snapshot.json
  packages/avatars/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
  packages/typography/.size-snapshot.json
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update snapshots
  packages/loaders/src/elements/Dots.spec.tsx
  packages/loaders/src/elements/Spinner.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(accordions): create new timeline component
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/timeline/Timeline.tsx
  packages/accordions/src/elements/timeline/components/Content.tsx
  packages/accordions/src/elements/timeline/components/Item.tsx
  packages/accordions/src/elements/timeline/components/OppositeContent.tsx
  packages/accordions/src/index.ts
  packages/accordions/src/styled/index.ts
  packages/accordions/src/styled/timeline/StyledContent.ts
  packages/accordions/src/styled/timeline/StyledItem.spec.tsx
  packages/accordions/src/styled/timeline/StyledItem.ts
  packages/accordions/src/styled/timeline/StyledOppositeContent.spec.tsx
  packages/accordions/src/styled/timeline/StyledOppositeContent.ts
  packages/accordions/src/styled/timeline/StyledSeparator.ts
  packages/accordions/src/styled/timeline/StyledTimeline.ts
  packages/accordions/src/utils/index.ts
  packages/accordions/src/utils/useTimelineContext.spec.tsx
  packages/accordions/src/utils/useTimelineContext.ts
  packages/accordions/src/utils/useTimelineItemContext.spec.tsx
  packages/accordions/src/utils/useTimelineItemContext.ts
  packages/accordions/stories/4-Timeline.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove default list style from timeline
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/timeline/StyledTimeline.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Adjustments to center timeline line against icon
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/timeline/components/Content.tsx
  packages/accordions/src/styled/index.ts
  packages/accordions/src/styled/timeline/StyledCircleStrokeIcon.ts
  packages/accordions/src/styled/timeline/StyledSeparator.ts
  packages/accordions/stories/4-Timeline.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Set up playroom
  .github/workflows/deploy-playroom.yaml
  .gitignore
  package.json
  playroom.config.js
  playroom/FrameComponents.tsx
  playroom/components.ts
  playroom/makeWebpackConfig.js
  playroom/themes.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Rename gh branch name
  .github/workflows/deploy-playroom.yaml
Due: none

Export more components to playroom
  playroom.config.js
  playroom/components.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(readme): update copyright year
  README.md
Due: none

chore(readme): update copyright year (#1123)
  README.md
Due: none

feat(accordions): create new timeline component (#1120)
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/timeline/Timeline.tsx
  packages/accordions/src/elements/timeline/components/Content.tsx
  packages/accordions/src/elements/timeline/components/Item.tsx
  packages/accordions/src/elements/timeline/components/OppositeContent.tsx
  packages/accordions/src/index.ts
  packages/accordions/src/styled/index.ts
  packages/accordions/src/styled/timeline/StyledCircleStrokeIcon.ts
  packages/accordions/src/styled/timeline/StyledContent.ts
  packages/accordions/src/styled/timeline/StyledItem.spec.tsx
  packages/accordions/src/styled/timeline/StyledItem.ts
  packages/accordions/src/styled/timeline/StyledOppositeContent.spec.tsx
  packages/accordions/src/styled/timeline/StyledOppositeContent.ts
  packages/accordions/src/styled/timeline/StyledSeparator.ts
  packages/accordions/src/styled/timeline/StyledTimeline.ts
  packages/accordions/src/utils/index.ts
  packages/accordions/src/utils/useTimelineContext.spec.tsx
  packages/accordions/src/utils/useTimelineContext.ts
  packages/accordions/src/utils/useTimelineItemContext.spec.tsx
  packages/accordions/src/utils/useTimelineItemContext.ts
  packages/accordions/stories/4-Timeline.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.38.0 [skip ci]
  CHANGELOG.md
Due: none

chore(deps): update dependency @types/react to v17.0.11
  package.json
  yarn.lock
Due: prettier-package-json --write

Update sub-package dependencies to match @types/react v17.0.11
  packages/modals/package.json
  packages/modals/yarn.lock
  packages/notifications/package.json
  packages/notifications/yarn.lock
  packages/tables/yarn.lock
  yarn.lock
Due: prettier-package-json --write

feat(forms): create file list component
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/forms/src/elements/file-list/FileList.tsx
  packages/forms/src/elements/file-list/components/Close.tsx
  packages/forms/src/elements/file-list/components/File.tsx
  packages/forms/src/elements/file-list/components/Item.tsx
  packages/forms/src/elements/file-list/utils.tsx
  packages/forms/src/index.ts
  packages/forms/src/styled/file-list/StyledClose.ts
  packages/forms/src/styled/file-list/StyledFile.ts
  packages/forms/src/styled/file-list/StyledFileList.ts
  packages/forms/src/styled/file-list/StyledFileListItem.ts
  packages/forms/src/styled/file-list/StyledIcon.ts
  packages/forms/src/styled/index.ts
  packages/forms/stories/14-FileUpload.stories.tsx
  packages/forms/stories/16-FileList.stories.tsx
  packages/forms/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(deps): upgrade polished dep due to security vulnerability
  yarn.lock
Due: none

Refactor file types to use enum
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/file-list/utils.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Correct file list item icon color
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/file-list/StyledIcon.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(forms): create file list component (#1126)
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/forms/src/elements/file-list/FileList.tsx
  packages/forms/src/elements/file-list/components/Close.tsx
  packages/forms/src/elements/file-list/components/File.tsx
  packages/forms/src/elements/file-list/components/Item.tsx
  packages/forms/src/elements/file-list/utils.tsx
  packages/forms/src/index.ts
  packages/forms/src/styled/file-list/StyledClose.ts
  packages/forms/src/styled/file-list/StyledFile.ts
  packages/forms/src/styled/file-list/StyledFileList.ts
  packages/forms/src/styled/file-list/StyledFileListItem.ts
  packages/forms/src/styled/file-list/StyledIcon.ts
  packages/forms/src/styled/index.ts
  packages/forms/stories/14-FileUpload.stories.tsx
  packages/forms/stories/16-FileList.stories.tsx
  packages/forms/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write
