Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "stylelint",
    "eslint",
    "prettier --write",
    "git add"
  ],
  "*.md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

chore(deps): update all development non-major dependencies
  package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  yarn.lock
Due: prettier-package-json --write

feat(loaders): introduce Skeleton loader type
  packages/loaders/package.json
  packages/loaders/src/Skeleton.example.md
  packages/loaders/src/Skeleton.js
  packages/loaders/src/index.js
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

Add testing and update Jest config
  packages/loaders/src/Skeleton.example.md
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Skeleton.spec.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
  packages/typography/src/views/__snapshots__/LG.spec.js.snap
  packages/typography/src/views/__snapshots__/MD.spec.js.snap
  packages/typography/src/views/__snapshots__/SM.spec.js.snap
  packages/typography/src/views/__snapshots__/XL.spec.js.snap
  packages/typography/src/views/__snapshots__/XXL.spec.js.snap
  packages/typography/src/views/__snapshots__/XXXL.spec.js.snap
  utils/test/jest.config.js
Due: stylelint, eslint, prettier --write, markdownlint

Modify animation angle
  packages/loaders/src/Skeleton.js
Due: stylelint, eslint, prettier --write

Address review comments
  packages/loaders/package.json
  packages/loaders/src/Skeleton.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
  utils/test/jest.config.js
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Change opacity based on dark mode
  packages/loaders/src/Skeleton.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
Due: stylelint, eslint, prettier --write

Update animation width
  packages/loaders/src/Skeleton.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
Due: stylelint, eslint, prettier --write

Update line-height
  packages/loaders/src/Skeleton.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
Due: stylelint, eslint, prettier --write

Add RTL support
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Skeleton.spec.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
Due: stylelint, eslint, prettier --write

Update opacity to match final designs
  packages/loaders/src/Skeleton.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
Due: stylelint, eslint, prettier --write

Remove stylelint missconfiguration
  .stylelintrc
  package.json
  packages/loaders/src/Skeleton.js
Due: stylelint, eslint, prettier --write, prettier-package-json --write

Update snapshot tests
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
Due: none

Add jest testing to lintstagedrc
  .lintstagedrc
Due: none

Add stylelint disable comment to correct background gradient
  .lintstagedrc
  packages/loaders/src/Skeleton.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
Due: stylelint, eslint, prettier --write

feat(loaders): introduce Skeleton loader (#261)
  .lintstagedrc
  .stylelintrc
  package.json
  packages/loaders/package.json
  packages/loaders/src/Skeleton.example.md
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Skeleton.spec.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
  packages/loaders/src/index.js
  packages/typography/src/views/__snapshots__/LG.spec.js.snap
  packages/typography/src/views/__snapshots__/MD.spec.js.snap
  packages/typography/src/views/__snapshots__/SM.spec.js.snap
  packages/typography/src/views/__snapshots__/XL.spec.js.snap
  packages/typography/src/views/__snapshots__/XXL.spec.js.snap
  packages/typography/src/views/__snapshots__/XXXL.spec.js.snap
  utils/test/jest.config.js
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

chore(release): publish
  packages/loaders/CHANGELOG.md
  packages/loaders/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

feat(buttons): introduce external navigation option to Anchor component
  packages/buttons/package.json
  packages/buttons/src/views/Anchor.example.md
  packages/buttons/src/views/Anchor.js
  packages/buttons/src/views/Anchor.spec.js
  packages/buttons/src/views/__snapshots__/Anchor.spec.js.snap
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

Update size of external SVG icon
  packages/buttons/src/views/Anchor.js
  packages/buttons/src/views/__snapshots__/Anchor.spec.js.snap
Due: stylelint, eslint, prettier --write

Address JZ comments
  packages/buttons/src/views/Anchor.example.md
  packages/buttons/src/views/Anchor.js
  packages/buttons/src/views/__snapshots__/Anchor.spec.js.snap
  utils/build/webpack.base.js
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, prettier --write, markdownlint

chore: add version prompt to ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE.md
Due: prettier --write, markdownlint

Externalize SVGO configuration
  .svgo.yml
  packages/buttons/src/views/Anchor.js
  packages/buttons/src/views/__snapshots__/Anchor.spec.js.snap
  utils/build/webpack.base.js
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, prettier --write

chore: add version prompt to ISSUE_TEMPLATE (#270)
  .github/ISSUE_TEMPLATE.md
Due: prettier --write, markdownlint

Refaced DEFAULT_NUM_TAGS to constant
  packages/autocomplete/src/elements/Multiselect.js
Due: stylelint, eslint, prettier --write

Fix linting issues with yaml
  .svgo.yml
Due: none

fix(loaders): increase alpha of skeleton animation
  packages/loaders/src/Skeleton.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
Due: stylelint, eslint, prettier --write

Update dark animation color
  packages/loaders/src/Skeleton.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
Due: stylelint, eslint, prettier --write

Address JZ comments
  packages/loaders/src/Skeleton.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
Due: stylelint, eslint, prettier --write

Fix svgo config file
  .svgo.yml
Due: none

fix(loaders): increase alpha of skeleton animation (#274)
  packages/loaders/src/Skeleton.js
  packages/loaders/src/__snapshots__/Skeleton.spec.js.snap
Due: stylelint, eslint, prettier --write
