Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0 --ignore-pattern !.storybook",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

update snapshot
  packages/forms/.size-snapshot.json
Due: none

fix(forms): reset margin start for text input in input group (#1517)
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/input-group/InputGroup.spec.tsx
  packages/forms/src/styled/input-group/StyledInputGroup.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.62fd6a8a.iframe.bundle.js
  main.ccf91f4d.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.63.2 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  iframe.html
  main.6053a552.iframe.bundle.js
  main.62fd6a8a.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: add version for clearing corrupted CI cache
  .circleci/config.yml
Due: none

chore: add version for clearing corrupted CI cache (#1525)
  .circleci/config.yml
Due: none

Updates [skip ci]
  iframe.html
  main.7492a63b.iframe.bundle.js
  main.8d14d573.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Initial combobox.next scaffold
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/README.md
  packages/dropdowns.next/demo/#readme.stories.mdx
  packages/dropdowns.next/demo/combobox.stories.mdx
  packages/dropdowns.next/package.json
  packages/dropdowns.next/src/elements/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/Combobox.tsx
  packages/dropdowns.next/src/index.ts
  packages/dropdowns.next/src/styled/StyledCombobox.spec.tsx
  packages/dropdowns.next/src/styled/StyledCombobox.ts
  packages/dropdowns.next/src/styled/index.ts
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/tsconfig.build.json
  packages/dropdowns.next/yarn.lock
  tsconfig.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Initial combobox.next view stying
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/demo/combobox.stories.mdx
  packages/dropdowns.next/src/elements/Combobox.tsx
  packages/dropdowns.next/src/styled/StyledCombobox.ts
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/StyledCombobox.spec.tsx
  packages/dropdowns.next/src/views/StyledCombobox.ts
  packages/dropdowns.next/src/views/StyledContainer.ts
  packages/dropdowns.next/src/views/StyledInput.ts
  packages/dropdowns.next/src/views/StyledInputGroup.ts
  packages/dropdowns.next/src/views/StyledTrigger.ts
  packages/dropdowns.next/src/views/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update button focus styling
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
  packages/theming/.size-snapshot.json
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/theme/index.ts
  packages/theming/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update text input focus styling
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/input-group/InputGroup.spec.tsx
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Continued combobox styling
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/Combobox.tsx
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/StyledIcon.ts
  packages/dropdowns.next/src/views/StyledInput.ts
  packages/dropdowns.next/src/views/StyledValue.ts
  packages/dropdowns.next/src/views/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Initial combobox.next Option view styling
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/package.json
  packages/dropdowns.next/src/elements/Combobox.tsx
  packages/dropdowns.next/src/views/StyledFloating.ts
  packages/dropdowns.next/src/views/StyledIcon.ts
  packages/dropdowns.next/src/views/StyledInputIcon.ts
  packages/dropdowns.next/src/views/StyledListbox.ts
  packages/dropdowns.next/src/views/StyledOption.ts
  packages/dropdowns.next/src/views/StyledSelectedIcon.ts
  packages/dropdowns.next/src/views/index.ts
  packages/dropdowns.next/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

feat(dragdrop): adds dropzone styling
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/README.md
  packages/drag-drop/demo/draggable.stories.mdx
  packages/drag-drop/demo/dropzone.stories.mdx
  packages/drag-drop/demo/stories/DropzoneStory.tsx
  packages/drag-drop/src/elements/draggable-list/DraggableList.tsx
  packages/drag-drop/src/elements/draggable-list/components/DraggableListItem.tsx
  packages/drag-drop/src/elements/draggable-list/components/DropIndicator.tsx
  packages/drag-drop/src/elements/draggable-list/components/Item.tsx
  packages/drag-drop/src/elements/draggable/Draggable.tsx
  packages/drag-drop/src/elements/draggable/components/Content.tsx
  packages/drag-drop/src/elements/draggable/components/DraggableGrip.tsx
  packages/drag-drop/src/elements/draggable/components/Grip.tsx
  packages/drag-drop/src/elements/dropzone/Dropzone.tsx
  packages/drag-drop/src/elements/dropzone/components/DropzoneMessage.tsx
  packages/drag-drop/src/elements/dropzone/components/Message.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
  packages/drag-drop/src/styled/draggable-list/StyledDropIndicator.ts
  packages/drag-drop/src/styled/draggable-list/StyledItem.ts
  packages/drag-drop/src/styled/draggable/StyledContent.ts
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/styled/draggable/StyledGrip.ts
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
  packages/drag-drop/src/styled/dropzone/StyledMessage.ts
  packages/drag-drop/src/styled/dropzone/StyledMessageIcon.ts
  packages/drag-drop/src/styled/index.ts
  packages/drag-drop/src/types/index.ts
  packages/drag-drop/src/utils/useDropzoneContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(dragdrop): adds dragging styles
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/draggable.stories.mdx
  packages/drag-drop/demo/stories/DraggableStory.tsx
  packages/drag-drop/src/elements/draggable/Draggable.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: adds draggable list example to patterns
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/DropzoneCustomIconStory.tsx
  packages/drag-drop/demo/~patterns/stories/SortableListStory.tsx
  packages/drag-drop/demo/~patterns/stories/data.ts
  packages/drag-drop/package.json
  packages/drag-drop/src/elements/draggable-list/components/Item.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
  packages/drag-drop/src/types/index.ts
  packages/drag-drop/src/utils/dropzoneStateStyles.ts
  packages/drag-drop/src/utils/useDraggableListContext.ts
  packages/drag-drop/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix(dragdrop): rtl on drop indicator, tag prop types
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/draggable.stories.mdx
  packages/drag-drop/src/elements/draggable/Draggable.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableListDropIndicator.ts
  packages/drag-drop/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(dragdrop): adds @zendeskgarden/react-drag-drop
  README.md
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/README.md
  packages/drag-drop/demo/#readme.stories.mdx
  packages/drag-drop/demo/draggable.stories.mdx
  packages/drag-drop/demo/stories/DraggableStory.tsx
  packages/drag-drop/package.json
  packages/drag-drop/src/elements/draggable-list/DraggableList.tsx
  packages/drag-drop/src/elements/draggable-list/components/DraggableListDropIndicator.tsx
  packages/drag-drop/src/elements/draggable-list/components/DraggableListItem.tsx
  packages/drag-drop/src/elements/draggable/Draggable.tsx
  packages/drag-drop/src/elements/draggable/components/DraggableContent.tsx
  packages/drag-drop/src/elements/draggable/components/DraggableGrip.tsx
  packages/drag-drop/src/elements/dropzone/Dropzone.tsx
  packages/drag-drop/src/elements/dropzone/components/DropzoneMessage.tsx
  packages/drag-drop/src/index.ts
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
  packages/drag-drop/src/styled/draggable-list/StyledDraggableListDropIndicator.ts
  packages/drag-drop/src/styled/draggable-list/StyledDraggableListItem.ts
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/styled/draggable/StyledDraggableContent.ts
  packages/drag-drop/src/styled/draggable/StyledDraggableGrip.ts
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
  packages/drag-drop/src/styled/dropzone/StyledDropzoneMessage.ts
  packages/drag-drop/src/styled/index.ts
  packages/drag-drop/src/types/index.ts
  packages/drag-drop/tsconfig.build.json
  packages/drag-drop/yarn.lock
  tsconfig.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore: breaks out single sortable list story
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/MultiListStory.tsx
  packages/drag-drop/demo/~patterns/stories/SortableListStory.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/styled/draggable/StyledGrip.ts
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(dragdrop): adds draglist story
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/draggable-list.stories.mdx
  packages/drag-drop/demo/stories/DraggableListStory.tsx
  packages/drag-drop/demo/stories/data.ts
  packages/drag-drop/src/elements/draggable-list/DraggableList.tsx
  packages/drag-drop/src/elements/draggable-list/components/DraggableListDropIndicator.tsx
  packages/drag-drop/src/elements/draggable-list/components/DraggableListItem.tsx
  packages/drag-drop/src/elements/draggable/Draggable.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
  packages/drag-drop/src/styled/draggable-list/StyledDraggableListDropIndicator.ts
  packages/drag-drop/src/styled/draggable-list/StyledDraggableListItem.ts
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/utils/useDraggableListContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor: consolidate dropzone default and danger style palettes into util
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/package.json
  packages/drag-drop/src/elements/draggable-list/DraggableList.tsx
  packages/drag-drop/src/elements/draggable-list/components/DropIndicator.tsx
  packages/drag-drop/src/elements/draggable-list/components/Item.tsx
  packages/drag-drop/src/elements/draggable/Draggable.tsx
  packages/drag-drop/src/elements/draggable/components/Content.tsx
  packages/drag-drop/src/elements/dropzone/Dropzone.tsx
  packages/drag-drop/src/elements/dropzone/components/Icon.tsx
  packages/drag-drop/src/elements/dropzone/components/Message.tsx
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
  packages/drag-drop/src/styled/dropzone/StyledIcon.ts
  packages/drag-drop/src/styled/dropzone/StyledMessage.ts
  packages/drag-drop/src/styled/index.ts
  packages/drag-drop/src/utils/dropzoneStateStyles.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore: adds multiple lists story
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/MultiListStory.tsx
  packages/drag-drop/demo/~patterns/stories/MultipleListsStory.tsx
  packages/drag-drop/demo/~patterns/stories/SortableListStory.tsx
  packages/drag-drop/demo/~patterns/stories/data.ts
  packages/drag-drop/demo/~patterns/stories/types.ts
  packages/drag-drop/package.json
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
  packages/drag-drop/src/utils/dropzoneStateStyles.ts
  packages/drag-drop/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore: adds custom icon pattern story
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/DropzoneCustomIconStory.tsx
  packages/drag-drop/src/elements/dropzone/components/Icon.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
  packages/drag-drop/src/styled/draggable-list/StyledDropIndicator.ts
  packages/drag-drop/src/styled/dropzone/StyledIcon.ts
  packages/drag-drop/src/utils/dropzoneStateStyles.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

test: adds elements tests
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/MultipleListsStory.tsx
  packages/drag-drop/demo/~patterns/stories/SortableListStory.tsx
  packages/drag-drop/demo/~patterns/stories/types.ts
  packages/drag-drop/src/elements/draggable-list/DraggableList.spec.tsx
  packages/drag-drop/src/elements/draggable/Draggable.spec.tsx
  packages/drag-drop/src/elements/draggable/Draggable.tsx
  packages/drag-drop/src/elements/draggable/components/Content.spec.tsx
  packages/drag-drop/src/elements/draggable/components/Grip.spec.tsx
  packages/drag-drop/src/elements/dropzone/Dropzone.spec.tsx
  packages/drag-drop/src/elements/dropzone/components/Icon.spec.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/styled/draggable/StyledGrip.ts
  packages/drag-drop/src/utils/useGlobalKeyboardListener.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

test: adds more tests for styled components
  packages/drag-drop/src/styled/draggable/StyledGrip.spec.tsx
  packages/drag-drop/src/styled/draggable/StyledGrip.ts
  packages/drag-drop/src/styled/dropzone/StyledIcon.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

test: adds draggable list tests
  packages/drag-drop/src/elements/draggable-list/DraggableList.spec.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.spec.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

test: adds tests for dropzone states
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/elements/dropzone/Dropzone.spec.tsx
  packages/drag-drop/src/utils/dropzoneStateStyles.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: improve drop detection for multi-list example
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/MultipleListsStory.tsx
  packages/drag-drop/demo/~patterns/stories/SortableListStory.tsx
  packages/drag-drop/demo/~patterns/stories/data.ts
  packages/drag-drop/demo/~patterns/stories/utilities.ts
  packages/drag-drop/package.json
  packages/drag-drop/src/elements/draggable/Draggable.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/types/index.ts
  packages/drag-drop/src/utils/useDraggableListContext.ts
  packages/drag-drop/src/utils/useGlobalKeyboardListener.ts
  packages/drag-drop/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

test: adds StyledDraggable tests
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/styled/draggable/StyledDraggable.spec.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: styled grip tag type should be div
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/elements/draggable/components/Grip.spec.tsx
  packages/drag-drop/src/styled/draggable/StyledGrip.spec.tsx
  packages/drag-drop/src/styled/draggable/StyledGrip.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: story types
  packages/drag-drop/demo/~patterns/stories/MultipleListsStory.tsx
  packages/drag-drop/demo/~patterns/stories/SortableListStory.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor: dedupe storybook connected draggable components
  packages/drag-drop/README.md
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/MultipleListsStory.tsx
  packages/drag-drop/demo/~patterns/stories/SortableListStory.tsx
  packages/drag-drop/demo/~patterns/stories/components/Item.tsx
  packages/drag-drop/demo/~patterns/stories/components/SortableItem.tsx
  packages/drag-drop/demo/~patterns/stories/types.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

deps: remove container-utilities
  packages/drag-drop/package.json
Due: prettier-package-json --write

review: code review fixes, architecture corrections
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/dropzone.stories.mdx
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/DropzoneCustomIconStory.tsx
  packages/drag-drop/demo/~patterns/stories/SortableListStory.tsx
  packages/drag-drop/demo/~patterns/stories/SortableListsStory.tsx
  packages/drag-drop/demo/~patterns/stories/components/Item.tsx
  packages/drag-drop/demo/~patterns/stories/components/SortableItem.tsx
  packages/drag-drop/demo/~patterns/stories/types.ts
  packages/drag-drop/demo/~patterns/stories/utilities.ts
  packages/drag-drop/src/elements/draggable-list/DraggableList.spec.tsx
  packages/drag-drop/src/elements/draggable-list/components/DropIndicator.tsx
  packages/drag-drop/src/elements/draggable-list/components/Item.tsx
  packages/drag-drop/src/elements/draggable/Draggable.spec.tsx
  packages/drag-drop/src/elements/draggable/Draggable.tsx
  packages/drag-drop/src/elements/draggable/components/Content.tsx
  packages/drag-drop/src/elements/draggable/components/Grip.tsx
  packages/drag-drop/src/elements/dropzone/Dropzone.spec.tsx
  packages/drag-drop/src/elements/dropzone/components/Icon.tsx
  packages/drag-drop/src/elements/dropzone/components/Message.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.spec.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

review: story & draggable fixes
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/draggable.stories.mdx
  packages/drag-drop/demo/dropzone.stories.mdx
  packages/drag-drop/demo/stories/DraggableListStory.tsx
  packages/drag-drop/demo/stories/DraggableStory.tsx
  packages/drag-drop/demo/stories/DropzoneStory.tsx
  packages/drag-drop/demo/stories/data.ts
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/SortableListsStory.tsx
  packages/drag-drop/demo/~patterns/stories/data.ts
  packages/drag-drop/src/elements/draggable/Draggable.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.spec.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

review: dropzone message style & direction fixes
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/stories/DropzoneStory.tsx
  packages/drag-drop/src/elements/draggable-list/components/Item.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
  packages/drag-drop/src/styled/draggable-list/StyledItem.ts
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
  packages/drag-drop/src/styled/dropzone/StyledIcon.ts
  packages/drag-drop/src/styled/dropzone/StyledMessage.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write
