Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix(dropdowns): remove nested controls violation from select
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Select/Select.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(dropdowns): remove nested controls violation from select (#1405)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Select/Select.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.64beac60.iframe.bundle.js
  main.6a56d28c.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.55.0 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  iframe.html
  main.61244b78.iframe.bundle.js
  main.64beac60.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: update snapshots
  packages/accordions/.size-snapshot.json
  packages/avatars/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
  packages/typography/.size-snapshot.json
Due: none

Fix scroll when clicking dropdown menu trigger
  packages/dropdowns/src/styled/select/StyledInput.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.3f86ba96.iframe.bundle.js
  main.a3f0c2e0.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(datepickers): add weekStartsOn prop
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/elements/Datepicker/components/Calendar.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
  packages/datepickers/src/elements/DatepickerRange/utils/useDatepickerRangeContext.ts
  packages/datepickers/src/types/index.ts
  packages/datepickers/src/utils/calendar-utils.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

test(datepickers): update unit tests
  packages/datepickers/src/elements/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(snapshot): update sizes
  packages/accordions/.size-snapshot.json
  packages/avatars/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
  packages/typography/.size-snapshot.json
Due: none

Update size snapshots
  packages/accordions/.size-snapshot.json
  packages/avatars/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
  packages/typography/.size-snapshot.json
Due: none

fix(calendar): typo
  packages/datepickers/.size-snapshot.json
  packages/datepickers/src/elements/Datepicker/components/Calendar.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(calendar): reset import order
  packages/datepickers/src/elements/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
  packages/datepickers/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(snapshot): update snapshot size
  packages/datepickers/.size-snapshot.json
Due: none

feat(avatars): add status indicator component
  packages/avatars/.size-snapshot.json
  packages/avatars/README.md
  packages/avatars/demo/statusindicator.stories.mdx
  packages/avatars/demo/stories/StatusIndicatorStory.tsx
  packages/avatars/src/elements/StatusIndicator.spec.tsx
  packages/avatars/src/elements/StatusIndicator.tsx
  packages/avatars/src/index.ts
  packages/avatars/src/styled/StyledStandaloneStatus.ts
  packages/avatars/src/styled/StyledStandaloneStatusCaption.ts
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
  packages/avatars/src/styled/StyledStatusIndicator.spec.tsx
  packages/avatars/src/styled/StyledStatusIndicator.ts
  packages/avatars/src/styled/index.ts
  packages/avatars/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: styles and add pattern example
  packages/avatars/.size-snapshot.json
  packages/avatars/demo/~patterns/patterns.stories.mdx
  packages/avatars/demo/~patterns/stories/StatusMenuStory.tsx
  packages/avatars/src/styled/StyledAvatar.ts
  packages/avatars/src/styled/StyledStandaloneStatus.ts
  packages/avatars/src/styled/StyledStandaloneStatusCaption.ts
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
  packages/avatars/src/styled/utility.ts
  packages/avatars/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: transition styling
  packages/avatars/.size-snapshot.json
  packages/avatars/src/styled/StyledStandaloneStatus.ts
  packages/avatars/src/styled/StyledStandaloneStatusCaption.ts
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: add type to tests
  packages/avatars/.size-snapshot.json
  packages/avatars/src/elements/StatusIndicator.spec.tsx
  packages/avatars/src/elements/StatusIndicator.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(datepickers): add `weekStartsOn` prop on calendars (#1409)
  packages/datepickers/.size-snapshot.json
  packages/datepickers/src/elements/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/elements/Datepicker/components/Calendar.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
  packages/datepickers/src/elements/DatepickerRange/utils/useDatepickerRangeContext.ts
  packages/datepickers/src/types/index.ts
  packages/datepickers/src/utils/calendar-utils.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.3f86ba96.iframe.bundle.js
  main.ade63ab4.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.56.0 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  iframe.html
  main.1b257fc9.iframe.bundle.js
  main.ade63ab4.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Refine the PR checklist
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add clarifying text for code contribution
  .github/CONTRIBUTING.md
Due: none

Add Figma designs
  packages/accordions/.size-snapshot.json
  packages/accordions/demo/timeline.stories.mdx
Due: none

Update timeline default data to correspond with Figma designs
  packages/accordions/demo/stories/data.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix size snapshot
  packages/accordions/.size-snapshot.json
Due: none

fix: address feedback
  packages/avatars/.size-snapshot.json
  packages/avatars/demo/statusindicator.stories.mdx
  packages/avatars/demo/stories/StatusIndicatorStory.tsx
  packages/avatars/demo/~patterns/stories/StatusMenuStory.tsx
  packages/avatars/src/elements/StatusIndicator.tsx
  packages/avatars/src/styled/StyledStandaloneStatus.ts
  packages/avatars/src/styled/StyledStandaloneStatusCaption.ts
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
  packages/avatars/src/styled/StyledStatusIndicator.ts
  packages/avatars/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: correct text overflow alignment
  packages/avatars/.size-snapshot.json
  packages/avatars/src/styled/StyledStandaloneStatus.ts
  packages/avatars/src/styled/StyledStandaloneStatusCaption.ts
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Remove product review
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: consolidate styles between styled status indicators
  packages/avatars/.size-snapshot.json
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
  packages/avatars/src/styled/StyledStatusIndicator.ts
  packages/avatars/src/styled/utility.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

demo(accordions): add Figma designs for Timeline component (#1412)
  packages/accordions/demo/stories/data.ts
  packages/accordions/demo/timeline.stories.mdx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.1b257fc9.iframe.bundle.js
  main.332901b0.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

docs: update contributing documentation and PR template (#1411)
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Updates [skip ci]
  iframe.html
  main.332901b0.iframe.bundle.js
  main.ea4324e4.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: add figma link
  packages/avatars/demo/statusindicator.stories.mdx
Due: none

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0 --ignore-pattern !.storybook: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
