Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Use pnpm
  scripts/tag.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Reconfig lerna
  lerna.json
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write

Fix tag path
  scripts/tag.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Adjust version
  lerna.json
Due: none

Update config version
  lerna.json
Due: none

Update config allowBranch
  lerna.json
Due: none

Ignore temp changelog
  .gitignore
Due: none

Configure `tag` script
  package.json
  scripts/tag.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Add package types
  package.json
Due: prettier-package-json --write

fix(dropdowns) non-editable multiselectable `Combobox` behavior
  packages/dropdowns/src/elements/combobox/Combobox.tsx
  packages/dropdowns/src/elements/combobox/TagGroup.tsx
  packages/dropdowns/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Test coverage
  packages/dropdowns/src/elements/combobox/Combobox.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(dropdowns): non-editable multiselectable `Combobox` behavior (#2100)
  packages/dropdowns/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns/src/elements/combobox/Combobox.tsx
  packages/dropdowns/src/elements/combobox/TagGroup.tsx
  packages/dropdowns/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/draggable/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.14.2 [skip ci]
  CHANGELOG.md
Due: none

Update storybook dependencies
  package-lock.json
  package.json
Due: prettier-package-json --write

Configure for tsdown rather than vite
  CHANGELOG.md
  config/storybook/main.ts
  config/svgr.config.json
  config/tsconfig.app.json
  config/tsconfig.d.ts
  config/tsconfig.json
  config/tsconfig.node.json
  config/tsdown.config.ts
  config/vite.config.ts
  config/vitest.config.ts
  demo/accordion/AccordionStory.tsx
  package.json
  pnpm-lock.yaml
  src/elements/accordion/Header.tsx
  tsconfig.json
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Lint
  config/eslint.config.js
  config/tsconfig.d.ts
  package.json
  src/elements/accordion/Accordion.tsx
  src/types/elements.ts
  src/views/accordion/StyledPanel.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Revert to `forwardRef`
  src/elements/accordion/Accordion.tsx
  src/elements/accordion/Header.tsx
  src/elements/accordion/Label.tsx
  src/elements/accordion/Panel.tsx
  src/elements/accordion/Section.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(grid): updated SplitterButton Tooltip to use isLabel prop
  packages/grid/src/elements/pane/components/SplitterButton.spec.tsx
  packages/grid/src/elements/pane/components/SplitterButton.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(grid): update SplitterButton's Tooltip component to have isLabel prop (#2102)
  packages/grid/src/elements/pane/components/SplitterButton.spec.tsx
  packages/grid/src/elements/pane/components/SplitterButton.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Configure for vanilla extract
  config/storybook/main.ts
  config/tsdown.config.ts
  config/vitest.config.ts
  package.json
  pnpm-lock.yaml
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Fill out accordion testing
  package.json
  pnpm-lock.yaml
  src/elements/accordion/Accordion.test.tsx
  src/views/accordion/accordion.css.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Add support for "as" prop in StyledAnchor component
  packages/buttons/src/styled/StyledAnchor.spec.tsx
  packages/buttons/src/styled/StyledAnchor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update storybook with `IS_RSC` test fix
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write

feat(buttons): support "as" prop for anchor component (#2104)
  packages/buttons/src/styled/StyledAnchor.spec.tsx
  packages/buttons/src/styled/StyledAnchor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v9.15.0 [skip ci]
  CHANGELOG.md
Due: none

chore: bump Storybook deps to latest
  package-lock.json
  package.json
Due: prettier-package-json --write

Use pure CSS rather than JS to handle styling state
  src/context/accordion/HeaderContext.tsx
  src/elements/accordion/Header.tsx
  src/elements/accordion/Label.tsx
  src/types/context.ts
  src/types/views.ts
  src/views/accordion/StyledHeader.ts
  src/views/accordion/StyledLabel.ts
  src/views/accordion/StyledPanel.ts
  src/views/accordion/StyledRotateIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update dependencies
  .packages/accordions/src/styled/accordion/StyledPanel.ts
  .packages/avatars/src/styled/StyledAvatar.ts
  .packages/breadcrumbs/src/styled/StyledBreadcrumbItem.ts
  .packages/buttons/src/styled/StyledIconButton.ts
  .packages/datepickers/src/styled/StyledHighlight.ts
  .packages/grid/src/styled/StyledGrid.ts
  .packages/tables/src/styled/StyledSortableButton.ts
  .packages/tooltips/src/styled/StyledTooltip.ts
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  src/elements/accordion/Header.tsx
  src/views/accordion/StyledLabel.ts
  src/views/accordion/StyledPanel.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Configure CI
  .github/workflows/ci.yaml
  .gitignore
  config/oxlintrc.json
  config/vitest.config.ts
  package.json
  pnpm-lock.yaml
  scripts/deploy.js
  src/elements/accordion/Accordion.test.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Add PNPM to CI
  .github/workflows/ci.yaml
Due: none

Correct deploy path
  .github/workflows/ci.yaml
Due: none

Upgrade actions
  .github/workflows/ci.yaml
Due: none

Test GH deploy CI
  .github/workflows/ci.yaml
  scripts/deploy.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Test GH deploy CI again
  .github/workflows/ci.yaml
Due: none

Revert deploy test
  .github/workflows/ci.yaml
  scripts/deploy.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
