Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

Update README
  packages/pagination/README.md
Due: none

Fill out basic example
  packages/pagination/examples/basic.md
  packages/pagination/src/elements/Pagination.tsx
  packages/pagination/src/styled/StyledPagination.ts
  packages/pagination/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Be clear about breaking change and update modal context name
  BREAKING_CHANGES.md
  packages/modals/src/elements/Body.tsx
  packages/modals/src/elements/Close.tsx
  packages/modals/src/elements/Header.tsx
  packages/modals/src/utils/useModalContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

pass arrow fn to onclick in Modal spec
  packages/modals/src/elements/Modal.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update basic demo
  packages/pagination/examples/basic.md
Due: none

feat(modals): migrate react-modals to TS (#599)
  BREAKING_CHANGES.md
  packages/modals/examples/basic.md
  packages/modals/package.json
  packages/modals/src/elements/Body.tsx
  packages/modals/src/elements/Close.tsx
  packages/modals/src/elements/Footer.tsx
  packages/modals/src/elements/FooterItem.tsx
  packages/modals/src/elements/Header.tsx
  packages/modals/src/elements/Modal.js
  packages/modals/src/elements/Modal.spec.tsx
  packages/modals/src/elements/Modal.tsx
  packages/modals/src/index.js
  packages/modals/src/index.spec.js
  packages/modals/src/index.ts
  packages/modals/src/styled/StyledBackdrop.spec.tsx
  packages/modals/src/styled/StyledBackdrop.ts
  packages/modals/src/styled/StyledBody.spec.tsx
  packages/modals/src/styled/StyledBody.ts
  packages/modals/src/styled/StyledClose.spec.tsx
  packages/modals/src/styled/StyledClose.ts
  packages/modals/src/styled/StyledFooter.spec.tsx
  packages/modals/src/styled/StyledFooter.ts
  packages/modals/src/styled/StyledFooterItem.spec.tsx
  packages/modals/src/styled/StyledFooterItem.ts
  packages/modals/src/styled/StyledHeader.spec.tsx
  packages/modals/src/styled/StyledHeader.ts
  packages/modals/src/styled/StyledModal.spec.tsx
  packages/modals/src/styled/StyledModal.ts
  packages/modals/src/styled/index.ts
  packages/modals/src/utils/useModalContext.ts
  packages/modals/src/views/Close.js
  packages/modals/src/views/Close.spec.js
  packages/modals/src/views/ModalView.example.md
  packages/modals/styleguide.config.js
  packages/modals/tsconfig.build.json
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Fix `renderPages` logic
  packages/pagination/examples/basic.md
  packages/pagination/src/elements/Pagination.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add `pageGap` as a prop
  packages/pagination/examples/basic.md
  packages/pagination/src/elements/Pagination.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Handle zero `totalPages`
  packages/pagination/examples/advanced.md
  packages/pagination/src/elements/Pagination.tsx
  packages/pagination/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update documentation
  BREAKING_CHANGES.md
  packages/pagination/README.md
  packages/pagination/examples/advanced.md
  packages/pagination/src/elements/Pagination.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update pagination testing
  packages/pagination/examples/advanced.md
  packages/pagination/examples/basic.md
  packages/pagination/src/elements/Pagination.spec.tsx
  packages/pagination/src/styled/StyledGap.ts
  packages/pagination/src/styled/StyledNavigation.spec.tsx
  packages/pagination/src/styled/StyledPage.spec.tsx
  packages/pagination/src/styled/StyledPage.ts
  packages/pagination/src/styled/StyledPagination.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add pagination padding and gap testing
  packages/pagination/src/elements/Pagination.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update breaking changes doc
  BREAKING_CHANGES.md
Due: none

Add semantic `nav` markup to demos and adjust bundle size
  packages/pagination/examples/advanced.md
  packages/pagination/examples/basic.md
  packages/pagination/package.json
Due: prettier-package-json --write

Add `ref` testing
  packages/pagination/src/elements/Pagination.spec.tsx
  packages/pagination/src/elements/Pagination.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(pagination): CSS-in-JS refactor (#601)
  BREAKING_CHANGES.md
  packages/pagination/README.md
  packages/pagination/examples/advanced.md
  packages/pagination/examples/basic.md
  packages/pagination/examples/default.md
  packages/pagination/package.json
  packages/pagination/src/elements/Pagination.spec.tsx
  packages/pagination/src/elements/Pagination.tsx
  packages/pagination/src/styled/StyledGap.ts
  packages/pagination/src/styled/StyledNavigation.spec.tsx
  packages/pagination/src/styled/StyledNavigation.ts
  packages/pagination/src/styled/StyledNextPage.spec.tsx
  packages/pagination/src/styled/StyledNextPage.ts
  packages/pagination/src/styled/StyledPage.spec.tsx
  packages/pagination/src/styled/StyledPage.ts
  packages/pagination/src/styled/StyledPagination.spec.tsx
  packages/pagination/src/styled/StyledPagination.ts
  packages/pagination/src/styled/StyledPreviousPage.spec.tsx
  packages/pagination/src/styled/index.ts
  packages/pagination/styleguide.config.js
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Move other package examples to new API
  packages/avatars/examples/advanced.md
  packages/avatars/examples/basic.md
  packages/buttons/examples/basic.md
  packages/chrome/examples/basic.md
  packages/forms/examples/basic.md
  packages/grid/examples/basic.md
  packages/pagination/examples/basic.md
  packages/tables/examples/basic.md
  packages/tables/examples/overflow-menu.md
  packages/tags/examples/advanced.md
  packages/tags/examples/basic.md
  packages/theming/src/utils/arrowStyles.example.md
  packages/tooltips/examples/basic.md
  packages/typography/examples/code.md
  packages/typography/examples/lists.md
  packages/typography/examples/typography.md
Due: none

Allow positioning to handle animations
  packages/dropdowns/src/elements/Menu/Menu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix compact example
  packages/datepickers/examples/compact.md
Due: none

Add testing and fix is-hidden styling
  packages/dropdowns/README.md
  packages/dropdowns/examples/tree-menu.md
  packages/dropdowns/src/elements/Menu/Items/AddItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderIcon.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/Item.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/ItemMeta.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaBody.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaFigure.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/NextItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/PreviousItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/Separator.spec.tsx
  packages/dropdowns/src/elements/Menu/Menu.spec.tsx
  packages/dropdowns/src/elements/Menu/Menu.tsx
  packages/dropdowns/src/elements/Menu/Separator.tsx
  packages/dropdowns/src/index.ts
  packages/dropdowns/src/styled/items/StyledItem.ts
  packages/dropdowns/src/styled/items/StyledItemIcon.ts
  packages/dropdowns/src/styled/items/StyledNextIcon.ts
  packages/dropdowns/src/styled/items/StyledPreviousIcon.ts
  packages/dropdowns/src/styled/items/header/StyledHeaderIcon.ts
  packages/dropdowns/src/styled/items/media/StyledMediaFigure.ts
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
  packages/dropdowns/src/styled/menu/StyledSeparator.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Bump bundlesize
  packages/dropdowns/package.json
Due: prettier-package-json --write

fix(datepickers): compact example (#603)
  packages/datepickers/examples/compact.md
Due: none

Fix eslint
  packages/dropdowns/src/elements/Menu/Menu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Apply advanced knobs example
  packages/dropdowns/examples/advanced-menu.md
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Increase code coverage
  packages/dropdowns/src/elements/Menu/Items/HeaderIcon.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.tsx
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add theme calculations for MediaFigure checked status
  packages/dropdowns/README.md
  packages/dropdowns/src/styled/items/StyledItem.ts
  packages/dropdowns/src/styled/items/StyledItemMeta.ts
  packages/dropdowns/src/styled/items/media/StyledMediaBody.ts
  packages/dropdowns/src/styled/items/media/StyledMediaFigure.ts
  packages/dropdowns/src/styled/items/media/StyledMediaItem.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Align menu arrow size with large tooltip
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Correct README typos
  packages/dropdowns/README.md
Due: none

Address Henry testing suggestions
  packages/dropdowns/src/elements/Menu/Items/AddItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderIcon.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update arrow positioning and valid DOM nesting
  packages/dropdowns/examples/advanced-menu.md
  packages/dropdowns/src/elements/Menu/Items/AddItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/AddItem.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.tsx
  packages/dropdowns/src/elements/Menu/Items/Item.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/Item.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaBody.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaFigure.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaItem.tsx
  packages/dropdowns/src/elements/Menu/Items/NextItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/NextItem.tsx
  packages/dropdowns/src/elements/Menu/Items/PreviousItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/PreviousItem.tsx
  packages/dropdowns/src/elements/Menu/Menu.tsx
  packages/dropdowns/src/elements/Menu/Separator.spec.tsx
  packages/dropdowns/src/elements/Menu/Separator.tsx
  packages/dropdowns/src/styled/items/StyledAddItem.ts
  packages/dropdowns/src/styled/items/StyledItem.ts
  packages/dropdowns/src/styled/items/StyledItemIcon.ts
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
  packages/dropdowns/src/styled/menu/StyledSeparator.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Adjust compact margin of MediaFigure element
  packages/dropdowns/examples/advanced-menu.md
  packages/dropdowns/src/styled/items/media/StyledMediaFigure.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update disabled styling for Next and Previous items
  packages/dropdowns/src/elements/Menu/Items/NextItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/NextItem.tsx
  packages/dropdowns/src/elements/Menu/Items/PreviousItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/PreviousItem.tsx
  packages/dropdowns/src/styled/items/StyledNextIcon.ts
  packages/dropdowns/src/styled/items/StyledPreviousIcon.ts
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove line-height from menu wrapper
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update stateful colors for radios/checkboxes
  packages/forms/src/styled/radio/StyledRadioInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update stateful colors for toggles
  packages/forms/src/styled/toggle/StyledToggleInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Temporary line-height animation fix
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update stateful colors for ranges
  packages/forms/src/styled/range/StyledRangeInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update stateful colors for sliders
  packages/forms/src/styled/range/StyledRangeInput.ts
  packages/forms/src/styled/range/StyledSliderThumb.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write
