Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix(combobox): keyboard interactions and value space rendering (#1575)
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/package.json
  packages/dropdowns.next/src/views/combobox/StyledValue.ts
  packages/dropdowns.next/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix: toTabs type error
  packages/tabs/src/utils/toTabs.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor(buttons): button group react v18 uplift (#1576)
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/buttons/src/elements/Button.tsx
  packages/buttons/src/elements/ButtonGroup.spec.tsx
  packages/buttons/src/elements/ButtonGroup.tsx
  packages/buttons/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  9117.120ace9d.iframe.bundle.js
  9117.f00a9212.iframe.bundle.js
  9644.06e23179.iframe.bundle.js
  9644.78d4b353.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.660ff85f.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.869aa18e.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.107687a7.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.a5428f9d.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.47c2dd36.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.eec682ad.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.b00296bc.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.e29e3410.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.92f565da.iframe.bundle.js
  runtime~main.c255aa36.iframe.bundle.js
  sb-addons/storybook-9/manager-bundle.js.map
  tables-demo-table-stories-mdx.742f3635.iframe.bundle.js
  tables-demo-table-stories-mdx.dce6d189.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

CSS fixes
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/subnav/StyledSubNavItemIcon.tsx
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/views/combobox/StyledTagsButton.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: story selectedItem control
  packages/tabs/demo/tabs.stories.mdx
Due: none

fix: update snapshot
  packages/tabs/.size-snapshot.json
Due: none

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.69.4 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  1408.1095722d.iframe.bundle.js
  1408.73661b14.iframe.bundle.js
  9117.3e606864.iframe.bundle.js
  9117.f00a9212.iframe.bundle.js
  9644.b5d065fe.iframe.bundle.js
  9644.fb5546ee.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.2a4fb649.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.869aa18e.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.265f3382.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.a0a17906.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.4760d6f4.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.eec682ad.iframe.bundle.js
  datepickers-demo-datepicker-stories-mdx.13c57dcc.iframe.bundle.js
  datepickers-demo-datepicker-stories-mdx.da514664.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.30e65a02.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.359a5c82.iframe.bundle.js
  dropdowns-demo-autocomplete-stories-mdx.19a97376.iframe.bundle.js
  dropdowns-demo-autocomplete-stories-mdx.4bf389be.iframe.bundle.js
  dropdowns-demo-combobox-stories-mdx.55acabeb.iframe.bundle.js
  dropdowns-demo-combobox-stories-mdx.cea0dc7d.iframe.bundle.js
  dropdowns-demo-multiselect-stories-mdx.1f382f69.iframe.bundle.js
  dropdowns-demo-multiselect-stories-mdx.4eef488b.iframe.bundle.js
  dropdowns-demo-select-stories-mdx.2d77d28b.iframe.bundle.js
  dropdowns-demo-select-stories-mdx.664bda45.iframe.bundle.js
  forms-demo-fauxInput-stories-mdx.d2208a19.iframe.bundle.js
  forms-demo-fauxInput-stories-mdx.eec70069.iframe.bundle.js
  forms-demo-mediaInput-stories-mdx.31963834.iframe.bundle.js
  forms-demo-mediaInput-stories-mdx.f874334e.iframe.bundle.js
  forms-demo-select-stories-mdx.a0f842bb.iframe.bundle.js
  forms-demo-select-stories-mdx.cc970e32.iframe.bundle.js
  forms-demo-textarea-stories-mdx.67b38631.iframe.bundle.js
  forms-demo-textarea-stories-mdx.d3e69edf.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.72c0a321.iframe.bundle.js
  runtime~main.aeee5ffc.iframe.bundle.js
  tags-demo-patterns-patterns-stories-mdx.78ec8016.iframe.bundle.js
  tags-demo-patterns-patterns-stories-mdx.8bfb6233.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: address feedback
  packages/tabs/demo/tabs.stories.mdx
Due: none

fix: use client api for args
  packages/tabs/demo/tabs.stories.mdx
Due: none

fix: update container-tabs
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tabs/src/elements/Tabs.tsx
  packages/tabs/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

refactor(accordions): uplift for react v18
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/stepper/Stepper.tsx
  packages/accordions/src/elements/stepper/components/Content.tsx
  packages/accordions/src/elements/stepper/components/Label.tsx
  packages/accordions/src/elements/stepper/components/Step.tsx
  packages/accordions/src/utils/useStepContext.ts
  packages/accordions/src/utils/useStepperContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(combobox): ensure input focus reset
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/views/combobox/StyledInput.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(combobox): ensure input focus reset (#1581)
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/views/combobox/StyledInput.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  9117.120ace9d.iframe.bundle.js
  9117.3e606864.iframe.bundle.js
  9644.b362d5c5.iframe.bundle.js
  9644.b5d065fe.iframe.bundle.js
  9998.a6f450b8.iframe.bundle.js
  9998.ce682597.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.2a4fb649.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.660ff85f.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.265f3382.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.e5188368.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.4760d6f4.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.47c2dd36.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.359a5c82.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.b1541982.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.03b57ddd.iframe.bundle.js
  runtime~main.72c0a321.iframe.bundle.js
  tables-demo-table-stories-mdx.742f3635.iframe.bundle.js
  tables-demo-table-stories-mdx.dce6d189.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(dropdowns): tag and document deprecated components
  packages/dropdowns/demo/autocomplete.stories.mdx
  packages/dropdowns/demo/combobox.stories.mdx
  packages/dropdowns/demo/multiselect.stories.mdx
  packages/dropdowns/demo/select.stories.mdx
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Combobox/Combobox.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor(tabs): uptake new version of container-selection (#1580)
  packages/tabs/.size-snapshot.json
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/demo/stories/data.ts
  packages/tabs/demo/stories/types.ts
  packages/tabs/demo/tabs.stories.mdx
  packages/tabs/package.json
  packages/tabs/src/elements/Tab.tsx
  packages/tabs/src/elements/TabPanel.tsx
  packages/tabs/src/elements/Tabs.tsx
  packages/tabs/src/utils/toTabs.ts
  packages/tabs/src/utils/useTabsContext.ts
  packages/tabs/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore(dropdowns): tag and document deprecated components (#1583)
  packages/dropdowns/demo/autocomplete.stories.mdx
  packages/dropdowns/demo/combobox.stories.mdx
  packages/dropdowns/demo/multiselect.stories.mdx
  packages/dropdowns/demo/select.stories.mdx
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Combobox/Combobox.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(combobox): prevent `optionTagProps` state bloat
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor: uplift accordion component
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/src/elements/accordion/components/Section.tsx
  packages/accordions/src/elements/stepper/Stepper.tsx
  packages/accordions/src/elements/stepper/components/Step.tsx
  packages/accordions/src/utils/useAccordionContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: update snapshot
  packages/accordions/.size-snapshot.json
Due: none

fix(combobox): prevent `optionTagProps` state bloat (#1584)
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(dropdowns.next): prevent combobox option tag props from getting nuked
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(dropdowns.next): prevent combobox option tag props from getting nuked (#1585)
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  9117.120ace9d.iframe.bundle.js
  9117.3e606864.iframe.bundle.js
  9644.b362d5c5.iframe.bundle.js
  9644.b5d065fe.iframe.bundle.js
  9998.ac6190a5.iframe.bundle.js
  9998.fe6e5580.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.2a4fb649.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.660ff85f.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.265f3382.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.e5188368.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.4760d6f4.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.47c2dd36.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.359a5c82.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.b1541982.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.7bbe288d.iframe.bundle.js
  runtime~main.907bfa31.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(combobox): prevent tag state rerender on focus
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update @zendeskgarden/container-combobox dependency
  packages/dropdowns.next/package.json
  packages/dropdowns.next/yarn.lock
Due: prettier-package-json --write

fix(combobox): prevent tag state rerender on focus (#1587)
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/package.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  3528.e941d294.iframe.bundle.js
  3528.e941d294.iframe.bundle.js.LICENSE.txt
  6400.fd0bfedf.iframe.bundle.js
  9117.120ace9d.iframe.bundle.js
  9117.f7d81868.iframe.bundle.js
  9644.35756f13.iframe.bundle.js
  9644.b362d5c5.iframe.bundle.js
  9998.ac6190a5.iframe.bundle.js
  9998.b490e151.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.660ff85f.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.dabec3c0.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.0bd28fbf.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.e5188368.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.09a945e9.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.47c2dd36.iframe.bundle.js
  iframe.html
  main.bf760ab3.iframe.bundle.js
  main.e3dc1515.iframe.bundle.js
  pagination-demo-pagination-stories-mdx.a76549e1.iframe.bundle.js
  pagination-demo-pagination-stories-mdx.df67be43.iframe.bundle.js
  project.json
  runtime~main.0c05f109.iframe.bundle.js
  runtime~main.907bfa31.iframe.bundle.js
  tables-demo-table-stories-mdx.742f3635.iframe.bundle.js
  tables-demo-table-stories-mdx.dce6d189.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.69.5 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  9117.f00a9212.iframe.bundle.js
  9117.f7d81868.iframe.bundle.js
  9644.35756f13.iframe.bundle.js
  9644.fb5546ee.iframe.bundle.js
  9998.046a5542.iframe.bundle.js
  9998.b490e151.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.869aa18e.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.dabec3c0.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.0bd28fbf.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.a0a17906.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.09a945e9.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.eec682ad.iframe.bundle.js
  iframe.html
  pagination-demo-pagination-stories-mdx.a76549e1.iframe.bundle.js
  pagination-demo-pagination-stories-mdx.df67be43.iframe.bundle.js
  project.json
  runtime~main.0c05f109.iframe.bundle.js
  runtime~main.c6cfa677.iframe.bundle.js
  tables-demo-table-stories-mdx.742f3635.iframe.bundle.js
  tables-demo-table-stories-mdx.dce6d189.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0 --ignore-pattern !.storybook: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
