Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Add start value to interactive demo
  packages/typography/src/views/lists/List.example.md
Due: prettier --write, markdownlint

Updates
  typography/build/bundle.eb56368f.js
  typography/index.html
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency jest-dom to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

Update jest-dom import structure
  package.json
  utils/test/jest.d.ts
  utils/test/jest.setup.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update all development non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Address @austin94 review comments
  packages/typography/src/index.js
  packages/typography/src/index.spec.js
  packages/typography/src/views/MD.js
  packages/typography/src/views/lists/Item.example.md
  packages/typography/src/views/lists/Item.js
  packages/typography/src/views/lists/Item.spec.js
  packages/typography/src/views/lists/List.example.md
  packages/typography/src/views/lists/List.js
  packages/typography/src/views/lists/useListContext.js
  packages/typography/src/views/lists/useListContext.spec.js
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Divide out ordered/unordered list components
  packages/typography/src/index.js
  packages/typography/src/index.spec.js
  packages/typography/src/views/lists/Item.js
  packages/typography/src/views/lists/List.example.md
  packages/typography/src/views/lists/List.js
  packages/typography/src/views/lists/List.spec.js
  packages/typography/src/views/lists/OrderedList.example.md
  packages/typography/src/views/lists/OrderedList.js
  packages/typography/src/views/lists/OrderedList.spec.js
  packages/typography/src/views/lists/OrderedListItem.js
  packages/typography/src/views/lists/OrderedListItem.spec.js
  packages/typography/src/views/lists/UnorderedList.example.md
  packages/typography/src/views/lists/UnorderedList.js
  packages/typography/src/views/lists/UnorderedList.spec.js
  packages/typography/src/views/lists/UnorderedListItem.js
  packages/typography/src/views/lists/UnorderedListItem.spec.js
  packages/typography/src/views/lists/styles.js
  packages/typography/src/views/lists/useListContext.js
  packages/typography/src/views/lists/useOrderedListContext.js
  packages/typography/src/views/lists/useOrderedListContext.spec.js
  packages/typography/src/views/lists/useUnorderedListContext.js
  packages/typography/src/views/lists/useUnorderedListContext.spec.js
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Update lists demo
  packages/typography/examples/list.md
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Add "sizes" to lists demo
  packages/typography/src/views/lists/OrderedList.example.md
  packages/typography/src/views/lists/UnorderedList.example.md
Due: prettier --write, markdownlint

fix(dropdowns): all previous item selection with arrow key
  packages/dropdowns/src/Dropdown/Dropdown.tsx
  packages/dropdowns/src/examples/menu.md
Due: prettier --write, markdownlint

Test using static notation
  packages/typography/src/views/lists/OrderedListItem.spec.js
  packages/typography/src/views/lists/UnorderedListItem.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(typography): add `UnorderedList` and `OrderedList` components (#388)
  packages/typography/examples/list.md
  packages/typography/src/index.js
  packages/typography/src/index.spec.js
  packages/typography/src/views/lists/OrderedList.example.md
  packages/typography/src/views/lists/OrderedList.js
  packages/typography/src/views/lists/OrderedList.spec.js
  packages/typography/src/views/lists/OrderedListItem.js
  packages/typography/src/views/lists/OrderedListItem.spec.js
  packages/typography/src/views/lists/UnorderedList.example.md
  packages/typography/src/views/lists/UnorderedList.js
  packages/typography/src/views/lists/UnorderedList.spec.js
  packages/typography/src/views/lists/UnorderedListItem.js
  packages/typography/src/views/lists/UnorderedListItem.spec.js
  packages/typography/src/views/lists/styles.js
  packages/typography/src/views/lists/useOrderedListContext.js
  packages/typography/src/views/lists/useOrderedListContext.spec.js
  packages/typography/src/views/lists/useUnorderedListContext.js
  packages/typography/src/views/lists/useUnorderedListContext.spec.js
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

fix(dropdowns): all previous item selection with arrow key (#391)
  packages/dropdowns/src/Dropdown/Dropdown.tsx
  packages/dropdowns/src/examples/menu.md
Due: prettier --write, markdownlint

Repair merge
  packages/typography/src/views/lists/OrderedList.js
  packages/typography/src/views/lists/OrderedListItem.js
  packages/typography/src/views/lists/UnorderedList.js
  packages/typography/src/views/lists/UnorderedListItem.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/dropdowns/package.json
  packages/typography/package.json
Due: prettier-package-json --write

Add v6.3.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

Remove CIDTable
  packages/theming/src/examples/theme.md
  utils/styleguide/CIDTable/index.js
  utils/styleguide/setup.js
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Remove merge in favor of providing full theming object
  packages/theming/package.json
  packages/theming/src/ThemeProvider/ThemeProvider.example.md
  packages/theming/src/ThemeProvider/ThemeProvider.js
  packages/theming/src/examples/theme.md
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Expect `theme` to be provided as a complete object
  packages/theming/README.md
  packages/theming/src/ThemeProvider/ThemeProvider.example.md
  packages/theming/src/ThemeProvider/ThemeProvider.js
  packages/theming/src/palette/index.example.md
  packages/theming/src/palette/index.js
  packages/theming/src/theme/index.example.md
  packages/theming/src/theme/index.js
  packages/theming/src/utils/getColor.js
  packages/theming/src/utils/withTheme.example.md
  packages/theming/src/utils/withTheme.js
  packages/theming/styleguide.config.js
  utils/test/garden-test-utils.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Remove `Code.defaultProps`
  packages/theming/src/theme/index.spec.js
  packages/typography/src/views/Code.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Added custom theme test
  packages/theming/src/utils/withTheme.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update getColor parameters
  packages/theming/src/ThemeProvider/ThemeProvider.example.md
  packages/theming/src/theme/shadows.js
  packages/theming/src/utils/getColor.js
  packages/theming/src/utils/getColor.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Remove `toHue` helper
  packages/theming/src/utils/getColor.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Module consolidation
  packages/theming/src/palette/azure.js
  packages/theming/src/palette/blue.js
  packages/theming/src/palette/crimson.js
  packages/theming/src/palette/fuschia.js
  packages/theming/src/palette/green.js
  packages/theming/src/palette/grey.js
  packages/theming/src/palette/index.js
  packages/theming/src/palette/kale.js
  packages/theming/src/palette/lemon.js
  packages/theming/src/palette/lime.js
  packages/theming/src/palette/mint.js
  packages/theming/src/palette/orange.js
  packages/theming/src/palette/pink.js
  packages/theming/src/palette/product.js
  packages/theming/src/palette/purple.js
  packages/theming/src/palette/red.js
  packages/theming/src/palette/royal.js
  packages/theming/src/palette/teal.js
  packages/theming/src/palette/yellow.js
  packages/theming/src/theme/borders.js
  packages/theming/src/theme/colors.js
  packages/theming/src/theme/fonts.js
  packages/theming/src/theme/index.js
  packages/theming/src/theme/lineHeights.js
  packages/theming/src/theme/shadows.js
  packages/theming/src/theme/space.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add breaking changes doc
  BREAKING_CHANGES.md
Due: prettier --write, markdownlint

Update palette and theme testing
  packages/theming/src/palette/__snapshots__/index.spec.js.snap
  packages/theming/src/palette/index.spec.js
  packages/theming/src/theme/__snapshots__/index.spec.js.snap
  packages/theming/src/theme/index.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Repair undefined `document` in build:demo
  packages/theming/src/theme/__snapshots__/index.spec.js.snap
  packages/theming/src/theme/index.example.md
  packages/theming/src/theme/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Set `DEFAULT_THEME` as a styleguidist global
  packages/chrome/src/containers/AccordionContainer.example.md
  packages/modals/src/elements/Modal.example.md
  packages/tables/src/examples/advanced-table.md
  packages/tables/src/examples/draggable-table.md
  packages/tables/src/examples/overflow-menu.md
  packages/tables/src/examples/paginated-table.md
  packages/tables/src/examples/scrollable-table.md
  packages/tables/src/examples/selectable-table.md
  packages/tables/src/examples/sortable-table.md
  packages/tables/src/examples/standard-table.md
  packages/tables/src/examples/virtual-table.md
  utils/styleguide/setup.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Add `font-family` to backdrop
  packages/modals/src/views/Backdrop.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Improve shadow and transparency handling
  packages/theming/src/palette/index.example.md
  packages/theming/src/theme/index.js
  packages/theming/src/utils/getColor.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Add transparency test
  packages/theming/src/utils/getColor.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update to handle RTL
  utils/styleguide/Wrapper/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.js
  eslint: any of: *.js
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.md)
  markdownlint: any of: *.md
  prettier-package-json --write: any of: **/package.json
