Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Upgrade selection package
  packages/selection/package.json
  packages/selection/src/containers/FieldContainer.spec.js
  packages/selection/src/containers/KeyboardFocusContainer.spec.js
  packages/selection/src/containers/SelectionContainer.spec.js
  packages/selection/src/index.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade tabs package
  packages/tabs/package.json
  packages/tabs/src/containers/TabsContainer.spec.js
  packages/tabs/src/elements/Tabs.spec.js
  packages/tabs/src/index.spec.js
  packages/tabs/src/views/Tab.js
  packages/tabs/src/views/Tab.spec.js
  packages/tabs/src/views/TabList.spec.js
  packages/tabs/src/views/TabPanel.spec.js
  packages/tabs/src/views/TabsView.js
  packages/tabs/src/views/TabsView.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade tags package
  packages/tags/package.json
  packages/tags/src/index.spec.js
  packages/tags/src/views/Avatar.spec.js
  packages/tags/src/views/Close.js
  packages/tags/src/views/Close.spec.js
  packages/tags/src/views/Tag.example.md
  packages/tags/src/views/Tag.js
  packages/tags/src/views/Tag.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Remove testing package
  packages/testing/CHANGELOG.md
  packages/testing/README.md
  packages/testing/package.json
  packages/testing/src/index.js
  packages/testing/src/index.spec.js
  packages/testing/src/utils/getExports.example.md
  packages/testing/src/utils/getExports.js
  packages/testing/src/utils/mountWithTheme.example.md
  packages/testing/src/utils/mountWithTheme.js
  packages/testing/src/utils/renderWithTheme.example.md
  packages/testing/src/utils/renderWithTheme.js
  packages/testing/src/utils/shallowWithTheme.example.md
  packages/testing/src/utils/shallowWithTheme.js
  packages/testing/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Upgrade textfields package
  packages/textfields/package.json
  packages/textfields/src/elements/FauxInput.js
  packages/textfields/src/elements/FauxInput.spec.js
  packages/textfields/src/elements/TextField.js
  packages/textfields/src/elements/TextField.spec.js
  packages/textfields/src/index.spec.js
  packages/textfields/src/views/Hint.js
  packages/textfields/src/views/Hint.spec.js
  packages/textfields/src/views/Input.js
  packages/textfields/src/views/Input.spec.js
  packages/textfields/src/views/Label.js
  packages/textfields/src/views/Label.spec.js
  packages/textfields/src/views/MediaFigure.spec.js
  packages/textfields/src/views/MediaInput.js
  packages/textfields/src/views/MediaInput.spec.js
  packages/textfields/src/views/Message.js
  packages/textfields/src/views/Message.spec.js
  packages/textfields/src/views/TextGroup.js
  packages/textfields/src/views/TextGroup.spec.js
  packages/textfields/src/views/Textarea.js
  packages/textfields/src/views/Textarea.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade toggles package
  packages/toggles/package.json
  packages/toggles/src/elements/Toggle.spec.js
  packages/toggles/src/index.spec.js
  packages/toggles/src/views/Hint.js
  packages/toggles/src/views/Hint.spec.js
  packages/toggles/src/views/Input.spec.js
  packages/toggles/src/views/Label.example.md
  packages/toggles/src/views/Label.js
  packages/toggles/src/views/Label.spec.js
  packages/toggles/src/views/Message.js
  packages/toggles/src/views/Message.spec.js
  packages/toggles/src/views/ToggleView.js
  packages/toggles/src/views/ToggleView.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Upgrade theming package
  packages/theming/package.json
  packages/theming/src/index.spec.js
  packages/theming/src/utils/withTheme.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade typography package
  packages/typography/package.json
  packages/typography/src/index.spec.js
  packages/typography/src/views/Code.spec.js
  packages/typography/src/views/Ellipsis.js
  packages/typography/src/views/Ellipsis.spec.js
  packages/typography/src/views/LG.spec.js
  packages/typography/src/views/MD.spec.js
  packages/typography/src/views/SM.spec.js
  packages/typography/src/views/XL.spec.js
  packages/typography/src/views/XXL.spec.js
  packages/typography/src/views/XXXL.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade utilities package
  packages/utilities/src/index.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Upgrade tooltips package
  packages/tooltips/package.json
  packages/tooltips/src/containers/TooltipContainer.js
  packages/tooltips/src/containers/TooltipContainer.spec.js
  packages/tooltips/src/elements/Tooltip.js
  packages/tooltips/src/elements/Tooltip.spec.js
  packages/tooltips/src/index.spec.js
  packages/tooltips/src/views/LightTooltip.js
  packages/tooltips/src/views/LightTooltip.spec.js
  packages/tooltips/src/views/TooltipView.js
  packages/tooltips/src/views/TooltipView.spec.js
  packages/tooltips/src/views/content/Paragraph.spec.js
  packages/tooltips/src/views/content/Title.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Add correct destructuring to MenuContainer tests
  packages/menus/src/containers/MenuContainer.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove warnings/errors from documentation
  packages/buttons/src/elements/SplitButton.example.md
  packages/tables/src/examples/advanced-table.md
  packages/tables/src/examples/virtual-table.md
  packages/tooltips/src/containers/TooltipContainer.example.md
  packages/typography/src/views/Code.example.md
Due: prettier --write, markdownlint

Remove outdated docs for buttons, dropdowns, and forms
  packages/buttons/README.md
  packages/dropdowns/README.md
  packages/forms/README.md
Due: prettier --write, markdownlint

Add prop-types to root peerDependency documentation
  README.md
Due: prettier --write, markdownlint

Fix umd webpack config for prop-types
  utils/build/webpack.umd.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(build): update umd webpack config for prop-types typo (#346)
  utils/build/webpack.umd.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update tags to accept "round" prop
  packages/tags/src/views/Tag.example.md
  packages/tags/src/views/Tag.js
  packages/tags/src/views/Tag.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

feat(tags): add prop for "round" tag styling (#347)
  packages/tags/src/views/Tag.example.md
  packages/tags/src/views/Tag.js
  packages/tags/src/views/Tag.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/tags/CHANGELOG.md
  packages/tags/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

chore(deps): update dependency @zendeskgarden/css-avatars to v5
  packages/avatars/package.json
Due: prettier-package-json --write

fix(dropdowns): namespace styled elements correctly
  packages/dropdowns/src/styled/field/StyledField.js
  packages/dropdowns/src/styled/field/StyledLabel.js
  packages/dropdowns/src/styled/field/StyledSelect.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(forms): add deprecation notices to checkboxes, radios, textfields, and toggles
  packages/checkboxes/README.md
  packages/checkboxes/src/index.js
  packages/radios/README.md
  packages/radios/src/index.js
  packages/textfields/README.md
  packages/textfields/src/index.js
  packages/toggles/README.md
  packages/toggles/src/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

fix(dropdowns): namespace styled elements correctly (#350)
  packages/dropdowns/src/styled/field/StyledField.js
  packages/dropdowns/src/styled/field/StyledLabel.js
  packages/dropdowns/src/styled/field/StyledSelect.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  packages/dropdowns/CHANGELOG.md
  packages/dropdowns/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

chore(forms): add deprecation notices to checkboxes, radios, textfields, and toggles (#351)
  packages/checkboxes/README.md
  packages/checkboxes/src/index.js
  packages/radios/README.md
  packages/radios/src/index.js
  packages/textfields/README.md
  packages/textfields/src/index.js
  packages/toggles/README.md
  packages/toggles/src/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/checkboxes/CHANGELOG.md
  packages/checkboxes/package.json
  packages/radios/CHANGELOG.md
  packages/radios/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/textfields/CHANGELOG.md
  packages/textfields/package.json
  packages/toggles/CHANGELOG.md
  packages/toggles/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

feat(avatars): upgrade Avatars to new badge styling
  packages/avatars/package.json
  packages/avatars/src/Avatar.example.md
  packages/avatars/src/Avatar.js
  packages/avatars/src/Avatar.spec.js
  packages/avatars/src/Text.js
  packages/avatars/src/index.spec.js
  packages/avatars/src/styled.js
  packages/avatars/src/styled.spec.js
  utils/styleguide/public/images/avatar-1.png
  utils/styleguide/public/images/avatar-2.png
  utils/styleguide/public/images/avatar-3.png
  utils/styleguide/public/images/avatar-4.png
  utils/styleguide/public/images/avatar-5.png
  utils/styleguide/public/images/system.png
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Fix typo
  packages/avatars/src/Avatar.example.md
Due: prettier --write, markdownlint

Remove invalid status props
  packages/avatars/src/Avatar.example.md
Due: prettier --write, markdownlint

Change badge render logic
  packages/avatars/src/Avatar.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Tweak badge render logic again
  packages/avatars/src/Avatar.js
  packages/avatars/src/Avatar.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.js
  eslint: any of: *.js
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.md)
  markdownlint: any of: *.md
  prettier-package-json --write: any of: **/package.json
