Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

feat(build): introduce Typescript and Storybook environments
  .eslintignore
  .eslintrc.json
  .lintstagedrc
  .storybook/addons.js
  .storybook/config.ts
  .storybook/contexts.ts
  .storybook/general-stories.tsx
  .storybook/globalStyles.css
  .storybook/storybook.d.ts
  .storybook/tsconfig.storybook.json
  .storybook/utils.ts
  .storybook/webpack.config.js
  .travis.yml
  .yarnclean
  babel.config.js
  demo/index.html
  lerna.json
  package.json
  packages/notifications/index.d.ts
  tsconfig.json
  utils/build/declarations.d.ts
  utils/build/webpack.base.js
  utils/styleguide/public/favicon.ico
  utils/styleguide/public/zendesk.svg
  utils/styleguide/styleguide.base.config.js
  utils/test/garden-test-utils.js
  utils/test/garden-test-utils.tsx
  utils/test/getExports.js
  utils/test/jest.config.js
  utils/test/jest.d.ts
  utils/test/jest.resolver.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Tell .vscode to use locale TSC version
  .vscode/settings.json
  packages/dropdowns/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Bootstrap lerna packages on travis install
  .travis.yml
Due: none

Fix styleguidist builds
  package.json
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update @zendeskgarden/css-avatars
  packages/avatars/package.json
Due: prettier-package-json --write

Update variable name
  packages/avatars/src/Avatar.example.md
Due: prettier --write, markdownlint

fix(avatars): display badge status whenever badge data exists (#368)
  packages/avatars/package.json
  packages/avatars/src/Avatar.example.md
  packages/avatars/src/Avatar.js
  packages/avatars/src/Avatar.spec.js
  packages/avatars/src/styled.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Address feedback
  .gitignore
  .lintstagedrc
  .storybook/webpack.config.js
  .travis.yml
  .vscode/settings.json
  package.json
  packages/dropdowns/package.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  packages/avatars/package.json
Due: prettier-package-json --write

Add v6.0.3 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

Add missing v6.0.3 info to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

feat(loaders): Replace ScheduleContainer with useSchedule hook
  packages/loaders/package.json
  packages/loaders/src/Spinner.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(build): introduce Typescript to build and testing process
  .eslintignore
  .eslintrc.json
  .gitignore
  .lintstagedrc
  .travis.yml
  .yarnclean
  babel.config.js
  lerna.json
  package.json
  packages/notifications/index.d.ts
  tsconfig.json
  utils/build/declarations.d.ts
  utils/build/webpack.base.js
  utils/styleguide/styleguide.base.config.js
  utils/styleguide/tsconfig.styleguide.json
  utils/test/garden-test-utils.js
  utils/test/garden-test-utils.tsx
  utils/test/getExports.js
  utils/test/jest.config.js
  utils/test/jest.d.ts
  utils/test/jest.resolver.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update ts-jest config to handle new tsconfig
  packages/dropdowns/src/Menu/Menu.tsx
  packages/dropdowns/src/index.ts
  packages/dropdowns/tsconfig.build.json
  tsconfig.json
  utils/styleguide/styleguide.base.config.js
  utils/styleguide/tsconfig.styleguide.json
  utils/test/jest.config.js
  utils/test/tsconfig.test.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update build to use ts-loader with babel
  babel.config.js
  package.json
  packages/dropdowns/package.json
  packages/dropdowns/styleguide.config.js
  packages/dropdowns/tsconfig.build.json
  tsconfig.json
  utils/build/webpack.base.js
  utils/scripts/build.sh
  utils/styleguide/styleguide.base.config.js
  utils/styleguide/tsconfig.styleguide.json
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Change types of garden and popper placements
  packages/dropdowns/src/Menu/Menu.tsx
  packages/dropdowns/src/styled/menu/StyledMenu.spec.tsx
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
  packages/dropdowns/src/utils/garden-placements.ts
  packages/dropdowns/src/utils/gardenPlacements.spec.ts
Due: none

Fix CIDTable component groupings
  utils/styleguide/CIDTable/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add `?dark` mode option for styleguide
  utils/styleguide/LinkRenderer/index.js
  utils/styleguide/Pre/index.js
  utils/styleguide/StyleGuideRenderer/index.js
  utils/styleguide/TableOfContentsRenderer/index.js
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Replace CSS color variables
  packages/avatars/src/Avatar.example.md
  packages/chrome/src/containers/AccordionContainer.example.md
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Inline.example.md
  packages/loaders/src/Skeleton.example.md
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Spinner.example.md
  packages/typography/package.json
  packages/typography/src/views/Code.js
  packages/typography/src/views/Code.spec.js
  utils/styleguide/LogoRenderer/index.js
  utils/styleguide/Pre/index.js
  utils/styleguide/StyleGuideRenderer/index.js
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Resolve `withTheme` warnings by adding default theme prop
  packages/theming/src/utils/withTheme.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Replace css-variables with theme variables
  package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/dropdowns/src/examples/menu.md
  packages/loaders/package.json
  packages/modals/src/elements/Modal.example.md
  packages/tables/package.json
  packages/tables/src/examples/advanced-table.md
  packages/tables/src/examples/draggable-table.md
  packages/tables/src/examples/overflow-menu.md
  packages/tables/src/examples/paginated-table.md
  packages/tables/src/examples/scrollable-table.md
  packages/tables/src/examples/selectable-table.md
  packages/tables/src/examples/sortable-table.md
  packages/tables/src/examples/standard-table.md
  packages/tables/src/examples/virtual-table.md
  packages/theming/src/theme/fonts.js
  packages/typography/package.json
  packages/typography/src/views/Code.spec.js
  packages/typography/src/views/LG.js
  packages/typography/src/views/MD.js
  packages/typography/src/views/SM.js
  packages/typography/src/views/XL.js
  packages/typography/src/views/XXL.js
  packages/typography/src/views/XXXL.js
  utils/styleguide/ArgumentsRenderer/index.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Update to use provided theme
  packages/loaders/src/Skeleton.js
  packages/typography/src/views/Code.js
  packages/typography/src/views/LG.js
  packages/typography/src/views/MD.js
  packages/typography/src/views/SM.js
  packages/typography/src/views/XL.js
  packages/typography/src/views/XXL.js
  packages/typography/src/views/XXXL.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use range dependencies
  packages/theming/package.json
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  packages/dropdowns/package.json
  packages/notifications/package.json
Due: prettier-package-json --write

Add v6.1.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

Restore styleguidist theme
  utils/styleguide/StyleGuideRenderer/index.js
  utils/styleguide/styleguide.base.config.js
  utils/styleguide/styles.css
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Get rid of "add examples" links
  utils/styleguide/ExamplePlaceholderRenderer/index.js
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix merge
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
  yarn.lock
Due: none

Remove css-variables
  utils/build/declarations.d.ts
Due: none

Base `border-radius` on correct theming value
  packages/loaders/src/Skeleton.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Replace with palette colors
  packages/dropdowns/src/examples/select.md
Due: prettier --write, markdownlint

Update container and move placeholder to spinner
  package.json
  packages/loaders/package.json
  packages/loaders/src/Spinner.js
  packages/loaders/src/Spinner.spec.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Path conditions:
  stylelint: any of: *.js
  eslint: any of: *.js
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.md)
  markdownlint: any of: *.md
  prettier-package-json --write: any of: **/package.json
