Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update prettier override
  .eslintrc.json
Due: none

Increase @types/react version in nested dependencies
  packages/modals/package.json
  packages/modals/yarn.lock
Due: prettier-package-json --write

Workaround browser fonts for monospace
  packages/typography/src/styled/StyledFont.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(modals): match tooltipmodal close with fade out transition
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/TooltipModal/TooltipModal.spec.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Prevent inherited pixel shifting
  packages/typography/src/styled/StyledFont.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update story demos
  packages/typography/stories/2-Code.stories.tsx
  packages/typography/stories/5-Paragraph.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove unused styleguidist examples
  packages/avatars/examples/advanced.md
  packages/avatars/examples/basic.md
  packages/typography/.size-snapshot.json
  packages/typography/examples/code.md
  packages/typography/examples/codeblock.md
  packages/typography/examples/ellipsis.md
  packages/typography/examples/lists.md
  packages/typography/examples/paragraph.md
  packages/typography/examples/span.md
  packages/typography/examples/typography.md
Due: none

Add monospace expect
  packages/typography/src/styled/StyledFont.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(typography): prevent monospace Code and Span from pixel shifting line heights (#1023)
  packages/avatars/examples/advanced.md
  packages/avatars/examples/basic.md
  packages/typography/.size-snapshot.json
  packages/typography/examples/code.md
  packages/typography/examples/codeblock.md
  packages/typography/examples/ellipsis.md
  packages/typography/examples/lists.md
  packages/typography/examples/paragraph.md
  packages/typography/examples/span.md
  packages/typography/examples/typography.md
  packages/typography/src/styled/StyledFont.spec.tsx
  packages/typography/src/styled/StyledFont.tsx
  packages/typography/stories/2-Code.stories.tsx
  packages/typography/stories/5-Paragraph.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Restructure dialog button and fix IE11 rendering
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/styled/ColorDialog/StyledDialogPreview.ts
  packages/colorpickers/src/styled/ColorDialog/StyledPreviewContainer.ts
  packages/colorpickers/src/styled/common/StyledCheckered.ts
  packages/colorpickers/stories/examples/ColorDialog/WithFormInput.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add focus inset prop to color dialog
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorDialog/index.tsx
  packages/colorpickers/src/styled/ColorDialog/StyledButton.ts
  packages/colorpickers/stories/examples/ColorDialog/WithFormInput.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Knock out prop controls
  packages/colorpickers/stories/examples/ColorDialog/WithFormInput.tsx
  packages/colorpickers/stories/examples/ColorDialog/WithIconButton.tsx
  packages/colorpickers/stories/examples/ColorPicker/Controlled.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Move ToastSlot props to transient values
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/toaster/ToastSlot.tsx
  packages/notifications/src/elements/toaster/styled.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add entry bounce
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/toaster/styled.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor sliders, leveraging underlying Range component
  packages/colorpickers/src/elements/ColorPicker/index.tsx
  packages/colorpickers/src/styled/ColorPicker/StyledAlpha.ts
  packages/colorpickers/src/styled/ColorPicker/StyledAlphaField.ts
  packages/colorpickers/src/styled/ColorPicker/StyledAlphaGradient.ts
  packages/colorpickers/src/styled/ColorPicker/StyledHue.ts
  packages/colorpickers/src/styled/ColorPicker/StyledHueField.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSliderGroup.ts
  packages/colorpickers/src/styled/common/StyledCheckered.ts
  packages/colorpickers/src/styled/common/StyledRange.ts
  packages/colorpickers/src/styled/common/trackStyles.ts
  packages/colorpickers/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.32.2 [skip ci]
  CHANGELOG.md
Due: none

Increase exit animation duraction
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/toaster/ToastSlot.tsx
  packages/notifications/src/elements/toaster/styled.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor checkered backgrounds
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorDialog/index.spec.tsx
  packages/colorpickers/src/elements/ColorDialog/index.tsx
  packages/colorpickers/src/elements/ColorPicker/index.spec.tsx
  packages/colorpickers/src/elements/ColorPicker/index.tsx
  packages/colorpickers/src/styled/ColorDialog/StyledButton.ts
  packages/colorpickers/src/styled/ColorDialog/StyledDialogPreview.ts
  packages/colorpickers/src/styled/ColorDialog/StyledPreviewContainer.ts
  packages/colorpickers/src/styled/ColorPicker/StyledAlpha.ts
  packages/colorpickers/src/styled/ColorPicker/StyledPreview.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSliderGroup.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSliders.ts
  packages/colorpickers/src/styled/common/StyledCheckered.ts
  packages/colorpickers/src/styled/common/StyledRange.ts
  packages/colorpickers/src/styled/common/checkeredBackground.ts
  packages/colorpickers/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(modals): fadeout tooltip modal
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/modals/src/styled/StyledTooltipModal.ts
  packages/modals/src/styled/StyledTooltipModalBackdrop.ts
  packages/modals/stories/4-TooltipModal.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(modals): upgrade container-modal version
  packages/modals/package.json
  packages/modals/yarn.lock
Due: prettier-package-json --write

Added testing
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/toaster/Toast.tsx
  packages/notifications/src/elements/toaster/ToastProvider.spec.tsx
  packages/notifications/src/elements/toaster/ToastSlot.spec.tsx
  packages/notifications/src/elements/toaster/ToastSlot.tsx
  packages/notifications/src/elements/toaster/reducer.ts
  packages/notifications/src/elements/toaster/styled.ts
  packages/notifications/src/elements/toaster/useToast.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(modals): upgrade container-modal version (#1025)
  packages/modals/package.json
  packages/modals/yarn.lock
Due: prettier-package-json --write

Fix typescript collision from merge
  packages/modals/package.json
  packages/modals/yarn.lock
Due: prettier-package-json --write

Improve examples and fix hex regex
  package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/styled/ColorpickerDialog/StyledButton.ts
  packages/colorpickers/src/utils/validation.ts
  packages/colorpickers/stories/examples/Colorpicker/Controlled.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/Controlled.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/Uncontrolled.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/WithFormInput.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/WithIconButton.tsx
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update size snapshot
  packages/colorpickers/.size-snapshot.json
Due: none

Story improvements
  packages/colorpickers/stories/examples/ColorpickerDialog/Controlled.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/Uncontrolled.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/WithFormInput.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/WithIconButton.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Get the right fixes in the right places
  packages/colorpickers/src/elements/Colorpicker/index.tsx
  packages/colorpickers/src/styled/Colorpicker/StyledColorWellGradient.ts
  packages/colorpickers/src/styled/Colorpicker/StyledColorWellThumb.ts
  packages/colorpickers/src/styled/Colorpicker/StyledColorWellWrapper.ts
  packages/colorpickers/src/styled/Colorpicker/StyledHueRange.ts
  packages/colorpickers/src/styled/Colorpicker/StyledInput.ts
  packages/colorpickers/src/styled/Colorpicker/StyledPreview.ts
  packages/colorpickers/src/styled/ColorpickerDialog/StyledButton.ts
  packages/colorpickers/src/styled/ColorpickerDialog/StyledButtonPreview.ts
  packages/colorpickers/src/styled/common/StyledRange.ts
  packages/forms/src/elements/Input.tsx
  packages/forms/src/styled/input-group/StyledInputGroup.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshots
  packages/colorpickers/.size-snapshot.json
  packages/forms/.size-snapshot.json
Due: none

Fix IE11 transform and bedrock sizing
  packages/colorpickers/src/styled/Colorpicker/StyledColorWellThumb.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Non-dialog colorpicker should not autofocus
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/Colorpicker/index.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Repair units
  packages/colorpickers/src/styled/Colorpicker/StyledColorWellThumb.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove unnecessary colorwell DOM
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/Colorpicker/ColorWell.tsx
  packages/colorpickers/src/styled/Colorpicker/StyledColorWell.spec.tsx
  packages/colorpickers/src/styled/Colorpicker/StyledColorWell.ts
  packages/colorpickers/src/styled/Colorpicker/StyledColorWellGradient.ts
  packages/colorpickers/src/styled/Colorpicker/StyledColorWellWrapper.ts
  packages/colorpickers/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Finesse to prevent range track peek behind thumb
  packages/colorpickers/src/styled/Colorpicker/StyledAlphaRange.ts
  packages/colorpickers/src/styled/Colorpicker/StyledHueRange.spec.tsx
  packages/colorpickers/src/styled/Colorpicker/StyledHueRange.ts
  packages/colorpickers/src/styled/common/StyledRange.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
