Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(dropdowns): controlled `Combobox` input value regression (#1735)
  package-lock.json
  packages/dropdowns/package.json
Due: prettier-package-json --write

chore(next): updates from `main` (#1738)
  docs/changelogs/v8.md
  package-lock.json
  packages/dropdowns/package.json
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.0.0-next.4 [skip ci]
  CHANGELOG.md
Due: none

Deprecate v8 getColor
  packages/theming/src/index.ts
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/getColor.spec.ts
  packages/theming/src/utils/getColor.ts
  packages/theming/src/utils/getFocusBoxShadow.spec.ts
  packages/theming/src/utils/getFocusBoxShadow.ts
  packages/theming/src/utils/menuStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: moves deprecation comments to component definitions
  packages/chrome/src/elements/footer/FooterItem.tsx
  packages/chrome/src/elements/header/HeaderItem.tsx
  packages/chrome/src/elements/header/HeaderItemIcon.tsx
  packages/chrome/src/elements/header/HeaderItemText.tsx
  packages/chrome/src/elements/header/HeaderItemWrapper.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/chrome/src/elements/nav/NavItemIcon.tsx
  packages/chrome/src/elements/nav/NavItemText.tsx
  packages/chrome/src/elements/subnav/CollapsibleSubNavItem.tsx
  packages/chrome/src/elements/subnav/SubNavItem.tsx
  packages/chrome/src/elements/subnav/SubNavItemText.tsx
  packages/chrome/src/index.ts
  packages/tabs/src/elements/Tab.tsx
  packages/tabs/src/elements/TabList.tsx
  packages/tabs/src/elements/TabPanel.tsx
  packages/tabs/src/index.ts
  packages/tooltips/src/elements/Paragraph.tsx
  packages/tooltips/src/elements/Title.tsx
  packages/tooltips/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: bumps styled-components peer dep to 5.3.1
  docs/migration.md
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

fix: moves deprecation comments to component definitions (#1739)
  packages/chrome/src/elements/footer/FooterItem.tsx
  packages/chrome/src/elements/header/HeaderItem.tsx
  packages/chrome/src/elements/header/HeaderItemIcon.tsx
  packages/chrome/src/elements/header/HeaderItemText.tsx
  packages/chrome/src/elements/header/HeaderItemWrapper.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/chrome/src/elements/nav/NavItemIcon.tsx
  packages/chrome/src/elements/nav/NavItemText.tsx
  packages/chrome/src/elements/subnav/CollapsibleSubNavItem.tsx
  packages/chrome/src/elements/subnav/SubNavItem.tsx
  packages/chrome/src/elements/subnav/SubNavItemText.tsx
  packages/chrome/src/index.ts
  packages/tabs/src/elements/Tab.tsx
  packages/tabs/src/elements/TabList.tsx
  packages/tabs/src/elements/TabPanel.tsx
  packages/tabs/src/index.ts
  packages/tooltips/src/elements/Paragraph.tsx
  packages/tooltips/src/elements/Title.tsx
  packages/tooltips/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: bumps styled-components peer dep to 5.3.1 (#1740)
  docs/migration.md
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

feat(grid): adds subcomponent mapping to react-grid
  docs/migration.md
  packages/grid/README.md
  packages/grid/demo/grid.stories.mdx
  packages/grid/demo/stories/GridStory.tsx
  packages/grid/src/elements/Col.tsx
  packages/grid/src/elements/Grid.tsx
  packages/grid/src/elements/Row.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fixes and packages updates
  package-lock.json
  packages/theming/package.json
  packages/theming/src/elements/theme/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/_getColor.spec.ts
  packages/theming/src/utils/_getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

feat(grid): adds subcomponent mapping to react-grid (#1741)
  docs/migration.md
  packages/grid/README.md
  packages/grid/demo/grid.stories.mdx
  packages/grid/demo/stories/GridStory.tsx
  packages/grid/src/elements/Col.tsx
  packages/grid/src/elements/Grid.tsx
  packages/grid/src/elements/Row.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Add chroma-js
  package-lock.json
  packages/theming/package.json
Due: prettier-package-json --write

fix(tables): moves deprecation comments to component definitions
  packages/tables/src/elements/Body.tsx
  packages/tables/src/elements/Caption.tsx
  packages/tables/src/elements/Cell.tsx
  packages/tables/src/elements/GroupRow.tsx
  packages/tables/src/elements/Head.tsx
  packages/tables/src/elements/HeaderCell.tsx
  packages/tables/src/elements/HeaderRow.tsx
  packages/tables/src/elements/OverflowButton.tsx
  packages/tables/src/elements/Row.tsx
  packages/tables/src/elements/SortableCell.tsx
  packages/tables/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: review fixes from @jzempel
  packages/forms/demo/checkbox.stories.mdx
Due: none

fix(tables): moves deprecation comments to component definitions (#1743)
  packages/tables/src/elements/Body.tsx
  packages/tables/src/elements/Caption.tsx
  packages/tables/src/elements/Cell.tsx
  packages/tables/src/elements/GroupRow.tsx
  packages/tables/src/elements/Head.tsx
  packages/tables/src/elements/HeaderCell.tsx
  packages/tables/src/elements/HeaderRow.tsx
  packages/tables/src/elements/OverflowButton.tsx
  packages/tables/src/elements/Row.tsx
  packages/tables/src/elements/SortableCell.tsx
  packages/tables/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: updates Grid.Row and Grid.Col references in stories
  packages/avatars/demo/~patterns/stories/MenuStory.tsx
  packages/avatars/demo/~patterns/stories/StatusMenuStory.tsx
  packages/chrome/demo/stories/SheetStory.tsx
  packages/chrome/demo/stories/SubNavCollapsibleItem.tsx
  packages/colorpickers/demo/stories/ColorPickerDialogStory.tsx
  packages/colorpickers/demo/stories/ColorSwatchDialogStory.tsx
  packages/datepickers/demo/stories/DatePickerRangeStory.tsx
  packages/datepickers/demo/stories/DatePickerStory.tsx
  packages/dropdowns.legacy/demo/stories/DropdownStory.tsx
  packages/dropdowns.legacy/demo/~patterns/stories/MenuStory.tsx
  packages/dropdowns/demo/stories/ComboboxStory.tsx
  packages/dropdowns/demo/stories/MenuStory.tsx
  packages/dropdowns/demo/~patterns/stories/MenuButtonStory.tsx
  packages/dropdowns/demo/~patterns/stories/MenuNestedStory.tsx
  packages/forms/demo/stories/TilesStory.tsx
  packages/modals/demo/stories/TooltipModalStory.tsx
  packages/notifications/demo/stories/ToastStory.tsx
  packages/theming/demo/stories/MenuStylesStory.tsx
  packages/tooltips/demo/stories/TooltipStory.tsx
  packages/typography/demo/stories/data.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update subcomponents
  packages/theming/demo/~patterns/stories/PaletteStory.tsx
  packages/theming/demo/~patterns/stories/components/Header.tsx
  packages/theming/demo/~patterns/stories/components/Nav.tsx
  packages/theming/demo/~patterns/stories/components/Tokens.tsx
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

More subcomponents
  packages/theming/demo/~patterns/stories/components/Fields.tsx
  packages/theming/demo/~patterns/stories/components/Table.tsx
  packages/theming/demo/~patterns/stories/components/Tokens.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: updates Grid.Row and Grid.Col references in stories (#1744)
  packages/avatars/demo/~patterns/stories/MenuStory.tsx
  packages/avatars/demo/~patterns/stories/StatusMenuStory.tsx
  packages/chrome/demo/stories/SheetStory.tsx
  packages/chrome/demo/stories/SubNavCollapsibleItem.tsx
  packages/colorpickers/demo/stories/ColorPickerDialogStory.tsx
  packages/colorpickers/demo/stories/ColorSwatchDialogStory.tsx
  packages/datepickers/demo/stories/DatePickerRangeStory.tsx
  packages/datepickers/demo/stories/DatePickerStory.tsx
  packages/dropdowns.legacy/demo/stories/DropdownStory.tsx
  packages/dropdowns.legacy/demo/~patterns/stories/MenuStory.tsx
  packages/dropdowns/demo/stories/ComboboxStory.tsx
  packages/dropdowns/demo/stories/MenuStory.tsx
  packages/dropdowns/demo/~patterns/stories/MenuButtonStory.tsx
  packages/dropdowns/demo/~patterns/stories/MenuNestedStory.tsx
  packages/forms/demo/stories/TilesStory.tsx
  packages/modals/demo/stories/TooltipModalStory.tsx
  packages/notifications/demo/stories/ToastStory.tsx
  packages/theming/demo/stories/MenuStylesStory.tsx
  packages/tooltips/demo/stories/TooltipStory.tsx
  packages/typography/demo/stories/data.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Rename getColor => _getColor
  packages/theming/src/index.ts
  packages/theming/src/utils/_getColor.spec.ts
  packages/theming/src/utils/_getColor.ts
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/getFocusBoxShadow.spec.ts
  packages/theming/src/utils/getFocusBoxShadow.ts
  packages/theming/src/utils/menuStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Revert unintended search-replace
  packages/colorpickers/src/styled/ColorPicker/StyledColorPicker.ts
  packages/dropdowns.legacy/src/styled/items/StyledItem.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Remove `focusVisibleRef` prop
  packages/chrome/demo/stories/SheetStory.tsx
  packages/theming/src/elements/ThemeProvider.spec.tsx
  packages/theming/src/elements/ThemeProvider.tsx
  packages/theming/src/types/index.ts
  utils/test/garden-test-utils.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Add prop removal to the migration guide
  docs/migration.md
Due: none

feat(dropdowns): adds subcomponent mapping to Field
  docs/migration.md
  packages/dropdowns/README.md
  packages/dropdowns/demo/combobox.stories.mdx
  packages/dropdowns/demo/stories/ComboboxStory.tsx
  packages/dropdowns/demo/~patterns/stories/ListboxStory.tsx
  packages/dropdowns/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns/src/elements/combobox/Field.tsx
  packages/dropdowns/src/elements/combobox/Hint.tsx
  packages/dropdowns/src/elements/combobox/Label.tsx
  packages/dropdowns/src/elements/combobox/Message.tsx
  packages/dropdowns/src/views/combobox/StyledHint.ts
  packages/dropdowns/src/views/combobox/StyledLabel.ts
  packages/dropdowns/src/views/combobox/StyledMessage.ts
  packages/typography/demo/stories/data.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(dropdowns): adds subcomponent mapping to Field (#1745)
  docs/migration.md
  packages/dropdowns/README.md
  packages/dropdowns/demo/combobox.stories.mdx
  packages/dropdowns/demo/stories/ComboboxStory.tsx
  packages/dropdowns/demo/~patterns/stories/ListboxStory.tsx
  packages/dropdowns/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns/src/elements/combobox/Field.tsx
  packages/dropdowns/src/elements/combobox/Hint.tsx
  packages/dropdowns/src/elements/combobox/Label.tsx
  packages/dropdowns/src/elements/combobox/Message.tsx
  packages/dropdowns/src/views/combobox/StyledHint.ts
  packages/dropdowns/src/views/combobox/StyledLabel.ts
  packages/dropdowns/src/views/combobox/StyledMessage.ts
  packages/typography/demo/stories/data.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming)!: remove `focusVisibleRef` prop and polyfill scoping element (#1747)
  docs/migration.md
  packages/chrome/demo/stories/SheetStory.tsx
  packages/theming/src/elements/ThemeProvider.spec.tsx
  packages/theming/src/elements/ThemeProvider.tsx
  packages/theming/src/types/index.ts
  utils/test/garden-test-utils.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Improve palette parsing and upgrade with the latest
  packages/theming/demo/~patterns/stories/components/Palette.tsx
  packages/theming/src/elements/palette/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update with 12 step `PALETTE` hues
  packages/theming/src/elements/palette/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/palette/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(notifications): adds subcomponent mapping
  docs/migration.md
  packages/notifications/README.md
  packages/notifications/demo/alert.stories.mdx
  packages/notifications/demo/notification.stories.mdx
  packages/notifications/demo/stories/AlertStory.tsx
  packages/notifications/demo/stories/NotificationStory.tsx
  packages/notifications/demo/stories/WellStory.tsx
  packages/notifications/demo/well.stories.mdx
  packages/notifications/src/elements/Alert.tsx
  packages/notifications/src/elements/Notification.tsx
  packages/notifications/src/elements/Well.tsx
  packages/notifications/src/elements/content/Close.tsx
  packages/notifications/src/elements/content/Paragraph.tsx
  packages/notifications/src/elements/content/Title.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update color unit tests
  packages/accordions/src/styled/accordion/StyledButton.spec.tsx
  packages/accordions/src/styled/accordion/StyledHeader.spec.tsx
  packages/chrome/src/elements/subnav/SubNav.spec.tsx
  packages/chrome/src/elements/subnav/SubNavItem.spec.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.spec.tsx
  packages/forms/src/elements/input-group/InputGroup.spec.tsx
  packages/loaders/src/elements/Skeleton.spec.tsx
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/utils/_getColor.spec.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(notifications): adds subcomponent mapping (#1748)
  docs/migration.md
  packages/notifications/README.md
  packages/notifications/demo/alert.stories.mdx
  packages/notifications/demo/notification.stories.mdx
  packages/notifications/demo/stories/AlertStory.tsx
  packages/notifications/demo/stories/NotificationStory.tsx
  packages/notifications/demo/stories/WellStory.tsx
  packages/notifications/demo/well.stories.mdx
  packages/notifications/src/elements/Alert.tsx
  packages/notifications/src/elements/Notification.tsx
  packages/notifications/src/elements/Well.tsx
  packages/notifications/src/elements/content/Close.tsx
  packages/notifications/src/elements/content/Paragraph.tsx
  packages/notifications/src/elements/content/Title.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update theme with new palette values
  .storybook/preview.js
  packages/chrome/src/elements/subnav/SubNav.spec.tsx
  packages/forms/src/styled/file-list/StyledFileClose.spec.tsx
  packages/forms/src/styled/text/StyledTextInput.spec.tsx
  packages/forms/src/styled/text/StyledTextMediaInput.spec.tsx
  packages/tags/src/styled/StyledTag.ts
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/theme/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming)!: update `PALETTE` with redesigned 100-1200 shades (#1749)
  .storybook/preview.js
  packages/accordions/src/styled/accordion/StyledButton.spec.tsx
  packages/accordions/src/styled/accordion/StyledHeader.spec.tsx
  packages/chrome/src/elements/subnav/SubNav.spec.tsx
  packages/chrome/src/elements/subnav/SubNavItem.spec.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.spec.tsx
  packages/forms/src/elements/input-group/InputGroup.spec.tsx
  packages/forms/src/styled/file-list/StyledFileClose.spec.tsx
  packages/forms/src/styled/text/StyledTextInput.spec.tsx
  packages/forms/src/styled/text/StyledTextMediaInput.spec.tsx
  packages/loaders/src/elements/Skeleton.spec.tsx
  packages/tags/src/styled/StyledTag.ts
  packages/theming/src/elements/palette/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/palette/index.ts
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/theme/index.ts
  packages/theming/src/utils/_getColor.spec.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
