Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0 --ignore-pattern !.storybook",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

docs(pane): rename pane folder and story to paneprovider
  packages/grid/.size-snapshot.json
  packages/grid/README.md
  packages/grid/demo/pane.stories.mdx
  packages/grid/demo/stories/PaneProviderStory.tsx
  packages/grid/src/elements/pane/Pane.spec.tsx
  packages/grid/src/elements/pane/Pane.tsx
  packages/grid/src/elements/pane/PaneProvider.spec.tsx
  packages/grid/src/elements/pane/PaneProvider.tsx
  packages/grid/src/elements/pane/components/Content.spec.tsx
  packages/grid/src/elements/pane/components/Content.tsx
  packages/grid/src/elements/pane/components/Splitter.spec.tsx
  packages/grid/src/elements/pane/components/Splitter.tsx
  packages/grid/src/index.ts
  packages/grid/src/styled/index.ts
  packages/grid/src/styled/pane/StyledPane.ts
  packages/grid/src/styled/pane/StyledPaneContent.ts
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(splitter): add splitter component (#1339)
  packages/grid/.size-snapshot.json
  packages/grid/README.md
  packages/grid/demo/pane.stories.mdx
  packages/grid/demo/stories/PaneProviderStory.tsx
  packages/grid/demo/stories/data.ts
  packages/grid/demo/stories/types.ts
  packages/grid/package.json
  packages/grid/src/elements/pane/Pane.spec.tsx
  packages/grid/src/elements/pane/Pane.tsx
  packages/grid/src/elements/pane/PaneProvider.spec.tsx
  packages/grid/src/elements/pane/PaneProvider.tsx
  packages/grid/src/elements/pane/components/Content.spec.tsx
  packages/grid/src/elements/pane/components/Content.tsx
  packages/grid/src/elements/pane/components/Splitter.spec.tsx
  packages/grid/src/elements/pane/components/Splitter.tsx
  packages/grid/src/index.ts
  packages/grid/src/styled/index.ts
  packages/grid/src/styled/pane/StyledPane.ts
  packages/grid/src/styled/pane/StyledPaneContent.ts
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/grid/src/types/index.ts
  packages/grid/src/utils/usePaneContext.spec.tsx
  packages/grid/src/utils/usePaneContext.ts
  packages/grid/src/utils/useSplitterContext.spec.tsx
  packages/grid/src/utils/useSplitterContext.ts
  packages/grid/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Replace `document` calls with `gridRef.current`
  packages/colorpickers/src/elements/ColorSwatch/index.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(forms): conditionally render aria-describedby when field has hint (#1349)
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/common/Field.spec.tsx
  packages/forms/src/elements/common/Field.tsx
  packages/forms/src/elements/common/Hint.tsx
  packages/forms/src/utils/useFieldContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(examples): remove
  .github/ISSUE_TEMPLATE.md
  examples/codesandbox/.env
  examples/codesandbox/.gitignore
  examples/codesandbox/.prettierrc
  examples/codesandbox/package.json
  examples/codesandbox/public/favicon.ico
  examples/codesandbox/public/index.html
  examples/codesandbox/public/manifest.json
  examples/codesandbox/src/components/ExampleWrapper.js
  examples/codesandbox/src/examples/Example.js
  examples/codesandbox/src/index.js
  examples/codesandbox/yarn.lock
  examples/gatsby/.gitignore
  examples/gatsby/gatsby-config.js
  examples/gatsby/package.json
  examples/gatsby/src/pages/index.js
  examples/gatsby/static/favicon.ico
  examples/gatsby/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.9387788b.iframe.bundle.js
  main.f6de3abd.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.8cd3a1a0.iframe.bundle.js
  main.9387788b.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.51.0 [skip ci]
  CHANGELOG.md
Due: none

Update container-grid to v1.0.0
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/colorpickers/yarn.lock
Due: prettier-package-json --write

chore(examples): remove (#1354)
  .github/ISSUE_TEMPLATE.md
  examples/codesandbox/.env
  examples/codesandbox/.gitignore
  examples/codesandbox/.prettierrc
  examples/codesandbox/package.json
  examples/codesandbox/public/favicon.ico
  examples/codesandbox/public/index.html
  examples/codesandbox/public/manifest.json
  examples/codesandbox/src/components/ExampleWrapper.js
  examples/codesandbox/src/examples/Example.js
  examples/codesandbox/src/index.js
  examples/codesandbox/yarn.lock
  examples/gatsby/.gitignore
  examples/gatsby/gatsby-config.js
  examples/gatsby/package.json
  examples/gatsby/src/pages/index.js
  examples/gatsby/static/favicon.ico
  examples/gatsby/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Add `useText` utility
  packages/theming/src/utils/useText.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add `useText` tests
  packages/theming/src/utils/useText.spec.tsx
  packages/theming/src/utils/useText.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(multiselect): add useDocument
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Convert from a hook to a simple utility
  packages/theming/.size-snapshot.json
  packages/theming/src/index.ts
  packages/theming/src/utils/getText.ts
  packages/theming/src/utils/useText.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update `getText` testing
  packages/theming/src/utils/getText.spec.tsx
  packages/theming/src/utils/getText.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add useId dependency
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/grid/yarn.lock
Due: prettier-package-json --write

Update story for consistency
  packages/grid/.size-snapshot.json
  packages/grid/demo/pane.stories.mdx
  packages/grid/demo/stories/PaneProviderStory.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix PaneProviderContext `value` construct
  packages/grid/.size-snapshot.json
  packages/grid/src/elements/pane/PaneProvider.tsx
  packages/grid/src/elements/pane/components/Splitter.tsx
  packages/grid/src/utils/usePaneProviderContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update with enhanced `PaneProviderContext` that supports nested layouts
  packages/grid/demo/pane.stories.mdx
  packages/grid/src/elements/pane/PaneProvider.spec.tsx
  packages/grid/src/elements/pane/PaneProvider.tsx
  packages/grid/src/elements/pane/components/Splitter.tsx
  packages/grid/src/types/index.ts
  packages/grid/src/utils/usePaneProviderContext.ts
  packages/grid/src/utils/useSplitterContext.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Merge with splitter -> pane rename
  packages/grid/demo/pane.stories.mdx
Due: none

Remove no-value test
  packages/grid/src/utils/usePaneContext.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Revert from simple utility back to hook
  packages/theming/src/index.ts
  packages/theming/src/utils/getText.ts
  packages/theming/src/utils/useText.spec.tsx
  packages/theming/src/utils/useText.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Rename for consistency with other stories
  packages/grid/.size-snapshot.json
  packages/grid/demo/paneProvider.stories.mdx
Due: none

feat(pane): add providerId
  packages/grid/demo/~patterns/patterns.stories.mdx
  packages/grid/demo/~patterns/stories/CardStory.tsx
  packages/grid/demo/~patterns/stories/data.ts
  packages/grid/demo/~patterns/stories/types.ts
  packages/grid/package.json
  packages/grid/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Utilize `useText` for aria-label values
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/demo/breadcrumb.stories.mdx
  packages/breadcrumbs/src/elements/Breadcrumb.tsx
  packages/modals/.size-snapshot.json
  packages/modals/demo/drawerModal.stories.mdx
  packages/modals/demo/modal.stories.mdx
  packages/modals/demo/stories/DrawerModalStory.tsx
  packages/modals/demo/stories/ModalStory.tsx
  packages/modals/demo/stories/TooltipModalStory.tsx
  packages/modals/demo/tooltipModal.stories.mdx
  packages/modals/src/elements/Close.tsx
  packages/modals/src/elements/DrawerModal/Close.tsx
  packages/modals/src/elements/DrawerModal/DrawerModal.spec.tsx
  packages/modals/src/elements/TooltipModal/Close.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update size snapshot
  packages/theming/.size-snapshot.json
Due: none

fix(multiselect): add useDocument (#1355)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.5082849d.iframe.bundle.js
  main.8cd3a1a0.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

test(pane): add more tests for pane
  packages/grid/.size-snapshot.json
  packages/grid/demo/~patterns/stories/CardStory.tsx
  packages/grid/src/elements/pane/PaneProvider.spec.tsx
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(pane): add providerId (#1356)
  packages/grid/.size-snapshot.json
  packages/grid/demo/paneProvider.stories.mdx
  packages/grid/demo/stories/PaneProviderStory.tsx
  packages/grid/demo/~patterns/patterns.stories.mdx
  packages/grid/demo/~patterns/stories/CardStory.tsx
  packages/grid/demo/~patterns/stories/data.ts
  packages/grid/demo/~patterns/stories/types.ts
  packages/grid/package.json
  packages/grid/src/elements/pane/PaneProvider.spec.tsx
  packages/grid/src/elements/pane/PaneProvider.tsx
  packages/grid/src/elements/pane/components/Splitter.tsx
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/grid/src/types/index.ts
  packages/grid/src/utils/usePaneContext.spec.tsx
  packages/grid/src/utils/usePaneProviderContext.ts
  packages/grid/src/utils/useSplitterContext.spec.tsx
  packages/grid/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

feat(theming,breadcrumbs,modals): add `useText` utility (#1357)
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/demo/breadcrumb.stories.mdx
  packages/breadcrumbs/src/elements/Breadcrumb.tsx
  packages/modals/.size-snapshot.json
  packages/modals/demo/drawerModal.stories.mdx
  packages/modals/demo/modal.stories.mdx
  packages/modals/demo/stories/DrawerModalStory.tsx
  packages/modals/demo/stories/ModalStory.tsx
  packages/modals/demo/stories/TooltipModalStory.tsx
  packages/modals/demo/tooltipModal.stories.mdx
  packages/modals/src/elements/Close.tsx
  packages/modals/src/elements/DrawerModal/Close.tsx
  packages/modals/src/elements/DrawerModal/DrawerModal.spec.tsx
  packages/modals/src/elements/TooltipModal/Close.tsx
  packages/theming/.size-snapshot.json
  packages/theming/src/index.ts
  packages/theming/src/utils/useText.spec.tsx
  packages/theming/src/utils/useText.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.52.0 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  iframe.html
  main.c28dd571.iframe.bundle.js
  main.d50e1274.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(avatars): extend bage prop
  packages/avatars/.size-snapshot.json
  packages/avatars/demo/avatar.stories.mdx
  packages/avatars/demo/stories/AvatarStory.tsx
  packages/avatars/demo/stories/data.ts
  packages/avatars/src/elements/Avatar.spec.tsx
  packages/avatars/src/elements/Avatar.tsx
  packages/avatars/src/elements/components/Badge.tsx
  packages/avatars/src/elements/components/StatusIndicator.tsx
  packages/avatars/src/styled/StyledAvatar.spec.tsx
  packages/avatars/src/styled/StyledAvatar.ts
  packages/avatars/src/styled/StyledBadge.spec.tsx
  packages/avatars/src/styled/StyledBadge.ts
  packages/avatars/src/styled/StyledStatusIndicator.spec.tsx
  packages/avatars/src/styled/StyledStatusIndicator.ts
  packages/avatars/src/types/index.ts
  packages/avatars/src/utils/index.ts
  packages/avatars/src/utils/useAvatarContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write
