Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Show start icon for Select stories
  packages/dropdowns/stories/examples/Select/Advanced.tsx
  packages/dropdowns/stories/examples/Select/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Restore placeholder
  packages/dropdowns/stories/examples/Multiselect/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use tag icon
  packages/dropdowns/stories/examples/Multiselect/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add missing react-popper peer dependency
  packages/colorpickers/package.json
Due: prettier-package-json --write

fix(colorpickers): add missing react-popper peer dependency (#1043)
  packages/colorpickers/package.json
Due: prettier-package-json --write

fix(modals): use nodeRef for drawer transition and add strict mode check
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/DrawerModal/DrawerModal.spec.tsx
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(dropdowns): migrate react-dropdowns to Storybook (#1037)
  demo/index.html
  packages/dropdowns/README.md
  packages/dropdowns/examples/advanced-menu.md
  packages/dropdowns/examples/advanced-select.md
  packages/dropdowns/examples/autocomplete.md
  packages/dropdowns/examples/basic-menu.md
  packages/dropdowns/examples/basic-select.md
  packages/dropdowns/examples/examples.md
  packages/dropdowns/examples/field-variants.md
  packages/dropdowns/examples/multiselect.md
  packages/dropdowns/examples/tree-menu.md
  packages/dropdowns/package.json
  packages/dropdowns/stories/1-Readme.stories.mdx
  packages/dropdowns/stories/2-Menu.stories.tsx
  packages/dropdowns/stories/3-Select.stories.tsx
  packages/dropdowns/stories/4-Autocomplete.stories.tsx
  packages/dropdowns/stories/5-Multiselect.stories.tsx
  packages/dropdowns/stories/examples/Autocomplete/Default.tsx
  packages/dropdowns/stories/examples/Menu/Advanced.tsx
  packages/dropdowns/stories/examples/Menu/Default.tsx
  packages/dropdowns/stories/examples/Menu/Icon.tsx
  packages/dropdowns/stories/examples/Menu/Tree.tsx
  packages/dropdowns/stories/examples/Multiselect/Default.tsx
  packages/dropdowns/stories/examples/Select/Advanced.tsx
  packages/dropdowns/stories/examples/Select/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(modals|notifications): ensure react-transition-group usage works in StrictMode
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/toaster/ToastSlot.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix range story boolean prop type
  packages/forms/stories/10-Range.stories.tsx
  packages/forms/stories/11-MultiThumbRange.stories.tsx
  packages/forms/stories/story-types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix ref typo
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Demonstrate hidden labels in dropdown examples
  packages/dropdowns/stories/examples/Autocomplete/Default.tsx
  packages/dropdowns/stories/examples/Multiselect/Default.tsx
  packages/dropdowns/stories/examples/Select/Advanced.tsx
  packages/dropdowns/stories/examples/Select/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(forms): add support for accessibly hidden labels (#1041)
  packages/datepickers/stories/3-Range.stories.tsx
  packages/datepickers/stories/examples/Default.tsx
  packages/dropdowns/stories/examples/Autocomplete/Default.tsx
  packages/dropdowns/stories/examples/Multiselect/Default.tsx
  packages/dropdowns/stories/examples/Select/Advanced.tsx
  packages/dropdowns/stories/examples/Select/Default.tsx
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/common/StyledLabel.spec.tsx
  packages/forms/src/styled/common/StyledLabel.ts
  packages/forms/src/styled/common/StyledMessage.spec.tsx
  packages/forms/src/styled/common/StyledMessage.ts
  packages/forms/src/styled/file-upload/StyledFileUpload.ts
  packages/forms/src/styled/input-group/StyledInputGroup.ts
  packages/forms/src/styled/radio/StyledRadioLabel.ts
  packages/forms/src/styled/range/StyledRangeInput.spec.tsx
  packages/forms/src/styled/range/StyledRangeInput.ts
  packages/forms/src/styled/range/StyledSlider.spec.tsx
  packages/forms/src/styled/range/StyledSlider.ts
  packages/forms/src/styled/text/StyledTextFauxInput.ts
  packages/forms/src/styled/text/StyledTextInput.ts
  packages/forms/stories/10-Range.stories.tsx
  packages/forms/stories/11-MultiThumbRange.stories.tsx
  packages/forms/stories/13-InputGroup.stories.tsx
  packages/forms/stories/14-FileUpload.stories.tsx
  packages/forms/stories/2-Input.stories.tsx
  packages/forms/stories/3-Textarea.stories.tsx
  packages/forms/stories/4-MediaInput.stories.tsx
  packages/forms/stories/5-FauxInput.stories.tsx
  packages/forms/stories/6-Select.stories.tsx
  packages/forms/stories/story-types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(modals|notifications): ensure react-transition-group usage works with StrictMode (#1046)
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/toaster/ToastSlot.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.34.0 [skip ci]
  CHANGELOG.md
Due: none

chore(docs): migrate react-grid to storybook
  demo/index.html
  packages/grid/README.md
  packages/grid/examples/advanced.md
  packages/grid/examples/basic.md
  packages/grid/package.json
  packages/grid/stories/1-Readme.stories.mdx
  packages/grid/stories/2-Grid.stories.tsx
  packages/grid/stories/examples/Default.tsx
  packages/grid/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Remove surrounding Grid and simplify layout
  packages/grid/stories/examples/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update package scripts and demo pages
  .circleci/config.yml
  .gitignore
  demo/index.html
  demo/index.svg
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(docs): migrate react-grid to storybook (#1047)
  demo/index.html
  packages/grid/README.md
  packages/grid/examples/advanced.md
  packages/grid/examples/basic.md
  packages/grid/package.json
  packages/grid/stories/1-Readme.stories.mdx
  packages/grid/stories/2-Grid.stories.tsx
  packages/grid/stories/examples/Default.tsx
  packages/grid/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Use evergreen link to bedrock css
  .storybook/preview-head.html
  .storybook/preview.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): use evergreen bedrock CSS link (#1049)
  .storybook/preview-head.html
  .storybook/preview.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Prevent arial font-family default
  packages/accordions/src/styled/accordion/StyledButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add missing font styling
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/stepper/StyledInnerContent.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Prevent global storybook styling from bleeding into component demos
  .storybook/preview.js
  packages/accordions/.size-snapshot.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add missing font styling
  packages/accordions/src/styled/stepper/StyledInnerContent.ts
  packages/accordions/src/styled/stepper/StyledLabel.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add missing transition
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/stepper/StyledIcon.ts
  packages/accordions/src/styled/stepper/StyledLabel.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use acorrect theme color key
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/stepper/StyledIcon.spec.tsx
  packages/accordions/src/styled/stepper/StyledLabel.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(modals): allow pointer-events to pass through fading tooltip modal
  packages/modals/.size-snapshot.json
  packages/modals/src/styled/StyledTooltipModalBackdrop.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): upgrade styled-components to v5
  package.json
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  packages/loaders/src/elements/Dots.spec.tsx
  packages/loaders/src/elements/Spinner.spec.tsx
  packages/pagination/.size-snapshot.json
  packages/pagination/src/styled/Pagination/StyledPage.spec.tsx
  packages/pagination/src/styled/Pagination/StyledPage.ts
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(accordions): stepper and accordion typeface styling (#1050)
  .storybook/preview.js
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/accordion/StyledButton.ts
  packages/accordions/src/styled/stepper/StyledIcon.spec.tsx
  packages/accordions/src/styled/stepper/StyledIcon.ts
  packages/accordions/src/styled/stepper/StyledInnerContent.ts
  packages/accordions/src/styled/stepper/StyledLabel.spec.tsx
  packages/accordions/src/styled/stepper/StyledLabel.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
