Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(sheet): add placement to example and update animation to correctly move inner wrapper
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/styled/sheet/StyledSheet.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheet.ts
  packages/chrome/src/styled/sheet/StyledSheetWrapper.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheetWrapper.ts
  packages/chrome/stories/examples/Sheet.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(sheet): use foreground color
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/sheet/StyledSheet.ts
  packages/chrome/src/styled/sheet/StyledSheetTitle.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(buttons): Remove repeated word from prop description
  packages/buttons/src/elements/Anchor.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor `new` script
  utils/scripts/new.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update template stories
  .storybook/preview.js
  package.json
  packages/.template/.size-snapshot.json
  packages/.template/README.md
  packages/.template/package.json
  packages/.template/stories/1-Readme.stories.mdx
  packages/.template/stories/2-Example.stories.tsx
  packages/.template/stories/_readme.stories.mdx
  packages/.template/stories/{{lowercase component}}.stories.mdx
  packages/.template/yarn.lock
  utils/scripts/new.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Sensible imports
  packages/forms/src/elements/file-list/FileList.spec.tsx
  packages/forms/src/elements/file-list/components/Close.spec.tsx
  packages/forms/src/elements/file-list/components/Delete.spec.tsx
  packages/forms/src/elements/file-list/components/File.spec.tsx
  packages/forms/src/elements/file-list/components/Item.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use jest mocks
  packages/forms/src/elements/file-list/components/Close.spec.tsx
  packages/forms/src/elements/file-list/components/Delete.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update spacing
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/file-list/StyledFile.ts
  packages/forms/src/styled/file-upload/StyledFileUpload.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(forms): add File component enhancements (#1249)
  .husky/pre-commit
  .lintstagedrc
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/file-list/FileList.spec.tsx
  packages/forms/src/elements/file-list/components/Close.spec.tsx
  packages/forms/src/elements/file-list/components/Delete.spec.tsx
  packages/forms/src/elements/file-list/components/Delete.tsx
  packages/forms/src/elements/file-list/components/File.spec.tsx
  packages/forms/src/elements/file-list/components/File.tsx
  packages/forms/src/elements/file-list/components/Item.spec.tsx
  packages/forms/src/elements/file-list/components/Item.tsx
  packages/forms/src/elements/file-list/utils.tsx
  packages/forms/src/styled/file-list/StyledFile.spec.tsx
  packages/forms/src/styled/file-list/StyledFile.ts
  packages/forms/src/styled/file-list/StyledFileClose.spec.tsx
  packages/forms/src/styled/file-list/StyledFileClose.ts
  packages/forms/src/styled/file-list/StyledFileDelete.spec.tsx
  packages/forms/src/styled/file-list/StyledFileDelete.ts
  packages/forms/src/styled/file-list/StyledFileIcon.spec.tsx
  packages/forms/src/styled/file-list/StyledFileIcon.ts
  packages/forms/src/styled/file-list/StyledFileList.spec.tsx
  packages/forms/src/styled/file-list/StyledFileListItem.spec.tsx
  packages/forms/src/styled/file-list/StyledFileListItem.ts
  packages/forms/src/styled/file-upload/StyledFileUpload.ts
  packages/forms/src/styled/index.ts
  packages/forms/src/utils/useFileContext.ts
  packages/forms/stories/14-FileUpload.stories.tsx
  packages/forms/stories/16-FileList.stories.tsx
  packages/forms/stories/story-types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update template element components
  package.json
  packages/.template/src/elements/Example.tsx
  packages/.template/src/elements/{{capitalize component}}.tsx
  packages/.template/src/index.ts
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Add template subcomponent
  packages/.template/README.md
  packages/.template/src/elements/{{capitalize component}}.tsx
  packages/.template/src/elements/{{capitalize component}}Text.tsx
  packages/.template/src/styled/Styled{{capitalize component}}.ts
  packages/.template/src/styled/Styled{{capitalize component}}Text.ts
  packages/.template/src/styled/index.ts
  packages/.template/stories/{{lowercase component}}.stories.mdx
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update template tests
  packages/.template/src/elements/Example.spec.tsx
  packages/.template/src/elements/{{capitalize component}}.spec.tsx
  packages/.template/src/styled/Styled{{capitalize component}}.spec.tsx
  packages/.template/src/styled/Styled{{capitalize component}}.ts
  packages/.template/src/styled/Styled{{capitalize component}}Text.spec.tsx
  packages/.template/stories/{{lowercase component}}.stories.mdx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.46.0 [skip ci]
  CHANGELOG.md
Due: none

Fix prettier format check
  package.json
Due: prettier-package-json --write

Configure storybook to process package "demo" folders
  .eslintrc.json
  .markdownlintrc
  .storybook/main.js
  package.json
  packages/accords/.size-snapshot.json
  tsconfig.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Initial accordion stories
  packages/accordions/demo/_readme.stories.mdx
  packages/accordions/demo/accordion.stories.mdx
  packages/accordions/demo/stories/data.ts
  packages/accords/.size-snapshot.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor accordion and stepper stories
  package.json
  packages/accordions/demo/accordion.stories.mdx
  packages/accordions/demo/stepper.stories.mdx
  packages/accordions/demo/stories/AccordionStory.tsx
  packages/accordions/demo/stories/StepperStory.tsx
  packages/accordions/demo/stories/data.ts
  packages/accordions/demo/stories/types.ts
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/src/elements/stepper/Stepper.tsx
  packages/accordions/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Refactor timeline story demo
  packages/accordions/demo/stepper.stories.mdx
  packages/accordions/demo/stories/StepperStory.tsx
  packages/accordions/demo/stories/TimelineStory.tsx
  packages/accordions/demo/stories/data.ts
  packages/accordions/demo/stories/types.ts
  packages/accordions/demo/timeline.stories.mdx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update template
  packages/.template/stories/{{lowercase component}}.stories.mdx
  packages/accordions/stories/1-Readme.stories.mdx
  packages/accordions/stories/2-Accordion.stories.tsx
  packages/accordions/stories/3-Stepper.stories.tsx
  packages/accordions/stories/4-Timeline.stories.tsx
  packages/accordions/stories/examples/Controlled.tsx
  packages/accordions/stories/examples/Uncontrolled.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update template
  packages/.template/demo/_readme.stories.mdx
  packages/.template/demo/{{lowercase component}}.stories.mdx
Due: none

Update formatting/linting
  .lintstagedrc
  package.json
  packages/avatars/stories/1-Readme.stories.mdx
  packages/breadcrumbs/stories/1-Readme.stories.mdx
  packages/tables/stories/1-Readme.stories.mdx
  packages/tabs/stories/Readme.stories.mdx
  packages/theming/stories/3-Utils.stories.mdx
  packages/tooltips/stories/1-Readme.stories.mdx
Due: prettier-package-json --write

Refactor tooltip demo stories
  packages/tooltips/demo/_readme.stories.mdx
  packages/tooltips/demo/stories/TooltipStory.tsx
  packages/tooltips/demo/stories/data.ts
  packages/tooltips/demo/stories/types.ts
  packages/tooltips/demo/tooltip.stories.mdx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove refactored stories
  packages/tooltips/stories/1-Readme.stories.mdx
  packages/tooltips/stories/2-Tooltip.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor breadcrumb demo stories
  packages/.template/demo/{{lowercase component}}.stories.mdx
  packages/breadcrumbs/demo/_readme.stories.mdx
  packages/breadcrumbs/demo/breadcrumb.stories.mdx
  packages/breadcrumbs/demo/stories/BreadcrumbStory.tsx
  packages/breadcrumbs/demo/stories/data.ts
  packages/breadcrumbs/stories/2-Breadcrumbs.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Categorize stories under "Packages"
  packages/.template/demo/_readme.stories.mdx
  packages/.template/demo/{{lowercase component}}.stories.mdx
  packages/accordions/demo/_readme.stories.mdx
  packages/accordions/demo/accordion.stories.mdx
  packages/accordions/demo/stepper.stories.mdx
  packages/accordions/demo/timeline.stories.mdx
  packages/breadcrumbs/demo/_readme.stories.mdx
  packages/breadcrumbs/demo/breadcrumb.stories.mdx
  packages/tooltips/demo/_readme.stories.mdx
  packages/tooltips/demo/tooltip.stories.mdx
Due: none

Fix invalid role applied to component SVGs
  .svgo.yml
  packages/accordions/.size-snapshot.json
  packages/accordions/demo/accordion.stories.mdx
Due: none

Refactor button demo stories
  packages/buttons/.size-snapshot.json
  packages/buttons/demo/_readme.stories.mdx
  packages/buttons/demo/anchor.stories.mdx
  packages/buttons/demo/button.stories.mdx
  packages/buttons/demo/buttonGroup.stories.mdx
  packages/buttons/demo/chevronButton.stories.mdx
  packages/buttons/demo/iconButton.stories.mdx
  packages/buttons/demo/splitButton.stories.mdx
  packages/buttons/demo/stories/ButtonGroupStory.tsx
  packages/buttons/demo/stories/ButtonStory.tsx
  packages/buttons/demo/stories/SplitButtonStory.tsx
  packages/buttons/demo/stories/data.ts
  packages/buttons/demo/stories/types.ts
  packages/buttons/demo/toggleButton.stories.mdx
  packages/buttons/demo/toggleIconButton.stories.mdx
  packages/buttons/stories/1-Readme.stories.mdx
  packages/buttons/stories/2-Button.stories.tsx
  packages/buttons/stories/3-Anchor.stories.tsx
  packages/buttons/stories/4-ButtonGroup.stories.tsx
  packages/buttons/stories/5-ChevronButton.stories.tsx
  packages/buttons/stories/6-IconButton.stories.tsx
  packages/buttons/stories/7-SplitButton.stories.tsx
  packages/buttons/stories/8-ToggleButton.stories.tsx
  packages/buttons/stories/9-ToggleIcon.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix import
  packages/buttons/demo/splitButton.stories.mdx
Due: none

Switch from useState to useArgs for controlled examples
  packages/accordions/demo/accordion.stories.mdx
  packages/buttons/demo/buttonGroup.stories.mdx
Due: none

Refactor colorpicker demo stories
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/demo/_readme.stories.mdx
  packages/colorpickers/demo/colorPicker.stories.mdx
  packages/colorpickers/demo/colorPickerDialog.stories.mdx
  packages/colorpickers/demo/colorSwatch.stories.mdx
  packages/colorpickers/demo/colorSwatchDialog.stories.mdx
  packages/colorpickers/demo/stories/ColorSwatchDialogStory.tsx
  packages/colorpickers/demo/stories/ColorpickerDialogStory.tsx
  packages/colorpickers/demo/stories/data.ts
  packages/colorpickers/stories/1-Readme.stories.mdx
  packages/colorpickers/stories/2-Colorpicker.stories.tsx
  packages/colorpickers/stories/3-ColorpickerDialog.stories.tsx
  packages/colorpickers/stories/4-ColorSwatch.stories.tsx
  packages/colorpickers/stories/5-ColorSwatchDialog.stories.tsx
  packages/colorpickers/stories/examples/ColorSwatch/Controlled.tsx
  packages/colorpickers/stories/examples/ColorSwatch/Uncontrolled.tsx
  packages/colorpickers/stories/examples/ColorSwatchDialog/Controlled.tsx
  packages/colorpickers/stories/examples/ColorSwatchDialog/Uncontrolled.tsx
  packages/colorpickers/stories/examples/ColorSwatchDialog/WithIconButton.tsx
  packages/colorpickers/stories/examples/Colorpicker/Controlled.tsx
  packages/colorpickers/stories/examples/Colorpicker/Uncontrolled.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/Controlled.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/Uncontrolled.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/WithFormInput.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/WithIconButton.tsx
  packages/colorpickers/stories/examples/utils.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(buttons): Remove repeated word from prop description (#1250)
  packages/buttons/src/elements/Anchor.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor datepicker demo stories
  .storybook/manager.js
  package.json
  packages/colorpickers/demo/stories/data.ts
  packages/datepickers/.size-snapshot.json
  packages/datepickers/demo/_readme.stories.mdx
  packages/datepickers/demo/datepicker.stories.mdx
  packages/datepickers/demo/datepickerRange.stories.mdx
  packages/datepickers/demo/stories/DatepickerRangeStory.tsx
  packages/datepickers/demo/stories/DatepickerStory.tsx
  packages/datepickers/demo/stories/data.ts
  packages/datepickers/demo/stories/types.ts
  packages/datepickers/stories/1-Readme.stories.mdx
  packages/datepickers/stories/2-Default.stories.tsx
  packages/datepickers/stories/3-Range.stories.tsx
  packages/datepickers/stories/examples/CustomFormat.tsx
  packages/datepickers/stories/examples/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Fix readme sort order
  packages/.template/demo/#readme.stories.mdx
  packages/accordions/demo/#readme.stories.mdx
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/demo/#readme.stories.mdx
  packages/buttons/demo/#readme.stories.mdx
  packages/colorpickers/demo/#readme.stories.mdx
  packages/datepickers/demo/#readme.stories.mdx
  packages/tooltips/demo/#readme.stories.mdx
  packages/typography/demo/#readme.stories.mdx
Due: none

Initial refactor for typography demo stories
  packages/typography/demo/00_sm.stories.mdx
  packages/typography/demo/01_md.stories.mdx
  packages/typography/demo/02_lg.stories.mdx
  packages/typography/demo/03_xl.stories.mdx
  packages/typography/demo/04_xxl.stories.mdx
  packages/typography/demo/05_xxxl.stories.mdx
  packages/typography/demo/code.stories.mdx
  packages/typography/demo/span.stories.mdx
  packages/typography/demo/stories/SpanStory.tsx
  packages/typography/src/elements/Span.tsx
  packages/typography/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Spruce up template story in line with latest refactor branch
  packages/.template/stories/#readme.stories.mdx
  packages/.template/stories/{{lowercase component}}.stories.mdx
Due: none

reconsidered text colors, added tests to the correct place, fixes based on suggestions
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Menu/Items/Item.tsx
  packages/dropdowns/src/elements/Menu/Items/ItemMeta.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/ItemMeta.tsx
  packages/dropdowns/src/styled/items/StyledItem.spec.tsx
  packages/dropdowns/src/styled/items/StyledItem.ts
  packages/dropdowns/src/styled/items/StyledItemMeta.ts
  packages/dropdowns/src/utils/useItemContext.ts
  packages/dropdowns/stories/examples/Menu/Advanced.tsx
  packages/dropdowns/stories/examples/Menu/Default.tsx
  packages/dropdowns/stories/examples/Menu/Icon.tsx
  packages/dropdowns/stories/examples/Menu/Tree.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
