Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

feat(grid): migrate to TS and update API (#528)
  BREAKING_CHANGES.md
  packages/grid/examples/basic.md
  packages/grid/package.json
  packages/grid/src/elements/Col.spec.tsx
  packages/grid/src/elements/Col.tsx
  packages/grid/src/elements/Grid.spec.tsx
  packages/grid/src/elements/Grid.tsx
  packages/grid/src/elements/Row.spec.tsx
  packages/grid/src/elements/Row.tsx
  packages/grid/src/index.spec.js
  packages/grid/src/index.ts
  packages/grid/src/styled/StyledCol.spec.tsx
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/styled/StyledGrid.spec.tsx
  packages/grid/src/styled/StyledGrid.ts
  packages/grid/src/styled/StyledRow.spec.tsx
  packages/grid/src/styled/StyledRow.ts
  packages/grid/src/styled/index.ts
  packages/grid/src/views/Col.spec.js
  packages/grid/src/views/Row.spec.js
  packages/grid/styleguide.config.js
  packages/grid/tsconfig.build.json
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(tooltips): migrate to CSS-in-JS
  BREAKING_CHANGES.md
  packages/tooltips/examples/default.md
  packages/tooltips/package.json
  packages/tooltips/src/elements/Tooltip.spec.tsx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/styled/StyledLightTooltip.spec.tsx
  packages/tooltips/src/styled/StyledLightTooltip.ts
  packages/tooltips/src/styled/StyledParagraph.spec.tsx
  packages/tooltips/src/styled/StyledParagraph.ts
  packages/tooltips/src/styled/StyledTitle.spec.tsx
  packages/tooltips/src/styled/StyledTitle.ts
  packages/tooltips/src/styled/StyledTooltip.spec.tsx
  packages/tooltips/src/styled/StyledTooltip.ts
  packages/tooltips/src/styled/StyledTooltipWrapper.ts
  packages/tooltips/src/styled/arrow-styles.ts
  packages/tooltips/src/styled/index.ts
  utils/build/declarations.d.ts
  utils/styleguide/TableOfContentsRenderer/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Use named exports for elements
  packages/grid/src/elements/Col.spec.tsx
  packages/grid/src/elements/Col.tsx
  packages/grid/src/elements/Grid.spec.tsx
  packages/grid/src/elements/Grid.tsx
  packages/grid/src/elements/Row.spec.tsx
  packages/grid/src/elements/Row.tsx
  packages/grid/src/index.ts
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Include ref tests
  packages/tabs/src/elements/Tab.spec.tsx
  packages/tabs/src/elements/Tab.tsx
  packages/tabs/src/elements/TabList.spec.tsx
  packages/tabs/src/elements/TabPanel.spec.tsx
  packages/tabs/src/elements/Tabs.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add ref tests
  packages/tooltips/src/elements/Paragraph.spec.tsx
  packages/tooltips/src/elements/Title.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add Col order props
  packages/grid/src/elements/Col.tsx
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/styled/StyledRow.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(tabs): allow forwardRef usages (#527)
  packages/tabs/src/elements/Tab.spec.tsx
  packages/tabs/src/elements/Tab.tsx
  packages/tabs/src/elements/TabList.spec.tsx
  packages/tabs/src/elements/TabList.tsx
  packages/tabs/src/elements/TabPanel.spec.tsx
  packages/tabs/src/elements/TabPanel.tsx
  packages/tabs/src/elements/Tabs.spec.tsx
  packages/tabs/src/elements/Tabs.tsx
  packages/tabs/src/index.ts
  utils/styleguide/TableOfContentsRenderer/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update light tooltip body color
  packages/tooltips/src/elements/Tooltip.spec.tsx
  packages/tooltips/src/styled/StyledLightTooltip.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Typos and shadow utilities
  packages/tooltips/src/elements/Tooltip.spec.tsx
  packages/tooltips/src/styled/StyledLightTooltip.ts
  packages/tooltips/src/styled/StyledTitle.ts
  packages/tooltips/src/styled/StyledTooltip.ts
  packages/tooltips/src/styled/StyledTooltipWrapper.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Move arrow styling and update example
  packages/tooltips/examples/default.md
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/styled/StyledLightTooltip.ts
  packages/tooltips/src/styled/StyledTooltip.ts
  packages/tooltips/src/styled/arrow-styles.ts
  packages/tooltips/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add size dropdown
  packages/tooltips/examples/basic.md
  packages/tooltips/src/styled/StyledTooltip.ts
  packages/tooltips/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(forms): allow MultiThumbRange to position correctly in Edge and IE11 (#516 backport)
  packages/forms/src/elements/MultiThumbRange.js
  packages/forms/src/elements/MultiThumbRange.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): remove invalid prop from table docs (#518)
  packages/tables/src/examples/overflow-menu.md
Due: none

fix(datepickers): allow controlled value to update internal state (#517)
  packages/datepickers/package.json
  packages/datepickers/src/elements/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/elements/Datepicker/utils/datepicker-reducer.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Move maxWidth values to constant
  packages/tooltips/src/styled/StyledTooltip.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(datepickers): allow controlled value to update internal state (#517) (#533)
  packages/datepickers/package.json
  packages/datepickers/src/elements/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/elements/Datepicker/utils/datepicker-reducer.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(forms): allow MultiThumbRange to position correctly in Edge and IE11 (#516 backport) (#531)
  packages/forms/src/elements/MultiThumbRange.js
  packages/forms/src/elements/MultiThumbRange.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): remove invalid prop from table docs (#518) (#532)
  packages/tables/src/examples/overflow-menu.md
Due: none

Update example
  packages/tooltips/examples/basic.md
Due: none

Update example with size warning
  packages/tooltips/examples/basic.md
Due: none

Update basic example (removing Row.direction and Row.alignContent)
  packages/grid/examples/basic.md
  packages/grid/src/elements/Row.tsx
  packages/grid/src/styled/StyledRow.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Set debug styling
  packages/grid/examples/basic.md
  packages/grid/src/elements/Grid.tsx
  packages/grid/src/elements/Row.tsx
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/styled/StyledGrid.ts
  packages/grid/src/styled/StyledRow.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Mock x, y, getJSON for getBoundingClientRect
  packages/dropdowns/src/Menu/Menu.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add breakpoint knob
  packages/grid/examples/basic.md
Due: none

chore(deps): update dependency react-styleguidist to v10
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency stylelint to v12
  package.json
  yarn.lock
Due: prettier-package-json --write

Format with new prettier version
  packages/datepickers/src/DatepickerRange/components/Month.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(deps): update non-major package dependencies
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
Due: prettier-package-json --write

Include medium string length
  packages/tooltips/examples/basic.md
Due: none

chore(deps): update dependency core-js to v3.4.2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency commander to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-plugin-jest to v23
  package.json
  yarn.lock
Due: prettier-package-json --write

Fill out advanced examples
  packages/grid/examples/advanced.md
  packages/grid/examples/basic.md
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/styled/StyledGrid.ts
  packages/grid/src/styled/StyledRow.ts
  packages/grid/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update documentation
  packages/grid/README.md
  packages/grid/examples/advanced.md
  packages/grid/examples/basic.md
Due: none

Doc tweaks
  packages/grid/README.md
Due: none

feat(tooltips): migrate react-tooltips to CSS-in-JS (#529)
  BREAKING_CHANGES.md
  packages/tooltips/examples/basic.md
  packages/tooltips/examples/default.md
  packages/tooltips/package.json
  packages/tooltips/src/elements/Paragraph.spec.tsx
  packages/tooltips/src/elements/Title.spec.tsx
  packages/tooltips/src/elements/Tooltip.spec.tsx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/styled/StyledLightTooltip.spec.tsx
  packages/tooltips/src/styled/StyledLightTooltip.ts
  packages/tooltips/src/styled/StyledParagraph.spec.tsx
  packages/tooltips/src/styled/StyledParagraph.ts
  packages/tooltips/src/styled/StyledTitle.spec.tsx
  packages/tooltips/src/styled/StyledTitle.ts
  packages/tooltips/src/styled/StyledTooltip.spec.tsx
  packages/tooltips/src/styled/StyledTooltip.ts
  packages/tooltips/src/styled/StyledTooltipWrapper.ts
  packages/tooltips/src/styled/arrow-styles.ts
  packages/tooltips/src/styled/index.ts
  packages/tooltips/styleguide.config.js
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write
