Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "linters": {
    "*.js": [
      "stylelint",
      "eslint",
      "jest --config=utils/test/jest.config.js --findRelatedTests",
      "prettier --write",
      "git add"
    ],
    "*.md": [
      "markdownlint",
      "prettier --write",
      "git add"
    ],
    "**/package.json": [
      "prettier-package-json --write",
      "git add"
    ]
  },
  "ignore": ["**/CHANGELOG.md"]
}

Add animation example
  packages/avatars/src/Avatar.example.md
Due: prettier --write, markdownlint

feat(avatars): upgrade Avatars to new badge styling (#352)
  packages/avatars/package.json
  packages/avatars/src/Avatar.example.md
  packages/avatars/src/Avatar.js
  packages/avatars/src/Avatar.spec.js
  packages/avatars/src/Text.js
  packages/avatars/src/index.spec.js
  packages/avatars/src/styled.js
  packages/avatars/src/styled.spec.js
  utils/styleguide/public/images/avatar-1.png
  utils/styleguide/public/images/avatar-2.png
  utils/styleguide/public/images/avatar-3.png
  utils/styleguide/public/images/avatar-4.png
  utils/styleguide/public/images/avatar-5.png
  utils/styleguide/public/images/system.png
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

chore(release): publish
  packages/avatars/CHANGELOG.md
  packages/avatars/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

Remove deprecated forms usage from examples
  packages/chrome/src/views/Chrome.example.md
  packages/chrome/src/views/header/Header.example.md
  packages/loaders/src/Skeleton.example.md
  packages/modals/src/elements/Modal.example.md
  packages/tables/src/examples/selectable-table.md
  packages/tables/src/examples/standard-table.md
  packages/tags/src/views/Close.example.md
  packages/tooltips/src/containers/TooltipContainer.example.md
  utils/styleguide/TableOfContentsRenderer/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

chore(lerna): update versioning flow
  .gitignore
  CHANGELOG.md
  lerna.json
  package.json
  packages/.template/CHANGELOG.md
  packages/autocomplete/CHANGELOG.md
  packages/avatars/CHANGELOG.md
  packages/breadcrumbs/CHANGELOG.md
  packages/buttons/CHANGELOG.md
  packages/checkboxes/CHANGELOG.md
  packages/chrome/CHANGELOG.md
  packages/dropdowns/CHANGELOG.md
  packages/forms/CHANGELOG.md
  packages/grid/CHANGELOG.md
  packages/loaders/CHANGELOG.md
  packages/menus/CHANGELOG.md
  packages/modals/CHANGELOG.md
  packages/notifications/CHANGELOG.md
  packages/pagination/CHANGELOG.md
  packages/radios/CHANGELOG.md
  packages/ranges/CHANGELOG.md
  packages/select/CHANGELOG.md
  packages/selection/CHANGELOG.md
  packages/tables/CHANGELOG.md
  packages/tabs/CHANGELOG.md
  packages/tags/CHANGELOG.md
  packages/textfields/CHANGELOG.md
  packages/theming/CHANGELOG.md
  packages/toggles/CHANGELOG.md
  packages/tooltips/CHANGELOG.md
  packages/typography/CHANGELOG.md
  packages/utilities/CHANGELOG.md
  renovate.json
  utils/scripts/github-release.js
  utils/scripts/update-changelog.js
  utils/scripts/version.sh
  utils/styleguide/TableOfContentsRenderer/index.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

chore(lerna): update versioning flow (#353)
  .gitignore
  CHANGELOG.md
  lerna.json
  package.json
  packages/.template/CHANGELOG.md
  packages/autocomplete/CHANGELOG.md
  packages/avatars/CHANGELOG.md
  packages/breadcrumbs/CHANGELOG.md
  packages/buttons/CHANGELOG.md
  packages/checkboxes/CHANGELOG.md
  packages/chrome/CHANGELOG.md
  packages/dropdowns/CHANGELOG.md
  packages/forms/CHANGELOG.md
  packages/grid/CHANGELOG.md
  packages/loaders/CHANGELOG.md
  packages/menus/CHANGELOG.md
  packages/modals/CHANGELOG.md
  packages/notifications/CHANGELOG.md
  packages/pagination/CHANGELOG.md
  packages/radios/CHANGELOG.md
  packages/ranges/CHANGELOG.md
  packages/select/CHANGELOG.md
  packages/selection/CHANGELOG.md
  packages/tables/CHANGELOG.md
  packages/tabs/CHANGELOG.md
  packages/tags/CHANGELOG.md
  packages/textfields/CHANGELOG.md
  packages/theming/CHANGELOG.md
  packages/toggles/CHANGELOG.md
  packages/tooltips/CHANGELOG.md
  packages/typography/CHANGELOG.md
  packages/utilities/CHANGELOG.md
  renovate.json
  utils/scripts/github-release.js
  utils/scripts/update-changelog.js
  utils/scripts/version.sh
  utils/styleguide/TableOfContentsRenderer/index.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

chore(deps): update dependency react-testing-library to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

Move package to new, scoped import structure
  package.json
  utils/test/garden-test-utils.js
  utils/test/jest.config.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update all development non-major dependencies
  package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  yarn.lock
Due: prettier-package-json --write

fix: update all react-theming peerDependencies
  packages/.template/package.json
  packages/autocomplete/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/select/package.json
  packages/selection/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

Format package.json
  package.json
Due: prettier-package-json --write

fix: update all react-theming peerDependencies (#354)
  package.json
  packages/.template/package.json
  packages/autocomplete/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/select/package.json
  packages/selection/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

fix(build): allow lerna version push [skip ci]
  lerna.json
Due: none

chore(release): publish
  lerna.json
  packages/autocomplete/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/select/package.json
  packages/selection/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/theming/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

Add v6.0.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

fix(publish): all version flow to push changelog correctly
  utils/scripts/version.sh
Due: none

Update changelog to match release
  CHANGELOG.md
Due: prettier --write, markdownlint

fix(publish): allow version flow to push changelog correctly (#356)
  CHANGELOG.md
  utils/scripts/version.sh
Due: prettier --write, markdownlint

chore(deps): update all development non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(docs): add create-react-app codesandbox example
  examples/codesandbox/garden-create-react-app/.env
  examples/codesandbox/garden-create-react-app/.gitignore
  examples/codesandbox/garden-create-react-app/.prettierrc
  examples/codesandbox/garden-create-react-app/package.json
  examples/codesandbox/garden-create-react-app/public/favicon.ico
  examples/codesandbox/garden-create-react-app/public/index.html
  examples/codesandbox/garden-create-react-app/public/manifest.json
  examples/codesandbox/garden-create-react-app/src/components/ExampleWrapper.js
  examples/codesandbox/garden-create-react-app/src/examples/Example.js
  examples/codesandbox/garden-create-react-app/src/global-styling.js
  examples/codesandbox/garden-create-react-app/src/index.js
  examples/codesandbox/garden-create-react-app/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(pagination): update peerDependencies to match other packages
  packages/pagination/package.json
Due: prettier-package-json --write

Move all packages to dependencies to allow codesandbox import
  examples/codesandbox/garden-create-react-app/package.json
Due: prettier-package-json --write

chore(lint): ensure that no unsafe lifecycle hooks are used
  .eslintrc.json
Due: none

fix(pagination): update peerDependencies to match other packages (#358)
  packages/pagination/package.json
Due: prettier-package-json --write

Update README and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE.md
  README.md
Due: prettier --write, markdownlint

chore(lint): ensure that no unsafe lifecycle hooks are used (#359)
  .eslintrc.json
Due: none

Update codesandbox URL
  .github/ISSUE_TEMPLATE.md
  README.md
Due: prettier --write, markdownlint

chore(docs): add create-react-app codesandbox example (#357)
  .github/ISSUE_TEMPLATE.md
  README.md
  examples/codesandbox/garden-create-react-app/.env
  examples/codesandbox/garden-create-react-app/.gitignore
  examples/codesandbox/garden-create-react-app/.prettierrc
  examples/codesandbox/garden-create-react-app/package.json
  examples/codesandbox/garden-create-react-app/public/favicon.ico
  examples/codesandbox/garden-create-react-app/public/index.html
  examples/codesandbox/garden-create-react-app/public/manifest.json
  examples/codesandbox/garden-create-react-app/src/components/ExampleWrapper.js
  examples/codesandbox/garden-create-react-app/src/examples/Example.js
  examples/codesandbox/garden-create-react-app/src/global-styling.js
  examples/codesandbox/garden-create-react-app/src/index.js
  examples/codesandbox/garden-create-react-app/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write
