Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Update per PR comments
  packages/chrome/src/elements/header/HeaderItem.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.tsx
  packages/loaders/src/elements/Dots.tsx
  packages/loaders/src/elements/Inline.tsx
  packages/loaders/src/elements/Spinner.tsx
  packages/notifications/src/elements/content/Paragraph.tsx
  packages/pagination/src/elements/CursorPagination/CursorPagination.tsx
  packages/pagination/src/elements/Pagination/Pagination.tsx
  packages/tables/src/elements/Body.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Configure to use @zendeskgarden eslint-config react plugin
  .eslintrc.json
  package.json
  packages/buttons/src/elements/SplitButton.spec.tsx
  packages/buttons/src/elements/SplitButton.tsx
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.tsx
  packages/dropdowns/src/elements/Dropdown/Dropdown.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/AddItem.tsx
  packages/dropdowns/src/elements/Menu/Items/NextItem.tsx
  packages/dropdowns/src/elements/Menu/Items/PreviousItem.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/grid/src/utils/useGridContext.spec.tsx
  packages/modals/src/elements/Modal.spec.tsx
  packages/tables/src/elements/Row.spec.tsx
  packages/theming/src/utils/menuStyles.spec.tsx
  utils/styleguide/TableOfContentsRenderer/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Incorporate @zendeskgarden eslint config jest plugin
  .eslintrc.json
  packages/accordions/src/elements/accordion/components/Header.spec.tsx
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/src/elements/Dropdown/Dropdown.spec.tsx
  packages/dropdowns/src/elements/Select/Select.spec.tsx
  packages/dropdowns/src/elements/Trigger/Trigger.spec.tsx
  packages/modals/src/elements/Modal.spec.tsx
  packages/notifications/src/styled/StyledBase.spec.tsx
  packages/theming/src/utils/retrieveComponentStyles.spec.ts
  packages/typography/src/elements/lists/OrderedList.spec.tsx
  packages/typography/src/elements/lists/UnorderedList.spec.js
  packages/utilities/src/index.spec.js
  packages/utilities/src/utils/hasType.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Allow `console` use in unit tests
  .eslintrc.json
  packages/accordions/src/utils/useAccordionContext.spec.tsx
  packages/accordions/src/utils/useHeaderContext.spec.tsx
  packages/accordions/src/utils/useSectionContext.spec.tsx
  packages/avatars/src/elements/Avatar.spec.tsx
  packages/buttons/src/elements/ButtonGroup.spec.tsx
  packages/buttons/src/elements/IconButton.spec.tsx
  packages/buttons/src/styled/StyledIcon.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/Item.spec.tsx
  packages/dropdowns/src/utils/useDropdownContext.spec.tsx
  packages/dropdowns/src/utils/useFieldContext.spec.tsx
  packages/dropdowns/src/utils/useItemContext.spec.tsx
  packages/dropdowns/src/utils/useMenuContext.spec.tsx
  packages/modals/src/utils/useModalContext.spec.tsx
  packages/modals/src/utils/useTooltipModalContext.spec.tsx
  packages/tabs/src/elements/Tabs.spec.tsx
  packages/tags/src/styled/StyledAvatar.spec.tsx
  packages/theming/src/utils/getLineHeight.spec.ts
  packages/theming/src/utils/mediaQuery.spec.ts
  packages/typography/src/styled/StyledIcon.spec.tsx
  packages/typography/src/utils/useOrderedListContext.spec.tsx
  packages/typography/src/utils/useUnorderedListContext.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Cleanup eslint config
  .eslintrc.json
Due: none

Lowercase returns param descriptions
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshots
  packages/accordions/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tags/.size-snapshot.json
Due: none

Formatting
  packages/typography/src/styled/StyledListItem.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Revert typescript dependencies, lock versions, and fix unit tests
  package.json
  packages/modals/package.json
  packages/modals/src/elements/TooltipModal/Body.spec.tsx
  packages/modals/src/elements/TooltipModal/Close.spec.tsx
  packages/modals/src/elements/TooltipModal/Title.spec.tsx
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Allow typescript bump
  package.json
  yarn.lock
Due: prettier-package-json --write

Revert typescript :|
  package.json
  yarn.lock
Due: prettier-package-json --write

Restore modals @types/react resolution
  packages/modals/package.json
Due: prettier-package-json --write

Apply truncation to the correct child button
  packages/tables/.size-snapshot.json
  packages/tables/src/elements/HeaderCell.spec.tsx
  packages/tables/src/styled/StyledHeaderCell.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update cell truncation unit tests
  packages/tables/src/elements/HeaderCell.spec.tsx
  packages/tables/src/elements/SortableCell.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update non-major package dependencies
  packages/accordions/package.json
  packages/accordions/yarn.lock
  packages/breadcrumbs/package.json
  packages/breadcrumbs/yarn.lock
  packages/buttons/package.json
  packages/buttons/yarn.lock
  packages/chrome/package.json
  packages/chrome/yarn.lock
  packages/datepickers/package.json
  packages/datepickers/yarn.lock
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
  packages/forms/package.json
  packages/forms/yarn.lock
  packages/modals/package.json
  packages/modals/yarn.lock
  packages/notifications/package.json
  packages/notifications/yarn.lock
  packages/pagination/package.json
  packages/pagination/yarn.lock
  packages/tables/package.json
  packages/tables/yarn.lock
  packages/tags/package.json
  packages/tags/yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @rollup/plugin-commonjs to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

Reverse button/div semantics on chrome Item components for a higher-quality type + documentation
  packages/chrome/src/elements/header/HeaderItem.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/chrome/src/styled/header/StyledBaseHeaderItem.ts
  packages/chrome/src/styled/header/StyledHeaderItem.ts
  packages/chrome/src/styled/header/StyledHeaderItemWrapper.ts
  packages/chrome/src/styled/header/StyledLogoHeaderItem.ts
  packages/chrome/src/styled/nav/StyledBaseNavItem.ts
  packages/chrome/src/styled/nav/StyledBrandmarkNavItem.ts
  packages/chrome/src/styled/nav/StyledLogoNavItem.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/chrome/.size-snapshot.json
Due: none

chore(deps): update dependency @zendeskgarden/eslint-config to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/stylelint-config to v15
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-config-prettier to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency execa to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency rollup-plugin-analyzer to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

Revert @types/react
  packages/modals/package.json
  packages/modals/yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @rollup/plugin-node-resolve to v11
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency fork-ts-checker-webpack-plugin to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(tables): sortable cell truncation (#981)
  packages/tables/.size-snapshot.json
  packages/tables/src/elements/HeaderCell.spec.tsx
  packages/tables/src/elements/SortableCell.spec.tsx
  packages/tables/src/styled/StyledHeaderCell.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.29.1 [skip ci]
  CHANGELOG.md
Due: none
