Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore: use Rollup built-in option.banner
  utils/build/rollup.config.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

perf(babel): simplify config, build for modern browsers
  babel.config.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

build(Typography): point to `./dist/esm` folder for chuncked es modules
  packages/typography/package.json
Due: prettier-package-json --write

fix(grid): ensure `Pane.SplitterButton` is rendered as a sibling, rather than child, of `Pane.Splitter` (#1776)
  packages/grid/src/elements/pane/components/Splitter.tsx
  packages/grid/src/elements/pane/components/SplitterButton.tsx
  packages/grid/src/styled/index.ts
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
  packages/grid/src/styled/pane/StyledPaneSplitterButtonContainer.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v8.75.1 [skip ci]
  .lintstagedrc
  docs/changelogs/v8.md
Due: none

Fix import
  packages/grid/src/elements/pane/components/Splitter.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update package lock
  package-lock.json
Due: none

Upgrade package lock
  package-lock.json
Due: none

chore(next): updates from `main` (#1781)
  .eslintrc.json
  .lintstagedrc
  docs/changelogs/v8.md
  package-lock.json
  package.json
  packages/dropdowns/src/views/combobox/StyledOption.ts
  packages/forms/demo/inputGroup.stories.mdx
  packages/forms/demo/stories/InputGroupStory.tsx
  packages/forms/src/styled/input-group/StyledInputGroup.ts
  packages/grid/src/elements/pane/components/Splitter.tsx
  packages/grid/src/elements/pane/components/SplitterButton.tsx
  packages/grid/src/styled/index.ts
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
  packages/grid/src/styled/pane/StyledPaneSplitterButtonContainer.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.0.0-next.7 [skip ci]
  CHANGELOG.md
Due: none

chore(storybook): point aliased imports to built es files + build before running storybook
  .storybook/main.js
  package.json
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

build(all components): point pkg.json `module` field to `dist/esm/index.js`
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(package-lock): refresh
  package-lock.json
Due: none

feat(chrome): accessibility improvements for Nav items
  docs/migration.md
  packages/chrome/README.md
  packages/chrome/demo/stories/ChromeStory.tsx
  packages/chrome/src/elements/nav/Nav.tsx
  packages/chrome/src/elements/nav/NavItem.spec.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/chrome/src/elements/nav/NavList.tsx
  packages/chrome/src/styled/index.ts
  packages/chrome/src/styled/nav/StyledBrandmarkNavItem.ts
  packages/chrome/src/styled/nav/StyledLogoNavItem.ts
  packages/chrome/src/styled/nav/StyledNav.ts
  packages/chrome/src/styled/nav/StyledNavButton.ts
  packages/chrome/src/styled/nav/StyledNavItemText.ts
  packages/chrome/src/styled/nav/StyledNavList.ts
  packages/chrome/src/styled/nav/StyledNavListItem.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming): fill out color variables
  packages/theming/src/elements/ThemeProvider.spec.tsx
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/theme/index.ts
  packages/theming/src/utils/getColor.spec.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

perf: preserve module structure to improve tree-shaking + other improvements
  utils/build/rollup.config.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

build(babel): simplify config, build for modern browsers
  babel.config.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

build(browserslist): expand modern browser support, drop rare mobile browsers
  babel.config.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

build(all components): point pkg.json `module` field to `dist/esm/index.js`
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore: remove unused Babel + Rollup plugins
  package-lock.json
  package.json
Due: prettier-package-json --write

feat(theming): fill out color variables (#1782)
  packages/theming/src/elements/ThemeProvider.spec.tsx
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/theme/index.ts
  packages/theming/src/utils/getColor.spec.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: preserve module structure to improve tree-shaking (#1783)
  babel.config.js
  package-lock.json
  package.json
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
  utils/build/rollup.config.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore: fixes expansion and spacing to match design
  packages/chrome/src/styled/nav/StyledBrandmarkNavItem.ts
  packages/chrome/src/styled/nav/StyledLogoNavItem.ts
  packages/chrome/src/styled/nav/StyledNav.ts
  packages/chrome/src/styled/nav/StyledNavButton.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: use li as base nav item for simpler extension of element class
  packages/chrome/src/styled/nav/StyledBaseNavItem.ts
  packages/chrome/src/styled/nav/StyledBrandmarkNavItem.ts
  packages/chrome/src/styled/nav/StyledLogoNavItem.ts
  packages/chrome/src/styled/nav/StyledNavButton.ts
  packages/chrome/src/styled/nav/StyledNavListItem.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: type fixes
  packages/chrome/src/styled/nav/StyledBrandmarkNavItem.ts
  packages/chrome/src/styled/nav/StyledLogoNavItem.ts
  packages/chrome/src/styled/nav/StyledNavButton.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: restores order rule on Nav
  packages/chrome/src/styled/nav/StyledNav.ts
  packages/chrome/src/styled/nav/StyledNavList.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: update theming utilities for refactored `getColor`
  packages/buttons/src/styled/StyledButton.ts
  packages/chrome/src/styled/subnav/StyledSubNavItem.tsx
  packages/dropdowns/src/views/combobox/StyledTrigger.ts
  packages/forms/src/styled/file-list/StyledFile.ts
  packages/forms/src/styled/file-upload/StyledFileUpload.ts
  packages/forms/src/styled/text/StyledTextFauxInput.ts
  packages/forms/src/styled/text/StyledTextInput.ts
  packages/forms/src/styled/tiles/StyledTile.ts
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/modals/src/styled/StyledClose.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
  packages/theming/demo/stories/ArrowStylesStory.tsx
  packages/theming/demo/utilities.stories.mdx
  packages/theming/src/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/focusStyles.ts
  packages/theming/src/utils/getColor.ts
  packages/theming/src/utils/getFocusBoxShadow.spec.ts
  packages/theming/src/utils/getFocusBoxShadow.ts
  packages/theming/src/utils/menuStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update the migration guide
  docs/migration.md
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix focus inset test
  packages/forms/src/elements/input-group/InputGroup.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: code review
  packages/chrome/demo/stories/ChromeStory.tsx
  packages/chrome/src/elements/nav/NavItem.spec.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/chrome/src/elements/nav/NavList.tsx
  packages/chrome/src/styled/nav/StyledBaseNavItem.ts
  packages/chrome/src/styled/nav/StyledBrandmarkNavItem.ts
  packages/chrome/src/styled/nav/StyledLogoNavItem.ts
  packages/chrome/src/styled/nav/StyledNavButton.ts
  packages/chrome/src/styled/nav/StyledNavList.ts
  packages/chrome/src/styled/nav/StyledNavListItem.ts
  packages/chrome/src/utils/useNavListContext.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: update migration.md
  docs/migration.md
  packages/chrome/README.md
Due: none

chore: use relative path for chrome migration note
  docs/migration.md
Due: none

chore: use dot notation for avatar chrome story
  packages/avatars/demo/~patterns/stories/ChromeStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(theming)!: update utilities for refactored `getColor` (#1785)
  docs/migration.md
  packages/buttons/src/styled/StyledButton.ts
  packages/chrome/src/styled/subnav/StyledSubNavItem.tsx
  packages/dropdowns/src/views/combobox/StyledTrigger.ts
  packages/forms/src/elements/input-group/InputGroup.spec.tsx
  packages/forms/src/styled/file-list/StyledFile.ts
  packages/forms/src/styled/file-upload/StyledFileUpload.ts
  packages/forms/src/styled/text/StyledTextFauxInput.ts
  packages/forms/src/styled/text/StyledTextInput.ts
  packages/forms/src/styled/tiles/StyledTile.ts
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/modals/src/styled/StyledClose.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
  packages/theming/demo/stories/ArrowStylesStory.tsx
  packages/theming/demo/utilities.stories.mdx
  packages/theming/src/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/focusStyles.ts
  packages/theming/src/utils/getColor.ts
  packages/theming/src/utils/getFocusBoxShadow.spec.ts
  packages/theming/src/utils/getFocusBoxShadow.ts
  packages/theming/src/utils/menuStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(chrome)!: improves markup structure for `Nav` items (#1784)
  docs/migration.md
  packages/avatars/demo/~patterns/stories/ChromeStory.tsx
  packages/chrome/README.md
  packages/chrome/demo/stories/ChromeStory.tsx
  packages/chrome/src/elements/nav/Nav.tsx
  packages/chrome/src/elements/nav/NavItem.spec.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/chrome/src/elements/nav/NavList.tsx
  packages/chrome/src/styled/index.ts
  packages/chrome/src/styled/nav/StyledBaseNavItem.ts
  packages/chrome/src/styled/nav/StyledBrandmarkNavItem.ts
  packages/chrome/src/styled/nav/StyledLogoNavItem.ts
  packages/chrome/src/styled/nav/StyledNavButton.ts
  packages/chrome/src/styled/nav/StyledNavItemText.ts
  packages/chrome/src/styled/nav/StyledNavList.ts
  packages/chrome/src/styled/nav/StyledNavListItem.ts
  packages/chrome/src/utils/useNavListContext.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: update theming peer dependency to ^8.75.0
  package-lock.json
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

fix: update theming peer dependency to ^8.75.0 (#1786)
  package-lock.json
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

docs(Chrome): remove Subnav from stories
  packages/chrome/demo/chrome.stories.mdx
  packages/chrome/demo/stories/ChromeStory.tsx
  packages/chrome/demo/stories/SubNavCollapsibleItem.tsx
  packages/chrome/demo/stories/data.ts
  packages/chrome/demo/stories/types.ts
  packages/chrome/demo/subNavCollapsibleItem.stories.mdx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(Chrome): remove Subnav + associated deps
  package-lock.json
  packages/chrome/package.json
  packages/chrome/src/elements/subnav/CollapsibleSubNavItem.spec.tsx
  packages/chrome/src/elements/subnav/CollapsibleSubNavItem.tsx
  packages/chrome/src/elements/subnav/SubNav.spec.tsx
  packages/chrome/src/elements/subnav/SubNav.tsx
  packages/chrome/src/elements/subnav/SubNavItem.spec.tsx
  packages/chrome/src/elements/subnav/SubNavItem.tsx
  packages/chrome/src/elements/subnav/SubNavItemText.spec.tsx
  packages/chrome/src/elements/subnav/SubNavItemText.tsx
  packages/chrome/src/index.ts
  packages/chrome/src/styled/index.ts
  packages/chrome/src/styled/subnav/StyledSubNav.ts
  packages/chrome/src/styled/subnav/StyledSubNavItem.tsx
  packages/chrome/src/styled/subnav/StyledSubNavItemHeader.ts
  packages/chrome/src/styled/subnav/StyledSubNavItemIcon.tsx
  packages/chrome/src/styled/subnav/StyledSubNavItemText.ts
  packages/chrome/src/styled/subnav/StyledSubNavPanel.ts
  packages/chrome/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write
