Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix: revert to original status indicator component name
  packages/avatars/.size-snapshot.json
  packages/avatars/src/styled/StyledStatusIndicator.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: is compact sizing alignment
  packages/avatars/.size-snapshot.json
  packages/avatars/demo/statusindicator.stories.mdx
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: box sizing with css bedrock
  packages/avatars/.size-snapshot.json
  packages/avatars/src/styled/StyledStandaloneStatus.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: address feedback
  packages/avatars/.size-snapshot.json
  packages/avatars/demo/statusindicator.stories.mdx
  packages/avatars/demo/~patterns/stories/StatusMenuStory.tsx
  packages/avatars/src/elements/StatusIndicator.tsx
  packages/avatars/src/styled/StyledStandaloneStatusCaption.ts
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: remove iscompact default value
  packages/avatars/.size-snapshot.json
  packages/avatars/src/elements/StatusIndicator.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: create base status indicator
  packages/avatars/.size-snapshot.json
  packages/avatars/src/elements/Avatar.tsx
  packages/avatars/src/elements/StatusIndicator.spec.tsx
  packages/avatars/src/elements/StatusIndicator.tsx
  packages/avatars/src/styled/StyledStandaloneStatus.ts
  packages/avatars/src/styled/StyledStandaloneStatusCaption.ts
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
  packages/avatars/src/styled/StyledStatusIndicator.spec.tsx
  packages/avatars/src/styled/StyledStatusIndicator.ts
  packages/avatars/src/styled/StyledStatusIndicatorBase.ts
  packages/avatars/src/styled/utility.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: use better types
  packages/avatars/.size-snapshot.json
  packages/avatars/src/styled/StyledStatusIndicator.ts
  packages/avatars/src/styled/utility.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: address feedback
  packages/avatars/.size-snapshot.json
  packages/avatars/src/styled/StyledStatusIndicatorBase.ts
  packages/avatars/src/styled/utility.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: address feedback on margin calculation
  packages/avatars/.size-snapshot.json
  packages/avatars/src/styled/StyledStandaloneStatusCaption.ts
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
  packages/avatars/src/styled/utility.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(avatars): add status indicator component (#1410)
  packages/avatars/.size-snapshot.json
  packages/avatars/README.md
  packages/avatars/demo/statusindicator.stories.mdx
  packages/avatars/demo/stories/StatusIndicatorStory.tsx
  packages/avatars/demo/~patterns/patterns.stories.mdx
  packages/avatars/demo/~patterns/stories/StatusMenuStory.tsx
  packages/avatars/src/elements/Avatar.tsx
  packages/avatars/src/elements/StatusIndicator.spec.tsx
  packages/avatars/src/elements/StatusIndicator.tsx
  packages/avatars/src/index.ts
  packages/avatars/src/styled/StyledAvatar.ts
  packages/avatars/src/styled/StyledStandaloneStatus.ts
  packages/avatars/src/styled/StyledStandaloneStatusCaption.ts
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
  packages/avatars/src/styled/StyledStatusIndicator.spec.tsx
  packages/avatars/src/styled/StyledStatusIndicator.ts
  packages/avatars/src/styled/StyledStatusIndicatorBase.ts
  packages/avatars/src/styled/index.ts
  packages/avatars/src/styled/utility.ts
  packages/avatars/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.b15ccbdc.iframe.bundle.js
  main.ea4324e4.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.57.0 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  iframe.html
  main.948b14bc.iframe.bundle.js
  main.b15ccbdc.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Initial useSlider hook replacement
  packages/forms/src/elements/MultiThumbRange.tsx
  packages/forms/src/styled/range/StyledSlider.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update testing
  packages/forms/.size-snapshot.json
  packages/forms/demo/multiThumbRange.stories.mdx
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  packages/forms/src/elements/MultiThumbRange.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add new uncontrolled and `jump` props
  packages/forms/.size-snapshot.json
  packages/forms/demo/multiThumbRange.stories.mdx
  packages/forms/src/elements/MultiThumbRange.tsx
  packages/forms/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add uncontrolled and `jump` testing
  packages/forms/src/elements/MultiThumbRange.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(forms): add min-width to tile
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/tiles/StyledTile.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix element structure
  packages/avatars/.size-snapshot.json
  packages/avatars/src/elements/StatusIndicator.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(avatars): `StatusIndicator` code structure (#1413)
  packages/avatars/.size-snapshot.json
  packages/avatars/src/elements/StatusIndicator.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.948b14bc.iframe.bundle.js
  main.ba088609.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: address feedback
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/tiles/StyledTile.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.57.1 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  iframe.html
  main.ba088609.iframe.bundle.js
  main.d36f08d8.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add container-slider dependency
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/forms/yarn.lock
Due: prettier-package-json --write

Uncontrolled does not make sense for this component without backing inputs
  packages/forms/.size-snapshot.json
  packages/forms/demo/multiThumbRange.stories.mdx
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  packages/forms/src/elements/MultiThumbRange.tsx
  packages/forms/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Remove non-relevant documentation
  packages/forms/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update size-snapshot
  packages/accordions/.size-snapshot.json
  packages/avatars/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
  packages/typography/.size-snapshot.json
  packages/utilities/.size-snapshot.json
Due: none

Remove outdated non-existing directory
  .github/renovate.json
Due: none

Update eslint package dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Disable `logical-assignment-operators` rule to prevent rollup size-snapshot plugin errors
  .eslintrc.json
Due: none

Add size-snapshot refresh post upgrade task
  .github/renovate.json
Due: none

Updates [skip ci]
  iframe.html
  main.6aa2ebea.iframe.bundle.js
  main.76e4d6fd.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.607340bb.iframe.bundle.js
  main.6aa2ebea.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update `accept` structure
  packages/forms/demo/~patterns/patterns.stories.mdx
Due: none

Add missing `alloedPostUpgradeCommands`
  .github/renovate.json
Due: none

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0 --ignore-pattern !.storybook: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
