Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Address Austin's feedback II
  packages/accordions/examples/basic.md
  packages/accordions/src/elements/Stepper.tsx
  packages/accordions/src/elements/components/Step.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Replace Step padding with StepLabel padding
  packages/accordions/src/elements/components/StepLabel.tsx
  packages/accordions/src/styled/StyledLabelText.spec.tsx
  packages/accordions/src/styled/StyledLabelText.ts
  packages/accordions/src/styled/StyledStep.spec.tsx
  packages/accordions/src/styled/StyledStep.ts
  packages/accordions/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Create StyledInnerContent
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/components/StepContent.tsx
  packages/accordions/src/styled/StyledContent.ts
  packages/accordions/src/styled/StyledInnerContent.tsx
  packages/accordions/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Ginny feedback round II
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/StyledContent.spec.tsx
  packages/accordions/src/styled/StyledContent.ts
  packages/accordions/src/styled/StyledIcon.spec.tsx
  packages/accordions/src/styled/StyledIcon.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update padding
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/components/StepContent.tsx
  packages/accordions/src/styled/StyledContent.spec.tsx
  packages/accordions/src/styled/StyledContent.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Cleanup
  packages/accordions/.size-snapshot.json
  packages/accordions/README.md
  packages/accordions/package.json
  packages/accordions/src/elements/Stepper.spec.tsx
  packages/accordions/src/elements/Stepper.tsx
  packages/accordions/src/elements/components/Step.spec.tsx
  packages/accordions/src/elements/components/StepContent.spec.tsx
  packages/accordions/src/elements/components/StepContent.tsx
  packages/accordions/src/elements/components/StepLabel.spec.tsx
  packages/accordions/src/styled/StyledContent.ts
  packages/accordions/src/styled/StyledLabel.spec.tsx
  packages/accordions/src/styled/StyledStep.spec.tsx
  packages/accordions/src/styled/StyledStep.ts
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/Range.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update demo page, basic.md, and update Accordion readme
  demo/index.html
  packages/accordions/README.md
  packages/accordions/examples/basic.md
Due: none

Remove unecessary flex CSS for StyledLabel
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/StyledLabel.spec.tsx
  packages/accordions/src/styled/StyledLabel.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use space.base for min-width
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/StyledContent.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Long words demo
  packages/accordions/.size-snapshot.json
  packages/accordions/examples/basic.md
  packages/accordions/src/styled/StyledLabelText.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update styles to account for constrained (min) sizes
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/components/StepLabel.spec.tsx
  packages/accordions/src/styled/StyledContent.ts
  packages/accordions/src/styled/StyledIcon.spec.tsx
  packages/accordions/src/styled/StyledIcon.ts
  packages/accordions/src/styled/StyledLabel.spec.tsx
  packages/accordions/src/styled/StyledLabel.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update tests to use Stepper sub-components
  packages/accordions/src/elements/components/Step.spec.tsx
  packages/accordions/src/elements/components/StepContent.spec.tsx
  packages/accordions/src/elements/components/StepLabel.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Updat react-theming
  packages/accordions/package.json
  packages/accordions/yarn.lock
Due: prettier-package-json --write

Rename component IDs
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/StyledContent.ts
  packages/accordions/src/styled/StyledIcon.ts
  packages/accordions/src/styled/StyledInnerContent.tsx
  packages/accordions/src/styled/StyledLabel.ts
  packages/accordions/src/styled/StyledLabelText.ts
  packages/accordions/src/styled/StyledLine.ts
  packages/accordions/src/styled/StyledStep.ts
  packages/accordions/src/styled/StyledStepper.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use ol and li for improved semantics
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/Stepper.tsx
  packages/accordions/src/elements/components/Step.spec.tsx
  packages/accordions/src/elements/components/Step.tsx
  packages/accordions/src/styled/StyledStep.ts
  packages/accordions/src/styled/StyledStepper.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix wording for Stepper context warning
  packages/accordions/.size-snapshot.json
  packages/accordions/src/utils/useStepperContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix word-break on IE11
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/StyledLabelText.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor StyledIcon css
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/StyledIcon.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Adjust line-heights and move colors to colorStyles()
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/StyledIcon.ts
  packages/accordions/src/styled/StyledLabel.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Group sizing styles and remove invalid jsx in README
  packages/accordions/.size-snapshot.json
  packages/accordions/README.md
  packages/accordions/src/styled/StyledIcon.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Only use word-wrap
  packages/accordions/src/styled/StyledLabelText.spec.tsx
  packages/accordions/src/styled/StyledLabelText.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(accordions): introduce new Stepper component (#658)
  README.md
  demo/index.html
  packages/accordions/.size-snapshot.json
  packages/accordions/README.md
  packages/accordions/examples/basic.md
  packages/accordions/package.json
  packages/accordions/src/elements/Stepper.spec.tsx
  packages/accordions/src/elements/Stepper.tsx
  packages/accordions/src/elements/components/Step.spec.tsx
  packages/accordions/src/elements/components/Step.tsx
  packages/accordions/src/elements/components/StepContent.spec.tsx
  packages/accordions/src/elements/components/StepContent.tsx
  packages/accordions/src/elements/components/StepLabel.spec.tsx
  packages/accordions/src/elements/components/StepLabel.tsx
  packages/accordions/src/index.ts
  packages/accordions/src/styled/StyledContent.spec.tsx
  packages/accordions/src/styled/StyledContent.ts
  packages/accordions/src/styled/StyledIcon.spec.tsx
  packages/accordions/src/styled/StyledIcon.ts
  packages/accordions/src/styled/StyledInnerContent.tsx
  packages/accordions/src/styled/StyledLabel.spec.tsx
  packages/accordions/src/styled/StyledLabel.ts
  packages/accordions/src/styled/StyledLabelText.spec.tsx
  packages/accordions/src/styled/StyledLabelText.ts
  packages/accordions/src/styled/StyledLine.ts
  packages/accordions/src/styled/StyledStep.spec.tsx
  packages/accordions/src/styled/StyledStep.ts
  packages/accordions/src/styled/StyledStepper.spec.tsx
  packages/accordions/src/styled/StyledStepper.ts
  packages/accordions/src/styled/index.ts
  packages/accordions/src/utils/index.ts
  packages/accordions/src/utils/useStepContext.ts
  packages/accordions/src/utils/useStepperContext.ts
  packages/accordions/styleguide.config.js
  packages/accordions/tsconfig.build.json
  packages/accordions/yarn.lock
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

Add v8.2.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Test deploy
  .circleci/config.yml
  utils/scripts/gh-pages.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Configure git user.name and user.email
  .circleci/config.yml
  utils/scripts/gh-pages.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Revert `react-docgen-typescript` update
  package.json
  renovate.json
  yarn.lock
Due: prettier-package-json --write

Restore live-server (removed in #639)
  package.json
  yarn.lock
Due: prettier-package-json --write

Restore master branch deploy filter
  .circleci/config.yml
Due: none

Update badge links
  packages/.template/README.md
  packages/accordions/README.md
  packages/avatars/README.md
  packages/breadcrumbs/README.md
  packages/buttons/README.md
  packages/chrome/README.md
  packages/datepickers/README.md
  packages/dropdowns/README.md
  packages/forms/README.md
  packages/grid/README.md
  packages/loaders/README.md
  packages/modals/README.md
  packages/notifications/README.md
  packages/pagination/README.md
  packages/tables/README.md
  packages/tabs/README.md
  packages/tags/README.md
  packages/theming/README.md
  packages/tooltips/README.md
  packages/typography/README.md
  packages/utilities/README.md
Due: none

Fix invalid href
  demo/index.html
Due: none

Fix chrome `isRound` prop
  packages/avatars/examples/advanced.md
Due: none

chore: fix CircleCI deploy (#667)
  .circleci/config.yml
  demo/index.html
  package.json
  packages/.template/README.md
  packages/accordions/README.md
  packages/avatars/README.md
  packages/avatars/examples/advanced.md
  packages/breadcrumbs/README.md
  packages/buttons/README.md
  packages/chrome/README.md
  packages/datepickers/README.md
  packages/dropdowns/README.md
  packages/forms/README.md
  packages/grid/README.md
  packages/loaders/README.md
  packages/modals/README.md
  packages/notifications/README.md
  packages/pagination/README.md
  packages/tables/README.md
  packages/tabs/README.md
  packages/tags/README.md
  packages/theming/README.md
  packages/tooltips/README.md
  packages/typography/README.md
  packages/utilities/README.md
  renovate.json
  yarn.lock
Due: prettier-package-json --write

Update gh-pages with commit user and skip CI message
  .circleci/config.yml
  utils/scripts/gh-pages.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Test coverage deploy
  .circleci/config.yml
Due: none

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
