Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Fix line number padding
  packages/typography/src/styled/StyledCodeBlockLine.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Finesse numbered diff spacing
  packages/typography/.size-snapshot.json
  packages/typography/src/elements/CodeBlock.tsx
  packages/typography/src/styled/StyledCodeBlockLine.ts
  packages/typography/src/styled/StyledCodeBlockToken.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Diff background color adjustment
  packages/typography/.size-snapshot.json
  packages/typography/src/styled/StyledCodeBlockLine.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/typography/.size-snapshot.json
Due: none

Update CodeBlock diff testing
  packages/typography/src/elements/CodeBlock.spec.tsx
  packages/typography/src/styled/StyledCodeBlockLine.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(types): export IAvatarProps and ILabelProps (#1215)
  packages/avatars/src/elements/Avatar.tsx
  packages/avatars/src/index.ts
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Combobox/Combobox.tsx
  packages/dropdowns/src/elements/Fields/Label.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.tsx
  packages/dropdowns/src/elements/Menu/Menu.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/elements/Trigger/Trigger.tsx
  packages/dropdowns/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use RRecord for size mapping
  packages/typography/src/elements/CodeBlock.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Move getDiff function out of loop
  packages/typography/src/elements/CodeBlock.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update diff background color transparency
  packages/typography/.size-snapshot.json
  packages/typography/src/styled/StyledCodeBlockLine.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(modals): drawer modal backdrop required two clicks to close
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(modals): drawer modal backdrop required two clicks to close (#1218)
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(typography): add diff language styling to `CodeBlock` (#1216)
  packages/typography/.size-snapshot.json
  packages/typography/src/elements/CodeBlock.spec.tsx
  packages/typography/src/elements/CodeBlock.tsx
  packages/typography/src/styled/StyledCodeBlockLine.spec.tsx
  packages/typography/src/styled/StyledCodeBlockLine.ts
  packages/typography/src/styled/StyledCodeBlockToken.ts
  packages/typography/stories/3-CodeBlock.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.42.0 [skip ci]
  CHANGELOG.md
Due: none

Handle fallback for unsupported languages
  packages/typography/src/elements/CodeBlock.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add invalid language unit test
  packages/typography/src/elements/CodeBlock.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Display compact item meta with modified line-height
  packages/dropdowns/src/styled/items/StyledItemMeta.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/dropdowns/.size-snapshot.json
Due: none

fix(dropdowns): display compact menu `ItemMeta` info (#1220)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/styled/items/StyledItemMeta.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(typography): improve fallback handling for invalid `CodeBlock` language (#1219)
  packages/typography/.size-snapshot.json
  packages/typography/src/elements/CodeBlock.spec.tsx
  packages/typography/src/elements/CodeBlock.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): defer `Menu` width calculation
  packages/dropdowns/src/elements/Menu/Menu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): improve `Menu` performance by deferring `getBoundingClientRect` call (#1222)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Menu/Menu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.42.1 [skip ci]
  CHANGELOG.md
Due: none

chore(deps): upgrade webpack to v5 and storybook
  .storybook/main.js
  package.json
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix: remove unused variable
  .storybook/main.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(colorpickers): allow no selection on color swatch dialog
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorSwatchDialog/index.spec.tsx
  packages/colorpickers/src/elements/ColorSwatchDialog/index.tsx
  packages/colorpickers/stories/examples/ColorSwatch/Controlled.tsx
  packages/colorpickers/stories/examples/ColorSwatchDialog/Controlled.tsx
  packages/colorpickers/stories/examples/ColorSwatchDialog/WithIconButton.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Improve prop descriptions & fix typo
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorSwatch/index.tsx
  packages/colorpickers/src/elements/ColorSwatchDialog/index.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
