Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

chore(deps): update dependency @svgr/webpack to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency typescript to v3.7.5
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(tooltips): improve tooltip rendering performance
  packages/tooltips/src/elements/Tooltip.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(deps): update dependency downshift to v4
  packages/dropdowns/package.json
Due: prettier-package-json --write

chore(deps): update dependency stylelint to v13
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(tooltips): use semantic tag for paragraph element (#577)
  packages/tooltips/src/elements/Paragraph.tsx
  packages/tooltips/src/styled/StyledParagraph.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(tooltips): improve tooltip rendering performance (#593)
  packages/tooltips/src/elements/Tooltip.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency stylelint-order to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
Due: prettier-package-json --write

Add v7.1.5 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Parent text alignment should not impact tooltip alignment
  packages/tooltips/src/styled/StyledTooltip.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove `alignItems` override from global demo `Row`
  packages/forms/examples/basic.md
  packages/tooltips/examples/basic.md
  utils/styleguide/setup.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update pagination css-in-js
  packages/pagination/src/styled/StyledPage.ts
  packages/pagination/src/styled/StyledPagination.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(modals): use focus visible for modals
  packages/modals/package.json
  packages/modals/src/elements/Modal.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update page css-in-js
  packages/pagination/package.json
  packages/pagination/src/elements/Pagination.tsx
  packages/pagination/src/styled/StyledPage.spec.tsx
  packages/pagination/src/styled/StyledPage.ts
  packages/pagination/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update page color styling
  packages/pagination/src/styled/StyledPage.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Apply transform page props to hidden next/prev items
  packages/pagination/src/elements/Pagination.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update gap css-in-js
  packages/pagination/src/elements/Pagination.tsx
  packages/pagination/src/styled/StyledGap.ts
  packages/pagination/src/styled/StyledPage.ts
  packages/pagination/src/styled/StyledPagination.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Move isSmall to isCompact
  packages/dropdowns/examples/multiselect.md
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Fields/Hint.ts
  packages/dropdowns/src/elements/Fields/Label.tsx
  packages/dropdowns/src/elements/Menu/Menu.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/styled/field/StyledHint.spec.tsx
  packages/dropdowns/src/styled/field/StyledHint.ts
  packages/dropdowns/src/styled/field/StyledLabel.spec.tsx
  packages/dropdowns/src/styled/field/StyledLabel.ts
  packages/dropdowns/src/styled/field/StyledMultiselect.tsx
  packages/dropdowns/src/styled/field/StyledSelect.spec.tsx
  packages/dropdowns/src/styled/field/StyledSelect.ts
  packages/dropdowns/src/styled/menu/StyledMenu.spec.tsx
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(modals): use focus visible for modals (#597)
  packages/modals/package.json
  packages/modals/src/elements/Modal.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(demo): remove global.Row `alignItems` attrs override. (#596)
  packages/forms/examples/basic.md
  packages/tooltips/examples/basic.md
  packages/tooltips/src/styled/StyledTooltip.ts
  utils/styleguide/setup.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add navigation css-in-js
  packages/pagination/package.json
  packages/pagination/src/elements/Pagination.tsx
  packages/pagination/src/styled/StyledNavigation.ts
  packages/pagination/src/styled/StyledNextPage.spec.tsx
  packages/pagination/src/styled/StyledNextPage.ts
  packages/pagination/src/styled/StyledPage.ts
  packages/pagination/src/styled/StyledPreviousPage.spec.tsx
  packages/pagination/src/styled/StyledPreviousPage.ts
  packages/pagination/src/styled/index.ts
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update BREAKING_CHANGES to isCompact
  BREAKING_CHANGES.md
Due: none

Migrate to TypeScript
  packages/modals/examples/basic.md
  packages/modals/package.json
  packages/modals/src/elements/Body.tsx
  packages/modals/src/elements/Close.tsx
  packages/modals/src/elements/Footer.tsx
  packages/modals/src/elements/FooterItem.tsx
  packages/modals/src/elements/Header.tsx
  packages/modals/src/elements/Modal.js
  packages/modals/src/elements/Modal.spec.tsx
  packages/modals/src/elements/Modal.tsx
  packages/modals/src/index.js
  packages/modals/src/index.spec.js
  packages/modals/src/index.ts
  packages/modals/src/styled/StyledBackdrop.spec.tsx
  packages/modals/src/styled/StyledBackdrop.ts
  packages/modals/src/styled/StyledBody.spec.tsx
  packages/modals/src/styled/StyledBody.ts
  packages/modals/src/styled/StyledClose.spec.tsx
  packages/modals/src/styled/StyledClose.ts
  packages/modals/src/styled/StyledFooter.spec.tsx
  packages/modals/src/styled/StyledFooter.ts
  packages/modals/src/styled/StyledFooterItem.spec.tsx
  packages/modals/src/styled/StyledFooterItem.ts
  packages/modals/src/styled/StyledHeader.spec.tsx
  packages/modals/src/styled/StyledHeader.ts
  packages/modals/src/styled/StyledModal.spec.tsx
  packages/modals/src/styled/StyledModal.ts
  packages/modals/src/styled/index.ts
  packages/modals/src/utils/useModalContext.ts
  packages/modals/src/views/Close.js
  packages/modals/src/views/Close.spec.js
  packages/modals/src/views/ModalView.example.md
  packages/modals/styleguide.config.js
  packages/modals/tsconfig.build.json
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update root export and add StyledTag inline comments
  packages/dropdowns/src/index.ts
  packages/tags/src/styled/StyledTag.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update modals package dependencies
  packages/modals/package.json
Due: prettier-package-json --write

Update existing prop description to be more clear
  packages/modals/src/elements/Modal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update BREAKING_CHANGES.md for modals package
  BREAKING_CHANGES.md
Due: none

Update navigation styling
  packages/pagination/package.json
  packages/pagination/src/elements/Pagination.tsx
  packages/pagination/src/styled/StyledNavigation.ts
  packages/pagination/src/styled/StyledPage.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write
