Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix(modals): TooltipModal arrow styling (#1035)
  packages/modals/.size-snapshot.json
  packages/modals/src/styled/StyledTooltipModal.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(colorpickers|tooltips): ref bug fixes
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/Colorpicker/ColorWell.tsx
  packages/colorpickers/src/elements/ColorpickerDialog/index.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/WithIconButton.tsx
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Fix forwardRef merging in TooltipModal
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/colorpickers/src/elements/ColorpickerDialog/index.spec.tsx
  packages/colorpickers/src/elements/ColorpickerDialog/index.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update snapshot
  packages/modals/.size-snapshot.json
Due: none

Update storybook custom trigger example
  packages/colorpickers/stories/examples/ColorpickerDialog/WithIconButton.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(colorpickers|tooltips): color well and tooltip fixes (#1033)
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/colorpickers/src/elements/Colorpicker/ColorWell.tsx
  packages/colorpickers/src/elements/ColorpickerDialog/index.spec.tsx
  packages/colorpickers/src/elements/ColorpickerDialog/index.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/WithIconButton.tsx
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.33.0 [skip ci]
  CHANGELOG.md
Due: none

chore(dropdowns): migrate react-dropdowns to Storybook
  demo/index.html
  packages/dropdowns/README.md
  packages/dropdowns/examples/advanced-menu.md
  packages/dropdowns/examples/advanced-select.md
  packages/dropdowns/examples/autocomplete.md
  packages/dropdowns/examples/basic-menu.md
  packages/dropdowns/examples/basic-select.md
  packages/dropdowns/examples/examples.md
  packages/dropdowns/examples/field-variants.md
  packages/dropdowns/examples/multiselect.md
  packages/dropdowns/examples/tree-menu.md
  packages/dropdowns/package.json
  packages/dropdowns/stories/1-Readme.stories.mdx
  packages/dropdowns/stories/2-Menu.stories.tsx
  packages/dropdowns/stories/3-Select.stories.tsx
  packages/dropdowns/stories/4-Autocomplete.stories.tsx
  packages/dropdowns/stories/5-Multiselect.stories.tsx
  packages/dropdowns/stories/examples/Autocomplete/Default.tsx
  packages/dropdowns/stories/examples/Menu/Advanced.tsx
  packages/dropdowns/stories/examples/Menu/Default.tsx
  packages/dropdowns/stories/examples/Menu/Tree.tsx
  packages/dropdowns/stories/examples/Multiselect/Default.tsx
  packages/dropdowns/stories/examples/Select/Advanced.tsx
  packages/dropdowns/stories/examples/Select/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(deps): update dropdowns peer dependencies to include React v17
  packages/dropdowns/package.json
Due: prettier-package-json --write

wip
  packages/grid/stories/1-Readme.stories.mdx
  packages/grid/stories/2-Grid.stories.tsx
  packages/grid/stories/examples/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update menu to use bottom-start and default stories to animate
  packages/dropdowns/stories/examples/Autocomplete/Default.tsx
  packages/dropdowns/stories/examples/Menu/Advanced.tsx
  packages/dropdowns/stories/examples/Menu/Default.tsx
  packages/dropdowns/stories/examples/Menu/Tree.tsx
  packages/dropdowns/stories/examples/Multiselect/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(deps): update dropdowns peer dependencies to include React v17 (#1039)
  packages/dropdowns/package.json
Due: prettier-package-json --write

Align trigger sizes with isCompact control
  packages/dropdowns/stories/examples/Menu/Advanced.tsx
  packages/dropdowns/stories/examples/Menu/Default.tsx
  packages/dropdowns/stories/examples/Menu/Tree.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove hasArrow from Select and add Select controls
  packages/dropdowns/stories/examples/Select/Advanced.tsx
  packages/dropdowns/stories/examples/Select/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency @zendeskgarden/eslint-config to v19
  package.json
  yarn.lock
Due: prettier-package-json --write

Split menu icon usage out; use appropriate hasArrow prop
  packages/dropdowns/stories/2-Menu.stories.tsx
  packages/dropdowns/stories/examples/Menu/Icon.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Disable isOpen for Select stories
  packages/dropdowns/stories/examples/Select/Advanced.tsx
  packages/dropdowns/stories/examples/Select/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Support accessibly hidden labels
  packages/forms/src/styled/common/StyledLabel.ts
  packages/forms/src/styled/file-upload/StyledFileUpload.ts
  packages/forms/src/styled/input-group/StyledInputGroup.ts
  packages/forms/src/styled/radio/StyledRadioLabel.ts
  packages/forms/src/styled/range/StyledRangeInput.spec.tsx
  packages/forms/src/styled/range/StyledRangeInput.ts
  packages/forms/src/styled/range/StyledSlider.spec.tsx
  packages/forms/src/styled/range/StyledSlider.ts
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update story label controls
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/common/StyledMessage.spec.tsx
  packages/forms/src/styled/common/StyledMessage.ts
  packages/forms/stories/10-Range.stories.tsx
  packages/forms/stories/11-MultiThumbRange.stories.tsx
  packages/forms/stories/13-InputGroup.stories.tsx
  packages/forms/stories/14-FileUpload.stories.tsx
  packages/forms/stories/2-Input.stories.tsx
  packages/forms/stories/3-Textarea.stories.tsx
  packages/forms/stories/4-MediaInput.stories.tsx
  packages/forms/stories/5-FauxInput.stories.tsx
  packages/forms/stories/6-Select.stories.tsx
  packages/forms/stories/story-types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add missing react-popper dependency
  packages/colorpickers/package.json
  packages/colorpickers/yarn.lock
Due: prettier-package-json --write

fix(colorpickers): add missing popper dependency (#1040)
  packages/colorpickers/package.json
  packages/colorpickers/yarn.lock
Due: prettier-package-json --write

Update stories with hidden label controls
  packages/datepickers/stories/3-Range.stories.tsx
  packages/datepickers/stories/examples/Default.tsx
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/text/StyledTextFauxInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add hidden label unit test
  packages/forms/src/styled/common/StyledLabel.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove placement and isAnimated prop for Select stories
  packages/dropdowns/stories/examples/Select/Advanced.tsx
  packages/dropdowns/stories/examples/Select/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add validation to advanced Select storybook
  packages/dropdowns/stories/examples/Select/Advanced.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove placement & isAnimated from Autocomplete story
  packages/dropdowns/stories/examples/Autocomplete/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove placement & isAnimated from Multiselect
  packages/dropdowns/stories/examples/Multiselect/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Default showMessage to true
  packages/dropdowns/stories/examples/Autocomplete/Default.tsx
  packages/dropdowns/stories/examples/Multiselect/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add starticon example to autocomplete
  packages/dropdowns/stories/examples/Autocomplete/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add show more text to multiselect story
  packages/dropdowns/stories/examples/Multiselect/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix validation for advanced select story
  packages/dropdowns/stories/examples/Select/Advanced.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write
