Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "stylelint",
    "eslint",
    "prettier --write",
    "git add"
  ],
  "*.md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

Replace deprecated utility class
  demo/index.html
Due: none

Use getDocument utility
  packages/ranges/src/elements/MultiThumbRange.js
Due: stylelint, eslint, prettier --write

Add bound checks to min and max positions
  packages/ranges/src/elements/MultiThumbRange.js
Due: stylelint, eslint, prettier --write

feat(ranges): introduce MultiThumbRange component (#254)
  .eslintrc.json
  demo/index.html
  packages/ranges/package.json
  packages/ranges/src/elements/MultiThumbRange.example.md
  packages/ranges/src/elements/MultiThumbRange.js
  packages/ranges/src/elements/MultiThumbRange.spec.js
  packages/ranges/src/elements/Range.js
  packages/ranges/src/elements/RangeField.js
  packages/ranges/src/index.js
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

chore(release): publish
  packages/ranges/CHANGELOG.md
  packages/ranges/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

fix(ranges): add analytics attributes to MultiThumbRange
  packages/ranges/src/elements/MultiThumbRange.js
Due: stylelint, eslint, prettier --write

Add theme-able values
  packages/ranges/src/elements/MultiThumbRange.js
Due: stylelint, eslint, prettier --write

handle new component id names with theming docs table script
  utils/scripts/get-cids.sh
Due: none

fix(ranges): add analytics attributes to MultiThumbRange (#255)
  packages/ranges/src/elements/MultiThumbRange.js
  utils/scripts/get-cids.sh
Due: stylelint, eslint, prettier --write

chore(deps): update jest monorepo to v24
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/css-variables to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates
  loaders/build/bundle.bc1b569d.js
  loaders/index.html
Due: stylelint, eslint, prettier --write

chore(deps): update dependency eslint-config-prettier to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update react-packages
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/loaders/package.json
  packages/menus/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
Due: prettier-package-json --write

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/buttons/CHANGELOG.md
  packages/buttons/package.json
  packages/checkboxes/CHANGELOG.md
  packages/checkboxes/package.json
  packages/chrome/CHANGELOG.md
  packages/chrome/package.json
  packages/loaders/CHANGELOG.md
  packages/loaders/package.json
  packages/menus/CHANGELOG.md
  packages/menus/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/radios/CHANGELOG.md
  packages/radios/package.json
  packages/ranges/CHANGELOG.md
  packages/ranges/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/tables/CHANGELOG.md
  packages/tables/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tags/CHANGELOG.md
  packages/tags/package.json
  packages/textfields/CHANGELOG.md
  packages/textfields/package.json
  packages/toggles/CHANGELOG.md
  packages/toggles/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

Update css-chrome dependency
  packages/chrome/package.json
Due: prettier-package-json --write

Add new chrome footer components
  packages/chrome/src/index.js
  packages/chrome/src/views/Chrome.example.md
  packages/chrome/src/views/footer/Footer.example.md
  packages/chrome/src/views/footer/Footer.js
  packages/chrome/src/views/footer/Footer.spec.js
  packages/chrome/src/views/footer/FooterItem.js
  packages/chrome/src/views/footer/FooterItem.spec.js
  packages/chrome/src/views/footer/__snapshots__/Footer.spec.js.snap
  packages/chrome/src/views/footer/__snapshots__/FooterItem.spec.js.snap
  packages/chrome/styleguide.config.js
Due: stylelint, eslint, prettier --write, markdownlint

feat(chrome): add `Footer` component (#263)
  packages/chrome/package.json
  packages/chrome/src/index.js
  packages/chrome/src/views/Chrome.example.md
  packages/chrome/src/views/footer/Footer.example.md
  packages/chrome/src/views/footer/Footer.js
  packages/chrome/src/views/footer/Footer.spec.js
  packages/chrome/src/views/footer/FooterItem.js
  packages/chrome/src/views/footer/FooterItem.spec.js
  packages/chrome/src/views/footer/__snapshots__/Footer.spec.js.snap
  packages/chrome/src/views/footer/__snapshots__/FooterItem.spec.js.snap
  packages/chrome/styleguide.config.js
Due: stylelint, eslint, prettier --write, markdownlint, prettier-package-json --write

chore(release): publish
  packages/chrome/CHANGELOG.md
  packages/chrome/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

chore(testing): Add options object to be able to pass in other glob options
  packages/testing/src/utils/getExports.example.md
  packages/testing/src/utils/getExports.js
Due: stylelint, eslint, prettier --write, markdownlint

chore(testing): Add options object to be able to pass in other glob options (#264)
  packages/testing/src/utils/getExports.example.md
  packages/testing/src/utils/getExports.js
Due: stylelint, eslint, prettier --write, markdownlint

chore(release): publish
  packages/testing/CHANGELOG.md
  packages/testing/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

chore(deps): update dependency github-markdown-css to v3
  package.json
  yarn.lock
Due: prettier-package-json --write
