Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Update sizing based of Garden offline conversation
  packages/buttons/src/views/Anchor.js
  packages/buttons/src/views/__snapshots__/Anchor.spec.js.snap
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix: update styleguidist config
  babel.config.js
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat: use rollup to bundle modules
  package.json
  utils/build/rollup.config.js
  utils/scripts/build-node.sh
  utils/scripts/build.sh
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat: export files in mjs format
  packages/.template/package.json
  packages/autocomplete/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/select/package.json
  packages/selection/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/testing/package.json
  packages/textfields/package.json
  packages/theming/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore: remove webpack build files
  utils/build/webpack.base.js
  utils/build/webpack.commonjs.js
  utils/build/webpack.node.js
  utils/build/webpack.umd.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

docs: add comments regarding rollup config
  utils/build/rollup.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add info style Alert and Notification; remove inaplicable component properties
  packages/notifications/package.json
  packages/notifications/src/Alert.example.md
  packages/notifications/src/Alert.js
  packages/notifications/src/Notification.example.md
  packages/notifications/src/Notification.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Update Alert and Notification tests
  packages/notifications/src/Alert.spec.js
  packages/notifications/src/Notification.spec.js
  packages/notifications/src/__snapshots__/Alert.spec.js.snap
  packages/notifications/src/__snapshots__/Notification.spec.js.snap
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update one-line examples to display one line at typical browser widths
  packages/notifications/src/Alert.example.md
  packages/notifications/src/Notification.example.md
  packages/notifications/src/Well.example.md
Due: prettier --write, markdownlint

Apply recessed prop to Alert via attrs
  packages/notifications/src/Alert.js
  packages/notifications/src/__snapshots__/Alert.spec.js.snap
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(notifications): add new "info" styled Alert and Notification (#278)
  packages/notifications/package.json
  packages/notifications/src/Alert.example.md
  packages/notifications/src/Alert.js
  packages/notifications/src/Alert.spec.js
  packages/notifications/src/Notification.example.md
  packages/notifications/src/Notification.js
  packages/notifications/src/Notification.spec.js
  packages/notifications/src/Well.example.md
  packages/notifications/src/__snapshots__/Alert.spec.js.snap
  packages/notifications/src/__snapshots__/Notification.spec.js.snap
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

chore(release): publish
  packages/notifications/CHANGELOG.md
  packages/notifications/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

chore(deps): update all development non-major dependencies
  package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/grid/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  yarn.lock
Due: prettier-package-json --write

Address RTL rendering comments
  packages/buttons/src/views/Anchor.example.md
  packages/buttons/src/views/Anchor.js
  packages/buttons/src/views/__snapshots__/Anchor.spec.js.snap
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/avatars/CHANGELOG.md
  packages/avatars/package.json
  packages/breadcrumbs/CHANGELOG.md
  packages/breadcrumbs/package.json
  packages/buttons/CHANGELOG.md
  packages/buttons/package.json
  packages/checkboxes/CHANGELOG.md
  packages/checkboxes/package.json
  packages/chrome/CHANGELOG.md
  packages/chrome/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/menus/CHANGELOG.md
  packages/menus/package.json
  packages/modals/CHANGELOG.md
  packages/modals/package.json
  packages/notifications/CHANGELOG.md
  packages/notifications/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/radios/CHANGELOG.md
  packages/radios/package.json
  packages/ranges/CHANGELOG.md
  packages/ranges/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/tables/CHANGELOG.md
  packages/tables/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tags/CHANGELOG.md
  packages/tags/package.json
  packages/textfields/CHANGELOG.md
  packages/textfields/package.json
  packages/toggles/CHANGELOG.md
  packages/toggles/package.json
  packages/tooltips/CHANGELOG.md
  packages/tooltips/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

Remove one level of specificity
  packages/buttons/src/views/Anchor.example.md
  packages/buttons/src/views/Anchor.js
  packages/buttons/src/views/__snapshots__/Anchor.spec.js.snap
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Remove random fragments
  packages/buttons/src/views/Anchor.example.md
Due: prettier --write, markdownlint

feat(buttons): introduce external navigation option to Anchor component (#268)
  .svgo.yml
  packages/buttons/package.json
  packages/buttons/src/views/Anchor.example.md
  packages/buttons/src/views/Anchor.js
  packages/buttons/src/views/Anchor.spec.js
  packages/buttons/src/views/__snapshots__/Anchor.spec.js.snap
  utils/build/webpack.base.js
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

chore(release): publish
  packages/buttons/CHANGELOG.md
  packages/buttons/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

fix(buttons): We need to whitelist svg-icons so they get inlined correctly
  utils/build/webpack.commonjs.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(buttons): We need to whitelist svg-icons so they get inlined correctly (#282)
  utils/build/webpack.commonjs.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update css-menus dependency
  packages/menus/package.json
Due: prettier-package-json --write

fix(menus): use pixels to for `<Item>` line height styling (#283)
  packages/menus/package.json
  packages/notifications/package.json
Due: prettier-package-json --write

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/menus/CHANGELOG.md
  packages/menus/package.json
  packages/notifications/CHANGELOG.md
  packages/notifications/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

fix(notifications): update package.json to pass build
  packages/notifications/package.json
Due: prettier-package-json --write

fix(notifications): update package.json to pass build (#284)
  packages/notifications/package.json
Due: prettier-package-json --write

Path conditions:
  stylelint: any of: *.js
  eslint: any of: *.js
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.md)
  markdownlint: any of: *.md
  prettier-package-json --write: any of: **/package.json
