Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(docs): add link to v7 docs
  demo/index.html
Due: none

Update link
  demo/index.html
Due: none

feat(examples): migrate create-react-app example to v8 (#641)
  examples/codesandbox/garden-create-react-app/package.json
  examples/codesandbox/garden-create-react-app/src/components/ExampleWrapper.js
  examples/codesandbox/garden-create-react-app/src/examples/Example.js
  examples/codesandbox/garden-create-react-app/src/global-styling.js
  examples/codesandbox/garden-create-react-app/src/index.js
  examples/codesandbox/garden-create-react-app/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(docs): add link to v7 docs (#642)
  demo/index.html
Due: none

Clean up documentation and example
  README.md
  examples/codesandbox/garden-create-react-app/src/components/ExampleWrapper.js
  examples/codesandbox/garden-create-react-app/src/examples/Example.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): update v7 documentation link
  demo/index.html
Due: none

chore(docs): add link to v6 documentation
  demo/index.html
Due: none

fix(datepickers): ensure animation is positioned correctly
  packages/datepickers/.size-snapshot.json
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/styled/StyledMenu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): add link to v6 documentation (#644)
  demo/index.html
Due: none

chore(docs): update v7 documentation link (#643)
  demo/index.html
Due: none

Update development doc and links
  .github/CONTRIBUTING.md
  README.md
  docs/development.md
  docs/versioning.md
Due: none

fix(datepickers): ensure animation is positioned correctly (#646)
  packages/datepickers/.size-snapshot.json
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/styled/StyledMenu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix (Dropdowns): remove invalid aria-labelledby value from Trigger
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Trigger/Trigger.spec.tsx
  packages/dropdowns/src/elements/Trigger/Trigger.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): remove invalid aria-labelledby value from Trigger
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Trigger/Trigger.spec.tsx
  packages/dropdowns/src/elements/Trigger/Trigger.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add createPortal() display names
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/Modal.tsx
  packages/tooltips/.size-snapshot.json
  packages/tooltips/src/elements/Tooltip.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add displayName to .template
  packages/.template/src/elements/Example.tsx
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(deps): update dependency downshift to v5
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
Due: prettier-package-json --write

Add API documentation
  README.md
  docs/api.md
  docs/development.md
Due: none

Add `menuStyles` CSS utility
  package.json
  packages/theming/src/utils/menuStyles.example.md
  packages/theming/src/utils/menuStyles.ts
  utils/styleguide/setup.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(all): remove unnused code from packages
  packages/buttons/.size-snapshot.json
  packages/buttons/src/elements/Button.tsx
  packages/datepickers/.size-snapshot.json
  packages/datepickers/src/elements/Datepicker/utils/datepicker-reducer.ts
  packages/datepickers/src/styled/StyledMenu.tsx
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Dropdown/Dropdown.tsx
  packages/dropdowns/src/elements/Fields/Label.tsx
  packages/dropdowns/src/elements/Menu/Items/Item.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/styled/field/SelectWrapper.tsx
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
  packages/forms/src/elements/MultiThumbRange.tsx
  packages/loaders/.size-snapshot.json
  packages/loaders/src/styled/StyledProgress.ts
  packages/theming/.size-snapshot.json
  packages/theming/src/utils/withTheme.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(all): increase code coverage
  packages/avatars/src/styled/StyledAvatar.spec.tsx
  packages/chrome/src/elements/header/HeaderItem.spec.tsx
  packages/chrome/src/elements/nav/NavItem.spec.tsx
  packages/chrome/src/elements/subnav/SubNav.spec.tsx
  packages/chrome/src/elements/subnav/SubNavItem.spec.tsx
  packages/datepickers/src/elements/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.spec.tsx
  packages/dropdowns/src/elements/Fields/Hint.spec.tsx
  packages/dropdowns/src/elements/Fields/Label.spec.tsx
  packages/dropdowns/src/elements/Fields/Message.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/Item.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaFigure.spec.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.spec.tsx
  packages/dropdowns/src/elements/Select/Select.spec.tsx
  packages/dropdowns/src/utils/gardenPlacements.spec.ts
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  packages/loaders/src/utils/useCSSSVGAnimation.spec.tsx
  packages/modals/src/utils/useModalContext.spec.tsx
  packages/notifications/src/elements/content/Title.spec.tsx
  packages/tables/src/elements/Cell.spec.tsx
  packages/tables/src/elements/HeaderCell.spec.tsx
  packages/tables/src/elements/HeaderRow.spec.tsx
  packages/tables/src/elements/OverflowButton.spec.tsx
  packages/tables/src/elements/Row.spec.tsx
  packages/tables/src/elements/SortableCell.spec.tsx
  packages/tags/src/styled/StyledTag.spec.tsx
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/theme/index.spec.ts
  packages/theming/src/utils/getLineHeight.spec.ts
  packages/theming/src/utils/withTheme.spec.tsx
  packages/tooltips/src/elements/Tooltip.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update yarn.lock
  packages/dropdowns/yarn.lock
Due: none

Fix close transition and start to unravel div soup
  packages/dropdowns/src/elements/Menu/Menu.tsx
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(modals): update container dependencies
  packages/modals/package.json
  packages/modals/yarn.lock
Due: prettier-package-json --write

Move menu styles out to theming package
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
  packages/dropdowns/src/utils/garden-placements.ts
  packages/theming/.size-snapshot.json
  packages/theming/src/index.ts
  packages/theming/src/utils/arrowStyles.ts
  packages/theming/src/utils/menuStyles.example.md
  packages/theming/src/utils/menuStyles.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Apply menu styles to datepicker
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/elements/Datepicker/utils/garden-placements.ts
  packages/datepickers/src/styled/StyledMenu.tsx
  packages/dropdowns/src/elements/Menu/Menu.tsx
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
  packages/dropdowns/src/utils/garden-placements.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(modals): update container dependencies (#650)
  packages/modals/package.json
  packages/modals/yarn.lock
Due: prettier-package-json --write

Update useCSSSVGAnimation tests
  packages/loaders/src/utils/useCSSSVGAnimation.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Address @austin94 comments
  docs/development.md
Due: none

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
