Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix: update snapshot
  packages/modals/.size-snapshot.json
Due: none

fix(modals): reset tooltip modal isAnimated prop to undefined (#1495)
  packages/modals/.size-snapshot.json
  packages/modals/demo/tooltipModal.stories.mdx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: update build command and interop exports for cjs builds
  packages/accordions/.size-snapshot.json
  packages/avatars/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
  packages/typography/.size-snapshot.json
  packages/utilities/.size-snapshot.json
  utils/build/rollup.config.js
  utils/scripts/build.sh
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.3751f3c2.iframe.bundle.js
  main.994fb4f6.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(grid): hide pane content when not visible
  packages/grid/.size-snapshot.json
  packages/grid/src/elements/pane/Pane.tsx
  packages/grid/src/elements/pane/PaneProvider.tsx
  packages/grid/src/elements/pane/components/Content.tsx
  packages/grid/src/styled/pane/StyledPaneContent.ts
  packages/grid/src/utils/usePaneContext.ts
  packages/grid/src/utils/usePaneProviderContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor(pane): count panes on render to support dynamic rendering
  packages/grid/.size-snapshot.json
  packages/grid/src/elements/pane/Pane.tsx
  packages/grid/src/elements/pane/PaneProvider.tsx
  packages/grid/src/utils/usePaneProviderContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: use resize observer
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/grid/src/elements/pane/Pane.spec.tsx
  packages/grid/src/elements/pane/Pane.tsx
  packages/grid/src/elements/pane/PaneProvider.tsx
  packages/grid/src/elements/pane/components/SplitterButton.tsx
  packages/grid/src/utils/usePaneProviderContext.ts
  utils/test/jest.config.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix: remove extraneous code
  packages/grid/src/elements/pane/components/SplitterButton.tsx
  packages/grid/src/utils/usePaneProviderContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: address feedback
  packages/grid/.size-snapshot.json
  packages/grid/README.md
  packages/grid/package.json
  packages/grid/src/elements/pane/Pane.spec.tsx
  packages/grid/src/elements/pane/Pane.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix: yarn lock and merge conflicts
  packages/grid/.size-snapshot.json
  packages/grid/src/elements/pane/Pane.spec.tsx
  packages/grid/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(forms): force FileUpload's container to role='button'
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/FileUpload.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(forms): force FileUpload's container to role='button' (#1498)
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/FileUpload.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor: compact is visible logic
  packages/grid/.size-snapshot.json
  packages/grid/src/elements/pane/Pane.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(grid): hide pane content when not visible (#1497)
  packages/grid/.size-snapshot.json
  packages/grid/README.md
  packages/grid/package.json
  packages/grid/src/elements/pane/Pane.spec.tsx
  packages/grid/src/elements/pane/Pane.tsx
  packages/grid/src/elements/pane/components/Content.tsx
  packages/grid/src/styled/pane/StyledPaneContent.ts
  packages/grid/src/utils/usePaneContext.ts
  packages/grid/yarn.lock
  utils/test/jest.config.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.62.2 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  iframe.html
  main.994fb4f6.iframe.bundle.js
  main.c4c8c465.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.56a7811a.iframe.bundle.js
  main.c4c8c465.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: update snapshots
  packages/accordions/.size-snapshot.json
  packages/avatars/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
  packages/typography/.size-snapshot.json
Due: none

fix: turn off react/destructuring-assignment rule
  .eslintrc.json
Due: none

fix: update formatting
  packages/avatars/demo/stories/types.ts
  packages/avatars/src/types/index.ts
  packages/buttons/src/types/index.ts
  packages/chrome/src/types/index.ts
  packages/datepickers/demo/stories/types.ts
  packages/datepickers/src/types/index.ts
  packages/dropdowns/src/types/index.ts
  packages/forms/src/types/index.ts
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
  packages/grid/src/types/index.ts
  packages/loaders/demo/stories/types.ts
  packages/loaders/src/types/index.ts
  packages/modals/src/types/index.ts
  packages/modals/src/utils/gardenPlacements.tsx
  packages/notifications/src/types/index.ts
  packages/pagination/src/types/index.ts
  packages/tables/src/types/index.ts
  packages/tags/src/types/index.ts
  packages/theming/src/types/index.ts
  packages/tooltips/src/styled/StyledTooltip.ts
  packages/tooltips/src/types/index.ts
  packages/typography/src/styled/StyledFont.tsx
  packages/typography/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: turn on rule for destructured assignment
  .eslintrc.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Dropdown/Dropdown.tsx
  packages/grid/demo/~patterns/stories/CardStory.tsx
  packages/tooltips/.size-snapshot.json
  packages/tooltips/src/elements/Tooltip.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: update size snapshots
  packages/avatars/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/pagination/.size-snapshot.json
Due: none

fix(forms): adds aria-label to Delete and Close icon components (FileList)
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/file-list/components/Close.tsx
  packages/forms/src/elements/file-list/components/Delete.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(forms): use button for File delete and close icons; negative tabindex to exclude it from tab order
  packages/forms/.size-snapshot.json
  packages/forms/demo/stories/FileStory.tsx
  packages/forms/demo/~patterns/stories/FileUploadStory.tsx
  packages/forms/src/elements/file-list/components/Close.spec.tsx
  packages/forms/src/elements/file-list/components/Close.tsx
  packages/forms/src/elements/file-list/components/Delete.spec.tsx
  packages/forms/src/elements/file-list/components/Delete.tsx
  packages/forms/src/styled/file-list/StyledFileClose.spec.tsx
  packages/forms/src/styled/file-list/StyledFileClose.ts
  packages/forms/src/styled/file-list/StyledFileDelete.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor: use onKeyDown prop directly
  packages/forms/demo/stories/FileStory.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: use direct onClick and onKeyDown types in FileStory
  packages/forms/demo/stories/FileStory.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: uses useText for aria-labels in close/delete buttons
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/file-list/components/Close.tsx
  packages/forms/src/elements/file-list/components/Delete.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.03f4bb6c.iframe.bundle.js
  main.a414e5c6.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: adds aria-labels to file stories
  packages/forms/.size-snapshot.json
  packages/forms/demo/file.stories.mdx
  packages/forms/demo/fileList.stories.mdx
  packages/forms/demo/stories/FileListStory.tsx
  packages/forms/demo/stories/FileStory.tsx
  packages/forms/demo/~patterns/patterns.stories.mdx
  packages/forms/demo/~patterns/stories/FileUploadStory.tsx
  packages/forms/src/elements/file-list/components/Close.spec.tsx
  packages/forms/src/elements/file-list/components/Close.tsx
  packages/forms/src/elements/file-list/components/Delete.spec.tsx
  packages/forms/src/elements/file-list/components/Delete.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  project.json
Due: none

Updates [skip ci]
  349.0ea8252fa1c6412f0ecd.manager.bundle.js
  349.0ea8252fa1c6412f0ecd.manager.bundle.js.LICENSE.txt
  349.1ebc41315343aad72f1a.manager.bundle.js
  iframe.html
  index.html
  main.03f4bb6c.iframe.bundle.js
  main.3c2c5037.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: removes aria-label configuration from storybook examples - filelist and fileuplod patterns
  packages/forms/demo/fileList.stories.mdx
  packages/forms/demo/stories/FileListStory.tsx
  packages/forms/demo/~patterns/patterns.stories.mdx
  packages/forms/demo/~patterns/stories/FileUploadStory.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.3c2c5037.iframe.bundle.js
  main.711ad156.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(forms): File, File.Delete, and File.Close component accessibility improvements (#1509)
  packages/forms/.size-snapshot.json
  packages/forms/demo/file.stories.mdx
  packages/forms/demo/stories/FileListStory.tsx
  packages/forms/demo/stories/FileStory.tsx
  packages/forms/demo/~patterns/stories/FileUploadStory.tsx
  packages/forms/src/elements/file-list/components/Close.spec.tsx
  packages/forms/src/elements/file-list/components/Close.tsx
  packages/forms/src/elements/file-list/components/Delete.spec.tsx
  packages/forms/src/elements/file-list/components/Delete.tsx
  packages/forms/src/styled/file-list/StyledFileClose.spec.tsx
  packages/forms/src/styled/file-list/StyledFileClose.ts
  packages/forms/src/styled/file-list/StyledFileDelete.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(lint): fix lint errors
  package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/src/elements/Avatar.tsx
  packages/avatars/src/elements/StatusIndicator.tsx
  packages/buttons/.size-snapshot.json
  packages/buttons/src/elements/Anchor.tsx
  packages/chrome/src/elements/sheet/components/Close.spec.tsx
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/FileUpload.tsx
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  packages/grid/src/elements/pane/Pane.spec.tsx
  packages/loaders/.size-snapshot.json
  packages/loaders/src/elements/Inline.tsx
  packages/loaders/src/elements/Progress.tsx
  packages/notifications/src/elements/Alert.spec.tsx
  packages/notifications/src/elements/global-alert/GlobalAlert.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertClose.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore: use standard type naming conventions in test files
  packages/chrome/src/elements/sheet/components/Close.spec.tsx
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  packages/grid/src/elements/pane/Pane.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0 --ignore-pattern !.storybook: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
