Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(sheet): accessibility violations
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/elements/sheet/components/Body.tsx
  packages/chrome/src/elements/sheet/components/Close.tsx
  packages/chrome/src/elements/sheet/components/Description.tsx
  packages/chrome/src/styled/sheet/StyledSheetBody.ts
  packages/chrome/src/styled/sheet/StyledSheetCloseButtonContainer.ts
  packages/chrome/src/utils/useSheetContext.ts
  packages/chrome/stories/examples/Sheet.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.44.0 [skip ci]
  CHANGELOG.md
Due: none

feat(sheet): styles
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/sheet/StyledSheet.ts
  packages/chrome/src/styled/sheet/StyledSheetBody.ts
  packages/chrome/src/styled/sheet/StyledSheetCloseButtonContainer.ts
  packages/chrome/src/styled/sheet/StyledSheetFooter.ts
  packages/chrome/src/styled/sheet/StyledSheetHeader.ts
  packages/chrome/stories/2-Chrome.stories.tsx
  packages/chrome/stories/examples/Default.tsx
  packages/chrome/stories/examples/Sheet.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(sheet): order of sheet in chrome
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/sheet/StyledSheet.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(colorpickers): retain previous indices for uncontrolled color swatch
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorSwatchDialog/index.spec.tsx
  packages/colorpickers/src/elements/ColorSwatchDialog/index.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(sheet): add prop types
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/sheet/Sheet.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feature(sheet): added tests for sheet components
  packages/chrome/src/elements/sheet/Sheet.spec.tsx
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/elements/sheet/components/Body.spec.tsx
  packages/chrome/src/elements/sheet/components/Body.tsx
  packages/chrome/src/elements/sheet/components/Close.spec.tsx
  packages/chrome/src/elements/sheet/components/Close.tsx
  packages/chrome/src/elements/sheet/components/Description.spec.tsx
  packages/chrome/src/elements/sheet/components/Description.tsx
  packages/chrome/src/elements/sheet/components/Footer.spec.tsx
  packages/chrome/src/elements/sheet/components/Footer.tsx
  packages/chrome/src/elements/sheet/components/FooterItem.spec.tsx
  packages/chrome/src/elements/sheet/components/FooterItem.tsx
  packages/chrome/src/elements/sheet/components/Header.spec.tsx
  packages/chrome/src/elements/sheet/components/Header.tsx
  packages/chrome/src/elements/sheet/components/Title.spec.tsx
  packages/chrome/src/elements/sheet/components/Title.tsx
  packages/chrome/src/styled/sheet/StyledSheet.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(sheet): add tests for sheet
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/sheet/Sheet.spec.tsx
  packages/chrome/src/elements/sheet/components/Body.spec.tsx
  packages/chrome/src/elements/sheet/components/Close.spec.tsx
  packages/chrome/src/elements/sheet/components/Description.spec.tsx
  packages/chrome/src/elements/sheet/components/Footer.spec.tsx
  packages/chrome/src/elements/sheet/components/FooterItem.spec.tsx
  packages/chrome/src/elements/sheet/components/Header.spec.tsx
  packages/chrome/src/elements/sheet/components/Title.spec.tsx
  packages/chrome/src/utils/useSheetContext.ts
  packages/chrome/stories/examples/Sheet.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(sheet): update snapshot
  packages/chrome/.size-snapshot.json
Due: none

fix(sheet): prettier format
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/elements/sheet/components/Body.tsx
  packages/chrome/src/elements/sheet/components/Close.tsx
  packages/chrome/src/elements/sheet/components/Description.tsx
  packages/chrome/src/elements/sheet/components/Footer.tsx
  packages/chrome/src/elements/sheet/components/FooterItem.tsx
  packages/chrome/src/elements/sheet/components/Header.tsx
  packages/chrome/src/elements/sheet/components/Title.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(sheet): add types for react transition group
  packages/chrome/package.json
  packages/chrome/yarn.lock
Due: prettier-package-json --write

test(sheet): add additional test for full coverage
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/sheet/Sheet.spec.tsx
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/elements/sheet/components/Body.tsx
  packages/chrome/src/elements/sheet/components/Close.tsx
  packages/chrome/src/elements/sheet/components/Description.tsx
  packages/chrome/src/elements/sheet/components/Footer.tsx
  packages/chrome/src/elements/sheet/components/FooterItem.tsx
  packages/chrome/src/elements/sheet/components/Header.tsx
  packages/chrome/src/elements/sheet/components/Title.tsx
  packages/chrome/src/utils/useFocusableMount.ts
  packages/chrome/src/utils/useSheetContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): align root and sub-package @types/react
  package.json
  packages/forms/src/elements/MultiThumbRange.tsx
  packages/modals/yarn.lock
  packages/notifications/yarn.lock
  packages/tables/yarn.lock
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): align root and sub-package @types/react (#1232)
  package.json
  packages/forms/src/elements/MultiThumbRange.tsx
  packages/modals/yarn.lock
  packages/notifications/yarn.lock
  packages/tables/yarn.lock
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

persist selected indices when dialog is closed
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorSwatchDialog/index.spec.tsx
  packages/colorpickers/src/elements/ColorSwatchDialog/index.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(colorpickers): retain previous indices for uncontrolled color swatch (#1230)
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorSwatchDialog/index.spec.tsx
  packages/colorpickers/src/elements/ColorSwatchDialog/index.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.44.1 [skip ci]
  CHANGELOG.md
Due: none

fix(spinner): fix placeholder proportions
  packages/loaders/.size-snapshot.json
  packages/loaders/src/elements/Spinner.tsx
  packages/loaders/src/styled/StyledLoadingPlaceholder.ts
  packages/loaders/src/styled/StyledSVG.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(placeholder): switch to inline-block
  packages/loaders/.size-snapshot.json
  packages/loaders/src/styled/StyledLoadingPlaceholder.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(spinner): fix placeholder proportions (#1233)
  packages/loaders/.size-snapshot.json
  packages/loaders/src/elements/Spinner.tsx
  packages/loaders/src/styled/StyledLoadingPlaceholder.ts
  packages/loaders/src/styled/StyledSVG.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(tsc): update react types
  package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/chrome/src/utils/useSheetContext.ts
  packages/chrome/yarn.lock
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(chrome): fix tests
  packages/modals/yarn.lock
  packages/notifications/yarn.lock
  packages/tables/yarn.lock
  packages/theming/yarn.lock
  yarn.lock
Due: none

fix(sheet): respond to feedback
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/sheet/Sheet.spec.tsx
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/styled/sheet/StyledSheet.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheetBody.ts
  packages/chrome/src/styled/sheet/StyledSheetCloseButton.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheetCloseButtonContainer.ts
  packages/chrome/src/styled/sheet/StyledSheetFooter.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheetFooter.ts
  packages/chrome/src/styled/sheet/StyledSheetFooterItem.ts
  packages/chrome/src/styled/sheet/StyledSheetHeader.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheetHeader.ts
  packages/chrome/stories/examples/Default.tsx
  packages/chrome/stories/examples/Sheet.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Tweak schedule cadence
  .github/renovate.json
Due: none

Add yarn-deduplicate
  .github/renovate.json
Due: none

Remove useless ignore
  .github/renovate.json
Due: none

Run `yarn lerna exec yarn install` to repair outdated lock files
  packages/accordions/yarn.lock
  packages/avatars/yarn.lock
  packages/breadcrumbs/yarn.lock
  packages/buttons/yarn.lock
  packages/chrome/yarn.lock
  packages/colorpickers/yarn.lock
  packages/datepickers/yarn.lock
  packages/dropdowns/yarn.lock
  packages/grid/yarn.lock
  packages/loaders/yarn.lock
  packages/modals/yarn.lock
  packages/notifications/yarn.lock
  packages/pagination/yarn.lock
  packages/tables/yarn.lock
  packages/tabs/yarn.lock
  packages/tags/yarn.lock
  packages/tooltips/yarn.lock
  packages/typography/yarn.lock
  packages/utilities/yarn.lock
Due: none

Update `version` to keep lockfiles in sync
  package.json
Due: prettier-package-json --write

Clearing up compile warnings
  utils/build/rollup.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore: update renovate configuration (#1234)
  .github/renovate.json
  package.json
  packages/accordions/yarn.lock
  packages/avatars/yarn.lock
  packages/breadcrumbs/yarn.lock
  packages/buttons/yarn.lock
  packages/chrome/yarn.lock
  packages/colorpickers/yarn.lock
  packages/datepickers/yarn.lock
  packages/dropdowns/yarn.lock
  packages/grid/yarn.lock
  packages/loaders/yarn.lock
  packages/modals/yarn.lock
  packages/notifications/yarn.lock
  packages/pagination/yarn.lock
  packages/tables/yarn.lock
  packages/tabs/yarn.lock
  packages/tags/yarn.lock
  packages/tooltips/yarn.lock
  packages/typography/yarn.lock
  packages/utilities/yarn.lock
  utils/build/rollup.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update non-major package dependencies
  packages/forms/package.json
  packages/forms/yarn.lock
  packages/modals/package.json
  packages/modals/yarn.lock
  packages/notifications/package.json
  packages/notifications/yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency prettier to v2
  examples/gatsby/package.json
  examples/gatsby/yarn.lock
Due: prettier-package-json --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
