Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

fix(autocomplete): do not always trigger dropdown closing on blur (#312)
  packages/autocomplete/src/containers/AutocompleteContainer.js
  packages/autocomplete/src/containers/AutocompleteContainer.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

docs: Fix incorrect prop used in KeyboardFocusContainer example
  packages/selection/README.md
Due: prettier --write, markdownlint

docs: Fix incorrect prop used in KeyboardFocusContainer example (#313)
  packages/selection/README.md
Due: prettier --write, markdownlint

chore(deps): update dependency stylelint-order to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

Correct exports
  packages/dropdowns/src/Fields/Hint.js
  packages/dropdowns/src/Menu/Items/ItemMeta.js
  packages/dropdowns/src/Menu/Items/MediaBody.js
  packages/dropdowns/src/Menu/Items/MediaFigure.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove react-pose import
  packages/dropdowns/src/examples/menu.md
Due: prettier --write, markdownlint

Fix typos and Array.from usage
  packages/dropdowns/README.md
  packages/dropdowns/src/Autocomplete/Autocomplete.js
  packages/dropdowns/src/Autocomplete/Autocomplete.spec.js
  packages/dropdowns/src/Dropdown/Dropdown.js
  packages/dropdowns/src/Menu/Menu.js
  packages/dropdowns/src/Select/Select.js
  packages/dropdowns/src/Trigger/Trigger.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Fix Menu propTypes and mock getBoundingClientRect
  packages/dropdowns/src/Menu/Menu.js
  packages/dropdowns/src/Menu/Menu.spec.js
  packages/dropdowns/src/examples/menu.md
  packages/dropdowns/src/styled/field/StyledInput.js
  packages/dropdowns/src/styled/menu/StyledMenu.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Update @zendeskgarden/stylelint-config
  package.json
  yarn.lock
Due: prettier-package-json --write

Fix console.error test mocking
  packages/buttons/src/containers/ButtonGroupContainer.spec.js
  packages/buttons/src/elements/ButtonGroup.spec.js
  packages/chrome/src/containers/AccordionContainer.spec.js
  packages/dropdowns/src/Menu/Items/Item.spec.js
  packages/dropdowns/src/utils/useDropdownContext.spec.js
  packages/dropdowns/src/utils/useFieldContext.spec.js
  packages/dropdowns/src/utils/useMenuContext.spec.js
  packages/menus/src/containers/MenuContainer.spec.js
  packages/modals/src/containers/FocusJailContainer.spec.js
  packages/pagination/src/containers/PaginationContainer.spec.js
  packages/selection/src/containers/SelectionContainer.spec.js
  packages/tabs/src/containers/TabsContainer.spec.js
  packages/tabs/src/elements/Tabs.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Address Louis comments
  packages/dropdowns/package.json
  packages/dropdowns/src/Dropdown/Dropdown.js
  packages/dropdowns/src/Fields/Label.js
  packages/dropdowns/src/Menu/Items/PreviousItem.js
  packages/dropdowns/src/Menu/Menu.js
  packages/dropdowns/src/Select/Select.js
  packages/dropdowns/src/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Transition to consistent definitions
  packages/dropdowns/src/Dropdown/Dropdown.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

More typos and debounced autocomplete example
  README.md
  packages/dropdowns/README.md
  packages/dropdowns/package.json
  packages/dropdowns/src/examples/autocomplete.md
  packages/dropdowns/src/examples/menu.md
  packages/dropdowns/src/styled/field/StyledInput.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

chore(release): publish
  packages/dropdowns/CHANGELOG.md
  packages/dropdowns/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

chore(deps): pin dependencies
  packages/dropdowns/package.json
Due: prettier-package-json --write

chore(menus|select|autocomplete): add deprecation warnings for react-dropdowns migration
  packages/autocomplete/README.md
  packages/autocomplete/src/index.js
  packages/buttons/README.md
  packages/buttons/src/elements/SplitButton.example.md
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Spinner.example.md
  packages/menus/README.md
  packages/menus/src/index.js
  packages/select/README.md
  packages/select/src/index.js
  packages/tables/src/examples/overflow-menu.md
  packages/tables/src/examples/standard-table.md
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

chore(deps): update dependency husky to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency react-testing-library to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all development non-major dependencies
  package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/grid/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  yarn.lock
Due: prettier-package-json --write

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/avatars/CHANGELOG.md
  packages/avatars/package.json
  packages/breadcrumbs/CHANGELOG.md
  packages/breadcrumbs/package.json
  packages/buttons/CHANGELOG.md
  packages/buttons/package.json
  packages/checkboxes/CHANGELOG.md
  packages/checkboxes/package.json
  packages/chrome/CHANGELOG.md
  packages/chrome/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/menus/CHANGELOG.md
  packages/menus/package.json
  packages/modals/CHANGELOG.md
  packages/modals/package.json
  packages/notifications/CHANGELOG.md
  packages/notifications/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/radios/CHANGELOG.md
  packages/radios/package.json
  packages/ranges/CHANGELOG.md
  packages/ranges/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/tables/CHANGELOG.md
  packages/tables/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tags/CHANGELOG.md
  packages/tags/package.json
  packages/textfields/CHANGELOG.md
  packages/textfields/package.json
  packages/toggles/CHANGELOG.md
  packages/toggles/package.json
  packages/tooltips/CHANGELOG.md
  packages/tooltips/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

fix(dropdowns): improve performance of Menu updates
  __mocks__/popper.js.js
  packages/dropdowns/src/Menu/Menu.js
  packages/dropdowns/src/Menu/Menu.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): improve performance of Menu updates (#323)
  __mocks__/popper.js.js
  packages/dropdowns/src/Menu/Menu.js
  packages/dropdowns/src/Menu/Menu.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.js
  eslint: any of: *.js
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.md)
  markdownlint: any of: *.md
  prettier-package-json --write: any of: **/package.json
