Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0 --ignore-pattern !.storybook",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix(tabs): updated styled Tab component so it doesn't render disabled attr
  packages/tabs/.size-snapshot.json
  packages/tabs/src/elements/Tab.tsx
  packages/tabs/src/styled/StyledTab.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(tabs): removed isDisabled from IStyledTabProps interface
  packages/tabs/src/styled/StyledTab.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(tabs): tweaked language for Tab test description
  packages/tabs/src/elements/Tab.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(tabs): added test case to ensure Tab component doesn't render disabled attr
  packages/tabs/src/elements/Tab.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(tabs): updated size snapshot
  packages/tabs/.size-snapshot.json
Due: none

fix(loaders): changed Dots and Spinner roles to img
  packages/loaders/.size-snapshot.json
  packages/loaders/src/elements/Dots.spec.tsx
  packages/loaders/src/elements/Spinner.spec.tsx
  packages/loaders/src/styled/StyledSVG.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(anchor): moved href attribute directly onto Anchor demo component
  packages/buttons/demo/anchor.stories.mdx
Due: none

feat(anchor): simplified external link icon prop to externalIconLabel
  packages/buttons/.size-snapshot.json
  packages/buttons/demo/anchor.stories.mdx
  packages/buttons/src/elements/Anchor.spec.tsx
  packages/buttons/src/elements/Anchor.tsx
  packages/buttons/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update container-splitter
  packages/grid/package.json
  packages/grid/yarn.lock
Due: prettier-package-json --write

feat(anchor): moved alt text logic from StyledExternalIcon to Anchor
  packages/buttons/.size-snapshot.json
  packages/buttons/src/elements/Anchor.spec.tsx
  packages/buttons/src/elements/Anchor.tsx
  packages/buttons/src/styled/StyledExternalIcon.spec.tsx
  packages/buttons/src/styled/StyledExternalIcon.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Upgrade to storybook v6.5.13
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove --no-dll flag no longer needed since Storybook v6.1
  .circleci/config.yml
Due: none

Revert to storybook v6.5.10
  package.json
  yarn.lock
Due: prettier-package-json --write

Add max-old-space-size NODE_OPTIONS for storybook build
  .circleci/config.yml
Due: none

Restore storybook v6.5.13
  package.json
  yarn.lock
Due: prettier-package-json --write

test: add style testing
  packages/notifications/.size-snapshot.json
  packages/notifications/demo/global-alert.stories.mdx
  packages/notifications/demo/stories/GlobalAlertStory.tsx
  packages/notifications/demo/stories/data.ts
  packages/notifications/src/elements/global-alert/GlobalAlert.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertAnchor.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertAnchor.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertContent.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: update snapshot
  packages/forms/.size-snapshot.json
Due: none

Remove storybook NODE_OPTIONS
  .circleci/config.yml
Due: none

fix(tabs): remove duplicate disabled attribute from StyledTab component (#1449)
  packages/tabs/.size-snapshot.json
  packages/tabs/src/elements/Tab.spec.tsx
  packages/tabs/src/elements/Tab.tsx
  packages/tabs/src/styled/StyledTab.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.76b5939e.iframe.bundle.js
  main.f9d4b8d1.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(loaders): changed Dots and Spinner roles to img (#1451)
  packages/loaders/.size-snapshot.json
  packages/loaders/src/elements/Dots.spec.tsx
  packages/loaders/src/elements/Spinner.spec.tsx
  packages/loaders/src/styled/StyledSVG.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(chrome): added aria-current to NavItem component
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/nav/NavItem.spec.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: upgrade storybook (#1452)
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(chrome): scroll on subnav overflow
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/subnav/StyledSubNav.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.3746d2f2.iframe.bundle.js
  main.76b5939e.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add `isFixed` splitter prop
  packages/grid/.size-snapshot.json
  packages/grid/demo/stories/data.ts
  packages/grid/src/elements/pane/PaneProvider.spec.tsx
  packages/grid/src/elements/pane/components/Splitter.tsx
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/grid/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.59.1 [skip ci]
  CHANGELOG.md
Due: none

fix: remove min-width and button spacing
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.ts
  packages/notifications/src/styled/global-alert/utility.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(anchor): removed explicit any type for StyledExternalIcon
  packages/buttons/src/styled/StyledExternalIcon.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(anchor): removed explicit displayName for StyledExternalIcon
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledExternalIcon.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add `isFixed` test
  packages/grid/src/elements/pane/components/Splitter.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(chrome): changed aria-current='page' to aria-current='true'
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/nav/NavItem.spec.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(jest): use swc as transformer
  package.json
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  utils/test/jest.config.js
  yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

feat(chrome): add aria-current attribute to NavItem component, when it's current (#1453)
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/nav/NavItem.spec.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  69.7d5290969945557ef67e.manager.bundle.js
  69.7d5290969945557ef67e.manager.bundle.js.LICENSE.txt
  69.c23f349116d54362543b.manager.bundle.js
  iframe.html
  index.html
  main.3746d2f2.iframe.bundle.js
  main.576e45f9.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(anchor): add condition so useText only warns consumer when isExternal
  packages/buttons/.size-snapshot.json
  packages/buttons/demo/anchor.stories.mdx
  packages/buttons/src/elements/Anchor.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: update snapshot
  packages/chrome/.size-snapshot.json
Due: none

feat(anchor): add default alternative text to external anchor icon (#1448)
  packages/buttons/.size-snapshot.json
  packages/buttons/demo/anchor.stories.mdx
  packages/buttons/src/elements/Anchor.spec.tsx
  packages/buttons/src/elements/Anchor.tsx
  packages/buttons/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Overhaul GlobalAlert CSS
  packages/notifications/demo/global-alert.stories.mdx
  packages/notifications/demo/stories/GlobalAlertStory.tsx
  packages/notifications/src/elements/global-alert/GlobalAlert.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertAnchor.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertClose.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertIcon.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertTitle.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertAnchor.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertAnchor.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertContent.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertIcon.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.ts
  packages/notifications/src/styled/global-alert/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write
