Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0 --ignore-pattern !.storybook",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Typescript fixes
  packages/buttons/src/elements/ButtonGroup.tsx
  packages/datepickers/src/elements/Datepicker/components/Calendar.tsx
  packages/datepickers/src/elements/Datepicker/components/MonthSelector.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/forms/demo/~patterns/stories/FileUploadStory.tsx
  packages/forms/src/styled/common/StyledMessageIcon.ts
  packages/grid/src/elements/pane/components/SplitterButton.tsx
  packages/notifications/src/elements/toaster/useToast.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Typescript fixes
  packages/forms/demo/stories/FieldsetStory.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Remove type duplicates
  packages/notifications/package-lock.json
Due: none

Update package lock
  package-lock.json
Due: none

Fix typescript errors
  packages/loaders/demo/stories/SkeletonStory.tsx
  packages/modals/package-lock.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Upgrade to lerna 7
  lerna.json
  package.json
  packages/.template/package-lock.json
  packages/.template/src/types/index.ts
  packages/accordions/package-lock.json
  packages/avatars/package-lock.json
  packages/breadcrumbs/package-lock.json
  packages/buttons/package-lock.json
  packages/chrome/package-lock.json
  packages/colorpickers/package-lock.json
  packages/datepickers/package-lock.json
  packages/drag-drop/package-lock.json
  packages/dropdowns.next/package-lock.json
  packages/dropdowns/package-lock.json
  packages/forms/package-lock.json
  packages/grid/package-lock.json
  packages/loaders/package-lock.json
  packages/modals/package-lock.json
  packages/notifications/package-lock.json
  packages/pagination/package-lock.json
  packages/tables/package-lock.json
  packages/tabs/package-lock.json
  packages/tags/package-lock.json
  packages/theming/package-lock.json
  packages/tooltips/package-lock.json
  packages/typography/package-lock.json
  utils/scripts/new.mjs
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Remove bootstrap
  .circleci/config.yml
Due: none

chore: fix `lerna-version` command in tag script
  utils/scripts/tag.mjs
Due: none

chore: fix `lerna-version` command in tag script (#1649)
  utils/scripts/tag.mjs
Due: none

chore(changelog): add v8.73.1 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  8888.412a2487.iframe.bundle.js
  8888.4b324dc8.iframe.bundle.js
  accordions-demo-accordion-stories-mdx.ed8b7d69.iframe.bundle.js
  accordions-demo-accordion-stories-mdx.ee81a262.iframe.bundle.js
  avatars-demo-patterns-patterns-stories-mdx.42143780.iframe.bundle.js
  avatars-demo-patterns-patterns-stories-mdx.8be9b980.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.2e8a9573.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.5c6d9745.iframe.bundle.js
  buttons-demo-iconButton-stories-mdx.789a210c.iframe.bundle.js
  buttons-demo-iconButton-stories-mdx.f0a988ee.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.0076a892.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.dc5b0a99.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.6870f548.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.ef6b3b72.iframe.bundle.js
  dropdowns-next-demo-patterns-patterns-stories-mdx.5c9a44c4.iframe.bundle.js
  dropdowns-next-demo-patterns-patterns-stories-mdx.ec9d86f1.iframe.bundle.js
  iframe.html
  modals-demo-tooltipModal-stories-mdx.740cd0e7.iframe.bundle.js
  modals-demo-tooltipModal-stories-mdx.7eb4e1b6.iframe.bundle.js
  notifications-demo-global-alert-stories-mdx.a4984333.iframe.bundle.js
  notifications-demo-global-alert-stories-mdx.e6acd7c4.iframe.bundle.js
  project.json
  runtime~main.1de3906a.iframe.bundle.js
  runtime~main.d1487731.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(accordions): prevent flex shrink on chevron
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/accordion/StyledRotateIcon.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(accordions): prevent flex shrink on chevron (#1651)
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/accordion/StyledRotateIcon.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(combobox): prevent listbox close on scrollbar click
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(combobox): prevent listbox close on scrollbar click (#1653)
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/package.json
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.73.2 [skip ci]
  CHANGELOG.md
Due: none

fix(dropdowns.next): active listbox option and menu item styling
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/views/combobox/StyledOption.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update to use `shadowWidths` for active styling
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/views/combobox/StyledOption.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add LTR/RTL option box-shadow style tests
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: update `@zendeskgarden/scripts` package
  package-lock.json
  package.json
Due: prettier-package-json --write

Update rollup
  .circleci/config.yml
  package-lock.json
  package.json
Due: prettier-package-json --write

Test deploy
  .circleci/config.yml
  package-lock.json
Due: none

Temporarily disable test job
  .circleci/config.yml
Due: none

Fix ci config
  .circleci/config.yml
Due: none

Prevent concurrency
  .circleci/config.yml
Due: none
