Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Merge master into next (#506)
  CHANGELOG.md
  examples/codesandbox/garden-create-react-app/yarn.lock
  lerna.json
  lint-staged.config.js
  package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  renovate.json
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update demo index page
  demo/index.html
Due: none

Update breaking change documentation
  BREAKING_CHANGES.md
Due: none

Update based on axe and VO audit
  packages/forms/examples/advanced.md
  packages/forms/examples/basic.md
  packages/forms/src/elements/Checkbox.js
  packages/forms/src/elements/MediaInput.js
  packages/forms/src/elements/Radio.js
  packages/forms/src/elements/Toggle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix for browser audit
  packages/forms/src/styled/range/StyledRangeInput.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(theming): introduce focus-visible to ThemeProvider
  packages/buttons/examples/button.md
  packages/buttons/src/components/Anchor.spec.tsx
  packages/buttons/src/components/Anchor.tsx
  packages/buttons/src/components/Button.spec.tsx
  packages/buttons/src/components/Button.tsx
  packages/buttons/src/components/ButtonGroup.spec.tsx
  packages/buttons/src/components/ButtonGroup.tsx
  packages/buttons/src/components/ChevronButton.spec.tsx
  packages/buttons/src/components/IconButton.spec.tsx
  packages/buttons/src/components/IconButton.tsx
  packages/buttons/src/styled/StyledButton.ts
  packages/tags/examples/advanced.md
  packages/tags/examples/basic.md
  packages/tags/package.json
  packages/tags/src/components/Tag.tsx
  packages/tags/src/styled/StyledTag.spec.tsx
  packages/tags/src/styled/StyledTag.ts
  packages/theming/package.json
  packages/theming/src/ThemeProvider.tsx
  utils/build/declarations.d.ts
  utils/test/garden-test-utils.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Fix bundlesize errors
  bundlesize.config.js
  packages/theming/package.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Adjust bundle max_size to account for CSS added to JS
  packages/forms/package.json
Due: prettier-package-json --write

Address theme vs utilities comments from AG
  packages/forms/src/elements/MultiThumbRange.js
  packages/forms/src/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Swap PALETTE for getColor usage in tests
  packages/forms/src/styled/common/StyledMessage.spec.js
  packages/forms/src/styled/radio/StyledRadioInput.spec.js
  packages/forms/src/styled/range/StyledRangeInput.spec.js
  packages/forms/src/styled/text/StyledTextFauxInput.spec.js
  packages/forms/src/styled/text/StyledTextInput.spec.js
  packages/forms/src/styled/text/StyledTextMediaInput.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Address theming suggestions from JZ
  packages/loaders/src/elements/Inline.tsx
  packages/loaders/src/styled/StyledInlineTypingIndicator.tsx
  packages/loaders/src/styled/StyledProgress.ts
  packages/loaders/src/styled/StyledSkeleton.ts
  packages/loaders/src/styled/index.ts
  packages/loaders/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove personal pronouns
  packages/buttons/examples/button.md
Due: none

Rename dark prop to isDark on skeleton
  BREAKING_CHANGES.md
  packages/loaders/examples/skeleton.md
  packages/loaders/src/elements/Skeleton.spec.tsx
  packages/loaders/src/elements/Skeleton.tsx
  packages/loaders/src/styled/StyledSkeleton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove extra personal pronoun
  packages/buttons/examples/button.md
Due: none

Calculate skeleton line-height from theme
  packages/loaders/src/styled/StyledSkeleton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(theming): introduce focus-visible to ThemeProvider (#508)
  bundlesize.config.js
  packages/buttons/examples/button.md
  packages/buttons/src/components/Anchor.spec.tsx
  packages/buttons/src/components/Anchor.tsx
  packages/buttons/src/components/Button.spec.tsx
  packages/buttons/src/components/Button.tsx
  packages/buttons/src/components/ButtonGroup.spec.tsx
  packages/buttons/src/components/ButtonGroup.tsx
  packages/buttons/src/components/ChevronButton.spec.tsx
  packages/buttons/src/components/IconButton.spec.tsx
  packages/buttons/src/components/IconButton.tsx
  packages/buttons/src/styled/StyledButton.ts
  packages/tags/examples/advanced.md
  packages/tags/examples/basic.md
  packages/tags/package.json
  packages/tags/src/components/Tag.tsx
  packages/tags/src/styled/StyledTag.spec.tsx
  packages/tags/src/styled/StyledTag.ts
  packages/theming/package.json
  packages/theming/src/ThemeProvider.tsx
  utils/build/declarations.d.ts
  utils/test/garden-test-utils.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(docs): remove invalid advanced dropdown example
  .gitignore
  packages/dropdowns/examples/menu.md
Due: none

fix(buttons): remove invalid disabled prop from Anchor
  .gitignore
  packages/buttons/src/views/Anchor.js
  packages/buttons/src/views/Anchor.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(datepickers): remove invalid arrow prop
  .gitignore
  packages/datepickers/package.json
  packages/datepickers/src/Datepicker/Datepicker.tsx
  packages/datepickers/src/styled/styled-menu.spec.tsx
  packages/datepickers/src/styled/styled-menu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Remove `focusvisible` which is now available at the ThemeProvider
  packages/forms/package.json
  packages/forms/src/elements/common/Field.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(buttons): remove invalid disabled prop from Anchor (#510)
  .gitignore
  packages/buttons/src/views/Anchor.js
  packages/buttons/src/views/Anchor.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): remove invalid advanced dropdown example (#509)
  packages/dropdowns/examples/menu.md
Due: none

fix(datepickers): remove invalid arrow prop (#492)
  packages/datepickers/package.json
  packages/datepickers/src/Datepicker/Datepicker.tsx
  packages/datepickers/src/styled/styled-menu.spec.tsx
  packages/datepickers/src/styled/styled-menu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Reduce bundlesize (focusvisible removed)
  packages/forms/package.json
Due: prettier-package-json --write

Updates based on @hzhu review comments
  BREAKING_CHANGES.md
  packages/forms/examples/basic.md
Due: none

Rename `components` to `elements`
  packages/buttons/src/elements/Anchor.spec.tsx
  packages/buttons/src/elements/Anchor.tsx
  packages/buttons/src/elements/Button.tsx
  packages/buttons/src/elements/ButtonGroup.spec.tsx
  packages/buttons/src/elements/ButtonGroup.tsx
  packages/buttons/src/elements/ChevronButton.spec.tsx
  packages/buttons/src/elements/ChevronButton.tsx
  packages/buttons/src/elements/IconButton.spec.tsx
  packages/buttons/src/elements/IconButton.tsx
  packages/buttons/src/elements/SplitButton.spec.tsx
  packages/buttons/src/elements/SplitButton.tsx
  packages/buttons/src/index.ts
  packages/buttons/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(dropdowns): add inputRef prop to Autocomplete and Multiselect
  packages/dropdowns/src/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/Multiselect/Multiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(dropdowns): add inputRef prop to Autocomplete and Multiselect (#511)
  packages/dropdowns/src/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/Multiselect/Multiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Initial knobs-style example
  packages/buttons/examples/basic.md
  packages/buttons/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): allow inline style to override Menu width
  packages/dropdowns/src/Menu/Menu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Address example comments from @ginnywood
  packages/forms/examples/basic.md
Due: none

Fix validation message padding per @ginnywood
  packages/forms/src/styled/common/StyledMessage.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Prefer useCombinedRefs per comments from @austin94
  packages/forms/src/elements/Checkbox.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Consolidate under `useInputContext` per review from @austin94
  packages/forms/src/elements/Checkbox.js
  packages/forms/src/elements/Radio.js
  packages/forms/src/elements/Toggle.js
  packages/forms/src/elements/common/Hint.js
  packages/forms/src/elements/common/Label.js
  packages/forms/src/elements/common/Message.js
  packages/forms/src/utils/useCheckboxContext.js
  packages/forms/src/utils/useInputContext.js
  packages/forms/src/utils/useRadioContext.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Revert useCombinedRefs as it fails to trigger with controlled component
  packages/forms/src/elements/Checkbox.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use normal JSX
  packages/forms/src/elements/Checkbox.js
  packages/forms/src/elements/Radio.js
  packages/forms/src/elements/Toggle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
