Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update dependency @types/react-dom to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/react to v17
  package.json
  packages/modals/package.json
  packages/modals/yarn.lock
  yarn.lock
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.29.2 [skip ci]
  CHANGELOG.md
Due: none

Fix and add missing @extends clauses
  packages/accordions/src/elements/accordion/components/Label.tsx
  packages/accordions/src/elements/stepper/components/Step.tsx
  packages/avatars/src/elements/Avatar.tsx
  packages/buttons/src/elements/Button.tsx
  packages/chrome/src/elements/header/HeaderItemIcon.tsx
  packages/chrome/src/elements/nav/NavItemIcon.tsx
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Menu/Items/AddItem.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderIcon.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.tsx
  packages/dropdowns/src/elements/Menu/Items/Item.tsx
  packages/dropdowns/src/elements/Menu/Items/ItemMeta.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaBody.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaFigure.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaItem.tsx
  packages/dropdowns/src/elements/Menu/Items/NextItem.tsx
  packages/dropdowns/src/elements/Menu/Items/PreviousItem.tsx
  packages/dropdowns/src/elements/Menu/Menu.tsx
  packages/dropdowns/src/elements/Menu/Separator.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Trigger/Trigger.tsx
  packages/forms/src/elements/MultiThumbRange.tsx
  packages/loaders/src/elements/Progress.tsx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/typography/src/elements/Code.tsx
  packages/typography/src/styled/StyledCode.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore: add missing and fix existing @extends clauses (#983)
  packages/accordions/src/elements/accordion/components/Label.tsx
  packages/accordions/src/elements/stepper/components/Step.tsx
  packages/avatars/src/elements/Avatar.tsx
  packages/buttons/src/elements/Button.tsx
  packages/chrome/src/elements/header/HeaderItemIcon.tsx
  packages/chrome/src/elements/nav/NavItemIcon.tsx
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Menu/Items/AddItem.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderIcon.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.tsx
  packages/dropdowns/src/elements/Menu/Items/Item.tsx
  packages/dropdowns/src/elements/Menu/Items/ItemMeta.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaBody.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaFigure.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaItem.tsx
  packages/dropdowns/src/elements/Menu/Items/NextItem.tsx
  packages/dropdowns/src/elements/Menu/Items/PreviousItem.tsx
  packages/dropdowns/src/elements/Menu/Menu.tsx
  packages/dropdowns/src/elements/Menu/Separator.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Trigger/Trigger.tsx
  packages/forms/src/elements/MultiThumbRange.tsx
  packages/loaders/src/elements/Progress.tsx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/typography/src/elements/Code.tsx
  packages/typography/src/styled/StyledCode.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.29.3 [skip ci]
  CHANGELOG.md
Due: none

fix(theming): allow theming of typescript consumers
  packages/theming/src/elements/ThemeProvider.tsx
  packages/theming/src/elements/theme/index.ts
  packages/theming/src/index.ts
  utils/build/styled.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(theming): allow theming of typescript consumers (#984)
  packages/theming/src/elements/ThemeProvider.tsx
  packages/theming/src/elements/theme/index.ts
  packages/theming/src/index.ts
  utils/build/styled.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove extra storybook upgrades
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(tags): migrate Tag examples to storybook
  demo/index.html
  packages/tags/README.md
  packages/tags/examples/advanced.md
  packages/tags/examples/basic.md
  packages/tags/package.json
  packages/tags/stories/1-Readme.stories.mdx
  packages/tags/stories/2-Examples.stories.tsx
  packages/tags/stories/examples/Advanced.tsx
  packages/tags/stories/examples/CustomHue.tsx
  packages/tags/stories/examples/Default.tsx
  packages/tags/stories/examples/FontWeight.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(modals): export placement type for tooltip modal
  packages/modals/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(modals): export placement type for tooltip modal (#988)
  packages/modals/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

docs: Add Modal's Header prop change to V8 migration
  docs/migration.md
Due: none

docs(modals): add Header prop change to v8 migration (#989)
  docs/migration.md
Due: none

Correct stories
  packages/avatars/stories/examples/ChromeUsage.tsx
  packages/avatars/stories/examples/MenuUsage.tsx
  packages/tags/stories/examples/Advanced.tsx
  packages/tags/stories/examples/FontWeight.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Rename story to truncation
  packages/tags/stories/2-Examples.stories.tsx
  packages/tags/stories/examples/Truncation.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(tags): migrate tag examples to storybook (#987)
  demo/index.html
  packages/avatars/stories/examples/ChromeUsage.tsx
  packages/avatars/stories/examples/MenuUsage.tsx
  packages/tags/README.md
  packages/tags/examples/advanced.md
  packages/tags/examples/basic.md
  packages/tags/package.json
  packages/tags/stories/1-Readme.stories.mdx
  packages/tags/stories/2-Examples.stories.tsx
  packages/tags/stories/examples/CustomHue.tsx
  packages/tags/stories/examples/Default.tsx
  packages/tags/stories/examples/FontWeight.tsx
  packages/tags/stories/examples/Truncation.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(tooltips): migrate example to storybook
  demo/index.html
  packages/tooltips/.size-snapshot.json
  packages/tooltips/README.md
  packages/tooltips/examples/basic.md
  packages/tooltips/package.json
  packages/tooltips/src/elements/Tooltip.spec.tsx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/index.ts
  packages/tooltips/src/styled/index.ts
  packages/tooltips/stories/1-Readme.stories.mdx
  packages/tooltips/stories/2-Tooltip.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(dropdowns): allow menu usage in table elements
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/styled/select/StyledInput.ts
  packages/tables/examples/scrollable-table.md
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): allow menu usage in table elements (#990)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/styled/select/StyledInput.ts
  packages/tables/examples/scrollable-table.md
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update sentence case and README
  packages/tooltips/README.md
  packages/tooltips/stories/2-Tooltip.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
