Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.48.0 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  iframe.html
  main.ba455001.iframe.bundle.js
  main.ce488c58.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(renovate): remove post updates from config
  .github/renovate.json
Due: none

chore(renovate): remove post updates from config (#1288)
  .github/renovate.json
Due: none

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency chalk to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency execa to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(datepickers): add missing DatepickerRange subcomponent display names
  packages/datepickers/.size-snapshot.json
  packages/datepickers/src/elements/DatepickerRange/components/Calendar.tsx
  packages/datepickers/src/elements/DatepickerRange/components/End.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Start.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(datepickers): add missing `DatepickerRange` subcomponent display names (#1289)
  packages/datepickers/.size-snapshot.json
  packages/datepickers/src/elements/DatepickerRange/components/Calendar.tsx
  packages/datepickers/src/elements/DatepickerRange/components/End.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Start.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.71dd22d1.iframe.bundle.js
  main.ba455001.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(deps): update dependency react-dropzone to v11.5.3
  packages/forms/package.json
  packages/forms/yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency prop-types to v15.8.1
  examples/codesandbox/package.json
  examples/codesandbox/yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.492c14d3.iframe.bundle.js
  main.71dd22d1.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(deps): update dependency commander to v9
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-plugin-jest to v26
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.937a2f7d.iframe.bundle.js
  main.c28ffc99.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(deps): update dependency @zendeskgarden/eslint-config to v27
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.1315095b.iframe.bundle.js
  main.c28ffc99.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.110fcd96.iframe.bundle.js
  main.1315095b.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix prefer-object-has-own eslint warnings
  .eslintrc.json
  packages/avatars/demo/~patterns/stories/MenuStory.tsx
  packages/notifications/demo/stories/ToastStory.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.48.1 [skip ci]
  CHANGELOG.md
Due: none

Revert `Object.hasOwn` usage which currently fails tsc
  .eslintrc.json
  packages/avatars/demo/~patterns/stories/MenuStory.tsx
  packages/notifications/demo/stories/ToastStory.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.1315095b.iframe.bundle.js
  main.15a4effa.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(datepickers): remove unused exports in order to properly generate `CursorPagination` subcomponent "extends" documentation
  packages/pagination/src/elements/CursorPagination/components/Last.tsx
  packages/pagination/src/elements/CursorPagination/components/Next.tsx
  packages/pagination/src/elements/CursorPagination/components/Previous.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(datepickers): remove unused exports in order to generate subcomponent "extends" documentation
  packages/pagination/src/elements/CursorPagination/components/Last.tsx
  packages/pagination/src/elements/CursorPagination/components/Next.tsx
  packages/pagination/src/elements/CursorPagination/components/Previous.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.15a4effa.iframe.bundle.js
  main.d5c9ab02.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(deps): update dependency @zendeskgarden/stylelint-config to v17
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove unnecessary default props
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/Accordion.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Clean up API defaults
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/src/elements/stepper/Stepper.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Consolidate types and interface
  packages/tooltips/src/utils/types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Use shared types
  packages/tooltips/.size-snapshot.json
  packages/tooltips/src/elements/Tooltip.spec.tsx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/index.ts
  packages/tooltips/src/styled/StyledTooltip.ts
  packages/tooltips/src/styled/index.ts
  packages/tooltips/src/utils/gardenPlacements.spec.ts
  packages/tooltips/src/utils/gardenPlacements.ts
  packages/tooltips/src/utils/types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(stylelint): correct config and simplify css lint cmd
  .stylelintrc
  package.json
Due: prettier-package-json --write

chore(chrome/sheet): remove dangling asterisk from type description
  packages/chrome/src/elements/sheet/Sheet.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
