Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): bump avatar's react-theming peer to 8.65.0
  packages/avatars/package.json
Due: prettier-package-json --write

Rollback
  packages/buttons/src/styled/StyledButton.ts
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Initial focus styling utility
  packages/theming/src/utils/focusStyles.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Initial focus styling utility
  packages/theming/package.json
  packages/theming/src/index.ts
  packages/theming/src/utils/getColor.ts
  packages/theming/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Cleanup
  packages/buttons/.size-snapshot.json
  packages/buttons/yarn.lock
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/input-group/InputGroup.spec.tsx
  packages/theming/.size-snapshot.json
  packages/theming/src/utils/focusStyles.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Rollback buttons
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
  packages/buttons/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Rollback
  packages/buttons/.size-snapshot.json
Due: none

Memoize getColor
  packages/theming/.size-snapshot.json
  packages/theming/src/index.ts
  packages/theming/src/utils/focusStyles.ts
  packages/theming/src/utils/getColor.spec.ts
  packages/theming/src/utils/getColor.ts
  packages/theming/src/utils/menuStyles.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add getFocusBoxShadow and document utilities
  packages/theming/src/index.ts
  packages/theming/src/utils/focusStyles.ts
  packages/theming/src/utils/getColor.ts
  packages/theming/src/utils/getFocusBoxShadow.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

`StyledButton` focus example
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

`StyledTextInput` focus example
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update theme snapshot test
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/theme/index.spec.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add unit testing
  packages/theming/.size-snapshot.json
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/focusStyles.ts
  packages/theming/src/utils/getFocusBoxShadow.spec.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(deps): remove .template from renovate updates
  .github/renovate.json
Due: none

Rename `inset` since `focusInset` is redundant
  packages/theming/.size-snapshot.json
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/focusStyles.ts
  packages/theming/src/utils/getFocusBoxShadow.spec.ts
  packages/theming/src/utils/getFocusBoxShadow.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Handle focus-visible pseudo-class selector customization
  packages/theming/.size-snapshot.json
  packages/theming/src/index.ts
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/focusStyles.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add ability to remove the focus ring spacer
  packages/theming/.size-snapshot.json
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/focusStyles.ts
  packages/theming/src/utils/getFocusBoxShadow.spec.ts
  packages/theming/src/utils/getFocusBoxShadow.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(theming): add focus styling utilities (#1542)
  packages/theming/.size-snapshot.json
  packages/theming/package.json
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/theme/index.spec.ts
  packages/theming/src/elements/theme/index.ts
  packages/theming/src/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/focusStyles.ts
  packages/theming/src/utils/getColor.spec.ts
  packages/theming/src/utils/getColor.ts
  packages/theming/src/utils/getFocusBoxShadow.spec.ts
  packages/theming/src/utils/getFocusBoxShadow.ts
  packages/theming/src/utils/menuStyles.ts
  packages/theming/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore(drag-drop): adds figma link to drag and drop storybook
  packages/drag-drop/demo/draggable-list.stories.mdx
  packages/drag-drop/demo/draggable.stories.mdx
  packages/drag-drop/demo/dropzone.stories.mdx
Due: none

Implement maxTags with "show more" action
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/combobox/StyledTag.ts
  packages/dropdowns.next/src/views/combobox/StyledTagsButton.ts
  packages/dropdowns.next/src/views/combobox/StyledValue.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

rearrange Combobox
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(drag-drop): adds figma link to drag and drop storybook (#1544)
  packages/drag-drop/demo/draggable-list.stories.mdx
  packages/drag-drop/demo/draggable.stories.mdx
  packages/drag-drop/demo/dropzone.stories.mdx
Due: none

Updates [skip ci]
  iframe.html
  main.e5ee2d28.iframe.bundle.js
  main.f525b0aa.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(theming): improve `getColor` memoization resolver performance
  packages/theming/.size-snapshot.json
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(theming): improve `getColor` memoization resolver performance (#1545)
  packages/theming/.size-snapshot.json
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.4177ff61.iframe.bundle.js
  main.f525b0aa.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(avatars): suppress statusLabel's useText warning when there is no configured status (#1540)
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/avatars/src/elements/Avatar.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.4177ff61.iframe.bundle.js
  main.d80d354a.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.66.0 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  iframe.html
  main.911e8dda.iframe.bundle.js
  main.d80d354a.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(breadcrumbs): add global theme styles override
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/src/styled/StyledBreadcrumb.ts
  packages/breadcrumbs/src/styled/StyledBreadcrumbItem.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix focus interaction
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Handle tag removal on click
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/context/useComboboxContext.ts
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/elements/combobox/Tag.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update focus styling
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/views/combobox/StyledTrigger.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(breadcrumbs): add global theme styles override (#1546)
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/src/styled/StyledBreadcrumb.ts
  packages/breadcrumbs/src/styled/StyledBreadcrumbItem.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.911e8dda.iframe.bundle.js
  main.b04ee165.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Implement Field+Label+Hint+Message components
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/demo/combobox.stories.mdx
  packages/dropdowns.next/demo/stories/ComboboxStory.tsx
  packages/dropdowns.next/package.json
  packages/dropdowns.next/src/context/useComboboxContext.ts
  packages/dropdowns.next/src/context/useFieldContext.ts
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/elements/combobox/Field.tsx
  packages/dropdowns.next/src/elements/combobox/Hint.tsx
  packages/dropdowns.next/src/elements/combobox/Label.tsx
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
  packages/dropdowns.next/src/elements/combobox/Message.tsx
  packages/dropdowns.next/src/index.ts
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/combobox/StyledCombobox.ts
  packages/dropdowns.next/src/views/combobox/StyledField.ts
  packages/dropdowns.next/src/views/combobox/StyledHint.ts
  packages/dropdowns.next/src/views/combobox/StyledInputIcon.ts
  packages/dropdowns.next/src/views/combobox/StyledLabel.ts
  packages/dropdowns.next/src/views/combobox/StyledMessage.ts
  packages/dropdowns.next/src/views/combobox/StyledTrigger.ts
  packages/dropdowns.next/src/views/index.ts
  packages/dropdowns.next/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0 --ignore-pattern !.storybook: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
