Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "linters": {
    "*.js": [
      "stylelint",
      "eslint",
      "jest --config=utils/test/jest.config.js --findRelatedTests",
      "prettier --write",
      "git add"
    ],
    "*.md": [
      "markdownlint",
      "prettier --write",
      "git add"
    ],
    "**/package.json": [
      "prettier-package-json --write",
      "git add"
    ]
  },
  "ignore": ["**/CHANGELOG.md"]
}

Replace with updated react-theming
  packages/datepickers/src/styled/styled-datepicker.tsx
  packages/datepickers/src/styled/styled-menu.tsx
  utils/build/declarations.d.ts
Due: none

Fix styling
  packages/datepickers/src/styled/styled-datepicker.tsx
Due: none

Updates
  next/datepickers/build/bundle.0365abec.js
  next/datepickers/index.html
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix styling
  packages/typography/src/views/Code.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix styling
  packages/typography/src/views/LG.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update `getColor` to receive special hue keys for primary, success, neutral, etc
  packages/theming/src/ThemeProvider/ThemeProvider.example.md
  packages/theming/src/theme/shadows.js
  packages/theming/src/utils/getColor.js
  packages/theming/src/utils/getColor.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

chore(deps): update dependency lint-staged to v9
  package.json
  yarn.lock
Due: prettier-package-json --write

Update with more efficient color lookup
  packages/theming/src/utils/getColor.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Migrate Dots to useSchedule and remove velocity prop in favour of duration prop
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Dots.js
  packages/loaders/src/Dots.spec.js
  packages/loaders/src/Spinner.spec.js
  packages/loaders/src/containers/ScheduleContainer.js
  packages/loaders/src/styled-elements.js
  packages/loaders/src/styled-elements.spec.js
  packages/loaders/src/utils/animations.js
  packages/loaders/src/utils/animations.spec.js
  packages/loaders/src/utils/dot-coordinates.js
  packages/loaders/src/utils/dot-coordinates.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

chore(deps): update dependency husky to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all development non-major dependencies
  package.json
  packages/tables/package.json
  yarn.lock
Due: prettier-package-json --write

Add @types/react resolution and fix lint-staged
  .lintstagedrc
  lint-staged.config.js
  package.json
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

create hook to avoid user agent sniffing and detect css transform support for svg elements
  packages/loaders/src/Dots.js
  packages/loaders/src/Dots.spec.js
  packages/loaders/src/utils/useCSSSVGAnimation.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Enable travis on `next` branch
  .travis.yml
Due: none

Protect undefined `theme`
  packages/theming/src/utils/retrieveComponentStyles.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore: Add deprecation docs and warning to all Container components
  packages/breadcrumbs/src/containers/BreadcrumbContainer.example.md
  packages/breadcrumbs/src/containers/BreadcrumbContainer.js
  packages/buttons/src/containers/ButtonGroupContainer.example.md
  packages/buttons/src/containers/ButtonGroupContainer.js
  packages/chrome/src/containers/AccordionContainer.example.md
  packages/chrome/src/containers/AccordionContainer.js
  packages/loaders/src/containers/ScheduleContainer.example.md
  packages/loaders/src/containers/ScheduleContainer.js
  packages/modals/src/containers/FocusJailContainer.example.md
  packages/modals/src/containers/FocusJailContainer.js
  packages/modals/src/containers/ModalContainer.example.md
  packages/modals/src/containers/ModalContainer.js
  packages/pagination/src/containers/PaginationContainer.example.md
  packages/pagination/src/containers/PaginationContainer.js
  packages/selection/src/containers/FieldContainer.example.md
  packages/selection/src/containers/FieldContainer.js
  packages/selection/src/containers/KeyboardFocusContainer.example.md
  packages/selection/src/containers/KeyboardFocusContainer.js
  packages/selection/src/containers/SelectionContainer.example.md
  packages/selection/src/containers/SelectionContainer.js
  packages/tabs/src/containers/TabsContainer.example.md
  packages/tabs/src/containers/TabsContainer.js
  packages/tooltips/src/containers/TooltipContainer.example.md
  packages/tooltips/src/containers/TooltipContainer.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Don't show in tests either
  packages/breadcrumbs/src/containers/BreadcrumbContainer.js
  packages/buttons/src/containers/ButtonGroupContainer.js
  packages/chrome/src/containers/AccordionContainer.js
  packages/loaders/src/containers/ScheduleContainer.js
  packages/modals/src/containers/FocusJailContainer.js
  packages/modals/src/containers/ModalContainer.js
  packages/pagination/src/containers/PaginationContainer.js
  packages/selection/src/containers/FieldContainer.js
  packages/selection/src/containers/KeyboardFocusContainer.js
  packages/selection/src/containers/SelectionContainer.js
  packages/tabs/src/containers/TabsContainer.js
  packages/tooltips/src/containers/TooltipContainer.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Feedback
  packages/loaders/src/Dots.js
  packages/loaders/src/utils/animations.js
  packages/loaders/src/utils/useCSSSVGAnimation.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Move hook to hooks folder
  packages/loaders/src/Dots.js
  packages/loaders/src/hooks/useCSSSVGAnimation.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Initial `List` and `Item` components
  packages/typography/src/index.js
  packages/typography/src/views/lists/Item.example.md
  packages/typography/src/views/lists/Item.js
  packages/typography/src/views/lists/List.example.md
  packages/typography/src/views/lists/List.js
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

fix(dropdowns): remove webkit button styling when used with css-bedrock
  packages/dropdowns/src/styled/field/StyledSelect.ts
Due: none

fix(dropdowns): remove webkit button styling when used with css-bedrock (#386)
  packages/dropdowns/src/styled/field/StyledSelect.ts
Due: none

chore(release): publish
  lerna.json
  packages/dropdowns/package.json
  packages/tables/package.json
Due: prettier-package-json --write

Add v6.2.1 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

feat(dropdowns): export resetIdCounter to allow SSR
  examples/nextjs/components/layout.js
  examples/nextjs/package.json
  examples/nextjs/pages/_app.js
  examples/nextjs/pages/_document.js
  examples/nextjs/pages/index.js
  examples/nextjs/yarn.lock
  packages/dropdowns/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(dropdowns): export resetIdCounter to allow SSR (#387)
  examples/nextjs/components/layout.js
  examples/nextjs/package.json
  examples/nextjs/pages/_app.js
  examples/nextjs/pages/_document.js
  examples/nextjs/pages/index.js
  examples/nextjs/yarn.lock
  packages/dropdowns/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Handle size variations and add interactive demo
  packages/typography/src/views/MD.js
  packages/typography/src/views/lists/Item.js
  packages/typography/src/views/lists/List.example.md
  packages/typography/src/views/lists/List.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Add long text to interactive demo
  packages/typography/src/views/lists/List.example.md
Due: prettier --write, markdownlint

Add list/item tests
  packages/typography/src/views/lists/Item.spec.js
  packages/typography/src/views/lists/List.example.md
  packages/typography/src/views/lists/List.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Update default levels
  packages/typography/src/views/lists/List.example.md
Due: prettier --write, markdownlint
