Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

review: dropzone style refactors
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
  packages/drag-drop/src/utils/dropzoneStateStyles.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

review: additional styled component code style changes
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/elements/dropzone/components/Message.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
  packages/drag-drop/src/styled/draggable-list/StyledDropIndicator.ts
  packages/drag-drop/src/styled/draggable/StyledGrip.ts
  packages/drag-drop/src/styled/dropzone/StyledIcon.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

style: adds flex styling on dropzone when hasMessage is true
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/elements/dropzone/Dropzone.tsx
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
  packages/drag-drop/src/styled/dropzone/StyledMessage.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: type doc annotations
  packages/drag-drop/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: correct versions in package.json
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/package.json
Due: prettier-package-json --write

chore: bump lock file
  packages/drag-drop/yarn.lock
Due: none

Continued combobox option styling
  packages/dropdowns.next/src/context/useComboboxContext.ts
  packages/dropdowns.next/src/context/useOptionContext.ts
  packages/dropdowns.next/src/elements/Combobox.tsx
  packages/dropdowns.next/src/elements/Option.tsx
  packages/dropdowns.next/src/elements/OptionMeta.tsx
  packages/dropdowns.next/src/index.ts
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/StyledInputIcon.ts
  packages/dropdowns.next/src/views/StyledItem.ts
  packages/dropdowns.next/src/views/StyledItemContent.ts
  packages/dropdowns.next/src/views/StyledItemIcon.ts
  packages/dropdowns.next/src/views/StyledItemMeta.ts
  packages/dropdowns.next/src/views/StyledSelectedIcon.ts
  packages/dropdowns.next/src/views/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

review: add drop message to pattern, fix compact spacing in Draggable
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/~patterns/stories/SortableListsStory.tsx
  packages/drag-drop/src/elements/dropzone/Dropzone.spec.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: prevent drag error in some cases
  packages/drag-drop/demo/~patterns/stories/SortableListsStory.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Handle combobox option type styling
  packages/dropdowns.next/src/elements/Combobox.tsx
  packages/dropdowns.next/src/elements/Option.tsx
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/StyledItem.ts
  packages/dropdowns.next/src/views/StyledItemActionIcon.ts
  packages/dropdowns.next/src/views/StyledItemMeta.ts
  packages/dropdowns.next/src/views/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

review: remove dead types/annotations
  packages/drag-drop/demo/stories/DraggableStory.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDropIndicator.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: fix pattern animation jank
  packages/drag-drop/demo/~patterns/stories/SortableListsStory.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: adds static height to sortable list example, adds proper name casing
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/SortableListsStory.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(deps): adds svg-icons dev dep
  packages/drag-drop/package.json
  packages/drag-drop/yarn.lock
Due: prettier-package-json --write

Initial combobox.next OptGroup view styling
  packages/dropdowns.next/src/elements/Combobox.tsx
  packages/dropdowns.next/src/elements/OptGroup.tsx
  packages/dropdowns.next/src/elements/Option.tsx
  packages/dropdowns.next/src/elements/OptionMeta.tsx
  packages/dropdowns.next/src/index.ts
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/StyledOptGroup.ts
  packages/dropdowns.next/src/views/StyledOptGroupLabel.ts
  packages/dropdowns.next/src/views/StyledOption.ts
  packages/dropdowns.next/src/views/StyledOptionContent.ts
  packages/dropdowns.next/src/views/StyledOptionIcon.ts
  packages/dropdowns.next/src/views/StyledOptionMeta.ts
  packages/dropdowns.next/src/views/StyledOptionTypeIcon.ts
  packages/dropdowns.next/src/views/StyledSeparator.ts
  packages/dropdowns.next/src/views/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(types): alphabetize drag and drop types
  packages/drag-drop/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: small design tweaks
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/styled/draggable/StyledGrip.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add svg-icons dependency
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/package.json
Due: prettier-package-json --write

Simplify OptGroup styling
  packages/dropdowns.next/demo/#readme.stories.mdx
  packages/dropdowns.next/src/elements/Combobox.tsx
  packages/dropdowns.next/src/elements/OptGroup.tsx
  packages/dropdowns.next/src/views/StyledListbox.ts
  packages/dropdowns.next/src/views/StyledOptGroup.ts
  packages/dropdowns.next/src/views/StyledOptGroupLabel.ts
  packages/dropdowns.next/src/views/StyledOption.ts
  packages/dropdowns.next/src/views/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix cursor styling
  packages/dropdowns.next/src/views/StyledOption.ts
  packages/dropdowns.next/src/views/StyledSeparator.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

review: refactors & reorganizes stories, components, and styles
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/README.md
  packages/drag-drop/demo/draggable-list.stories.mdx
  packages/drag-drop/demo/draggable.stories.mdx
  packages/drag-drop/demo/dropzone.stories.mdx
  packages/drag-drop/demo/stories/DraggableListStory.tsx
  packages/drag-drop/demo/stories/DraggableStory.tsx
  packages/drag-drop/demo/stories/DropzoneStory.tsx
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/DragAndDropStory.tsx
  packages/drag-drop/src/elements/draggable-list/DraggableList.spec.tsx
  packages/drag-drop/src/elements/draggable-list/components/DropIndicator.tsx
  packages/drag-drop/src/elements/dropzone/Dropzone.spec.tsx
  packages/drag-drop/src/elements/dropzone/Dropzone.tsx
  packages/drag-drop/src/elements/dropzone/components/Icon.spec.tsx
  packages/drag-drop/src/elements/dropzone/components/Icon.tsx
  packages/drag-drop/src/elements/dropzone/components/Message.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
  packages/drag-drop/src/styled/draggable-list/StyledDropIndicator.ts
  packages/drag-drop/src/styled/draggable/StyledContent.ts
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/drag-drop/src/styled/draggable/StyledGrip.ts
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
  packages/drag-drop/src/styled/dropzone/StyledIcon.spec.tsx
  packages/drag-drop/src/styled/dropzone/StyledIcon.ts
  packages/drag-drop/src/styled/dropzone/StyledMessage.ts
  packages/drag-drop/src/types/index.ts
  packages/drag-drop/src/utils/useDropzoneContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

review: updates story controls, adds aria-label to drop indicator
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/draggable-list.stories.mdx
  packages/drag-drop/demo/draggable.stories.mdx
  packages/drag-drop/demo/dropzone.stories.mdx
  packages/drag-drop/demo/stories/DraggableListStory.tsx
  packages/drag-drop/demo/stories/DraggableStory.tsx
  packages/drag-drop/demo/stories/DropzoneStory.tsx
  packages/drag-drop/src/elements/draggable-list/components/DropIndicator.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDropIndicator.ts
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor: cleanup of drop indicator style order
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/draggable.stories.mdx
  packages/drag-drop/demo/dropzone.stories.mdx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
  packages/drag-drop/src/styled/draggable-list/StyledDropIndicator.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

review: rename Dropzone prop isCentered -> isVertical
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/elements/dropzone/Dropzone.spec.tsx
  packages/drag-drop/src/elements/dropzone/Dropzone.tsx
  packages/drag-drop/src/elements/dropzone/components/Icon.tsx
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
  packages/drag-drop/src/styled/dropzone/StyledIcon.ts
  packages/drag-drop/src/types/index.ts
  packages/drag-drop/src/utils/useDropzoneContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor: align DraggableList to Garden style rules
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: drag and drop pattern naming
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
Due: none

refactor: use math() instead of calc() in draggable list
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/elements/draggable-list/DraggableList.spec.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: allow for graceful failure of solo icon in dropzone
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/stories/DropzoneStory.tsx
  packages/drag-drop/src/elements/dropzone/Dropzone.tsx
  packages/drag-drop/src/elements/dropzone/components/Icon.tsx
  packages/drag-drop/src/styled/dropzone/StyledDropzone.ts
  packages/drag-drop/src/styled/dropzone/StyledIcon.spec.tsx
  packages/drag-drop/src/styled/dropzone/StyledIcon.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: move draggable list math calculation into variable
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fill out Listbox API
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/demo/combobox.stories.mdx
  packages/dropdowns.next/package.json
  packages/dropdowns.next/src/elements/Combobox.tsx
  packages/dropdowns.next/src/elements/Listbox.tsx
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/StyledFloating.ts
  packages/dropdowns.next/src/views/StyledListbox.ts
  packages/dropdowns.next/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore(changelog): add v8.64.0 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  project.json
Due: none

Initial useCombobox plumbing
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/package.json
  packages/dropdowns.next/src/context/useComboboxContext.ts
  packages/dropdowns.next/src/elements/Combobox.tsx
  packages/dropdowns.next/src/elements/Listbox.tsx
  packages/dropdowns.next/src/elements/Option.tsx
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

API & styling tweaks
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/Combobox.tsx
  packages/dropdowns.next/src/elements/Listbox.tsx
  packages/dropdowns.next/src/views/StyledOption.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Shuffle src files in prep for future Menu components
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
  packages/dropdowns.next/src/elements/combobox/OptGroup.tsx
  packages/dropdowns.next/src/elements/combobox/Option.tsx
  packages/dropdowns.next/src/elements/combobox/OptionMeta.tsx
  packages/dropdowns.next/src/index.ts
  packages/dropdowns.next/src/views/combobox/StyledCombobox.spec.tsx
  packages/dropdowns.next/src/views/combobox/StyledCombobox.ts
  packages/dropdowns.next/src/views/combobox/StyledContainer.ts
  packages/dropdowns.next/src/views/combobox/StyledFloating.ts
  packages/dropdowns.next/src/views/combobox/StyledInput.ts
  packages/dropdowns.next/src/views/combobox/StyledInputGroup.ts
  packages/dropdowns.next/src/views/combobox/StyledInputIcon.ts
  packages/dropdowns.next/src/views/combobox/StyledListbox.ts
  packages/dropdowns.next/src/views/combobox/StyledOptGroup.ts
  packages/dropdowns.next/src/views/combobox/StyledOption.ts
  packages/dropdowns.next/src/views/combobox/StyledOptionContent.ts
  packages/dropdowns.next/src/views/combobox/StyledOptionIcon.ts
  packages/dropdowns.next/src/views/combobox/StyledOptionMeta.ts
  packages/dropdowns.next/src/views/combobox/StyledOptionTypeIcon.ts
  packages/dropdowns.next/src/views/combobox/StyledSeparator.ts
  packages/dropdowns.next/src/views/combobox/StyledTrigger.ts
  packages/dropdowns.next/src/views/combobox/StyledValue.ts
  packages/dropdowns.next/src/views/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(dragdrop): add additional examples
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/DragAndDropStory.tsx
  packages/drag-drop/demo/~patterns/stories/MultiDirectionDnDStory.tsx
  packages/drag-drop/demo/~patterns/stories/SingleDirectionDnDStory.tsx
  packages/drag-drop/demo/~patterns/stories/components.tsx
  packages/drag-drop/demo/~patterns/stories/data.ts
  packages/drag-drop/demo/~patterns/stories/types.ts
  packages/drag-drop/demo/~patterns/stories/utils.ts
  packages/drag-drop/package.json
  packages/drag-drop/src/elements/draggable-list/DraggableList.spec.tsx
  packages/drag-drop/src/styled/draggable-list/StyledDraggableList.ts
  packages/drag-drop/src/styled/draggable-list/StyledDropIndicator.ts
  packages/drag-drop/src/styled/draggable/StyledGrip.ts
  packages/drag-drop/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore(dragdrop): improve keyboard operability of pattern
  packages/drag-drop/demo/~patterns/patterns.stories.mdx
  packages/drag-drop/demo/~patterns/stories/DragAndDropStory.tsx
  packages/drag-drop/demo/~patterns/stories/MultiDirectionDnDStory.tsx
  packages/drag-drop/demo/~patterns/stories/components.tsx
  packages/drag-drop/demo/~patterns/stories/types.ts
  packages/drag-drop/package.json
  packages/drag-drop/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0 --ignore-pattern !.storybook: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
