Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0 --ignore-pattern !.storybook",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Fix build
  packages/typography/src/elements/CodeBlock.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update useAccordion API
  package-lock.json
  packages/chrome/src/elements/subnav/CollapsibleSubNavItem.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update to not ignore dropdowns.next
  .github/renovate.json
Due: none

chore(docs): split up CHANGELOG by major version
  CHANGELOG.md
  docs/changelogs/v6.md
  docs/changelogs/v7.md
Due: none

Update migration link
  docs/migration.md
Due: none

chore(docs): split up CHANGELOG by major version (#1696)
  CHANGELOG.md
  docs/changelogs/v6.md
  docs/changelogs/v7.md
  docs/migration.md
Due: none

Configure lerna and CI for the `next` branch
  .circleci/config.yml
  lerna.json
  utils/scripts/tag.mjs
Due: none

Limit publish `next` tag to prerelease versions
  lerna.json
Due: none

chore: fix config to support `next` prerelease
  .circleci/config.yml
  lerna.json
  utils/scripts/tag.mjs
Due: none

chore: fix config to support `next` prerelease (#1697)
  .circleci/config.yml
  lerna.json
  utils/scripts/tag.mjs
Due: none

Updates [skip ci]
  1424.0410114a.iframe.bundle.js
  1424.0a5c1406.iframe.bundle.js
  accordions-demo-accordion-stories-mdx.51c365ba.iframe.bundle.js
  accordions-demo-accordion-stories-mdx.b790c6b2.iframe.bundle.js
  avatars-demo-patterns-patterns-stories-mdx.0541b457.iframe.bundle.js
  avatars-demo-patterns-patterns-stories-mdx.503d03f4.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.41d25f6f.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.866f63ba.iframe.bundle.js
  buttons-demo-iconButton-stories-mdx.051a06f9.iframe.bundle.js
  buttons-demo-iconButton-stories-mdx.9ccfe7bf.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.96cc7eb4.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.e6846af1.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.287e5b91.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.bce4a071.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.10f9bba3.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.709b1f3a.iframe.bundle.js
  dropdowns-next-demo-patterns-patterns-stories-mdx.0125de1a.iframe.bundle.js
  dropdowns-next-demo-patterns-patterns-stories-mdx.a6d81220.iframe.bundle.js
  iframe.html
  modals-demo-tooltipModal-stories-mdx.b1b98eb0.iframe.bundle.js
  modals-demo-tooltipModal-stories-mdx.c2d5228e.iframe.bundle.js
  notifications-demo-global-alert-stories-mdx.3e7260aa.iframe.bundle.js
  notifications-demo-global-alert-stories-mdx.e7106388.iframe.bundle.js
  project.json
  runtime~main.2a72e3f3.iframe.bundle.js
  runtime~main.f7e93752.iframe.bundle.js
  tables-demo-table-stories-mdx.4ec6a33c.iframe.bundle.js
  tables-demo-table-stories-mdx.b3f24fbc.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Chunk v8 out to a dedicated changelog
  CHANGELOG.md
  docs/changelogs/v8.md
Due: none

chore: configure `next` branch (#1698)
  .circleci/config.yml
  CHANGELOG.md
  docs/changelogs/v8.md
Due: none

fix(combobox): prevent disabled combobox from swapping custom/input values on click focus
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  project.json
Due: none

chore(scripts): fix `tag` to release on `next` branch
  package.json
  utils/scripts/tag.mjs
Due: prettier-package-json --write

chore(scripts): fix `tag` to release on `next` branch (#1701)
  package.json
  utils/scripts/tag.mjs
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v9.0.0-next.0 [skip ci]
  CHANGELOG.md
Due: none

feat: removes @zendeskgarden/react-utilities
  docs/migration.md
  docs/migrations/v8.md
  package-lock.json
  packages/utilities/.size-snapshot.json
  packages/utilities/README.md
  packages/utilities/package.json
  packages/utilities/src/index.js
  packages/utilities/src/utils/hasType.example.md
  packages/utilities/src/utils/hasType.js
  packages/utilities/src/utils/hasType.spec.js
  packages/utilities/src/utils/requiredParam.js
  packages/utilities/src/utils/requiredParam.spec.js
  tsconfig.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore: code review from @jzempel
  docs/migration.md
Due: none

fix(combobox): prevent disabled combobox from swapping custom/input values on click (#1699)
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: fix package-lock.json
  package-lock.json
Due: none

feat: removes @zendeskgarden/react-utilities (#1700)
  docs/migration.md
  docs/migrations/v8.md
  package-lock.json
  packages/utilities/.size-snapshot.json
  packages/utilities/README.md
  packages/utilities/package.json
  packages/utilities/src/index.js
  packages/utilities/src/utils/hasType.example.md
  packages/utilities/src/utils/hasType.js
  packages/utilities/src/utils/hasType.spec.js
  packages/utilities/src/utils/requiredParam.js
  packages/utilities/src/utils/requiredParam.spec.js
  tsconfig.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

feat: removes isRtl and getDocument helpers from @zendeskgarden/react-theming
  docs/migration.md
  packages/theming/src/index.ts
  packages/theming/src/utils/getDocument.spec.ts
  packages/theming/src/utils/getDocument.ts
  packages/theming/src/utils/isRtl.spec.ts
  packages/theming/src/utils/isRtl.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: remove withTheme hook
  packages/theming/README.md
  packages/theming/src/index.ts
  packages/theming/src/utils/withTheme.spec.tsx
  packages/theming/src/utils/withTheme.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat: removes isRtl and getDocument helpers from @zendeskgarden/react-theming (#1702)
  docs/migration.md
  packages/theming/README.md
  packages/theming/src/index.ts
  packages/theming/src/utils/getDocument.spec.ts
  packages/theming/src/utils/getDocument.ts
  packages/theming/src/utils/isRtl.spec.ts
  packages/theming/src/utils/isRtl.ts
  packages/theming/src/utils/withTheme.spec.tsx
  packages/theming/src/utils/withTheme.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat: update peer styled-components to 5.1.x
  docs/migration.md
  package-lock.json
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

Add position and placement utilities
  package-lock.json
  packages/theming/package.json
  packages/theming/src/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/getArrowPosition.ts
  packages/theming/src/utils/getFloatingPlacements.ts
  packages/theming/src/utils/getMenuPosition.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Add placement/position utilities testing
  packages/theming/src/utils/getArrowPosition.spec.ts
  packages/theming/src/utils/getArrowPosition.ts
  packages/theming/src/utils/getFloatingPlacements.spec.ts
  packages/theming/src/utils/getFloatingPlacements.ts
  packages/theming/src/utils/getMenuPosition.spec.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write
