Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

feat: adds legend prop to Combobox OptGroup, deprecates label
  docs/migration.md
  docs/migrations/v8.md
  packages/dropdowns/demo/stories/data.ts
  packages/dropdowns/src/elements/combobox/OptGroup.spec.tsx
  packages/dropdowns/src/elements/combobox/OptGroup.tsx
  packages/dropdowns/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Add initial PaletteStory
  packages/theming/demo/~patterns/pattern.stories.mdx
  packages/theming/demo/~patterns/stories/PaletteStory.tsx
  packages/theming/demo/~patterns/stories/components/Fields.tsx
  packages/theming/demo/~patterns/stories/components/Header.tsx
  packages/theming/demo/~patterns/stories/components/Main.tsx
  packages/theming/demo/~patterns/stories/components/Modal.tsx
  packages/theming/demo/~patterns/stories/components/Nav.tsx
  packages/theming/demo/~patterns/stories/components/Table.tsx
  packages/theming/demo/~patterns/stories/components/Tokens.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: update floating ui platform method isRTL to always return false
  packages/dropdowns.next/src/elements/menu/MenuList.tsx
  packages/dropdowns.next/src/elements/menu/utils.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(dropdowns.next): overrides floating ui's default RTL handling to prefer theme.rtl in menu (#1728)
  package-lock.json
  packages/dropdowns.next/src/elements/menu/MenuList.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: remove label prop
  docs/migration.md
  package-lock.json
  packages/dropdowns/src/elements/combobox/OptGroup.spec.tsx
  packages/dropdowns/src/elements/combobox/OptGroup.tsx
  packages/dropdowns/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: updates options getter function with legend
  packages/dropdowns/src/elements/combobox/utils.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: adds sub-component mapping to tooltips and tabs
  docs/migration.md
  package-lock.json
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/src/elements/Tabs.tsx
  packages/tabs/src/index.ts
  packages/tooltips/demo/stories/TooltipStory.tsx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: deprecates table exports and adds sub-component mapping
  docs/migration.md
  packages/tables/demo/stories/TableStory.tsx
  packages/tables/src/elements/Table.tsx
  packages/tables/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(dropdowns): overrides floating ui's default RTL handling to prefer theme.rtl in menu (#1728)
  package-lock.json
  packages/dropdowns/src/elements/menu/MenuList.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: adds rtl override to Tooltip, TooltipModal, and DatePicker
  packages/datepickers/src/elements/DatePicker/DatePicker.tsx
  packages/dropdowns/src/elements/menu/MenuList.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/tooltips/src/elements/Tooltip.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(dropdowns)!: replaces label prop with legend in OptGroup (#1729)
  docs/migration.md
  docs/migrations/v8.md
  package-lock.json
  packages/dropdowns/demo/stories/data.ts
  packages/dropdowns/src/elements/combobox/OptGroup.spec.tsx
  packages/dropdowns/src/elements/combobox/OptGroup.tsx
  packages/dropdowns/src/elements/combobox/utils.ts
  packages/dropdowns/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: adds rtl fix for floating ui implementations (#1732)
  packages/datepickers/src/elements/DatePicker/DatePicker.tsx
  packages/dropdowns/src/elements/menu/MenuList.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/tooltips/src/elements/Tooltip.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: capture changes from former next branch
  docs/migration.md
  packages/tables/README.md
  packages/tables/demo/table.stories.mdx
  packages/tables/src/elements/Table.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Remove `focusVisibleRef`
  package-lock.json
  packages/theming/demo/~patterns/pattern.stories.mdx
  packages/theming/demo/~patterns/stories/components/Tokens.tsx
  packages/theming/package.json
  packages/theming/src/elements/ThemeProvider.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore: content style fixes from @jzempel
  docs/migration.md
Due: none

feat(tables): adds sub-component mapping (#1733)
  docs/migration.md
  packages/tables/README.md
  packages/tables/demo/stories/TableStory.tsx
  packages/tables/demo/table.stories.mdx
  packages/tables/src/elements/Table.tsx
  packages/tables/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(dropdowns): controlled `Combobox` input value regression
  package-lock.json
  packages/dropdowns.next/package.json
Due: prettier-package-json --write

feat(chrome): adds sub-component mapping
  packages/chrome/demo/stories/ChromeStory.tsx
  packages/chrome/demo/stories/CollapsibleSubNavItemStory.tsx
  packages/chrome/src/elements/footer/Footer.tsx
  packages/chrome/src/elements/header/Header.tsx
  packages/chrome/src/elements/nav/Nav.tsx
  packages/chrome/src/elements/subnav/SubNav.tsx
  packages/chrome/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(dropdowns): controlled `Combobox` input value regression (#1735)
  package-lock.json
  packages/dropdowns.next/package.json
Due: prettier-package-json --write

chore: adds storybook and readme updates
  docs/migration.md
  packages/chrome/README.md
  packages/chrome/demo/chrome.stories.mdx
Due: none

feat: adds sub-component mapping to tooltips and tabs
  docs/migration.md
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/src/elements/Tabs.tsx
  packages/tabs/src/index.ts
  packages/tooltips/demo/stories/TooltipStory.tsx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: update tests
  packages/tabs/src/elements/Tabs.spec.tsx
  packages/tooltips/src/elements/Tooltip.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: update storybook and readme documentation
  docs/migration.md
  packages/tabs/README.md
  packages/tabs/demo/tabs.stories.mdx
  packages/tooltips/demo/tooltip.stories.mdx
Due: none

Setup story palette transfer
  packages/theming/demo/~patterns/pattern.stories.mdx
  packages/theming/demo/~patterns/stories/PaletteStory.tsx
  packages/theming/demo/~patterns/stories/components/Palette.tsx
  packages/theming/demo/~patterns/stories/components/Tokens.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Remove `focusVisibleRef` references
  packages/chrome/demo/stories/SheetStory.tsx
  packages/theming/src/elements/ThemeProvider.spec.tsx
  packages/theming/src/types/index.ts
  utils/test/garden-test-utils.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: component references, @jzempel review
  docs/migration.md
  packages/chrome/demo/chrome.stories.mdx
  packages/chrome/demo/stories/SubNavCollapsibleItem.tsx
  packages/chrome/demo/subNavCollapsibleItem.stories.mdx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(chrome): adds sub-component mapping (#1736)
  docs/migration.md
  packages/chrome/README.md
  packages/chrome/demo/chrome.stories.mdx
  packages/chrome/demo/stories/ChromeStory.tsx
  packages/chrome/demo/stories/SubNavCollapsibleItem.tsx
  packages/chrome/demo/subNavCollapsibleItem.stories.mdx
  packages/chrome/src/elements/footer/Footer.tsx
  packages/chrome/src/elements/header/Header.tsx
  packages/chrome/src/elements/nav/Nav.tsx
  packages/chrome/src/elements/subnav/SubNav.tsx
  packages/chrome/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: content style review per @jzempel
  docs/migration.md
Due: none

feat: adds subcomponent mapping to tabs and tooltips (#1734)
  docs/migration.md
  packages/tabs/README.md
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/demo/tabs.stories.mdx
  packages/tabs/src/elements/Tabs.spec.tsx
  packages/tabs/src/elements/Tabs.tsx
  packages/tabs/src/index.ts
  packages/tooltips/demo/stories/TooltipStory.tsx
  packages/tooltips/demo/tooltip.stories.mdx
  packages/tooltips/src/elements/Tooltip.spec.tsx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(chrome): use correct names in chrome subcomponents
  packages/chrome/demo/chrome.stories.mdx
Due: none

Update `PALETTE` with 100-1200 hue-shade values
  packages/theming/src/elements/palette/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(chrome): use correct names in chrome subcomponents (#1737)
  packages/chrome/demo/chrome.stories.mdx
Due: none

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.74.3 [skip ci]
  CHANGELOG.md
Due: none

Update v8 changelog with v8.74.3
  docs/changelogs/v8.md
Due: none
