Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Calculate icon size from the correct theme value
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): remove type attribute from div
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/styled/field/StyledSelect.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): remove type attribute from div (#759)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/styled/field/StyledSelect.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(buttons): new toggle button components (#757)
  .eslintrc.json
  packages/buttons/.size-snapshot.json
  packages/buttons/README.md
  packages/buttons/examples/basic.md
  packages/buttons/src/elements/Button.tsx
  packages/buttons/src/elements/ChevronButton.tsx
  packages/buttons/src/elements/IconButton.tsx
  packages/buttons/src/elements/ToggleButton.spec.tsx
  packages/buttons/src/elements/ToggleButton.tsx
  packages/buttons/src/elements/ToggleIconButton.spec.tsx
  packages/buttons/src/elements/ToggleIconButton.tsx
  packages/buttons/src/index.ts
  packages/buttons/src/styled/StyledButton.ts
  packages/buttons/src/styled/StyledIconButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Allow Start/End icon components to receive HTML attributes
  packages/buttons/src/elements/Button.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.12.0 [skip ci]
  CHANGELOG.md
Due: none

chore(deps): update dependency @zendeskgarden/svg-icons to v6.17.0
  packages/accordions/package.json
  packages/accordions/yarn.lock
  packages/breadcrumbs/package.json
  packages/breadcrumbs/yarn.lock
  packages/buttons/package.json
  packages/buttons/yarn.lock
  packages/chrome/package.json
  packages/chrome/yarn.lock
  packages/datepickers/package.json
  packages/datepickers/yarn.lock
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
  packages/forms/package.json
  packages/forms/yarn.lock
  packages/modals/package.json
  packages/modals/yarn.lock
  packages/notifications/package.json
  packages/notifications/yarn.lock
  packages/pagination/package.json
  packages/pagination/yarn.lock
  packages/tables/package.json
  packages/tables/yarn.lock
  packages/tags/package.json
  packages/tags/yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Update snapshots
  packages/accordions/.size-snapshot.json
  packages/avatars/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
  packages/typography/.size-snapshot.json
  packages/utilities/.size-snapshot.json
Due: none

Fix styled-components type errors
  package.json
  packages/forms/src/styled/checkbox/StyledCheckInput.ts
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Remove unnecessary interface
  packages/forms/src/styled/checkbox/StyledCheckInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Do not upgrade TypeScript
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @rollup/plugin-commonjs to v12
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(dropdowns): remove type attribute from div
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency @rollup/plugin-node-resolve to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency mockdate to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update typescript-eslint monorepo to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/stylelint-config to v13
  package.json
  yarn.lock
Due: prettier-package-json --write

Update eslintrc; remove deprecated rules
  .eslintrc.json
  packages/chrome/src/elements/header/HeaderItemIcon.tsx
  packages/chrome/src/elements/nav/NavItemIcon.tsx
  packages/dropdowns/src/elements/Dropdown/Dropdown.tsx
  packages/dropdowns/src/utils/useDropdownContext.ts
  packages/notifications/src/utils/icons.ts
  packages/tags/src/styled/StyledClose.ts
  utils/build/styled.d.ts
  utils/styleguide/TableOfContentsRenderer/Changelog.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency eslint to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

Address eslint errors
  packages/utilities/.size-snapshot.json
  packages/utilities/src/utils/hasType.js
  packages/utilities/src/utils/requiredParam.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): remove type attribute from div (#772)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency @zendeskgarden/eslint-config to v13
  package.json
  yarn.lock
Due: prettier-package-json --write

Resolve for @zendeskgarden/eslint 13.0.0
  package.json
  utils/test/jest.config.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Do not update TypeScript version
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update node orb to v3
  .circleci/config.yml
Due: none

Update icon styling to design spec
  packages/buttons/.size-snapshot.json
  packages/buttons/examples/basic.md
  packages/buttons/src/styled/StyledButton.ts
  packages/buttons/src/styled/StyledIconButton.spec.tsx
  packages/buttons/src/styled/StyledIconButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

This is sadness
  .circleci/config.yml
Due: none
