Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Add test:ci script
  .circleci/config.yml
  package.json
Due: prettier-package-json --write

Add temp dependency
  package.json
  yarn.lock
Due: prettier-package-json --write

Add ora dependency
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove redundant scripts
  utils/scripts/github-release.js
  utils/scripts/update-changelog.js
  utils/scripts/version.sh
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Initial tag version release script
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix return values
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix execution permissions
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Attempt to stop the spinner
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Await for async task
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Move changelog logic inline
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix changelog write
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Uncomment script
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use conventional commits to determine version
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Finesse output
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Handle deploy confirm/rollback
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Handle no-confirm on version
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update changelog commit message
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Uncomment tag script for production
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add StyledParagraph component
  packages/typography/src/styled/StyledParagraph.spec.tsx
  packages/typography/src/styled/StyledParagraph.ts
  packages/typography/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Convert JS -> TS (with fixes)
  packages/typography/.size-snapshot.json
  packages/typography/src/elements/lists/OrderedList.tsx
  packages/typography/src/elements/lists/UnorderedList.tsx
  packages/typography/src/styled/StyledCode.spec.tsx
  packages/typography/src/styled/StyledEllipsis.spec.tsx
  packages/typography/src/styled/StyledFont.spec.tsx
  packages/typography/src/styled/StyledList.spec.tsx
  packages/typography/src/styled/StyledList.ts
  packages/typography/src/styled/StyledListItem.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add Paragraph element component
  packages/typography/src/elements/Paragraph.spec.tsx
  packages/typography/src/elements/Paragraph.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add paragraph example to demo
  packages/typography/examples/paragraph.md
  packages/typography/src/elements/Paragraph.tsx
  packages/typography/src/index.ts
  packages/typography/src/styled/StyledParagraph.ts
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/typography/.size-snapshot.json
Due: none

feat(typography): add Paragraph component (#724)
  packages/typography/.size-snapshot.json
  packages/typography/examples/paragraph.md
  packages/typography/src/elements/Paragraph.spec.tsx
  packages/typography/src/elements/Paragraph.tsx
  packages/typography/src/elements/lists/OrderedList.tsx
  packages/typography/src/elements/lists/UnorderedList.tsx
  packages/typography/src/index.ts
  packages/typography/src/styled/StyledCode.spec.tsx
  packages/typography/src/styled/StyledEllipsis.spec.tsx
  packages/typography/src/styled/StyledFont.spec.tsx
  packages/typography/src/styled/StyledList.spec.tsx
  packages/typography/src/styled/StyledList.ts
  packages/typography/src/styled/StyledListItem.spec.tsx
  packages/typography/src/styled/StyledParagraph.spec.tsx
  packages/typography/src/styled/StyledParagraph.ts
  packages/typography/src/styled/index.ts
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Move validation to preversion script
  package.json
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Improve connection between scripting verb and script file
  package.json
  utils/scripts/new.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Fix "demo" path
  utils/scripts/deploy.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore: add v8.6.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Bump @zendeskgarden/scripts to fix github deploy auto_merge error
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: enhanced scripting workflow (#726)
  .circleci/config.yml
  .gitignore
  package.json
  utils/scripts/deploy.js
  utils/scripts/get-cids.sh
  utils/scripts/gh-pages.js
  utils/scripts/github-release.js
  utils/scripts/new.js
  utils/scripts/tag.js
  utils/scripts/update-changelog.js
  utils/scripts/version.sh
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(forms): allow multi-thumb range to allow track mouse interaction
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  packages/forms/src/elements/MultiThumbRange.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Move mouse event to slider
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  packages/forms/src/elements/MultiThumbRange.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(dropdowns): add start slot to autocomplete and select components
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/examples/field-variants.md
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.spec.tsx
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Select/Select.spec.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/styled/field/StyledSelect.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Ensure start works with bare styling
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/styled/field/StyledSelect.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(forms): allow multi-thumb range to allow track mouse interaction (#727)
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  packages/forms/src/elements/MultiThumbRange.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
