Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(accordions): correct default color of accordion labels (#993)
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/accordion/StyledButton.ts
  packages/accordions/src/styled/accordion/StyledRotateIcon.spec.tsx
  packages/accordions/src/styled/accordion/StyledRotateIcon.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Restyled per designs
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/SkipNav.tsx
  packages/chrome/src/styled/StyledSkipNav.ts
  packages/chrome/src/styled/StyledSkipNavIcon.ts
  packages/chrome/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/chrome/.size-snapshot.json
Due: none

feat(chrome): add SkipNav component (#994)
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/SkipNav.spec.tsx
  packages/chrome/src/elements/SkipNav.tsx
  packages/chrome/src/index.ts
  packages/chrome/src/styled/StyledChrome.ts
  packages/chrome/src/styled/StyledSkipNav.ts
  packages/chrome/src/styled/StyledSkipNavIcon.ts
  packages/chrome/src/styled/body/StyledContent.tsx
  packages/chrome/src/styled/body/StyledMain.tsx
  packages/chrome/src/styled/body/StyledSidebar.ts
  packages/chrome/src/styled/header/StyledHeaderItem.ts
  packages/chrome/src/styled/index.ts
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/chrome/src/styled/subnav/StyledSubNavItem.tsx
  packages/chrome/stories/2-Chrome.stories.tsx
  packages/chrome/stories/examples/Default.tsx
  packages/chrome/stories/examples/StandaloneHeader.tsx
  packages/chrome/yarn.lock
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.31.0 [skip ci]
  CHANGELOG.md
Due: none

Remove saturation touch events
  packages/colorpicker/.size-snapshot.json
  packages/colorpicker/src/elements/ColorPicker/Saturation.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

move dropdowns to the top of the next column in index.html
  demo/index.html
Due: none

Simplify README example
  packages/colorpicker/README.md
Due: none

Move lodash.throttle to dependency
  packages/colorpicker/.size-snapshot.json
  packages/colorpicker/package.json
Due: prettier-package-json --write

Update package.json description
  packages/colorpicker/package.json
Due: prettier-package-json --write

Update template
  packages/.template/package.json
Due: prettier-package-json --write

Use sentence case for hidden labels
  packages/colorpickers/src/elements/ColorDialog/index.spec.tsx
  packages/colorpickers/src/elements/ColorPicker/index.spec.tsx
  packages/colorpickers/src/elements/ColorPicker/index.tsx
  packages/colorpickers/stories/examples/ColorDialog.tsx
  packages/colorpickers/stories/examples/ColorPicker.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use color from theme object in example
  packages/colorpickers/stories/examples/ColorPicker.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update styled data garden id
  packages/colorpickers/src/styled/ColorPicker/StyledAlphaField.ts
  packages/colorpickers/src/styled/ColorPicker/StyledAlphaGradient.ts
  packages/colorpickers/src/styled/ColorPicker/StyledHexField.ts
  packages/colorpickers/src/styled/ColorPicker/StyledHueField.ts
  packages/colorpickers/src/styled/ColorPicker/StyledInputGroup.ts
  packages/colorpickers/src/styled/ColorPicker/StyledPreview.ts
  packages/colorpickers/src/styled/ColorPicker/StyledRGBAField.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationBlack.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationCircle.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationPointer.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationWhite.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationWrapper.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use getColor
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/styled/ColorDialog/StyledDialogPreview.ts
  packages/colorpickers/src/styled/ColorPicker/StyledHue.ts
  packages/colorpickers/src/styled/ColorPicker/StyledPreview.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationBlack.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationCircle.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationWhite.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use constants
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorPicker/index.tsx
  packages/colorpickers/src/elements/ColorPicker/reducer.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update ColorWell height
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationCircle.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationWrapper.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Rename Saturation to ColorWell
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorPicker/ColorWell.spec.tsx
  packages/colorpickers/src/elements/ColorPicker/ColorWell.tsx
  packages/colorpickers/src/elements/ColorPicker/index.tsx
  packages/colorpickers/src/styled/ColorPicker/StyledColorWell.ts
  packages/colorpickers/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update StyledHexField to use theme base value calculation
  packages/colorpickers/src/styled/ColorPicker/StyledHexField.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove styled label and use isRegular
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorPicker/index.tsx
  packages/colorpickers/src/styled/ColorPicker/StyledLabel.ts
  packages/colorpickers/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update RGB field to use theme base calculation for style
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/styled/ColorPicker/StyledRGBAField.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove math usage from StyledHue
  packages/colorpickers/src/styled/ColorPicker/StyledHue.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor color picker and dialog width
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/styled/ColorDialog/StyledTooltipModal.ts
  packages/colorpickers/src/styled/ColorPicker/StyledColorPicker.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update prop description for color dialog
  packages/colorpickers/src/elements/ColorDialog/index.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Consolidate ColorWell thumb elements
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorPicker/ColorWell.tsx
  packages/colorpickers/src/styled/ColorPicker/StyledColorWellThumb.ts
  packages/colorpickers/src/styled/ColorPicker/StyledColorWellWrapper.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationCircle.ts
  packages/colorpickers/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Activate `clip` transition
  packages/chrome/src/styled/StyledSkipNav.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add custom dialog trigger Storybook example
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/colorpickers/src/elements/ColorDialog/index.tsx
  packages/colorpickers/stories/3-ColorDialog.stories.tsx
  packages/colorpickers/stories/examples/WithIconButton.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update dependency @zendeskgarden/svg-icons to v6.28.0
  packages/accordions/package.json
  packages/accordions/yarn.lock
  packages/breadcrumbs/package.json
  packages/breadcrumbs/yarn.lock
  packages/buttons/package.json
  packages/buttons/yarn.lock
  packages/chrome/package.json
  packages/chrome/yarn.lock
  packages/datepickers/package.json
  packages/datepickers/yarn.lock
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
  packages/forms/package.json
  packages/forms/yarn.lock
  packages/modals/package.json
  packages/modals/yarn.lock
  packages/notifications/package.json
  packages/notifications/yarn.lock
  packages/pagination/package.json
  packages/pagination/yarn.lock
  packages/tables/package.json
  packages/tables/yarn.lock
  packages/tags/package.json
  packages/tags/yarn.lock
Due: prettier-package-json --write

fix(deps): update react monorepo to v17
  examples/codesandbox/package.json
  examples/codesandbox/yarn.lock
  examples/gatsby/package.json
  examples/gatsby/yarn.lock
  package.json
  yarn.lock
Due: prettier-package-json --write

Consolidate colorwell components
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorPicker/ColorWell.spec.tsx
  packages/colorpickers/src/elements/ColorPicker/ColorWell.tsx
  packages/colorpickers/src/elements/ColorPicker/index.spec.tsx
  packages/colorpickers/src/styled/ColorPicker/StyledColorWell.spec.tsx
  packages/colorpickers/src/styled/ColorPicker/StyledColorWell.ts
  packages/colorpickers/src/styled/ColorPicker/StyledColorWellThumb.ts
  packages/colorpickers/src/styled/ColorPicker/StyledColorWellWrapper.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationBlack.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSaturationWhite.ts
  packages/colorpickers/src/styled/index.ts
  packages/colorpickers/src/utils/saturation.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(chrome): enable SkipNav fade out transition animation (#1000)
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/StyledSkipNav.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
