Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update dependency chalk to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

feat(breadcrumbs): migrate breadcrumbs package to TS and reorg
  BREAKING_CHANGES.md
  packages/breadcrumbs/README.md
  packages/breadcrumbs/examples/basic.md
  packages/breadcrumbs/package.json
  packages/breadcrumbs/src/elements/Breadcrumb.example.md
  packages/breadcrumbs/src/elements/Breadcrumb.js
  packages/breadcrumbs/src/elements/Breadcrumb.spec.tsx
  packages/breadcrumbs/src/elements/Breadcrumb.tsx
  packages/breadcrumbs/src/index.js
  packages/breadcrumbs/src/index.spec.js
  packages/breadcrumbs/src/index.ts
  packages/breadcrumbs/src/styled/StyledBreadcrumb.spec.tsx
  packages/breadcrumbs/src/styled/StyledBreadcrumb.ts
  packages/breadcrumbs/src/styled/StyledBreadcrumbItem.spec.tsx
  packages/breadcrumbs/src/styled/StyledBreadcrumbItem.ts
  packages/breadcrumbs/src/styled/index.ts
  packages/breadcrumbs/src/views/BreadcrumbView.js
  packages/breadcrumbs/src/views/Item.js
  packages/breadcrumbs/src/views/List.example.md
  packages/breadcrumbs/styleguide.config.js
  packages/breadcrumbs/tsconfig.build.json
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(tabs): use state helper to avoid re-rendering
  packages/tabs/examples/default-tabs.md
Due: none

fix(tabs): use state helper to avoid re-rendering (#544)
  packages/tabs/examples/default-tabs.md
Due: none

feat(breadcrumbs): migrate breadcrumbs package to TS and reorg (#530)
  BREAKING_CHANGES.md
  packages/breadcrumbs/README.md
  packages/breadcrumbs/examples/basic.md
  packages/breadcrumbs/package.json
  packages/breadcrumbs/src/elements/Breadcrumb.example.md
  packages/breadcrumbs/src/elements/Breadcrumb.js
  packages/breadcrumbs/src/elements/Breadcrumb.spec.tsx
  packages/breadcrumbs/src/elements/Breadcrumb.tsx
  packages/breadcrumbs/src/index.js
  packages/breadcrumbs/src/index.spec.js
  packages/breadcrumbs/src/index.ts
  packages/breadcrumbs/src/styled/StyledBreadcrumb.spec.tsx
  packages/breadcrumbs/src/styled/StyledBreadcrumb.ts
  packages/breadcrumbs/src/styled/StyledBreadcrumbItem.spec.tsx
  packages/breadcrumbs/src/styled/StyledBreadcrumbItem.ts
  packages/breadcrumbs/src/styled/index.ts
  packages/breadcrumbs/src/views/BreadcrumbView.js
  packages/breadcrumbs/src/views/Item.js
  packages/breadcrumbs/src/views/List.example.md
  packages/breadcrumbs/styleguide.config.js
  packages/breadcrumbs/tsconfig.build.json
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Prevent prop leaking and rename `isDebug` -> `debug`
  BREAKING_CHANGES.md
  packages/grid/examples/advanced.md
  packages/grid/examples/basic.md
  packages/grid/src/elements/Col.tsx
  packages/grid/src/elements/Grid.tsx
  packages/grid/src/elements/Row.tsx
  packages/grid/src/styled/StyledCol.spec.tsx
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/styled/StyledGrid.ts
  packages/grid/src/styled/StyledRow.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Allow the portal container to be passed in as a prop
  packages/modals/src/elements/Modal.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fill out grid test specs
  packages/grid/src/elements/Grid.spec.tsx
  packages/grid/src/elements/Grid.tsx
  packages/grid/src/styled/StyledCol.spec.tsx
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/styled/StyledGrid.spec.tsx
  packages/grid/src/styled/StyledRow.spec.tsx
  packages/grid/src/utils/types.ts
  packages/grid/src/utils/useGridContext.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fill out element spec testing
  packages/grid/src/elements/Col.spec.tsx
  packages/grid/src/elements/Row.spec.tsx
  packages/grid/src/styled/StyledCol.spec.tsx
  packages/grid/src/styled/StyledGrid.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix eslint warning
  packages/grid/src/styled/StyledRow.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update bundle max size
  packages/grid/package.json
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
Due: prettier-package-json --write

Add v7.1.2 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Update knobs example and line-heights
  packages/grid/examples/advanced.md
  packages/grid/examples/basic.md
Due: none

Rename 'container' prop to 'appendToNode' for consistency
  packages/modals/src/elements/Modal.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Adding a unit test for the appendToNode prop
  packages/modals/src/elements/Modal.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update test to use attribute helpers
  packages/modals/src/elements/Modal.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(modals): allow the portal container to be customized as a prop (#547)
  packages/modals/src/elements/Modal.js
  packages/modals/src/elements/Modal.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/modals/package.json
Due: prettier-package-json --write

Add v7.1.3 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Fix imports
  packages/grid/src/styled/StyledCol.spec.tsx
  packages/grid/src/styled/StyledRow.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Apply garden logo to demo pages
  demo/index.html
  demo/index.svg
  package.json
  utils/styleguide/LogoRenderer/index.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Correct responsive sizing
  packages/grid/examples/advanced.md
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/styled/StyledRow.ts
  packages/theming/examples/default-theme.md
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update menu icon
  demo/index.html
Due: none

Rename type constants
  packages/grid/src/elements/Col.tsx
  packages/grid/src/elements/Grid.tsx
  packages/grid/src/elements/Row.tsx
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/styled/StyledGrid.ts
  packages/grid/src/styled/StyledRow.ts
  packages/grid/src/utils/types.ts
  packages/grid/src/utils/useGridContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Rename NUMBER -> GRID_NUMBER
  packages/grid/src/elements/Col.tsx
  packages/grid/src/elements/Grid.tsx
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/styled/StyledRow.ts
  packages/grid/src/utils/types.ts
  packages/grid/src/utils/useGridContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add BREAKPOINT constant to cover number | string | boolean types
  packages/grid/src/elements/Col.tsx
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/utils/types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(grid): CSS-in-JS refactor (#545)
  BREAKING_CHANGES.md
  packages/grid/README.md
  packages/grid/examples/advanced.md
  packages/grid/examples/basic.md
  packages/grid/package.json
  packages/grid/src/elements/Col.spec.tsx
  packages/grid/src/elements/Col.tsx
  packages/grid/src/elements/Grid.spec.tsx
  packages/grid/src/elements/Grid.tsx
  packages/grid/src/elements/Row.spec.tsx
  packages/grid/src/elements/Row.tsx
  packages/grid/src/styled/StyledCol.spec.tsx
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/styled/StyledGrid.spec.tsx
  packages/grid/src/styled/StyledGrid.ts
  packages/grid/src/styled/StyledRow.spec.tsx
  packages/grid/src/styled/StyledRow.ts
  packages/grid/src/utils/types.ts
  packages/grid/src/utils/useGridContext.spec.tsx
  packages/grid/src/utils/useGridContext.ts
  packages/grid/styleguide.config.js
  packages/theming/examples/default-theme.md
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/theme/index.ts
  utils/build/declarations.d.ts
  utils/build/styled.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update formatting with Prettier
  packages/buttons/src/elements/Anchor.tsx
  packages/buttons/src/elements/Button.tsx
  packages/buttons/src/elements/ChevronButton.tsx
  packages/buttons/src/elements/IconButton.tsx
  packages/grid/examples/basic.md
  packages/typography/src/elements/Code.tsx
  packages/typography/src/elements/Ellipsis.tsx
  packages/typography/src/elements/LG.tsx
  packages/typography/src/elements/MD.tsx
  packages/typography/src/elements/SM.tsx
  packages/typography/src/elements/XL.tsx
  packages/typography/src/elements/XXL.tsx
  packages/typography/src/elements/XXXL.tsx
  packages/typography/src/elements/lists/OrderedListItem.tsx
  packages/typography/src/elements/lists/UnorderedListItem.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Cherry pick latest release commits into next
  package.json
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
  packages/dropdowns/src/Menu/Menu.spec.tsx
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade stylelint and fix ts build
  package.json
  yarn.lock
Due: prettier-package-json --write

Cherry pick release commits into next (#551)
  package.json
  packages/buttons/src/elements/Anchor.tsx
  packages/buttons/src/elements/Button.tsx
  packages/buttons/src/elements/ChevronButton.tsx
  packages/buttons/src/elements/IconButton.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
  packages/dropdowns/src/Menu/Menu.spec.tsx
  packages/grid/examples/basic.md
  packages/typography/src/elements/Code.tsx
  packages/typography/src/elements/Ellipsis.tsx
  packages/typography/src/elements/LG.tsx
  packages/typography/src/elements/MD.tsx
  packages/typography/src/elements/SM.tsx
  packages/typography/src/elements/XL.tsx
  packages/typography/src/elements/XXL.tsx
  packages/typography/src/elements/XXXL.tsx
  packages/typography/src/elements/lists/OrderedListItem.tsx
  packages/typography/src/elements/lists/UnorderedListItem.tsx
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore: apply garden logo to demo pages (#549)
  demo/index.html
  demo/index.svg
  package.json
  utils/styleguide/LogoRenderer/index.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update dependency react-beautiful-dnd to v12
  packages/tables/package.json
Due: prettier-package-json --write

Address JZ comments
  packages/chrome/examples/basic.md
  packages/chrome/src/elements/header/HeaderItem.spec.tsx
  packages/chrome/src/elements/header/HeaderItem.tsx
  packages/chrome/src/elements/nav/NavItem.spec.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/chrome/src/elements/nav/NavItemIcon.ts
  packages/chrome/src/utils/types.ts
  packages/chrome/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
