Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix(modals|notifications): update type definition for button elements
  packages/modals/src/elements/Close.tsx
  packages/modals/src/elements/DrawerModal/Close.tsx
  packages/modals/src/elements/TooltipModal/Close.tsx
  packages/notifications/src/elements/content/Close.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): migrate react-avatars examples to storybook (#881)
  demo/index.html
  packages/avatars/.size-snapshot.json
  packages/avatars/README.md
  packages/avatars/package.json
  packages/avatars/src/styled/StyledAvatar.spec.tsx
  packages/avatars/src/styled/StyledAvatar.ts
  packages/avatars/stories/1-Readme.stories.mdx
  packages/avatars/stories/2-Avatar.stories.tsx
  packages/avatars/stories/examples/ChromeUsage.tsx
  packages/avatars/stories/examples/Default.tsx
  packages/avatars/stories/examples/MenuUsage.tsx
  packages/avatars/styleguide.config.js
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/styled/items/media/StyledMediaFigure.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(modals|notifications): update type definition for button elements (#896)
  packages/modals/src/elements/Close.tsx
  packages/modals/src/elements/DrawerModal/Close.tsx
  packages/modals/src/elements/TooltipModal/Close.tsx
  packages/notifications/src/elements/content/Close.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.24.2 [skip ci]
  CHANGELOG.md
Due: none

Allow null theme and update jsdoc
  packages/theming/src/elements/ThemeProvider.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add ThemeProvider prop sheet
  packages/theming/.size-snapshot.json
  packages/theming/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add ThemeProvider unit testing
  packages/theming/src/elements/ThemeProvider.spec.tsx
  packages/theming/src/elements/ThemeProvider.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/theming/.size-snapshot.json
Due: none

feat(theming): add :focus-visible scoping <div> knock-out option to ThemeProvider (#897)
  packages/theming/.size-snapshot.json
  packages/theming/src/elements/ThemeProvider.spec.tsx
  packages/theming/src/elements/ThemeProvider.tsx
  packages/theming/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(pagination): get theme from context
  packages/pagination/.size-snapshot.json
  packages/pagination/src/elements/Pagination/Pagination.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Move type-related content under typography
  packages/typography/stories/typograpghy/1-SM.stories.tsx
  packages/typography/stories/typograpghy/2-MD.stories.tsx
  packages/typography/stories/typograpghy/3-LG.stories.tsx
  packages/typography/stories/typograpghy/4-XL.stories.tsx
  packages/typography/stories/typograpghy/5-XXL.stories.tsx
  packages/typography/stories/typograpghy/6-XXXL.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Adjust list centering
  packages/typography/stories/13-OrderedList.stories.tsx
  packages/typography/stories/14-UnorderedList.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Make list stories consistent
  packages/typography/stories/13-OrderedList.stories.tsx
  packages/typography/stories/14-UnorderedList.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Improve ellipsis story by updating text control
  packages/typography/stories/4-Ellipsis.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(pagination): get theme from context (#898)
  packages/pagination/.size-snapshot.json
  packages/pagination/src/elements/Pagination/Pagination.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): migrate react-typography to storybook (#895)
  demo/index.html
  packages/typography/README.md
  packages/typography/package.json
  packages/typography/stories/1-Readme.stories.mdx
  packages/typography/stories/13-OrderedList.stories.tsx
  packages/typography/stories/14-UnorderedList.stories.tsx
  packages/typography/stories/2-Code.stories.tsx
  packages/typography/stories/3-CodeBlock.stories.tsx
  packages/typography/stories/4-Ellipsis.stories.tsx
  packages/typography/stories/5-Paragraph.stories.tsx
  packages/typography/stories/6-Span.stories.tsx
  packages/typography/stories/typograpghy/1-SM.stories.tsx
  packages/typography/stories/typograpghy/2-MD.stories.tsx
  packages/typography/stories/typograpghy/3-LG.stories.tsx
  packages/typography/stories/typograpghy/4-XL.stories.tsx
  packages/typography/stories/typograpghy/5-XXL.stories.tsx
  packages/typography/stories/typograpghy/6-XXXL.stories.tsx
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(dropdowns): support Safari Voiceover commands
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Fields/Field.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): support Safari Voiceover commands (#902)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Fields/Field.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): improve safari voiceover support
  packages/dropdowns/src/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/Fields/Field.tsx
  packages/dropdowns/src/Multiselect/Multiselect.tsx
  packages/dropdowns/src/Trigger/Trigger.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): improve safari voiceover support (#903)
  packages/dropdowns/src/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/Fields/Field.tsx
  packages/dropdowns/src/Multiselect/Multiselect.tsx
  packages/dropdowns/src/Trigger/Trigger.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.25.0 [skip ci]
  CHANGELOG.md
Due: none

chore(release): publish
  lerna.json
  packages/dropdowns/package.json
Due: prettier-package-json --write

Add v7.3.4 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

fix(tables): ensure sortable header cells have focus-visible styling
  packages/tables/.size-snapshot.json
  packages/tables/src/styled/StyledSortableButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): migrate react-pagination examples to storybook
  demo/index.html
  packages/pagination/README.md
  packages/pagination/package.json
  packages/pagination/stories/1-Readme.stories.mdx
  packages/pagination/stories/2-Pagination.stories.tsx
  packages/pagination/stories/3-CursorPagination.stories.tsx
  packages/pagination/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore: update selection based containers
  packages/buttons/yarn.lock
  packages/dropdowns/yarn.lock
  packages/pagination/yarn.lock
  packages/tabs/yarn.lock
Due: none

fix(modals): align close button
  packages/modals/.size-snapshot.json
  packages/modals/src/styled/StyledClose.spec.tsx
  packages/modals/src/styled/StyledClose.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(tables): ensure sortable header cells have focus-visible styling (#904)
  packages/tables/.size-snapshot.json
  packages/tables/src/styled/StyledSortableButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write
