Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Remove extra line
  packages/datepickers/src/styled/styled-datepicker.tsx
Due: none

fix(buttons): white-space/word-wrap styling in the Anchor component (#398)
  packages/buttons/src/views/Anchor.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update list components directory layout
  packages/typography/examples/ordered-list.md
  packages/typography/examples/unordered-list.md
  packages/typography/src/components/lists/OrderedListItem.js
  packages/typography/src/components/lists/UnorderedListItem.js
  packages/typography/src/utils/useOrderedListContext.js
  packages/typography/src/utils/useOrderedListContext.spec.js
  packages/typography/src/utils/useUnorderedListContext.js
  packages/typography/src/utils/useUnorderedListContext.spec.js
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

chore(release): publish
  lerna.json
  packages/autocomplete/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/select/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
Due: prettier-package-json --write

Add v6.3.1 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

Update interaction strategy with focus logic
  packages/datepickers/src/DatepickerRange/DatepickerRange.spec.tsx
  packages/datepickers/src/DatepickerRange/DatepickerRange.tsx
  packages/datepickers/src/DatepickerRange/components/End.spec.tsx
  packages/datepickers/src/DatepickerRange/components/End.tsx
  packages/datepickers/src/DatepickerRange/components/Start.spec.tsx
  packages/datepickers/src/DatepickerRange/components/Start.tsx
  packages/datepickers/src/DatepickerRange/utils/datepicker-range-reducer.ts
  packages/datepickers/src/utils/calendar-utils.spec.ts
Due: none

Ensure no spacing between days
  packages/datepickers/src/styled/styled-datepicker.tsx
Due: none

chore(deps): update all development non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Factor out styled components
  packages/theming/src/theme/__snapshots__/index.spec.js.snap
  packages/theming/src/theme/index.js
  packages/typography/examples/code.md
  packages/typography/examples/ordered-list.md
  packages/typography/examples/unordered-list.md
  packages/typography/package.json
  packages/typography/src/components/Code.js
  packages/typography/src/components/Code.spec.js
  packages/typography/src/components/Ellipsis.js
  packages/typography/src/components/LG.js
  packages/typography/src/components/MD.js
  packages/typography/src/components/SM.js
  packages/typography/src/components/XL.js
  packages/typography/src/components/XXL.js
  packages/typography/src/components/XXXL.js
  packages/typography/src/components/lists/OrderedList.js
  packages/typography/src/components/lists/OrderedListItem.js
  packages/typography/src/components/lists/UnorderedList.js
  packages/typography/src/components/lists/UnorderedListItem.js
  packages/typography/src/components/lists/styles.js
  packages/typography/src/index.spec.js
  packages/typography/src/styled/StyledCode.js
  packages/typography/src/styled/StyledEllipsis.js
  packages/typography/src/styled/StyledFont.js
  packages/typography/src/styled/StyledList.js
  packages/typography/src/styled/StyledListItem.js
  packages/typography/src/styled/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Roll mockdate back to 2.0.3
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove commented console.log
  packages/datepickers/src/DatepickerRange/utils/datepicker-range-reducer.ts
Due: none

change Item value requirement to be inclusive of 0
  packages/dropdowns/src/Menu/Items/Item.ts
Due: none

fix(dropdowns): allow Item component to receive 0 as a value (#402)
  packages/dropdowns/src/Menu/Items/Item.ts
Due: none

chore(release): publish
  lerna.json
  packages/dropdowns/package.json
Due: prettier-package-json --write

Add v6.3.2 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

docs: Theme ids missing for inline examples
  utils/scripts/get-cids.sh
Due: none

docs: Theme ids missing for inline examples (#403)
  utils/scripts/get-cids.sh
Due: none

docs: Theme ids missing
  utils/scripts/get-cids.sh
Due: none

docs: Theme ids missing (#404)
  utils/scripts/get-cids.sh
Due: none

Improve typography examples (with knobs)
  packages/typography/examples/code.md
  packages/typography/examples/ellipsis.md
  packages/typography/examples/lg.md
  packages/typography/examples/lists.md
  packages/typography/examples/md.md
  packages/typography/examples/ordered-list.md
  packages/typography/examples/sm.md
  packages/typography/examples/typography.md
  packages/typography/examples/unordered-list.md
  packages/typography/examples/xl.md
  packages/typography/examples/xxl.md
  packages/typography/examples/xxxl.md
  packages/typography/src/components/Code.js
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

feat(datepickers): introduce DatepickerRange component (#397)
  packages/datepickers/examples/compact.md
  packages/datepickers/examples/custom-formats.md
  packages/datepickers/examples/default-usage.md
  packages/datepickers/examples/examples.md
  packages/datepickers/examples/localization.md
  packages/datepickers/examples/min-max-dates.md
  packages/datepickers/examples/range.md
  packages/datepickers/src/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/Datepicker/Datepicker.tsx
  packages/datepickers/src/Datepicker/components/Calendar.tsx
  packages/datepickers/src/Datepicker/components/MonthSelector.tsx
  packages/datepickers/src/Datepicker/utils/datepicker-reducer.ts
  packages/datepickers/src/Datepicker/utils/garden-placements.spec.ts
  packages/datepickers/src/Datepicker/utils/garden-placements.ts
  packages/datepickers/src/Datepicker/utils/useDatepickerContext.ts
  packages/datepickers/src/DatepickerRange/DatepickerRange.spec.tsx
  packages/datepickers/src/DatepickerRange/DatepickerRange.tsx
  packages/datepickers/src/DatepickerRange/components/Calendar.tsx
  packages/datepickers/src/DatepickerRange/components/End.spec.tsx
  packages/datepickers/src/DatepickerRange/components/End.tsx
  packages/datepickers/src/DatepickerRange/components/Month.tsx
  packages/datepickers/src/DatepickerRange/components/Start.spec.tsx
  packages/datepickers/src/DatepickerRange/components/Start.tsx
  packages/datepickers/src/DatepickerRange/utils/datepicker-range-reducer.ts
  packages/datepickers/src/DatepickerRange/utils/useDatepickerRangeContext.ts
  packages/datepickers/src/index.ts
  packages/datepickers/src/styled/styled-datepicker.tsx
  packages/datepickers/src/styled/styled-menu.spec.tsx
  packages/datepickers/src/styled/styled-menu.tsx
  packages/datepickers/src/utils/calendar-utils.spec.ts
  packages/datepickers/styleguide.config.js
  utils/test/jest.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Rearrange module exports
  packages/typography/src/components/lists/OrderedList.js
  packages/typography/src/components/lists/UnorderedList.js
  packages/typography/src/utils/useOrderedListContext.js
  packages/typography/src/utils/useUnorderedListContext.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Address @austin94 PR comments
  packages/buttons/README.md
  packages/buttons/examples/button-group.md
  packages/buttons/examples/icon-button.md
  packages/theming/src/theme/index.js
  utils/test/svg-mock.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

chore(deps): update dependency @testing-library/react to v9
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  packages/datepickers/package.json
Due: prettier-package-json --write

Add v6.4.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

Remove unnecessary after-each cleanup
  utils/test/jest.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(build): correct prettier error to release
  packages/datepickers/examples/range.md
Due: prettier --write, markdownlint

Path conditions:
  stylelint: any of: *.js
  eslint: any of: *.js
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.md)
  markdownlint: any of: *.md
  prettier-package-json --write: any of: **/package.json
