Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Ignore scripts on install
  .circleci/config.yml
Due: none

Include dependencies
  .circleci/config.yml
Due: none

Reduce concurrency
  .circleci/config.yml
  package.json
Due: prettier-package-json --write

Fix package lock and lint error
  .circleci/config.yml
  package-lock.json
  package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/Colorpicker/ColorWell.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Revert temp workflow change
  .circleci/config.yml
Due: none

Fix netlify deploy
  package-lock.json
  package.json
Due: prettier-package-json --write

fix(dropdowns.next): active listbox option and menu item styling (#1655)
  .circleci/config.yml
  package-lock.json
  package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/Colorpicker/ColorWell.tsx
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/views/combobox/StyledOption.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.73.3 [skip ci]
  CHANGELOG.md
Due: none

update size-snapshots
  package-lock.json
  packages/accordions/.size-snapshot.json
  packages/avatars/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/drag-drop/.size-snapshot.json
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
  packages/typography/.size-snapshot.json
  packages/utilities/.size-snapshot.json
Due: none

add empty tree component
  packages/trees/.size-snapshot.json
  packages/trees/README.md
  packages/trees/demo/tree.stories.mdx
  packages/trees/package.json
  packages/trees/src/elements/Tree.spec.tsx
  packages/trees/src/elements/Tree.tsx
  packages/trees/src/elements/TreeText.tsx
  packages/trees/src/index.ts
  packages/trees/src/styled/StyledTree.spec.tsx
  packages/trees/src/styled/StyledTree.ts
  packages/trees/src/styled/StyledTreeText.spec.tsx
  packages/trees/src/styled/StyledTreeText.ts
  packages/trees/src/styled/index.ts
  packages/trees/src/types/index.ts
  packages/trees/tsconfig.build.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Revert "update size-snapshots"
  package-lock.json
  packages/accordions/.size-snapshot.json
  packages/avatars/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/drag-drop/.size-snapshot.json
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
  packages/typography/.size-snapshot.json
  packages/utilities/.size-snapshot.json
Due: none

update package-lock.json
  package-lock.json
Due: none

update snapshots
  packages/accordions/.size-snapshot.json
  packages/avatars/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/drag-drop/.size-snapshot.json
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/grid/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
  packages/typography/.size-snapshot.json
  packages/utilities/.size-snapshot.json
Due: none

chore(forms): mark `MultiThumbRange` deprecated
  packages/forms/src/elements/MultiThumbRange.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update package lock
  package-lock.json
Due: none

Disable `sizeSnapshot`
  utils/build/rollup.config.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Disable storybook "whats new" notifications
  .storybook/main.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(forms): mark `MultiThumbRange` deprecated (#1661)
  .storybook/main.js
  package-lock.json
  packages/forms/src/elements/MultiThumbRange.tsx
  utils/build/rollup.config.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  2099.371c484e.iframe.bundle.js
  2099.a1249fc0.iframe.bundle.js
  8331.0699b257.iframe.bundle.js
  8331.44a1e256.iframe.bundle.js
  8888.2e484fac.iframe.bundle.js
  8888.a0018a7e.iframe.bundle.js
  accordions-demo-accordion-stories-mdx.0d16f5a7.iframe.bundle.js
  accordions-demo-accordion-stories-mdx.dad4cb72.iframe.bundle.js
  avatars-demo-patterns-patterns-stories-mdx.915686e9.iframe.bundle.js
  avatars-demo-patterns-patterns-stories-mdx.b2f7b067.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.08288b2e.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.8ab0538e.iframe.bundle.js
  buttons-demo-iconButton-stories-mdx.17ebe3d3.iframe.bundle.js
  buttons-demo-iconButton-stories-mdx.f0d64233.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.1756c68e.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.d4707e8e.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.38133f28.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.47be50be.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.8511828f.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.a18f5ae6.iframe.bundle.js
  dropdowns-next-demo-patterns-patterns-stories-mdx.a56c2fad.iframe.bundle.js
  dropdowns-next-demo-patterns-patterns-stories-mdx.e7ea549a.iframe.bundle.js
  iframe.html
  modals-demo-tooltipModal-stories-mdx.48425dfa.iframe.bundle.js
  modals-demo-tooltipModal-stories-mdx.ddbd7f4c.iframe.bundle.js
  notifications-demo-global-alert-stories-mdx.2d8c7e75.iframe.bundle.js
  notifications-demo-global-alert-stories-mdx.d5f914f2.iframe.bundle.js
  notifications-demo-toastProvider-stories-mdx.6eef87ae.iframe.bundle.js
  notifications-demo-toastProvider-stories-mdx.e972699f.iframe.bundle.js
  project.json
  runtime~main.779a5c98.iframe.bundle.js
  runtime~main.9b75f7aa.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(accordions): hide non-expanded panel content
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/styled/accordion/StyledInnerPanel.ts
  packages/accordions/src/styled/accordion/StyledPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledPanel.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Apply `inert` attribute to collapsed panel
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/styled/accordion/StyledPanel.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(accordions): hide collapsed panel content (#1662)
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/styled/accordion/StyledInnerPanel.ts
  packages/accordions/src/styled/accordion/StyledPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledPanel.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Initial dark pattern story
  packages/chrome/demo/~patterns/patterns.stories.mdx
  packages/chrome/demo/~patterns/stories/DarkStory.tsx
  packages/theming/src/elements/ThemeProvider.tsx
  packages/theming/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.73.4 [skip ci]
  CHANGELOG.md
Due: none

Initial dark mode story pattern
  packages/chrome/demo/~patterns/patterns.stories.mdx
  packages/chrome/demo/~patterns/stories/DarkStory.tsx
  packages/chrome/demo/~patterns/stories/components/Fields.tsx
  packages/chrome/demo/~patterns/stories/components/Header.tsx
  packages/chrome/demo/~patterns/stories/components/Main.tsx
  packages/chrome/demo/~patterns/stories/components/Modal.tsx
  packages/chrome/demo/~patterns/stories/components/Nav.tsx
  packages/chrome/src/elements/Chrome.tsx
  packages/chrome/src/styled/header/StyledHeader.ts
  packages/chrome/src/styled/nav/StyledNav.ts
  packages/forms/src/styled/radio/StyledRadioInput.ts
  packages/forms/src/styled/text/StyledTextInput.ts
  packages/modals/src/elements/Header.spec.tsx
  packages/modals/src/styled/StyledBackdrop.ts
  packages/modals/src/styled/StyledHeader.ts
  packages/modals/src/styled/StyledModal.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Use refactored `Menu` and add `isLight` control
  packages/chrome/demo/~patterns/patterns.stories.mdx
  packages/chrome/demo/~patterns/stories/DarkStory.tsx
  packages/chrome/demo/~patterns/stories/components/Header.tsx
  packages/dropdowns.next/src/views/combobox/StyledListboxSeparator.ts
  packages/theming/src/utils/menuStyles.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add story glob filter
  .storybook/main.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Enable backgrounds addon
  .storybook/preview.js
  packages/chrome/demo/~patterns/patterns.stories.mdx
  packages/chrome/demo/~patterns/stories/DarkStory.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Simplify condition
  .storybook/preview.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add table to demo POC
  packages/chrome/demo/~patterns/stories/components/Main.tsx
  packages/chrome/demo/~patterns/stories/components/Table.tsx
  packages/tables/src/styled/StyledHeaderRow.ts
  packages/tables/src/styled/StyledRow.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0 --ignore-pattern !.storybook: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
