Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Not enough information to understand the value of shade-shifting ATM
  packages/theming/src/theme/colors.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix to work without `primaryShade`
  packages/theming/src/utils/getColor.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update all development non-major dependencies
  package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  yarn.lock
Due: prettier-package-json --write

Lock jest-styled-components to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

Update @zendeskgarden/eslint-config
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): pin dependency @types/lodash.debounce to 4.0.6
  packages/dropdowns/package.json
Due: prettier-package-json --write

feat(datepickers): introduce Datepicker component
  README.md
  babel.config.js
  demo/index.html
  package.json
  packages/datepickers/README.md
  packages/datepickers/package.json
  packages/datepickers/src/Datepicker.spec.tsx
  packages/datepickers/src/Datepicker.tsx
  packages/datepickers/src/components/Calendar.tsx
  packages/datepickers/src/components/MonthSelector.tsx
  packages/datepickers/src/examples/compact.md
  packages/datepickers/src/examples/custom-formats.md
  packages/datepickers/src/examples/default-usage.md
  packages/datepickers/src/examples/examples.md
  packages/datepickers/src/examples/localization.md
  packages/datepickers/src/examples/min-max-dates.md
  packages/datepickers/src/index.ts
  packages/datepickers/src/styled/index.ts
  packages/datepickers/src/styled/styled-datepicker.tsx
  packages/datepickers/src/styled/styled-menu.tsx
  packages/datepickers/src/utils/garden-placements.ts
  packages/datepickers/src/utils/reducer.ts
  packages/datepickers/src/utils/useDatepickerContext.ts
  packages/datepickers/styleguide.config.js
  packages/datepickers/tsconfig.build.json
  utils/build/declarations.d.ts
  utils/build/webpack.base.js
  utils/styleguide/styleguide.base.config.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Address comments
  packages/datepickers/src/Datepicker.tsx
  packages/datepickers/src/components/Calendar.tsx
  packages/datepickers/src/components/MonthSelector.tsx
  packages/datepickers/src/utils/reducer.ts
Due: none

Use Intl localization methods
  packages/datepickers/src/Datepicker.spec.tsx
  packages/datepickers/src/Datepicker.tsx
  packages/datepickers/src/components/Calendar.tsx
  packages/datepickers/src/components/MonthSelector.tsx
  packages/datepickers/src/examples/custom-formats.md
  packages/datepickers/src/examples/default-usage.md
  packages/datepickers/src/examples/examples.md
  packages/datepickers/src/examples/localization.md
  packages/datepickers/src/examples/min-max-dates.md
  packages/datepickers/src/utils/calendar-utils.ts
  packages/datepickers/src/utils/reducer.ts
Due: prettier --write, markdownlint

Fix flash of invalid placement of popper
  packages/datepickers/src/Datepicker.spec.tsx
  packages/datepickers/src/Datepicker.tsx
Due: none

Increase test coverage to 100%
  packages/datepickers/src/Datepicker.spec.tsx
  packages/datepickers/src/Datepicker.tsx
  packages/datepickers/src/styled/styled-menu.spec.tsx
  packages/datepickers/src/utils/calendar-utils.spec.ts
  packages/datepickers/src/utils/garden-placements.spec.ts
Due: none

Add palette section to examples
  packages/theming/src/palette/index.example.md
  packages/theming/src/palette/index.js
  packages/theming/src/palette/product.js
  packages/theming/src/theme/index.js
  packages/theming/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Add logic to prevent label clicks
  packages/datepickers/package.json
  packages/datepickers/src/Datepicker.spec.tsx
  packages/datepickers/src/Datepicker.tsx
Due: prettier-package-json --write

feat(breadcrumbs): Migrate package to container-breadcrumb
  packages/breadcrumbs/package.json
  packages/breadcrumbs/src/containers/BreadcrumbContainer.js
  packages/breadcrumbs/src/elements/Breadcrumb.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Document theming palette
  packages/theming/README.md
  packages/theming/src/palette/index.example.md
  packages/theming/src/palette/index.js
  packages/theming/src/palette/palette.example.md
  packages/theming/src/theme/colors.js
  packages/theming/src/theme/index.js
  packages/theming/src/theme/shadows.js
  packages/theming/src/theme/theme.example.md
  packages/theming/src/utils/getColor.js
  packages/theming/src/utils/getColor.spec.js
  packages/theming/src/utils/retrieveComponentStyles.example.md
  packages/theming/styleguide.config.js
  packages/typography/src/views/Code.js
  utils/styleguide/setup.js
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

fix(notifications): show correct Notification and Alert styling
  packages/notifications/src/Alert.js
  packages/notifications/src/Alert.spec.js
  packages/notifications/src/Notification.js
  packages/notifications/src/Notification.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor styled elements and move to date-fns parsing
  packages/datepickers/README.md
  packages/datepickers/src/Datepicker.spec.tsx
  packages/datepickers/src/Datepicker.tsx
  packages/datepickers/src/examples/default-usage.md
  packages/datepickers/src/examples/examples.md
  packages/datepickers/src/examples/min-max-dates.md
  packages/datepickers/src/styled/styled-datepicker.tsx
Due: prettier --write, markdownlint

Fill out documentation for `palette` and `defaultTheme`
  packages/theming/README.md
  packages/theming/src/examples/palette.md
  packages/theming/src/examples/theme.md
  packages/theming/src/theme/theme.example.md
  packages/theming/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Update theming documentation
  packages/theming/README.md
  packages/theming/src/ThemeProvider/ThemeProvider.example.md
  packages/theming/src/examples/theme.md
  packages/theming/src/utils/retrieveComponentStyles.example.md
  packages/theming/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

feat(datepickers): introduce Datepicker component (#373)
  README.md
  babel.config.js
  demo/index.html
  package.json
  packages/datepickers/README.md
  packages/datepickers/package.json
  packages/datepickers/src/Datepicker.spec.tsx
  packages/datepickers/src/Datepicker.tsx
  packages/datepickers/src/components/Calendar.tsx
  packages/datepickers/src/components/MonthSelector.tsx
  packages/datepickers/src/examples/compact.md
  packages/datepickers/src/examples/custom-formats.md
  packages/datepickers/src/examples/default-usage.md
  packages/datepickers/src/examples/examples.md
  packages/datepickers/src/examples/localization.md
  packages/datepickers/src/examples/min-max-dates.md
  packages/datepickers/src/index.ts
  packages/datepickers/src/styled/index.ts
  packages/datepickers/src/styled/styled-datepicker.tsx
  packages/datepickers/src/styled/styled-menu.spec.tsx
  packages/datepickers/src/styled/styled-menu.tsx
  packages/datepickers/src/utils/calendar-utils.spec.ts
  packages/datepickers/src/utils/calendar-utils.ts
  packages/datepickers/src/utils/garden-placements.spec.ts
  packages/datepickers/src/utils/garden-placements.ts
  packages/datepickers/src/utils/reducer.ts
  packages/datepickers/src/utils/useDatepickerContext.ts
  packages/datepickers/styleguide.config.js
  packages/datepickers/tsconfig.build.json
  utils/build/declarations.d.ts
  utils/build/webpack.base.js
  utils/styleguide/styleguide.base.config.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

fix(notifications): show correct Notification and Alert styling (#379)
  packages/notifications/src/Alert.js
  packages/notifications/src/Alert.spec.js
  packages/notifications/src/Notification.js
  packages/notifications/src/Notification.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency eslint to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-config-prettier to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(build): upgrade eslint-loader to support eslint v6
  package.json
  yarn.lock
Due: prettier-package-json --write

Improve example
  packages/theming/src/ThemeProvider/ThemeProvider.example.md
Due: prettier --write, markdownlint

Revert
  packages/loaders/package.json
  packages/tables/package.json
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  packages/autocomplete/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/select/package.json
  packages/selection/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/theming/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

Add v6.2.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

Flatten out theme (no function calls)
  packages/theming/src/theme/borders.js
  packages/theming/src/theme/index.js
  packages/theming/src/theme/lineHeights.js
  packages/theming/src/theme/space.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update theme.shadows.lg
  packages/theming/src/examples/palette.md
  packages/theming/src/examples/theme.md
  packages/theming/src/theme/shadows.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Simplify styling
  packages/typography/src/views/LG.js
  packages/typography/src/views/MD.js
  packages/typography/src/views/SM.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add and use `chromeHue`
  packages/theming/src/examples/theme.md
  packages/theming/src/theme/colors.js
  packages/theming/src/theme/shadows.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Fill out theming testing
  packages/theming/src/theme/index.spec.js
  packages/theming/src/utils/getColor.js
  packages/theming/src/utils/getColor.spec.js
  packages/theming/src/utils/withTheme.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.js
  eslint: any of: *.js
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.md)
  markdownlint: any of: *.md
  prettier-package-json --write: any of: **/package.json
