Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore(deps): update dependency @rollup/plugin-commonjs to v16
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency markdown-loader to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

update prop descriptions
  packages/forms/src/elements/Checkbox.tsx
  packages/forms/src/elements/FauxInput.tsx
  packages/forms/src/elements/FileUpload.tsx
  packages/forms/src/elements/Input.tsx
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/elements/MultiThumbRange.tsx
  packages/forms/src/elements/Select.tsx
  packages/forms/src/elements/Textarea.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

update component prop descriptions
  packages/forms/src/elements/common/Field.tsx
  packages/forms/src/elements/common/Label.tsx
  packages/forms/src/elements/common/Message.tsx
  packages/forms/src/elements/input-group/InputGroup.tsx
  packages/forms/src/elements/tiles/Tiles.tsx
  packages/forms/src/elements/tiles/components/Tile.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(accordions): allow animation to be turned off
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/styled/accordion/StyledInnerPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledInnerPanel.ts
  packages/accordions/src/styled/accordion/StyledPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledPanel.ts
  packages/accordions/src/utils/useAccordionContext.ts
  packages/accordions/stories/examples/Uncontrolled.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix grammar for prop description
  packages/accordions/src/elements/accordion/Accordion.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Revert to inherited anchor color
  packages/typography/.size-snapshot.json
  packages/typography/src/styled/StyledCode.spec.tsx
  packages/typography/src/styled/StyledCode.ts
  packages/typography/stories/2-Code.stories.tsx
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(accordions): allow animation to be turned off (#935)
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/styled/accordion/StyledInnerPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledInnerPanel.ts
  packages/accordions/src/styled/accordion/StyledPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledPanel.ts
  packages/accordions/src/utils/useAccordionContext.ts
  packages/accordions/stories/examples/Uncontrolled.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.26.0 [skip ci]
  CHANGELOG.md
Due: none

feat(typography): support anchor-styled code snippets (#925)
  packages/typography/.size-snapshot.json
  packages/typography/src/styled/StyledCode.spec.tsx
  packages/typography/src/styled/StyledCode.ts
  packages/typography/stories/2-Code.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency enhanced-resolve to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(loaders): fix Dot loader for IE11
  packages/loaders/.size-snapshot.json
  packages/loaders/src/elements/Dots.spec.tsx
  packages/loaders/src/elements/Dots.tsx
  packages/loaders/src/utils/useCSSSVGAnimation.spec.tsx
  packages/loaders/src/utils/useCSSSVGAnimation.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add Blockquote component & example
  packages/typography/src/elements/Blockquote.tsx
  packages/typography/src/styled/StyledBlockquote.ts
  packages/typography/stories/2-Blockquote.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  package.json
  packages/typography/.size-snapshot.json
  packages/typography/src/index.ts
  packages/typography/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Add Blockquote testing
  packages/typography/src/elements/Blockquote.spec.tsx
  packages/typography/src/styled/StyledBlockquote.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

use document from theme context
  packages/loaders/.size-snapshot.json
  packages/loaders/src/elements/Dots.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Clean up deprecation warning
  utils/test/jest.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix lint warning
  packages/loaders/src/elements/Dots.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(typography): add Blockquote component (#937)
  .github/PULL_REQUEST_TEMPLATE.md
  package.json
  packages/typography/.size-snapshot.json
  packages/typography/src/elements/Blockquote.spec.tsx
  packages/typography/src/elements/Blockquote.tsx
  packages/typography/src/index.ts
  packages/typography/src/styled/StyledBlockquote.spec.tsx
  packages/typography/src/styled/StyledBlockquote.ts
  packages/typography/src/styled/index.ts
  packages/typography/stories/2-Blockquote.stories.tsx
  utils/test/jest.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update Blockquote with `size` prop
  packages/typography/src/elements/Blockquote.spec.tsx
  packages/typography/src/elements/Blockquote.tsx
  packages/typography/src/styled/StyledBlockquote.spec.tsx
  packages/typography/src/styled/StyledBlockquote.ts
  packages/typography/src/styled/StyledParagraph.ts
  packages/typography/stories/2-Blockquote.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/typography/.size-snapshot.json
Due: none

Fix linting errors
  packages/typography/.size-snapshot.json
  packages/typography/src/styled/StyledBlockquote.ts
  packages/typography/src/styled/StyledParagraph.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove bogus size tests (modifier cannot be properly set)
  packages/typography/src/elements/Blockquote.spec.tsx
  packages/typography/src/elements/Paragraph.spec.tsx
  packages/typography/src/styled/StyledBlockquote.spec.tsx
  packages/typography/src/styled/StyledParagraph.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Restore relative positioning
  packages/forms/src/styled/common/StyledField.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/common/StyledField.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(typography): add Blockquote size prop to control sibling spacing (#939)
  packages/typography/.size-snapshot.json
  packages/typography/src/elements/Blockquote.spec.tsx
  packages/typography/src/elements/Blockquote.tsx
  packages/typography/src/elements/Paragraph.spec.tsx
  packages/typography/src/styled/StyledBlockquote.ts
  packages/typography/src/styled/StyledParagraph.spec.tsx
  packages/typography/src/styled/StyledParagraph.ts
  packages/typography/stories/2-Blockquote.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(loaders): fix Dot loader for IE11 (#936)
  packages/loaders/.size-snapshot.json
  packages/loaders/src/elements/Dots.spec.tsx
  packages/loaders/src/elements/Dots.tsx
  packages/loaders/src/utils/useCSSSVGAnimation.spec.tsx
  packages/loaders/src/utils/useCSSSVGAnimation.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write
