Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG|docs/changelogs/*).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore: add dependencies and test setup for the v10 component port (#2155)
  config/vitest.setup.ts
  demo/accordion/AccordionStory.tsx
  package.json
  pnpm-lock.yaml
  src/elements/accordion/Accordion.test.tsx
  src/elements/accordion/Header.tsx
  src/elements/accordion/Panel.tsx
  src/elements/utils.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(theming)!: remove deprecated getColorV8
  src/index.ts
  src/theming/elements/palette/v8.ts
  src/theming/utils/focusStyles.ts
  src/theming/utils/getColorV8.test.ts
  src/theming/utils/getColorV8.ts
  src/theming/utils/getFocusBoxShadow.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming): apply v10 design updates
  src/theming/elements/ThemeProvider.test.tsx
  src/theming/elements/ThemeProvider.tsx
  src/theming/elements/palette/__snapshots__/index.test.ts.snap
  src/theming/elements/palette/index.ts
  src/theming/elements/theme/__snapshots__/index.test.ts.snap
  src/theming/elements/theme/index.test.ts
  src/theming/elements/theme/index.ts
  src/theming/types/index.ts
  src/theming/utils/getIconRenderSize.test.ts
  src/theming/utils/getIconRenderSize.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(theming): fix types and tests
  config/eslint.config.js
  config/storybook/preview.ts
  config/styled.d.ts
  package.json
  pnpm-lock.yaml
  src/theming/elements/ThemeProvider.test.tsx
  src/theming/utils/getColor.test.ts
  src/theming/utils/getColor.ts
  src/theming/utils/getColorV8.ts
  src/theming/utils/getFloatingPlacements.test.ts
  src/theming/utils/getFloatingPlacements.ts
  src/theming/utils/useText.test.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(theming): restore public Placement type export
  src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: add the dev dependencies the ported stories need
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write

chore: add the dev dependencies the ported stories need (#2157)
  package.json
  pnpm-lock.yaml
Due: prettier-package-json --write

chore(loader): move v9 sources into the v10 layout
  demo/loader/dots.mdx
  demo/loader/dots.stories.tsx
  demo/loader/inline.mdx
  demo/loader/inline.stories.tsx
  demo/loader/progress.mdx
  demo/loader/progress.stories.tsx
  demo/loader/skeleton.mdx
  demo/loader/skeleton.stories.tsx
  demo/loader/spinner.mdx
  demo/loader/spinner.stories.tsx
  demo/loader/stories/SkeletonStory.tsx
  demo/loader/stories/data.ts
  demo/loader/stories/types.ts
  src/elements/loader/Dots.spec.tsx
  src/elements/loader/Dots.tsx
  src/elements/loader/Inline.spec.tsx
  src/elements/loader/Inline.tsx
  src/elements/loader/Progress.spec.tsx
  src/elements/loader/Progress.tsx
  src/elements/loader/Skeleton.spec.tsx
  src/elements/loader/Skeleton.tsx
  src/elements/loader/Spinner.spec.tsx
  src/elements/loader/Spinner.tsx
  src/types/loader.ts
  src/utils/loader/animations.ts
  src/utils/loader/spinner-coordinates.ts
  src/views/loader/StyledDots.spec.tsx
  src/views/loader/StyledDots.ts
  src/views/loader/StyledInline.ts
  src/views/loader/StyledLoadingPlaceholder.ts
  src/views/loader/StyledProgress.ts
  src/views/loader/StyledSVG.spec.tsx
  src/views/loader/StyledSVG.ts
  src/views/loader/StyledSkeleton.ts
  src/views/loader/StyledSpinnerCircle.spec.tsx
  src/views/loader/StyledSpinnerCircle.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(loader): apply v10 conventions
  demo/loader/dots.stories.tsx
  demo/loader/inline.stories.tsx
  demo/loader/progress.stories.tsx
  demo/loader/skeleton.stories.tsx
  demo/loader/spinner.stories.tsx
  demo/loader/stories/SkeletonStory.tsx
  src/elements/loader/Dots.test.tsx
  src/elements/loader/Dots.tsx
  src/elements/loader/Inline.test.tsx
  src/elements/loader/Inline.tsx
  src/elements/loader/Progress.test.tsx
  src/elements/loader/Progress.tsx
  src/elements/loader/Skeleton.test.tsx
  src/elements/loader/Skeleton.tsx
  src/elements/loader/Spinner.test.tsx
  src/elements/loader/Spinner.tsx
  src/elements/utils.ts
  src/index.ts
  src/types/elements.ts
  src/types/loader.ts
  src/views/loader/StyledDots.spec.tsx
  src/views/loader/StyledDots.ts
  src/views/loader/StyledInline.ts
  src/views/loader/StyledLoadingPlaceholder.ts
  src/views/loader/StyledProgress.ts
  src/views/loader/StyledSVG.spec.tsx
  src/views/loader/StyledSVG.ts
  src/views/loader/StyledSkeleton.ts
  src/views/loader/StyledSpinnerCircle.spec.tsx
  src/views/loader/StyledSpinnerCircle.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(loader): fix types and tests
  .packages/loaders/README.md
  .packages/loaders/package.json
  .packages/loaders/src/index.ts
  .packages/loaders/src/styled/index.ts
  .packages/loaders/tsconfig.build.json
  demo/loader/dots.mdx
  demo/loader/inline.mdx
  demo/loader/progress.mdx
  demo/loader/skeleton.mdx
  demo/loader/spinner.mdx
  demo/loader/stories/SkeletonStory.tsx
  src/elements/loader/Dots.test.tsx
  src/elements/loader/Dots.tsx
  src/elements/loader/Inline.tsx
  src/elements/loader/Progress.test.tsx
  src/elements/loader/Progress.tsx
  src/elements/loader/Skeleton.test.tsx
  src/elements/loader/Skeleton.tsx
  src/elements/loader/Spinner.test.tsx
  src/elements/loader/Spinner.tsx
  src/elements/utils.ts
  src/index.ts
  src/types/elements.ts
  src/views/loader/StyledDots.ts
  src/views/loader/StyledInline.ts
  src/views/loader/StyledLoadingPlaceholder.ts
  src/views/loader/StyledSVG.ts
  src/views/loader/StyledSpinnerCircle.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

feat(loader): apply v10 design updates
  src/views/loader/StyledSkeleton.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

docs(loader): fix a repeated word in the Skeleton width description
  src/types/elements.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test(loader): cover the Dots circle coordinates
  src/elements/loader/Dots.test.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(loader): keep props from overriding data-garden-id and data-garden-version
  src/elements/loader/Dots.test.tsx
  src/elements/loader/Dots.tsx
  src/elements/loader/Inline.test.tsx
  src/elements/loader/Progress.test.tsx
  src/elements/loader/Skeleton.test.tsx
  src/elements/loader/Spinner.test.tsx
  src/elements/loader/Spinner.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(loader): nest the loader stories in the Loaders category
  demo/loader/dots.stories.tsx
  demo/loader/inline.stories.tsx
  demo/loader/progress.stories.tsx
  demo/loader/skeleton.stories.tsx
  demo/loader/spinner.stories.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write
