Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

chore(deps): update dom-helpers
  __mocks__/dom-helpers/scrollTo.js
  packages/buttons/package.json
  packages/modals/package.json
  packages/modals/src/elements/Modal.js
  packages/selection/package.json
  packages/selection/src/containers/SelectionContainer.js
  packages/tables/package.json
  packages/tables/src/views/Table.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(internal): update react-popper dependencies
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/tooltips/package.json
  packages/tooltips/src/elements/Tooltip.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update dom-helpers (#490)
  __mocks__/dom-helpers/scrollTo.js
  packages/buttons/package.json
  packages/modals/package.json
  packages/modals/src/elements/Modal.js
  packages/selection/package.json
  packages/selection/src/containers/SelectionContainer.js
  packages/tables/package.json
  packages/tables/src/views/Table.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(deps): update dependency react-popper to v1
  packages/tooltips/package.json
Due: prettier-package-json --write

chore(internal): update react-popper dependencies (#487)
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/tooltips/package.json
  packages/tooltips/src/elements/Tooltip.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(deps): update dependency tabbable to v4
  packages/modals/package.json
Due: prettier-package-json --write

Remove tabbable from modals
  packages/modals/package.json
Due: prettier-package-json --write

chore(deps): upgrade react-theming peerDependencies to allow v7
  packages/.template/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/selection/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

Fix breaking pagination example
  packages/tables/src/examples/paginated-table.md
  packages/tabs/src/elements/Tabs.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): upgrade react-theming peerDependencies to allow v7 (#495)
  packages/.template/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/selection/package.json
  packages/tables/package.json
  packages/tables/src/examples/paginated-table.md
  packages/tabs/package.json
  packages/tabs/src/elements/Tabs.spec.js
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/selection/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

Add v7.0.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Update checkbox to use focus visible
  packages/forms/package.json
  packages/forms/src/fields/Checkbox.js
  packages/forms/src/fields/Radio.js
  packages/forms/src/fields/Toggle.js
  packages/forms/src/fields/common/Field.js
  packages/forms/src/styled/radio/StyledRadioInput.js
  packages/forms/src/utils/useFieldContext.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update to use focus visible
  packages/forms/src/fields/Radio.js
  packages/forms/src/fields/Toggle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(internal): upgrade Garden examples to v7
  examples/codesandbox/garden-create-react-app/package.json
  examples/codesandbox/garden-create-react-app/yarn.lock
  examples/nextjs/.babelrc
  examples/nextjs/next.config.js
  examples/nextjs/package.json
  examples/nextjs/pages/_app.js
  examples/nextjs/pages/_document.js
  examples/nextjs/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(internal): upgrade Garden examples to v7 (#496)
  examples/codesandbox/garden-create-react-app/package.json
  examples/codesandbox/garden-create-react-app/yarn.lock
  examples/nextjs/.babelrc
  examples/nextjs/next.config.js
  examples/nextjs/package.json
  examples/nextjs/pages/_app.js
  examples/nextjs/pages/_document.js
  examples/nextjs/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Refactor elements to handle focus-visible treatment
  packages/forms/package.json
  packages/forms/src/fields/Checkbox.js
  packages/forms/src/fields/MultiThumbRange.js
  packages/forms/src/fields/Radio.js
  packages/forms/src/fields/Toggle.js
  packages/forms/src/fields/other/FauxInput.js
  packages/forms/src/fields/other/MediaInput.js
  packages/forms/src/styled/radio/StyledRadioInput.js
  packages/forms/src/styled/range/StyledRangeInput.js
  packages/forms/src/styled/range/StyledSlider.js
  packages/forms/src/styled/range/StyledSliderThumb.js
  packages/forms/src/styled/range/StyledSliderTrack.js
  packages/forms/src/styled/text/StyledTextInput.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Rename `fields` to `elements`
  packages/forms/src/elements/Checkbox.js
  packages/forms/src/elements/Input.js
  packages/forms/src/elements/Input.spec.js
  packages/forms/src/elements/MultiThumbRange.js
  packages/forms/src/elements/MultiThumbRange.spec.js
  packages/forms/src/elements/Radio.js
  packages/forms/src/elements/Range.js
  packages/forms/src/elements/Range.spec.js
  packages/forms/src/elements/Textarea.js
  packages/forms/src/elements/Textarea.spec.js
  packages/forms/src/elements/Toggle.js
  packages/forms/src/elements/common/Field.js
  packages/forms/src/elements/common/Hint.js
  packages/forms/src/elements/common/Hint.spec.js
  packages/forms/src/elements/common/Label.js
  packages/forms/src/elements/common/Label.spec.js
  packages/forms/src/elements/common/Message.js
  packages/forms/src/elements/common/Message.spec.js
  packages/forms/src/elements/other/FauxInput.js
  packages/forms/src/elements/other/FauxInput.spec.js
  packages/forms/src/elements/other/MediaInput.js
  packages/forms/src/elements/other/MediaInput.spec.js
  packages/forms/src/index.js
  packages/forms/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fill out text input example with knobs
  packages/forms/examples/basic.md
  packages/forms/examples/faux-input.md
  packages/forms/examples/media-input.md
  packages/forms/examples/text-input.md
  packages/forms/src/elements/common/Field.js
  packages/forms/src/elements/common/Message.js
  packages/forms/src/elements/other/FauxInput.js
  packages/forms/src/styled/common/StyledHint.js
  packages/forms/src/styled/common/StyledMessage.js
  packages/forms/src/styled/text/StyledTextFauxInput.js
  packages/forms/src/utils/useFieldContext.js
  packages/forms/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fill out checkbox and range examples
  packages/forms/examples/basic.md
  packages/forms/examples/checkbox.md
  packages/forms/examples/radio.md
  packages/forms/examples/range.md
  packages/forms/examples/toggle.md
  packages/forms/src/elements/Checkbox.js
  packages/forms/src/styled/checkbox/StyledCheckInput.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fill out advanced (controlled) examples
  packages/forms/examples/advanced.md
  packages/forms/examples/basic.md
  packages/forms/examples/checkbox.md
  packages/forms/examples/multi-thumb-range.md
  packages/forms/examples/radio.md
  packages/forms/examples/range.md
  packages/forms/examples/toggle.md
  packages/forms/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Clean up API and prop documentation
  packages/forms/examples/basic.md
  packages/forms/src/elements/Checkbox.js
  packages/forms/src/elements/FauxInput.js
  packages/forms/src/elements/FauxInput.spec.js
  packages/forms/src/elements/Input.js
  packages/forms/src/elements/MediaInput.js
  packages/forms/src/elements/MediaInput.spec.js
  packages/forms/src/elements/MultiThumbRange.js
  packages/forms/src/elements/Radio.js
  packages/forms/src/elements/Range.js
  packages/forms/src/elements/Textarea.js
  packages/forms/src/elements/Toggle.js
  packages/forms/src/elements/other/MediaInput.js
  packages/forms/src/index.js
  packages/forms/src/styled/text/StyledTextFauxInput.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Clean up common API and prop documentation
  packages/forms/src/elements/Toggle.js
  packages/forms/src/elements/common/Field.js
  packages/forms/src/elements/common/Hint.js
  packages/forms/src/elements/common/Label.js
  packages/forms/src/elements/common/Message.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Clean up README
  packages/forms/README.md
  packages/forms/examples/introduction.md
  packages/forms/src/elements/common/Message.js
  packages/forms/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Increase bundlesize limits
  packages/avatars/package.json
  packages/tags/package.json
  packages/theming/package.json
Due: prettier-package-json --write

Usage master lock file
  yarn.lock
Due: none

Initial specs
  packages/forms/src/elements/Checkbox.spec.js
  packages/forms/src/elements/Radio.spec.js
  packages/forms/src/elements/Toggle.spec.js
  packages/forms/src/elements/common/Field.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(buttons): allow buttons to control type attribute
  packages/buttons/src/views/Button.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(internal): allow lerna to deploy against v6 branch
  .travis.yml
  lerna.json
Due: none

fix(buttons): allow buttons to control type attribute (#498)
  packages/buttons/src/views/Button.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/buttons/package.json
Due: prettier-package-json --write

Add v7.0.1 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none
