Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "linters": {
    "*.js": [
      "stylelint",
      "eslint",
      "jest --config=utils/test/jest.config.js --findRelatedTests",
      "prettier --write",
      "git add"
    ],
    "*.md": [
      "markdownlint",
      "prettier --write",
      "git add"
    ],
    "**/package.json": [
      "prettier-package-json --write",
      "git add"
    ]
  },
  "ignore": ["**/CHANGELOG.md"]
}

Add <MonospaceSM> and <CodeSM> components
  packages/typography/package.json
  packages/typography/src/views/CodeSM.example.md
  packages/typography/src/views/CodeSM.js
  packages/typography/src/views/MonospaceSM.example.md
  packages/typography/src/views/MonospaceSM.js
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Apply a `monospace` prop directly against the <SM>, <MD>, and <LG> components
  packages/typography/src/views/CodeSM.example.md
  packages/typography/src/views/LG.example.md
  packages/typography/src/views/LG.js
  packages/typography/src/views/MD.example.md
  packages/typography/src/views/MD.js
  packages/typography/src/views/SM.example.md
  packages/typography/src/views/SM.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Refactor monospace & <Code> components
  packages/typography/src/views/Code.example.md
  packages/typography/src/views/Code.js
  packages/typography/src/views/CodeSM.example.md
  packages/typography/src/views/MonospaceSM.example.md
  packages/typography/src/views/MonospaceSM.js
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Default to medium sized <Code>
  packages/typography/src/index.js
  packages/typography/src/views/Code.example.md
  packages/typography/src/views/Code.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Add monospace and `<Code>` unit testing
  packages/typography/src/views/Code.example.md
  packages/typography/src/views/Code.spec.js
  packages/typography/src/views/LG.spec.js
  packages/typography/src/views/MD.spec.js
  packages/typography/src/views/SM.spec.js
  packages/typography/src/views/XL.spec.js
  packages/typography/src/views/XXL.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Correct red Code background color
  packages/typography/src/views/Code.js
  packages/typography/src/views/Code.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Updates
  buttons/build/bundle.fd8fe355.js
  buttons/index.html
  loaders/build/bundle.d75b8735.js
  loaders/index.html
  tables/build/bundle.c5bc33b7.js
  tables/index.html
  typography/build/bundle.3995eaca.js
  typography/index.html
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update padding and yellow foreground color
  packages/typography/src/views/Code.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Updates
  buttons/build/bundle.9b6832f9.js
  buttons/index.html
  loaders/build/bundle.011dd1cc.js
  loaders/index.html
  tables/build/bundle.4ec8f102.js
  tables/index.html
  typography/build/bundle.abb3fd46.js
  typography/index.html
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update `Code` component padding
  packages/typography/src/views/Code.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Updates
  buttons/build/bundle.ca746ee0.js
  buttons/index.html
  loaders/build/bundle.e79e36b6.js
  loaders/index.html
  tables/build/bundle.a77b20c2.js
  tables/index.html
  typography/build/bundle.ca2cdf08.js
  typography/index.html
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(typography): add `monospace` styling and `Code` component (#305)
  packages/typography/package.json
  packages/typography/src/index.js
  packages/typography/src/views/Code.example.md
  packages/typography/src/views/Code.js
  packages/typography/src/views/Code.spec.js
  packages/typography/src/views/LG.example.md
  packages/typography/src/views/LG.js
  packages/typography/src/views/LG.spec.js
  packages/typography/src/views/MD.example.md
  packages/typography/src/views/MD.js
  packages/typography/src/views/MD.spec.js
  packages/typography/src/views/SM.example.md
  packages/typography/src/views/SM.js
  packages/typography/src/views/SM.spec.js
  packages/typography/src/views/XL.spec.js
  packages/typography/src/views/XXL.spec.js
  packages/typography/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

chore(release): publish
  packages/typography/CHANGELOG.md
  packages/typography/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

fix(tooltips): allow focusable content within tooltips
  packages/tooltips/src/containers/TooltipContainer.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add additional test cases
  packages/tooltips/src/containers/TooltipContainer.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix typo in test case
  packages/tooltips/src/containers/TooltipContainer.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(tooltips): allow focusable content within tooltips (#308)
  packages/tooltips/src/containers/TooltipContainer.js
  packages/tooltips/src/containers/TooltipContainer.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/menus/CHANGELOG.md
  packages/menus/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/tooltips/CHANGELOG.md
  packages/tooltips/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

chore(deps): update all development non-major dependencies
  package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/grid/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency react-styleguidist to v9
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency stylelint to v10
  package.json
  yarn.lock
Due: prettier-package-json --write

Fix jest issues relating to external package upgrades
  package.json
  packages/menus/src/containers/MenuContainer.spec.js
  utils/test/jest.config.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/avatars/CHANGELOG.md
  packages/avatars/package.json
  packages/breadcrumbs/CHANGELOG.md
  packages/breadcrumbs/package.json
  packages/buttons/CHANGELOG.md
  packages/buttons/package.json
  packages/checkboxes/CHANGELOG.md
  packages/checkboxes/package.json
  packages/chrome/CHANGELOG.md
  packages/chrome/package.json
  packages/grid/CHANGELOG.md
  packages/grid/package.json
  packages/menus/CHANGELOG.md
  packages/menus/package.json
  packages/modals/CHANGELOG.md
  packages/modals/package.json
  packages/notifications/CHANGELOG.md
  packages/notifications/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/radios/CHANGELOG.md
  packages/radios/package.json
  packages/ranges/CHANGELOG.md
  packages/ranges/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/tables/CHANGELOG.md
  packages/tables/package.json
  packages/tabs/CHANGELOG.md
  packages/tabs/package.json
  packages/tags/CHANGELOG.md
  packages/tags/package.json
  packages/textfields/CHANGELOG.md
  packages/textfields/package.json
  packages/toggles/CHANGELOG.md
  packages/toggles/package.json
  packages/tooltips/CHANGELOG.md
  packages/tooltips/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

chore(deps): update dependency core-js to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency resolve-from to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update react-packages
  packages/buttons/package.json
  packages/chrome/package.json
  packages/menus/package.json
  packages/tables/package.json
Due: prettier-package-json --write

fix(docs): fix core-js shim during docs build
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(docs): fix core-js shim during docs build (#311)
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/buttons/CHANGELOG.md
  packages/buttons/package.json
  packages/chrome/CHANGELOG.md
  packages/chrome/package.json
  packages/menus/CHANGELOG.md
  packages/menus/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/tables/CHANGELOG.md
  packages/tables/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

fix(autocomplete): Do not always trigger dropdown closing on blur Only trigger when the dropdown is actually open
  packages/autocomplete/src/containers/AutocompleteContainer.js
  packages/autocomplete/src/containers/AutocompleteContainer.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write
