Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore: update selection based containers (#906)
  packages/buttons/yarn.lock
  packages/dropdowns/yarn.lock
  packages/pagination/yarn.lock
  packages/tabs/yarn.lock
Due: none

chore(docs): migrate notifications to storybook
  demo/index.html
  packages/notifications/README.md
  packages/notifications/examples/basic.md
  packages/notifications/package.json
  packages/notifications/src/styled/index.ts
  packages/notifications/stories/1-Readme.stories.mdx
  packages/notifications/stories/2-Alert.stories.tsx
  packages/notifications/stories/3-Notification.stories.tsx
  packages/notifications/stories/4-Well.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Delete old example files
  packages/pagination/examples/advanced.md
  packages/pagination/examples/basic.md
Due: none

remove action and control in favor of in-example state control
  packages/pagination/stories/2-Pagination.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update CursorPagination to use inline state
  packages/pagination/stories/3-CursorPagination.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update TS exports
  packages/pagination/src/index.ts
  packages/pagination/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(modals): align close button (#907)
  packages/modals/.size-snapshot.json
  packages/modals/src/styled/StyledClose.spec.tsx
  packages/modals/src/styled/StyledClose.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add undefined case to type control
  packages/notifications/stories/3-Notification.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add isRegular to Well, isMultiLine to Well & Notification
  packages/notifications/stories/3-Notification.stories.tsx
  packages/notifications/stories/4-Well.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor cursor pagination example
  packages/pagination/stories/3-CursorPagination.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): migrate react-notifications examples to storybook (#908)
  demo/index.html
  packages/notifications/README.md
  packages/notifications/examples/basic.md
  packages/notifications/package.json
  packages/notifications/src/styled/index.ts
  packages/notifications/stories/1-Readme.stories.mdx
  packages/notifications/stories/2-Alert.stories.tsx
  packages/notifications/stories/3-Notification.stories.tsx
  packages/notifications/stories/4-Well.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(docs): migrate react-pagination examples to storybook (#905)
  demo/index.html
  packages/pagination/README.md
  packages/pagination/examples/advanced.md
  packages/pagination/examples/basic.md
  packages/pagination/package.json
  packages/pagination/src/index.ts
  packages/pagination/src/styled/index.ts
  packages/pagination/stories/1-Readme.stories.mdx
  packages/pagination/stories/2-Pagination.stories.tsx
  packages/pagination/stories/3-CursorPagination.stories.tsx
  packages/pagination/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(docs): update migration doc
  docs/migration.md
Due: none

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.25.1 [skip ci]
  CHANGELOG.md
Due: none

Add helpful comment for muted change
  docs/migration.md
Due: none

chore(docs): update migration doc (#909)
  docs/migration.md
Due: none

chore(deps): update node orb to v4.1.0
  .circleci/config.yml
Due: none

fix(dropdowns): keep focus on multiselect input when navigating previous item
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Multiselect/Multiselect.spec.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update grammar in spec comment
  packages/dropdowns/src/elements/Multiselect/Multiselect.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): keep focus on multiselect input when navigating previous item (#923)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Multiselect/Multiselect.spec.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency webpack to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  babel.config.js
  package.json
  packages/chrome/src/styled/header/StyledHeaderItem.ts
  packages/modals/package.json
  packages/tables/src/styled/StyledHeaderCell.ts
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update react monorepo to v17
  examples/codesandbox/package.json
  examples/codesandbox/yarn.lock
  examples/gatsby/package.json
  examples/gatsby/yarn.lock
  package.json
Due: prettier-package-json --write

Add `<a> <code>` color override
  packages/typography/src/styled/StyledCode.ts
  packages/typography/stories/2-Code.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add anchor > code color test
  packages/typography/.size-snapshot.json
  packages/typography/src/styled/StyledCode.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

updated docs
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/elements/accordion/components/Label.tsx
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/elements/accordion/components/Section.tsx
  packages/accordions/src/elements/stepper/Stepper.tsx
  packages/accordions/src/elements/stepper/components/Content.tsx
  packages/accordions/src/elements/stepper/components/Label.tsx
  packages/accordions/src/elements/stepper/components/Step.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix HTMLAttributes references
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/elements/accordion/components/Label.tsx
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/elements/accordion/components/Section.tsx
  packages/accordions/src/elements/stepper/Stepper.tsx
  packages/accordions/src/elements/stepper/components/Content.tsx
  packages/accordions/src/elements/stepper/components/Label.tsx
  packages/accordions/src/elements/stepper/components/Step.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.25.2 [skip ci]
  CHANGELOG.md
Due: none

update prop descriptions
  packages/avatars/src/elements/Avatar.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
