Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix(build): ensure ts types directory is relative
  packages/.template/tsconfig.build.json
  packages/accordions/tsconfig.build.json
  packages/avatars/tsconfig.build.json
  packages/breadcrumbs/tsconfig.build.json
  packages/buttons/tsconfig.build.json
  packages/chrome/tsconfig.build.json
  packages/datepickers/tsconfig.build.json
  packages/dropdowns/tsconfig.build.json
  packages/forms/tsconfig.build.json
  packages/grid/tsconfig.build.json
  packages/loaders/tsconfig.build.json
  packages/modals/tsconfig.build.json
  packages/notifications/tsconfig.build.json
  packages/pagination/tsconfig.build.json
  packages/tables/tsconfig.build.json
  packages/tabs/tsconfig.build.json
  packages/tags/tsconfig.build.json
  packages/theming/tsconfig.build.json
  packages/tooltips/tsconfig.build.json
  packages/typography/tsconfig.build.json
Due: none

fix(build): ensure ts types directory is relative (#882)
  packages/.template/tsconfig.build.json
  packages/accordions/tsconfig.build.json
  packages/avatars/tsconfig.build.json
  packages/breadcrumbs/tsconfig.build.json
  packages/buttons/tsconfig.build.json
  packages/chrome/tsconfig.build.json
  packages/datepickers/tsconfig.build.json
  packages/dropdowns/tsconfig.build.json
  packages/forms/tsconfig.build.json
  packages/grid/tsconfig.build.json
  packages/loaders/tsconfig.build.json
  packages/modals/tsconfig.build.json
  packages/notifications/tsconfig.build.json
  packages/pagination/tsconfig.build.json
  packages/tables/tsconfig.build.json
  packages/tabs/tsconfig.build.json
  packages/tags/tsconfig.build.json
  packages/theming/tsconfig.build.json
  packages/tooltips/tsconfig.build.json
  packages/typography/tsconfig.build.json
Due: none

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.23.1 [skip ci]
  CHANGELOG.md
Due: none

chore(docs): migrate react-chrome to storybook
  .eslintrc.json
  packages/chrome/.size-snapshot.json
  packages/chrome/README.md
  packages/chrome/examples/basic.md
  packages/chrome/examples/header.md
  packages/chrome/package.json
  packages/chrome/src/elements/Chrome.tsx
  packages/chrome/src/elements/header/HeaderItemWrapper.tsx
  packages/chrome/src/styled/index.ts
  packages/chrome/stories/1-Readme.stories.mdx
  packages/chrome/stories/2-Chrome.stories.tsx
  packages/chrome/stories/examples/Default.tsx
  packages/chrome/stories/examples/StandaloneHeader.tsx
  packages/chrome/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(docs): migrate react-loaders documentation to Storybook
  packages/loaders/README.md
  packages/loaders/examples/dots.md
  packages/loaders/examples/inline.md
  packages/loaders/examples/progress.md
  packages/loaders/examples/skeleton.md
  packages/loaders/examples/spinner.md
  packages/loaders/package.json
  packages/loaders/src/elements/Dots.tsx
  packages/loaders/src/elements/Inline.tsx
  packages/loaders/src/elements/Progress.tsx
  packages/loaders/src/elements/Skeleton.tsx
  packages/loaders/src/elements/Spinner.tsx
  packages/loaders/src/index.ts
  packages/loaders/src/styled/index.ts
  packages/loaders/stories/1-Readme.stories.mdx
  packages/loaders/stories/2-Dots.stories.tsx
  packages/loaders/stories/3-Inline.stories.tsx
  packages/loaders/stories/4-Progress.stories.tsx
  packages/loaders/stories/5-Skeleton.stories.tsx
  packages/loaders/stories/6-Spinner.stories.tsx
  packages/loaders/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update root index.html
  demo/index.html
Due: none

Update examples and linke to storybook in root docs page
  demo/index.html
  packages/loaders/README.md
  packages/loaders/stories/2-Dots.stories.tsx
  packages/loaders/stories/3-Inline.stories.tsx
  packages/loaders/stories/5-Skeleton.stories.tsx
  packages/loaders/stories/6-Spinner.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): migrate react-chrome to storybook (#883)
  .eslintrc.json
  demo/index.html
  packages/chrome/.size-snapshot.json
  packages/chrome/README.md
  packages/chrome/examples/basic.md
  packages/chrome/examples/header.md
  packages/chrome/package.json
  packages/chrome/src/elements/Chrome.tsx
  packages/chrome/src/elements/header/HeaderItemWrapper.tsx
  packages/chrome/src/styled/index.ts
  packages/chrome/stories/1-Readme.stories.mdx
  packages/chrome/stories/2-Chrome.stories.tsx
  packages/chrome/stories/examples/Default.tsx
  packages/chrome/stories/examples/StandaloneHeader.tsx
  packages/chrome/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Address example style inherit comments
  packages/loaders/stories/2-Dots.stories.tsx
  packages/loaders/stories/5-Skeleton.stories.tsx
  packages/loaders/stories/6-Spinner.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): migrate react-loaders documentation to Storybook (#885)
  demo/index.html
  packages/loaders/README.md
  packages/loaders/examples/dots.md
  packages/loaders/examples/inline.md
  packages/loaders/examples/progress.md
  packages/loaders/examples/skeleton.md
  packages/loaders/examples/spinner.md
  packages/loaders/package.json
  packages/loaders/src/elements/Dots.tsx
  packages/loaders/src/elements/Inline.tsx
  packages/loaders/src/elements/Progress.tsx
  packages/loaders/src/elements/Skeleton.tsx
  packages/loaders/src/elements/Spinner.tsx
  packages/loaders/src/index.ts
  packages/loaders/src/styled/index.ts
  packages/loaders/stories/1-Readme.stories.mdx
  packages/loaders/stories/2-Dots.stories.tsx
  packages/loaders/stories/3-Inline.stories.tsx
  packages/loaders/stories/4-Progress.stories.tsx
  packages/loaders/stories/5-Skeleton.stories.tsx
  packages/loaders/stories/6-Spinner.stories.tsx
  packages/loaders/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(modals): pass relative doc to useFocusVisible
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/Modal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(modals): pass relative doc to useFocusVisible (#887)
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/Modal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(modals): introduce drawer modal
  packages/modals/.size-snapshot.json
  packages/modals/examples/drawer-modal.md
  packages/modals/src/elements/DrawerModal/Body.spec.tsx
  packages/modals/src/elements/DrawerModal/Body.tsx
  packages/modals/src/elements/DrawerModal/Close.spec.tsx
  packages/modals/src/elements/DrawerModal/Close.tsx
  packages/modals/src/elements/DrawerModal/DrawerModal.spec.tsx
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
  packages/modals/src/elements/DrawerModal/Header.spec.tsx
  packages/modals/src/elements/DrawerModal/Header.tsx
  packages/modals/src/index.ts
  packages/modals/src/styled/StyledDrawerModal.ts
  packages/modals/src/styled/StyledDrawerModalBackdrop.ts
  packages/modals/src/styled/StyledDrawerModalBody.ts
  packages/modals/src/styled/StyledDrawerModalClose.ts
  packages/modals/src/styled/StyledDrawerModalFooter.ts
  packages/modals/src/styled/StyledDrawerModalFooterItem.ts
  packages/modals/src/styled/StyledDrawerModalHeader.ts
  packages/modals/src/styled/index.ts
  packages/modals/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Address PR feedback I
  packages/modals/.size-snapshot.json
  packages/modals/src/styled/StyledDrawerModal.ts
  packages/modals/src/styled/StyledDrawerModalClose.ts
  packages/modals/src/styled/StyledDrawerModalFooter.ts
  packages/modals/src/styled/StyledDrawerModalHeader.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Support rendering in SSR environments
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Pass environment to useFocusVisible
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove isAnimated prop
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update Cell.tsx
  packages/tables/src/elements/Cell.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix
  packages/tables/src/elements/Cell.tsx
  packages/tables/src/elements/HeaderCell.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Increase example padding and specificity of Avatar styling
  packages/avatars/.size-snapshot.json
  packages/avatars/src/styled/StyledAvatar.ts
  packages/avatars/stories/examples/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(table): revise cell type definition (#888)
  packages/tables/src/elements/Cell.tsx
  packages/tables/src/elements/HeaderCell.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use react-transition-group; remove mount/unmount transition logic
  package.json
  packages/modals/.size-snapshot.json
  packages/modals/examples/drawer-modal.md
  packages/modals/package.json
  packages/modals/src/elements/DrawerModal/DrawerModal.spec.tsx
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
  packages/modals/src/styled/StyledDrawerModal.ts
  packages/modals/yarn.lock
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Namespace transition classname
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
  packages/modals/src/styled/StyledDrawerModal.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Extend IDrawerModalProps for React children
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Properly add @types/react-transition-group
  package.json
  packages/modals/package.json
  packages/modals/yarn.lock
  yarn.lock
Due: prettier-package-json --write

Refactor tests, https://kentcdodds.com/blog/common-mistakes-with-react-testing-library
  packages/modals/src/elements/DrawerModal/DrawerModal.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor transitions for writing direction
  packages/modals/.size-snapshot.json
  packages/modals/src/styled/StyledDrawerModal.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update typescript-eslint monorepo to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

Update branded product colors
  packages/theming/src/elements/palette/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update palette snapshot
  packages/theming/src/elements/palette/__snapshots__/index.spec.ts.snap
Due: none

Update size snapshot
  packages/theming/.size-snapshot.json
Due: none

Turn off no-use-before-define in favor of TS/no-use-before-define
  .eslintrc.json
Due: none

Refactor out variable declarations from shadowing
  packages/datepickers/src/elements/Datepicker/utils/datepicker-reducer.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write
