Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

docs(Migration): note Chrome Subnav removal
  docs/migration.md
Due: none

chore: remove last instances of Subnav
  docs/migration.md
  packages/chrome/README.md
  packages/chrome/demo/chrome.stories.mdx
  packages/chrome/demo/stories/ChromeStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(Chrome Stories): add back `isWrapped`
  packages/chrome/demo/chrome.stories.mdx
  packages/chrome/demo/stories/ChromeStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.76.0 [skip ci]
  CHANGELOG.md
Due: none

chore(Chrome stories): remove reference to Subnav
  packages/chrome/demo/chrome.stories.mdx
Due: none

feat(chrome)!: removes Subnav component (#1787)
  docs/migration.md
  package-lock.json
  packages/chrome/README.md
  packages/chrome/demo/chrome.stories.mdx
  packages/chrome/demo/stories/ChromeStory.tsx
  packages/chrome/demo/stories/SubNavCollapsibleItem.tsx
  packages/chrome/demo/stories/data.ts
  packages/chrome/demo/stories/types.ts
  packages/chrome/demo/subNavCollapsibleItem.stories.mdx
  packages/chrome/package.json
  packages/chrome/src/elements/subnav/CollapsibleSubNavItem.spec.tsx
  packages/chrome/src/elements/subnav/CollapsibleSubNavItem.tsx
  packages/chrome/src/elements/subnav/SubNav.spec.tsx
  packages/chrome/src/elements/subnav/SubNav.tsx
  packages/chrome/src/elements/subnav/SubNavItem.spec.tsx
  packages/chrome/src/elements/subnav/SubNavItem.tsx
  packages/chrome/src/elements/subnav/SubNavItemText.spec.tsx
  packages/chrome/src/elements/subnav/SubNavItemText.tsx
  packages/chrome/src/index.ts
  packages/chrome/src/styled/index.ts
  packages/chrome/src/styled/subnav/StyledSubNav.ts
  packages/chrome/src/styled/subnav/StyledSubNavItem.tsx
  packages/chrome/src/styled/subnav/StyledSubNavItemHeader.ts
  packages/chrome/src/styled/subnav/StyledSubNavItemIcon.tsx
  packages/chrome/src/styled/subnav/StyledSubNavItemText.ts
  packages/chrome/src/styled/subnav/StyledSubNavPanel.ts
  packages/chrome/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(deps): use -next versions for react-theming peer dep
  package-lock.json
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

feat: preserve module structure to improve tree-shaking (#1783)
  babel.config.js
  package-lock.json
  package.json
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  utils/build/rollup.config.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(changelog): add v8.76.0 [skip ci]
  docs/changelogs/v8.md
Due: none

chore: update with `main` (#1788)
  babel.config.js
  docs/changelogs/v8.md
  package-lock.json
  package.json
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  utils/build/rollup.config.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(deps): use -next versions for react-theming peer dep (#1789)
  package-lock.json
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.0.0-next.8 [skip ci]
  CHANGELOG.md
Due: none

feat(theming): add new `getCheckeredBackground` utility
  packages/colorpickers/src/styled/ColorPicker/StyledAlphaRange.ts
  packages/colorpickers/src/styled/ColorPicker/StyledPreview.ts
  packages/colorpickers/src/styled/ColorPickerDialog/StyledButtonPreview.ts
  packages/theming/demo/stories/GetColorStory.tsx
  packages/theming/src/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/getCheckeredBackground.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(Notification): improve screen-reader support
  packages/notifications/src/elements/Notification.spec.tsx
  packages/notifications/src/elements/Notification.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(Notification close btn): hide btn from SR to improve UX
  packages/notifications/src/elements/content/Close.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: adds styled icon base component
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/elements/timeline/components/Content.tsx
  packages/accordions/src/styled/accordion/StyledRotateIcon.spec.tsx
  packages/accordions/src/styled/accordion/StyledRotateIcon.ts
  packages/accordions/src/styled/timeline/StyledItemIcon.ts
  packages/theming/src/index.ts
  packages/theming/src/styled/StyledBaseIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Revert "fix(Notification close btn): hide btn from SR to improve UX"
  packages/notifications/src/elements/content/Close.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: code review
  packages/theming/src/index.ts
  packages/theming/src/utils/StyledBaseIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(Notification): allow user to override role
  packages/notifications/src/elements/Notification.spec.tsx
  packages/notifications/src/elements/Notification.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: removes base icon attrs
  packages/theming/src/utils/StyledBaseIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: cleanup
  packages/notifications/src/elements/Notification.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: adds styled icon base component (#1791)
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/elements/timeline/components/Content.tsx
  packages/accordions/src/styled/accordion/StyledRotateIcon.spec.tsx
  packages/accordions/src/styled/accordion/StyledRotateIcon.ts
  packages/accordions/src/styled/timeline/StyledItemIcon.ts
  packages/theming/src/index.ts
  packages/theming/src/utils/StyledBaseIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: adds styled base icon to components
  package-lock.json
  packages/buttons/src/elements/IconButton.tsx
  packages/buttons/src/elements/components/EndIcon.tsx
  packages/buttons/src/elements/components/StartIcon.tsx
  packages/buttons/src/styled/StyledIcon.spec.tsx
  packages/buttons/src/styled/StyledIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: adds styled base icon to forms icon components
  packages/forms/src/elements/faux-input/components/EndIcon.tsx
  packages/forms/src/elements/faux-input/components/StartIcon.tsx
  packages/forms/src/elements/file-list/components/File.tsx
  packages/forms/src/styled/file-list/StyledFileIcon.spec.tsx
  packages/forms/src/styled/file-list/StyledFileIcon.ts
  packages/forms/src/styled/text/StyledTextMediaFigure.spec.tsx
  packages/forms/src/styled/text/StyledTextMediaFigure.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(Notifications): improve screen-reader support (#1790)
  packages/notifications/src/elements/Notification.spec.tsx
  packages/notifications/src/elements/Notification.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: adds StyledBaseIcon to dropdowns
  packages/dropdowns/src/elements/combobox/Combobox.tsx
  packages/dropdowns/src/elements/combobox/OptGroup.tsx
  packages/dropdowns/src/elements/combobox/Option.tsx
  packages/dropdowns/src/elements/menu/Item.tsx
  packages/dropdowns/src/elements/menu/ItemGroup.tsx
  packages/dropdowns/src/views/combobox/StyledInputIcon.ts
  packages/dropdowns/src/views/combobox/StyledOptionIcon.ts
  packages/dropdowns/src/views/combobox/StyledOptionTypeIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Add js doc
  packages/theming/src/utils/getCheckeredBackground.ts
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v8.76.1 [skip ci]
  CHANGELOG.md
Due: none

feat: adds StyledBaseIcon to typography
  packages/typography/src/elements/span/StartIcon.tsx
  packages/typography/src/styled/StyledIcon.spec.tsx
  packages/typography/src/styled/StyledIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: adds StyledBaseIcon to notifications
  packages/notifications/src/elements/Alert.tsx
  packages/notifications/src/elements/Notification.tsx
  packages/notifications/src/elements/global-alert/GlobalAlert.tsx
  packages/notifications/src/styled/StyledIcon.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: adds StyledBaseIcon to pagination
  packages/pagination/src/elements/CursorPagination/components/First.tsx
  packages/pagination/src/elements/CursorPagination/components/Last.tsx
  packages/pagination/src/elements/CursorPagination/components/Next.tsx
  packages/pagination/src/elements/CursorPagination/components/Previous.tsx
  packages/pagination/src/styled/CursorPagination/StyledIcon.spec.tsx
  packages/pagination/src/styled/CursorPagination/StyledIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: adds StyledBaseIcon to tags
  packages/tags/src/styled/StyledAvatar.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: adds StyledBaseIcon to various icon components (#1792)
  package-lock.json
  packages/buttons/src/elements/IconButton.tsx
  packages/buttons/src/elements/components/EndIcon.tsx
  packages/buttons/src/elements/components/StartIcon.tsx
  packages/buttons/src/styled/StyledIcon.spec.tsx
  packages/buttons/src/styled/StyledIcon.ts
  packages/dropdowns/src/elements/combobox/Combobox.tsx
  packages/dropdowns/src/elements/combobox/OptGroup.tsx
  packages/dropdowns/src/elements/combobox/Option.tsx
  packages/dropdowns/src/elements/menu/Item.tsx
  packages/dropdowns/src/elements/menu/ItemGroup.tsx
  packages/dropdowns/src/views/combobox/StyledInputIcon.ts
  packages/dropdowns/src/views/combobox/StyledOptionIcon.ts
  packages/dropdowns/src/views/combobox/StyledOptionTypeIcon.ts
  packages/forms/src/elements/faux-input/components/EndIcon.tsx
  packages/forms/src/elements/faux-input/components/StartIcon.tsx
  packages/forms/src/elements/file-list/components/File.tsx
  packages/forms/src/styled/file-list/StyledFileIcon.spec.tsx
  packages/forms/src/styled/file-list/StyledFileIcon.ts
  packages/forms/src/styled/text/StyledTextMediaFigure.spec.tsx
  packages/forms/src/styled/text/StyledTextMediaFigure.ts
  packages/notifications/src/elements/Alert.tsx
  packages/notifications/src/elements/Notification.tsx
  packages/notifications/src/elements/global-alert/GlobalAlert.tsx
  packages/notifications/src/styled/StyledIcon.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertIcon.ts
  packages/pagination/src/elements/CursorPagination/components/First.tsx
  packages/pagination/src/elements/CursorPagination/components/Last.tsx
  packages/pagination/src/elements/CursorPagination/components/Next.tsx
  packages/pagination/src/elements/CursorPagination/components/Previous.tsx
  packages/pagination/src/styled/CursorPagination/StyledIcon.spec.tsx
  packages/pagination/src/styled/CursorPagination/StyledIcon.ts
  packages/tags/src/styled/StyledAvatar.ts
  packages/typography/src/elements/span/StartIcon.tsx
  packages/typography/src/styled/StyledIcon.spec.tsx
  packages/typography/src/styled/StyledIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Add unit testing
  packages/theming/src/utils/getCheckeredBackground.spec.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
