Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

feat(modals): adds subcomponent mapping to Modal
  docs/migration.md
  packages/modals/README.md
  packages/modals/demo/modal.stories.mdx
  packages/modals/demo/stories/ModalStory.tsx
  packages/modals/src/elements/Body.tsx
  packages/modals/src/elements/Close.tsx
  packages/modals/src/elements/Footer.tsx
  packages/modals/src/elements/FooterItem.tsx
  packages/modals/src/elements/Header.tsx
  packages/modals/src/elements/Modal.spec.tsx
  packages/modals/src/elements/Modal.tsx
  packages/modals/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: code review from @jzempel
  packages/modals/demo/modal.stories.mdx
  packages/modals/src/elements/Modal.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: code review redux
  packages/modals/demo/modal.stories.mdx
Due: none

feat(modals): adds subcomponent mapping to Modal (#1750)
  docs/migration.md
  packages/modals/README.md
  packages/modals/demo/modal.stories.mdx
  packages/modals/demo/stories/ModalStory.tsx
  packages/modals/src/elements/Body.tsx
  packages/modals/src/elements/Close.tsx
  packages/modals/src/elements/Footer.tsx
  packages/modals/src/elements/FooterItem.tsx
  packages/modals/src/elements/Header.tsx
  packages/modals/src/elements/Modal.spec.tsx
  packages/modals/src/elements/Modal.tsx
  packages/modals/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.0.0-next.5 [skip ci]
  CHANGELOG.md
Due: none

Initial v9 `getColor` implementation
  package-lock.json
  packages/theming/demo/stories/GetColorStory.tsx
  packages/theming/demo/utilities.stories.mdx
  packages/theming/package.json
  packages/theming/src/elements/theme/index.ts
  packages/theming/src/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Fill out getColor
  package-lock.json
  packages/theming/demo/stories/GetColorStory.tsx
  packages/theming/demo/utilities.stories.mdx
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Nit
  packages/theming/demo/stories/GetColorStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Complete getColor functionality
  packages/theming/demo/stories/GetColorStory.tsx
  packages/theming/demo/utilities.stories.mdx
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Generate shades for unknown hue
  packages/theming/demo/stories/GetColorStory.tsx
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

V8 palette spread and subcomponents
  packages/theming/demo/~patterns/stories/components/Modal.tsx
  packages/theming/demo/~patterns/stories/components/Palette.tsx
  packages/theming/src/utils/_getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Partial component styling
  packages/buttons/src/styled/StyledButton.ts
  packages/tabs/src/styled/StyledTab.ts
  packages/tabs/src/styled/StyledTabList.ts
  packages/tabs/src/styled/StyledTabPanel.ts
  packages/tabs/src/styled/StyledTabs.ts
  packages/theming/demo/~patterns/stories/PaletteStory.tsx
  packages/theming/demo/~patterns/stories/components/ColorPalette.tsx
  packages/theming/demo/~patterns/stories/components/Palette.tsx
  packages/theming/src/elements/theme/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Optimize
  packages/theming/demo/stories/GetColorStory.tsx
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Center
  packages/theming/demo/~patterns/stories/PaletteStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(accordiosn): update icon types to ReactElement
  package-lock.json
  packages/accordions/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Revert "feat(accordiosn): update icon types to ReactElement"
  package-lock.json
  packages/accordions/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Retain `getColor` export
  packages/theming/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Initial splitter button DOM re-placement
  packages/grid/src/elements/pane/components/Splitter.tsx
  packages/grid/src/elements/pane/components/SplitterButton.tsx
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Revert demo updates
  package-lock.json
  packages/theming/demo/stories/GetColorStory.tsx
  packages/theming/demo/utilities.stories.mdx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming)!: add `variables` to theme `colors`
  package-lock.json
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/theme/index.ts
  packages/theming/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: updates icon component types for cross-package consistency
  docs/migration.md
  package-lock.json
  packages/accordions/demo/stories/StepperStory.tsx
  packages/accordions/demo/stories/TimelineStory.tsx
  packages/accordions/src/types/index.ts
  packages/breadcrumbs/src/styled/StyledChevronIcon.tsx
  packages/chrome/src/elements/header/HeaderItemIcon.tsx
  packages/chrome/src/elements/nav/NavItemIcon.tsx
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/types/index.ts
  packages/typography/src/elements/span/Icon.tsx
  packages/typography/src/elements/span/StartIcon.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update package lock
  package-lock.json
Due: none

feat: adds an internal `getColorV8` utility (#1754)
  packages/.template/src/styled/Styled{{capitalize component}}.ts
  packages/theming/src/index.ts
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/getColorV8.spec.ts
  packages/theming/src/utils/getColorV8.ts
  packages/theming/src/utils/getFocusBoxShadow.spec.ts
  packages/theming/src/utils/getFocusBoxShadow.ts
  packages/theming/src/utils/menuStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: updates icon component types for cross-package consistency (#1752)
  docs/migration.md
  package-lock.json
  packages/accordions/demo/stories/StepperStory.tsx
  packages/accordions/demo/stories/TimelineStory.tsx
  packages/accordions/src/types/index.ts
  packages/breadcrumbs/src/styled/StyledChevronIcon.tsx
  packages/chrome/src/elements/header/HeaderItemIcon.tsx
  packages/chrome/src/elements/nav/NavItemIcon.tsx
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/types/index.ts
  packages/typography/src/elements/span/Icon.tsx
  packages/typography/src/elements/span/StartIcon.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update migration guide
  docs/migration.md
Due: none

Provide legacy theme fallback
  packages/colorpickers/src/styled/ColorSwatch/StyledColorSwatchLabel.ts
  packages/theming/src/utils/getColorV8.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix TS error
  packages/theming/src/utils/getColorV8.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(deps): update non-major shared dependencies (#1758) (#1760)
  package-lock.json
  package.json
Due: prettier-package-json --write
