Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore(packages): use relative and module paths for imports
  packages/accordions/src/utils/useAccordionContext.ts
  packages/datepickers/src/elements/DatepickerRange/utils/useDatepickerRangeContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: assert type number
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix listbox overflow
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/views/combobox/StyledListbox.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: address feedback
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/stepper/StyledContent.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Comment out menu exports and story
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/demo/menu.stories
  packages/dropdowns.next/src/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Remove story from compile
  packages/dropdowns.next/demo/stories/MenuStory
Due: none

chore(dropdowns.next): add `Menu` view components (#1567)
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/demo/menu.stories
  packages/dropdowns.next/demo/stories/MenuStory
  packages/dropdowns.next/src/context/useItemContext.ts
  packages/dropdowns.next/src/context/useMenuContext.ts
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
  packages/dropdowns.next/src/elements/combobox/OptGroup.tsx
  packages/dropdowns.next/src/elements/menu/Item.tsx
  packages/dropdowns.next/src/elements/menu/ItemGroup.tsx
  packages/dropdowns.next/src/elements/menu/ItemMeta.tsx
  packages/dropdowns.next/src/elements/menu/Menu.tsx
  packages/dropdowns.next/src/elements/menu/utils.ts
  packages/dropdowns.next/src/index.ts
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/combobox/StyledFloatingListbox.ts
  packages/dropdowns.next/src/views/combobox/StyledListbox.ts
  packages/dropdowns.next/src/views/combobox/StyledListboxSeparator.ts
  packages/dropdowns.next/src/views/combobox/StyledOptGroup.ts
  packages/dropdowns.next/src/views/combobox/StyledOption.ts
  packages/dropdowns.next/src/views/combobox/StyledOptionIcon.ts
  packages/dropdowns.next/src/views/combobox/StyledOptionMeta.ts
  packages/dropdowns.next/src/views/combobox/StyledOptionTypeIcon.ts
  packages/dropdowns.next/src/views/index.ts
  packages/dropdowns.next/src/views/menu/StyledFloatingMenu.ts
  packages/dropdowns.next/src/views/menu/StyledItem.ts
  packages/dropdowns.next/src/views/menu/StyledItemContent.ts
  packages/dropdowns.next/src/views/menu/StyledItemGroup.ts
  packages/dropdowns.next/src/views/menu/StyledItemIcon.ts
  packages/dropdowns.next/src/views/menu/StyledItemMeta.ts
  packages/dropdowns.next/src/views/menu/StyledItemTypeIcon.ts
  packages/dropdowns.next/src/views/menu/StyledMenu.ts
  packages/dropdowns.next/src/views/menu/StyledMenuSeparator.ts
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/common/StyledHint.ts
  packages/forms/src/styled/common/StyledLabel.ts
  packages/forms/src/styled/common/StyledMessage.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix size snapshot
  packages/dropdowns.next/.size-snapshot.json
Due: none

chore(packages): use relative and module paths for imports (#1571)
  packages/accordions/src/utils/useAccordionContext.ts
  packages/datepickers/src/elements/DatepickerRange/utils/useDatepickerRangeContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: revert to last working version of typescript v5
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(combobox): prevent page scroll on input focus
  packages/dropdowns.next/package.json
  packages/dropdowns.next/yarn.lock
Due: prettier-package-json --write

fix(combobox): prevent page scroll on input focus (#1573)
  packages/dropdowns.next/package.json
  packages/dropdowns.next/yarn.lock
Due: prettier-package-json --write

fix(accordions): allow dynamic height for stepper content (#1570)
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/stepper/components/Content.tsx
  packages/accordions/src/styled/stepper/StyledContent.ts
  packages/accordions/src/styled/stepper/StyledInnerContent.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  1408.1095722d.iframe.bundle.js
  1408.73661b14.iframe.bundle.js
  accordions-demo-stepper-stories-mdx.c30b435d.iframe.bundle.js
  accordions-demo-stepper-stories-mdx.fc7c746c.iframe.bundle.js
  dropdowns-demo-autocomplete-stories-mdx.19a97376.iframe.bundle.js
  dropdowns-demo-autocomplete-stories-mdx.4bf389be.iframe.bundle.js
  dropdowns-demo-combobox-stories-mdx.55acabeb.iframe.bundle.js
  dropdowns-demo-combobox-stories-mdx.cea0dc7d.iframe.bundle.js
  dropdowns-demo-multiselect-stories-mdx.1f382f69.iframe.bundle.js
  dropdowns-demo-multiselect-stories-mdx.4eef488b.iframe.bundle.js
  dropdowns-demo-select-stories-mdx.2d77d28b.iframe.bundle.js
  dropdowns-demo-select-stories-mdx.664bda45.iframe.bundle.js
  forms-demo-fauxInput-stories-mdx.d2208a19.iframe.bundle.js
  forms-demo-fauxInput-stories-mdx.eec70069.iframe.bundle.js
  forms-demo-mediaInput-stories-mdx.31963834.iframe.bundle.js
  forms-demo-mediaInput-stories-mdx.f874334e.iframe.bundle.js
  forms-demo-select-stories-mdx.a0f842bb.iframe.bundle.js
  forms-demo-select-stories-mdx.cc970e32.iframe.bundle.js
  forms-demo-textarea-stories-mdx.67b38631.iframe.bundle.js
  forms-demo-textarea-stories-mdx.d3e69edf.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.337a7c65.iframe.bundle.js
  runtime~main.9f0b509f.iframe.bundle.js
  tags-demo-patterns-patterns-stories-mdx.78ec8016.iframe.bundle.js
  tags-demo-patterns-patterns-stories-mdx.8bfb6233.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  9117.f00a9212.iframe.bundle.js
  9117.f7d81868.iframe.bundle.js
  9644.78d4b353.iframe.bundle.js
  9644.c7fe9dd7.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.869aa18e.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.dabec3c0.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.145aba48.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.a5428f9d.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.09a945e9.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.eec682ad.iframe.bundle.js
  chrome-demo-chrome-stories-mdx.5cf2a635.iframe.bundle.js
  chrome-demo-chrome-stories-mdx.6af6b930.iframe.bundle.js
  chrome-demo-collapsibleSubNavItem-stories-mdx.0a4252e5.iframe.bundle.js
  chrome-demo-collapsibleSubNavItem-stories-mdx.f1b1e544.iframe.bundle.js
  datepickers-demo-datepicker-stories-mdx.13c57dcc.iframe.bundle.js
  datepickers-demo-datepicker-stories-mdx.da514664.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.5f0429ac.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.e29e3410.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.14cf527f.iframe.bundle.js
  runtime~main.337a7c65.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  9117.f00a9212.iframe.bundle.js
  9117.f7d81868.iframe.bundle.js
  9644.78d4b353.iframe.bundle.js
  9644.c7fe9dd7.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.869aa18e.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.dabec3c0.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.145aba48.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.a5428f9d.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.09a945e9.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.eec682ad.iframe.bundle.js
  chrome-demo-chrome-stories-mdx.5cf2a635.iframe.bundle.js
  chrome-demo-chrome-stories-mdx.6af6b930.iframe.bundle.js
  chrome-demo-collapsibleSubNavItem-stories-mdx.0a4252e5.iframe.bundle.js
  chrome-demo-collapsibleSubNavItem-stories-mdx.f1b1e544.iframe.bundle.js
  datepickers-demo-datepicker-stories-mdx.13c57dcc.iframe.bundle.js
  datepickers-demo-datepicker-stories-mdx.da514664.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.5f0429ac.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.e29e3410.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.14cf527f.iframe.bundle.js
  runtime~main.c4c28850.iframe.bundle.js
  tables-demo-table-stories-mdx.742f3635.iframe.bundle.js
  tables-demo-table-stories-mdx.dce6d189.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(combobox): prevent combobox focus retention on multiselectable tag removal
  packages/dropdowns.next/package.json
  packages/dropdowns.next/yarn.lock
Due: prettier-package-json --write

fix(combobox): prevent combobox focus retention on multiselectable tag removal (#1574)
  packages/dropdowns.next/package.json
  packages/dropdowns.next/yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  6400.34ac7a92.iframe.bundle.js
  6400.b20e9672.iframe.bundle.js
  6400.b20e9672.iframe.bundle.js.LICENSE.txt
  9117.120ace9d.iframe.bundle.js
  9117.f00a9212.iframe.bundle.js
  9644.06e23179.iframe.bundle.js
  9644.78d4b353.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.660ff85f.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.869aa18e.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.107687a7.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.a5428f9d.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.47c2dd36.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.eec682ad.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.b00296bc.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.e29e3410.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.c4c28850.iframe.bundle.js
  runtime~main.fc90ffdd.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.69.3 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  1408.1095722d.iframe.bundle.js
  1408.73661b14.iframe.bundle.js
  9117.120ace9d.iframe.bundle.js
  9117.f7d81868.iframe.bundle.js
  9644.06e23179.iframe.bundle.js
  9644.c7fe9dd7.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.660ff85f.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.dabec3c0.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.107687a7.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.145aba48.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.09a945e9.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.47c2dd36.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.b00296bc.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.e29e3410.iframe.bundle.js
  dropdowns-demo-autocomplete-stories-mdx.19a97376.iframe.bundle.js
  dropdowns-demo-autocomplete-stories-mdx.4bf389be.iframe.bundle.js
  dropdowns-demo-combobox-stories-mdx.55acabeb.iframe.bundle.js
  dropdowns-demo-combobox-stories-mdx.cea0dc7d.iframe.bundle.js
  dropdowns-demo-multiselect-stories-mdx.1f382f69.iframe.bundle.js
  dropdowns-demo-multiselect-stories-mdx.4eef488b.iframe.bundle.js
  dropdowns-demo-select-stories-mdx.2d77d28b.iframe.bundle.js
  dropdowns-demo-select-stories-mdx.664bda45.iframe.bundle.js
  forms-demo-fauxInput-stories-mdx.d2208a19.iframe.bundle.js
  forms-demo-fauxInput-stories-mdx.eec70069.iframe.bundle.js
  forms-demo-mediaInput-stories-mdx.31963834.iframe.bundle.js
  forms-demo-mediaInput-stories-mdx.f874334e.iframe.bundle.js
  forms-demo-select-stories-mdx.a0f842bb.iframe.bundle.js
  forms-demo-select-stories-mdx.cc970e32.iframe.bundle.js
  forms-demo-textarea-stories-mdx.67b38631.iframe.bundle.js
  forms-demo-textarea-stories-mdx.d3e69edf.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.3380c82f.iframe.bundle.js
  runtime~main.fc90ffdd.iframe.bundle.js
  tables-demo-table-stories-mdx.742f3635.iframe.bundle.js
  tables-demo-table-stories-mdx.dce6d189.iframe.bundle.js
  tags-demo-patterns-patterns-stories-mdx.78ec8016.iframe.bundle.js
  tags-demo-patterns-patterns-stories-mdx.8bfb6233.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update container-combobox
  packages/dropdowns.next/package.json
  packages/dropdowns.next/yarn.lock
Due: prettier-package-json --write

Preserve input value spaces in rendered HTML
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/views/combobox/StyledValue.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor(buttons): button group react v18 uplift
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/buttons/src/elements/Button.tsx
  packages/buttons/src/elements/ButtonGroup.tsx
  packages/buttons/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade eslint and fix no-duplicate-imports errors
  package.json
  packages/buttons/src/index.ts
  packages/chrome/src/index.ts
  packages/forms/demo/stories/FieldStory.tsx
  packages/forms/src/index.ts
  packages/grid/src/index.ts
  packages/modals/src/index.ts
  packages/notifications/src/index.ts
  packages/pagination/src/styled/index.ts
  packages/theming/src/index.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  8331.1ad1c5a4.iframe.bundle.js
  8331.f2bcfc94.iframe.bundle.js
  9117.d0177bea.iframe.bundle.js
  9117.f7d81868.iframe.bundle.js
  9644.13d27d42.iframe.bundle.js
  9644.c7fe9dd7.iframe.bundle.js
  avatars-demo-patterns-patterns-stories-mdx.2be6ba0d.iframe.bundle.js
  avatars-demo-patterns-patterns-stories-mdx.63c92aa4.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.dabec3c0.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.fb796050.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.145aba48.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.d095ccba.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.09a945e9.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.53131672.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.b00296bc.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.e29e3410.iframe.bundle.js
  iframe.html
  notifications-demo-toastProvider-stories-mdx.162cebd4.iframe.bundle.js
  notifications-demo-toastProvider-stories-mdx.84fb0e68.iframe.bundle.js
  project.json
  runtime~main.3380c82f.iframe.bundle.js
  runtime~main.6fa92e9f.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: remove unnecessary type
  packages/buttons/src/elements/ButtonGroup.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: merge button forwarded ref with selection ref
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/buttons/src/elements/Button.tsx
  packages/buttons/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

feat(tabs): uptake new version of container-selection
  packages/tabs/.size-snapshot.json
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/demo/stories/data.ts
  packages/tabs/demo/stories/types.ts
  packages/tabs/package.json
  packages/tabs/src/elements/Tab.tsx
  packages/tabs/src/elements/TabPanel.tsx
  packages/tabs/src/elements/Tabs.tsx
  packages/tabs/src/utils/toTabItems.ts
  packages/tabs/src/utils/toTabs.ts
  packages/tabs/src/utils/useTabsContext.ts
  packages/tabs/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix: address feedback and add test
  packages/buttons/.size-snapshot.json
  packages/buttons/src/elements/Button.tsx
  packages/buttons/src/elements/ButtonGroup.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: fallback to default theme
  packages/buttons/.size-snapshot.json
  packages/buttons/src/elements/ButtonGroup.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: typings
  packages/tabs/.size-snapshot.json
  packages/tabs/src/elements/Tab.tsx
  packages/tabs/src/utils/toTabItems.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: types in test
  packages/buttons/src/elements/ButtonGroup.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: remove toTabItems file
  packages/tabs/src/utils/toTabItems.ts
  packages/tabs/src/utils/toTabs.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: update lockfile to ensure @reach/auto-id v0.18
  packages/tabs/yarn.lock
Due: none

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0 --ignore-pattern !.storybook: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
