Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore(changelog): add v8.47.1 [skip ci]
  CHANGELOG.md
Due: none

Refactor tags demo stories
  packages/avatars/demo/patterns/patterns.stories.mdx
  packages/tags/demo/#readme.stories.mdx
  packages/tags/demo/patterns/patterns.stories.mdx
  packages/tags/demo/patterns/stories/FauxInputStory.tsx
  packages/tags/demo/patterns/stories/data.ts
  packages/tags/demo/stories/TagStory.tsx
  packages/tags/demo/tag.stories.mdx
  packages/tags/src/elements/Tag.tsx
  packages/tags/src/index.ts
  packages/tags/stories/1-Readme.stories.mdx
  packages/tags/stories/2-Examples.stories.tsx
  packages/tags/stories/examples/CustomHue.tsx
  packages/tags/stories/examples/Default.tsx
  packages/tags/stories/examples/FontWeight.tsx
  packages/tags/stories/examples/Truncation.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Refactor pagination demo stories
  packages/pagination/demo/#readme.stories.mdx
  packages/pagination/demo/cursorPagination.stories.mdx
  packages/pagination/demo/pagination.stories.mdx
  packages/pagination/demo/stories/CursorPaginationStory.tsx
  packages/pagination/stories/1-Readme.stories.mdx
  packages/pagination/stories/2-Pagination.stories.tsx
  packages/pagination/stories/3-CursorPagination.stories.tsx
  packages/tags/demo/patterns/patterns.stories.mdx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Refactor tabs demo stories
  packages/tabs/demo/#readme.stories.mdx
  packages/tabs/demo/stories/TabsStory.tsx
  packages/tabs/demo/stories/data.ts
  packages/tabs/demo/stories/types.ts
  packages/tabs/demo/tabs.stories.mdx
  packages/tabs/stories/Readme.stories.mdx
  packages/tabs/stories/Tabs.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Refactor table demo stories
  packages/tables/demo/#readme.stories.mdx
  packages/tables/demo/stories/TableStory.tsx
  packages/tables/demo/stories/data.ts
  packages/tables/demo/stories/types.ts
  packages/tables/demo/table.stories.mdx
  packages/tables/src/elements/Cell.tsx
  packages/tables/src/elements/SortableCell.tsx
  packages/tables/src/elements/Table.tsx
  packages/tables/src/index.ts
  packages/tables/stories/1-Readme.stories.mdx
  packages/tables/stories/2-Default.stories.tsx
  packages/tables/stories/examples/Default.tsx
  packages/tables/stories/examples/Draggable.tsx
  packages/tables/stories/examples/OverflowMenu.tsx
  packages/tables/stories/examples/Paginated.tsx
  packages/tables/stories/examples/Scrollable.tsx
  packages/tables/stories/examples/Selectable.tsx
  packages/tables/stories/examples/Sortable.tsx
  packages/tables/stories/examples/VirtualScrolling.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Fix broken tests
  packages/accordions/src/styled/accordion/StyledButton.spec.tsx
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/loaders/src/elements/Dots.spec.tsx
  packages/loaders/src/elements/Spinner.spec.tsx
  packages/modals/.size-snapshot.json
  packages/modals/src/styled/StyledFooter.spec.tsx
  packages/notifications/src/styled/StyledWell.spec.tsx
  packages/pagination/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/typography/src/styled/StyledCode.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update TypeScript version to address new Storybook TS warnings
  package.json
  packages/accordions/stories/examples/Uncontrolled.tsx
  packages/forms/stories/12-Tiles.stories.tsx
  packages/forms/stories/story-types.ts
  packages/theming/src/utils/withTheme.ts
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Update Storybook babel import
  .storybook/babel.config.js
  packages/accordions/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tags/.size-snapshot.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix lint warnings
  packages/accordions/src/elements/stepper/Stepper.tsx
  packages/accordions/src/elements/timeline/Timeline.tsx
  packages/buttons/src/elements/Button.tsx
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/elements/subnav/CollapsibleSubNavItem.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/forms/src/elements/FauxInput.tsx
  packages/forms/src/elements/Input.tsx
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/elements/Range.tsx
  packages/forms/src/elements/Select.tsx
  packages/forms/src/elements/Textarea.tsx
  packages/forms/src/elements/common/Field.tsx
  packages/forms/src/elements/common/Fieldset.tsx
  packages/forms/src/elements/file-list/FileList.tsx
  packages/forms/src/elements/file-list/components/File.tsx
  packages/forms/src/elements/tiles/Tiles.tsx
  packages/modals/src/elements/Modal.spec.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/pagination/src/elements/CursorPagination/CursorPagination.tsx
  packages/pagination/src/elements/Pagination/Pagination.tsx
  packages/tabs/src/elements/Tabs.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update snapshots
  packages/accordions/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/theming/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
Due: none

fix(deps): update non-major example dependencies
  examples/codesandbox/package.json
  examples/codesandbox/yarn.lock
  examples/gatsby/package.json
  examples/gatsby/yarn.lock
Due: prettier-package-json --write

chore(deps): update node orb to v4.9.0
  .circleci/config.yml
Due: none

fix(deps): update dependency @zendeskgarden/container-utilities to ^0.7.0
  packages/accordions/package.json
  packages/accordions/yarn.lock
  packages/chrome/package.json
  packages/chrome/yarn.lock
  packages/colorpickers/package.json
  packages/colorpickers/yarn.lock
  packages/datepickers/package.json
  packages/datepickers/yarn.lock
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
  packages/forms/package.json
  packages/forms/yarn.lock
  packages/modals/package.json
  packages/modals/yarn.lock
  packages/pagination/package.json
  packages/pagination/yarn.lock
  packages/tables/package.json
  packages/tables/yarn.lock
  packages/tabs/package.json
  packages/tabs/yarn.lock
  packages/tags/package.json
  packages/tags/yarn.lock
  packages/theming/package.json
  packages/theming/yarn.lock
  packages/tooltips/package.json
  packages/tooltips/yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @rollup/plugin-commonjs to v21
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @svgr/rollup to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @svgr/webpack to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

Refactor chrome demo stories
  packages/chrome/.size-snapshot.json
  packages/chrome/demo/#readme.stories.mdx
  packages/chrome/demo/chrome.stories.mdx
  packages/chrome/demo/sheet.stories.mdx
  packages/chrome/demo/stories/ChromeStory.tsx
  packages/chrome/demo/stories/SheetStory.tsx
  packages/chrome/demo/stories/data.ts
  packages/chrome/demo/stories/types.ts
  packages/chrome/src/elements/Chrome.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/index.ts
  packages/chrome/stories/1-Readme.stories.mdx
  packages/chrome/stories/2-Chrome.stories.tsx
  packages/chrome/stories/examples/Default.tsx
  packages/chrome/stories/examples/Sheet.tsx
  packages/chrome/stories/examples/StandaloneHeader.tsx
  packages/tables/demo/table.stories.mdx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add CollapsibleSubNavItem demo stories
  packages/chrome/demo/collapsibleSubNavItem.stories.mdx
  packages/chrome/demo/stories/ChromeStory.tsx
  packages/chrome/demo/stories/CollapsibleSubNavItemStory.tsx
  packages/chrome/demo/stories/data.ts
  packages/chrome/demo/stories/types.ts
  packages/chrome/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update snapshots
  packages/accordions/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tags/.size-snapshot.json
Due: none

Demonstrate Sheet.Footer isCompact
  packages/chrome/demo/sheet.stories.mdx
  packages/chrome/demo/stories/SheetStory.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Upgrade @svgr/rollup & migrate yaml to js config
  .storybook/main.js
  .svgo.config.js
  .svgo.yml
  package.json
  utils/build/rollup.config.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Update snapshots
  .storybook/main.js
  packages/accordions/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tags/.size-snapshot.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(deps): update dependency babel-plugin-styled-components to v2
  examples/gatsby/package.json
  examples/gatsby/yarn.lock
  package.json
  yarn.lock
Due: prettier-package-json --write

Refactor grid demo stories
  packages/chrome/demo/chrome.stories.mdx
  packages/chrome/demo/stories/ChromeStory.tsx
  packages/grid/.size-snapshot.json
  packages/grid/demo/#readme.stories.mdx
  packages/grid/demo/grid.stories.mdx
  packages/grid/demo/stories/GridStory.tsx
  packages/grid/demo/stories/data.ts
  packages/grid/demo/stories/types.ts
  packages/grid/src/index.ts
  packages/grid/stories/1-Readme.stories.mdx
  packages/grid/stories/2-Grid.stories.tsx
  packages/grid/stories/examples/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(deps): update dependency @zendeskgarden/eslint-config to v26
  package.json
  yarn.lock
Due: prettier-package-json --write

Update eslint dependencies, tests, & config
  .storybook/main.js
  package.json
  packages/avatars/src/elements/Avatar.spec.tsx
  packages/chrome/src/elements/header/HeaderItem.spec.tsx
  packages/chrome/src/elements/nav/NavItem.spec.tsx
  packages/dropdowns/src/elements/Dropdown/Dropdown.tsx
  packages/forms/src/elements/common/Message.spec.tsx
  packages/forms/src/styled/common/StyledMessageIcon.spec.tsx
  packages/grid/src/styled/StyledCol.spec.tsx
  packages/grid/src/styled/StyledGrid.spec.tsx
  packages/grid/src/styled/StyledRow.spec.tsx
  packages/loaders/src/styled/StyledDots.spec.tsx
  packages/loaders/src/styled/index.spec.tsx
  packages/theming/src/utils/arrowStyles.spec.tsx
  packages/theming/src/utils/menuStyles.spec.tsx
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Grid demo refinements
  packages/grid/demo/grid.stories.mdx
  packages/grid/demo/stories/GridStory.tsx
  packages/grid/demo/stories/data.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Initial refactor of forms demo stories
  packages/forms/demo/#readme.stories.mdx
  packages/forms/demo/checkbox.stories.mdx
  packages/forms/demo/fileUpload.stories.mdx
  packages/forms/demo/input.stories.mdx
  packages/forms/demo/radio.stories.mdx
  packages/forms/demo/stories/CheckboxStory.tsx
  packages/forms/demo/stories/FieldStory.tsx
  packages/forms/demo/stories/FileUploadStory.tsx
  packages/forms/demo/stories/InputStory.tsx
  packages/forms/demo/stories/RadioStory.tsx
  packages/forms/demo/stories/TextareaStory.tsx
  packages/forms/demo/stories/ToggleStory.tsx
  packages/forms/demo/textarea.stories.mdx
  packages/forms/demo/toggle.stories.mdx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Continued forms demo stories refactor
  packages/forms/.size-snapshot.json
  packages/forms/demo/checkbox.stories.mdx
  packages/forms/demo/fauxInput.stories.mdx
  packages/forms/demo/mediaInput.stories.mdx
  packages/forms/demo/multiThumbRange.stories.mdx
  packages/forms/demo/radio.stories.mdx
  packages/forms/demo/range.stories.mdx
  packages/forms/demo/select.stories.mdx
  packages/forms/demo/stories/FauxInputStory.tsx
  packages/forms/demo/stories/MediaInputStory.tsx
  packages/forms/demo/stories/MultiThumbRangeStory.tsx
  packages/forms/demo/stories/RangeStory.tsx
  packages/forms/demo/stories/SelectStory.tsx
  packages/forms/demo/stories/data.ts
  packages/forms/demo/toggle.stories.mdx
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  packages/forms/src/elements/MultiThumbRange.tsx
  packages/forms/src/elements/Range.tsx
  packages/forms/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Continued refactor form demo stories; reconfigure "patterns" stories
  packages/avatars/demo/~patterns/patterns.stories.mdx
  packages/avatars/demo/~patterns/stories/ChromeStory.tsx
  packages/avatars/demo/~patterns/stories/MenuStory.tsx
  packages/forms/demo/fauxInput.stories.mdx
  packages/forms/demo/fieldset.stories.mdx
  packages/forms/demo/file.stories.mdx
  packages/forms/demo/fileList.stories.mdx
  packages/forms/demo/mediaInput.stories.mdx
  packages/forms/demo/stories/FieldsetStory.tsx
  packages/forms/demo/stories/FileListStory.tsx
  packages/forms/demo/stories/FileStory.tsx
  packages/forms/demo/stories/TilesStory.tsx
  packages/forms/demo/stories/data.ts
  packages/forms/demo/stories/types.ts
  packages/forms/demo/tiles.stories.mdx
  packages/forms/demo/~patterns/patterns.stories.mdx
  packages/forms/demo/~patterns/stories/FileUploadStory.tsx
  packages/forms/src/elements/tiles/Tiles.tsx
  packages/forms/src/index.ts
  packages/tags/demo/~patterns/patterns.stories.mdx
  packages/tags/demo/~patterns/stories/FauxInputStory.tsx
  packages/tags/demo/~patterns/stories/data.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
