Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "linters": {
    "*.js": [
      "stylelint",
      "eslint",
      "jest --config=utils/test/jest.config.js --findRelatedTests",
      "prettier --write",
      "git add"
    ],
    "*.md": [
      "markdownlint",
      "prettier --write",
      "git add"
    ],
    "**/package.json": [
      "prettier-package-json --write",
      "git add"
    ]
  },
  "ignore": ["**/CHANGELOG.md"]
}

feat(autocomplete): add support for `children` prop
  packages/autocomplete/src/elements/Autocomplete.js
  packages/autocomplete/src/elements/Autocomplete.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(autocomplete): add controlled props to Autocomplete (#294)
  packages/autocomplete/src/elements/Autocomplete.example.md
  packages/autocomplete/src/elements/Autocomplete.js
  packages/autocomplete/src/elements/Autocomplete.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

chore(deps): update dependency @zendeskgarden/svg-icons to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(autocomplete): allow tags to render with optional label value
  packages/autocomplete/src/elements/Multiselect.js
  packages/autocomplete/src/elements/Multiselect.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add secondary color types
  packages/tags/package.json
  packages/tags/src/views/Tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Correct fuschia
  packages/tags/src/views/Tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update tag example
  packages/tags/src/views/Tag.example.md
Due: prettier --write, markdownlint

Update tag type (color) snapshot testing
  packages/tags/src/views/Tag.spec.js
  packages/tags/src/views/__snapshots__/Tag.spec.js.snap
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(autocomplete): allow tags to render with optional label value (#296)
  packages/autocomplete/src/elements/Multiselect.js
  packages/autocomplete/src/elements/Multiselect.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(tags): add secondary color options to `type` prop (#297)
  packages/tags/package.json
  packages/tags/src/views/Tag.example.md
  packages/tags/src/views/Tag.js
  packages/tags/src/views/Tag.spec.js
  packages/tags/src/views/__snapshots__/Tag.spec.js.snap
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/tags/CHANGELOG.md
  packages/tags/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

Fix line height for MultiSelect input
  packages/autocomplete/src/elements/Multiselect.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(autoselect): prevent line-height shift on tag delete (#300)
  packages/autocomplete/src/elements/Multiselect.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Address Louis comments
  packages/dropdowns/src/Menu/Items/Item.js
  packages/dropdowns/src/index.js
  packages/dropdowns/src/styled/StyledMenu.js
  packages/dropdowns/src/styled/items/StyledHeaderIcon.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update Message to provide a role="alert" for improved AT feedback
  packages/textfields/src/views/Message.js
  packages/textfields/src/views/__snapshots__/Message.spec.js.snap
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(textfields): default `<Message/>` with `role="alert"` for improved accessibility (#301)
  packages/textfields/src/views/Message.js
  packages/textfields/src/views/__snapshots__/Message.spec.js.snap
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/textfields/CHANGELOG.md
  packages/textfields/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

Multiselect example
  packages/dropdowns/package.json
  packages/dropdowns/src/Dropdown.js
  packages/dropdowns/src/Menu/Items/Item.js
  packages/dropdowns/src/Multiselect/Multiselect.example.md
  packages/dropdowns/src/Multiselect/Multiselect.js
  packages/dropdowns/src/Multiselect/TagItem.js
  packages/dropdowns/src/Select/Select.js
  packages/dropdowns/src/Trigger/Trigger.example.md
  packages/dropdowns/src/Trigger/Trigger.js
  packages/dropdowns/src/utils/useMultiselectContext.js
  packages/dropdowns/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Remove snapshot testing from PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write, markdownlint

chore(release): publish
  packages/autocomplete/CHANGELOG.md
  packages/autocomplete/package.json
  packages/buttons/CHANGELOG.md
  packages/buttons/package.json
  packages/chrome/CHANGELOG.md
  packages/chrome/package.json
  packages/ranges/CHANGELOG.md
  packages/ranges/package.json
  packages/tables/CHANGELOG.md
  packages/tables/package.json
Due: prettier --write, markdownlint, prettier-package-json --write

chore(testing): migrate limited packages to react-testing-library
  package.json
  packages/chrome/src/views/Chrome.spec.js
  packages/chrome/src/views/body/Body.spec.js
  packages/chrome/src/views/body/Main.spec.js
  packages/chrome/src/views/body/Sidebar.spec.js
  packages/chrome/src/views/footer/Footer.spec.js
  packages/chrome/src/views/footer/FooterItem.spec.js
  packages/chrome/src/views/header/Header.spec.js
  packages/chrome/src/views/header/HeaderItem.spec.js
  packages/chrome/src/views/header/HeaderItemIcon.spec.js
  packages/chrome/src/views/header/HeaderItemText.spec.js
  packages/chrome/src/views/header/HeaderItemWrapper.spec.js
  packages/chrome/src/views/nav/Nav.spec.js
  packages/chrome/src/views/nav/NavItem.spec.js
  packages/chrome/src/views/nav/NavItemIcon.spec.js
  packages/chrome/src/views/nav/NavItemText.js
  packages/chrome/src/views/nav/NavItemText.spec.js
  packages/chrome/src/views/subnav/CollapsibleSubNavItem.spec.js
  packages/chrome/src/views/subnav/SubNav.spec.js
  packages/chrome/src/views/subnav/SubNavItem.spec.js
  packages/chrome/src/views/subnav/SubNavItemText.js
  packages/chrome/src/views/subnav/SubNavItemText.spec.js
  packages/loaders/src/Dots.spec.js
  packages/loaders/src/Inline.js
  packages/loaders/src/Inline.spec.js
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Skeleton.spec.js
  packages/loaders/src/Spinner.spec.js
  packages/loaders/src/containers/ScheduleContainer.spec.js
  packages/loaders/src/styled-elements.spec.js
  packages/menus/src/elements/Menu.spec.js
  packages/ranges/src/elements/MultiThumbRange.spec.js
  packages/tooltips/src/containers/TooltipContainer.spec.js
  utils/test/garden-test-utils.js
  utils/test/jest.config.js
  utils/test/jest.setup.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Use querySelector for nested queries
  packages/loaders/src/Dots.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(testing): migrate limited packages to react-testing-library (#304)
  package.json
  packages/chrome/src/views/Chrome.spec.js
  packages/chrome/src/views/body/Body.spec.js
  packages/chrome/src/views/body/Main.spec.js
  packages/chrome/src/views/body/Sidebar.spec.js
  packages/chrome/src/views/footer/Footer.spec.js
  packages/chrome/src/views/footer/FooterItem.spec.js
  packages/chrome/src/views/header/Header.spec.js
  packages/chrome/src/views/header/HeaderItem.spec.js
  packages/chrome/src/views/header/HeaderItemIcon.spec.js
  packages/chrome/src/views/header/HeaderItemText.spec.js
  packages/chrome/src/views/header/HeaderItemWrapper.spec.js
  packages/chrome/src/views/nav/Nav.spec.js
  packages/chrome/src/views/nav/NavItem.spec.js
  packages/chrome/src/views/nav/NavItemIcon.spec.js
  packages/chrome/src/views/nav/NavItemText.js
  packages/chrome/src/views/nav/NavItemText.spec.js
  packages/chrome/src/views/subnav/CollapsibleSubNavItem.spec.js
  packages/chrome/src/views/subnav/SubNav.spec.js
  packages/chrome/src/views/subnav/SubNavItem.spec.js
  packages/chrome/src/views/subnav/SubNavItemText.js
  packages/chrome/src/views/subnav/SubNavItemText.spec.js
  packages/loaders/src/Dots.spec.js
  packages/loaders/src/Inline.js
  packages/loaders/src/Inline.spec.js
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Skeleton.spec.js
  packages/loaders/src/Spinner.spec.js
  packages/loaders/src/containers/ScheduleContainer.spec.js
  packages/loaders/src/styled-elements.spec.js
  packages/menus/src/elements/Menu.spec.js
  packages/ranges/src/elements/MultiThumbRange.spec.js
  packages/tooltips/src/containers/TooltipContainer.spec.js
  utils/test/garden-test-utils.js
  utils/test/jest.config.js
  utils/test/jest.setup.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  packages/chrome/CHANGELOG.md
  packages/chrome/package.json
  packages/loaders/CHANGELOG.md
  packages/loaders/package.json
Due: prettier --write, markdownlint, prettier-package-json --write
