Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.30.0 [skip ci]
  CHANGELOG.md
Due: none

Update size snapshots
  packages/tooltips/.size-snapshot.json
Due: none

chore(tooltips): migrate tooltip example to storybook (#986)
  demo/index.html
  packages/tooltips/.size-snapshot.json
  packages/tooltips/README.md
  packages/tooltips/examples/basic.md
  packages/tooltips/package.json
  packages/tooltips/src/elements/Tooltip.spec.tsx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/index.ts
  packages/tooltips/src/styled/index.ts
  packages/tooltips/stories/1-Readme.stories.mdx
  packages/tooltips/stories/2-Tooltip.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update size snapshots
  packages/datepickers/.size-snapshot.json
Due: none

chore(docs): migrate datepicker docs to storybook
  demo/index.html
  packages/datepickers/.size-snapshot.json
  packages/datepickers/README.md
  packages/datepickers/examples/compact.md
  packages/datepickers/examples/custom-formats.md
  packages/datepickers/examples/default-usage.md
  packages/datepickers/examples/examples.md
  packages/datepickers/examples/localization.md
  packages/datepickers/examples/min-max-dates.md
  packages/datepickers/examples/range.md
  packages/datepickers/package.json
  packages/datepickers/src/elements/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.tsx
  packages/datepickers/src/elements/DatepickerRange/components/End.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Start.spec.tsx
  packages/datepickers/src/index.ts
  packages/datepickers/stories/1-Readme.stories.mdx
  packages/datepickers/stories/2-Default.stories.tsx
  packages/datepickers/stories/3-CustomFormat.stories.tsx
  packages/datepickers/stories/4-Range.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Correct root datepickers folder
  demo/index.html
  packages/datepickers/stories/4-Range.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove extra character
  demo/index.html
Due: none

chore(docs): migrate datepicker docs to storybook (#992)
  demo/index.html
  packages/datepickers/.size-snapshot.json
  packages/datepickers/README.md
  packages/datepickers/examples/compact.md
  packages/datepickers/examples/custom-formats.md
  packages/datepickers/examples/default-usage.md
  packages/datepickers/examples/examples.md
  packages/datepickers/examples/localization.md
  packages/datepickers/examples/min-max-dates.md
  packages/datepickers/examples/range.md
  packages/datepickers/package.json
  packages/datepickers/src/elements/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.tsx
  packages/datepickers/src/elements/DatepickerRange/components/End.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Start.spec.tsx
  packages/datepickers/src/index.ts
  packages/datepickers/stories/1-Readme.stories.mdx
  packages/datepickers/stories/2-Default.stories.tsx
  packages/datepickers/stories/3-CustomFormat.stories.tsx
  packages/datepickers/stories/4-Range.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(accordions): correct default color of accordion labels
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/accordion/StyledButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Initial skip nav styling
  packages/chrome/src/elements/SkipNav.tsx
  packages/chrome/src/elements/body/Main.tsx
  packages/chrome/src/index.ts
  packages/chrome/src/styled/StyledChrome.ts
  packages/chrome/src/styled/StyledSkipNav.ts
  packages/chrome/src/styled/body/StyledMain.tsx
  packages/chrome/src/styled/index.ts
  packages/chrome/stories/2-Chrome.stories.tsx
  packages/chrome/stories/examples/Default.tsx
  packages/chrome/stories/examples/StandaloneHeader.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Setup main ID context
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/chrome/src/elements/Chrome.tsx
  packages/chrome/src/elements/SkipNav.tsx
  packages/chrome/src/elements/body/Main.tsx
  packages/chrome/src/utils/useChromeContext.ts
  packages/chrome/stories/examples/StandaloneHeader.tsx
  packages/chrome/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Change skipnav context to target `Content` by default
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/Chrome.tsx
  packages/chrome/src/elements/SkipNav.tsx
  packages/chrome/src/elements/body/Content.tsx
  packages/chrome/src/elements/body/Main.tsx
  packages/chrome/src/styled/body/StyledContent.tsx
  packages/chrome/src/styled/body/StyledSidebar.ts
  packages/chrome/src/utils/useChromeContext.ts
  packages/chrome/stories/examples/StandaloneHeader.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/chrome/.size-snapshot.json
Due: none

Add SkipNav tests
  packages/chrome/src/elements/SkipNav.spec.tsx
  packages/chrome/src/elements/SkipNav.tsx
  packages/chrome/src/elements/body/Content.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Apply cross-browser styling fixes
  packages/chrome/src/styled/StyledSkipNav.ts
  packages/chrome/src/styled/header/StyledHeaderItem.ts
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/chrome/src/styled/subnav/StyledSubNavItem.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Respect href prop
  packages/chrome/src/elements/SkipNav.spec.tsx
  packages/chrome/src/elements/SkipNav.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update inactive chevron color
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/accordion/StyledRotateIcon.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Correct color logic
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/accordion/StyledRotateIcon.spec.tsx
  packages/accordions/src/styled/accordion/StyledRotateIcon.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Simplify API with required SkipNav `targetId` prop
  packages/chrome/package.json
  packages/chrome/src/elements/Chrome.tsx
  packages/chrome/src/elements/SkipNav.spec.tsx
  packages/chrome/src/elements/SkipNav.tsx
  packages/chrome/src/elements/body/Content.tsx
  packages/chrome/src/utils/useChromeContext.ts
  packages/chrome/stories/examples/Default.tsx
  packages/chrome/stories/examples/StandaloneHeader.tsx
  packages/chrome/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(docs): migrate react-tables to storybook
  packages/tables/README.md
  packages/tables/examples/basic.md
  packages/tables/examples/draggable-table.md
  packages/tables/examples/overflow-menu.md
  packages/tables/examples/paginated-table.md
  packages/tables/examples/scrollable-table.md
  packages/tables/examples/selectable-table.md
  packages/tables/examples/sortable-table.md
  packages/tables/examples/virtual-table.md
  packages/tables/package.json
  packages/tables/src/styled/index.ts
  packages/tables/stories/1-Readme.stories.mdx
  packages/tables/stories/2-Default.stories.tsx
  packages/tables/stories/examples/Default.tsx
  packages/tables/stories/examples/Draggable.tsx
  packages/tables/stories/examples/OverflowMenu.tsx
  packages/tables/stories/examples/Paginated.tsx
  packages/tables/stories/examples/Scrollable.tsx
  packages/tables/stories/examples/Selectable.tsx
  packages/tables/stories/examples/Sortable.tsx
  packages/tables/stories/examples/VirtualScrolling.tsx
  packages/tables/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Remove deprecated storybook usages
  packages/datepickers/stories/2-Default.stories.tsx
  packages/datepickers/stories/3-Range.stories.tsx
  packages/datepickers/stories/examples/CustomFormat.tsx
  packages/datepickers/stories/examples/Default.tsx
  packages/tags/stories/examples/CustomHue.tsx
  packages/tags/stories/examples/FontWeight.tsx
  packages/tags/stories/examples/Truncation.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Revert all changes
  packages/chrome/src/elements/body/Content.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(build): ensure typescript declarations are built with correct path
  utils/build/styled.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(build): ensure typescript declarations are built with correct path (#997)
  utils/build/styled.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update tables link
  demo/index.html
Due: none

Reduce storybook dependencies
  README.md
  package.json
  yarn.lock
Due: prettier-package-json --write

Simplify storybook configuration
  .storybook/gardenTheme.js
  .storybook/main.js
  .storybook/manager-head.html
  .storybook/manager.js
  .storybook/preview.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): migrate react-tables to storybook (#995)
  demo/index.html
  packages/datepickers/stories/2-Default.stories.tsx
  packages/datepickers/stories/3-Range.stories.tsx
  packages/datepickers/stories/examples/CustomFormat.tsx
  packages/datepickers/stories/examples/Default.tsx
  packages/tables/README.md
  packages/tables/examples/basic.md
  packages/tables/examples/draggable-table.md
  packages/tables/examples/overflow-menu.md
  packages/tables/examples/paginated-table.md
  packages/tables/examples/scrollable-table.md
  packages/tables/examples/selectable-table.md
  packages/tables/examples/sortable-table.md
  packages/tables/examples/virtual-table.md
  packages/tables/package.json
  packages/tables/src/styled/index.ts
  packages/tables/stories/1-Readme.stories.mdx
  packages/tables/stories/2-Default.stories.tsx
  packages/tables/stories/examples/Default.tsx
  packages/tables/stories/examples/Draggable.tsx
  packages/tables/stories/examples/OverflowMenu.tsx
  packages/tables/stories/examples/Paginated.tsx
  packages/tables/stories/examples/Scrollable.tsx
  packages/tables/stories/examples/Selectable.tsx
  packages/tables/stories/examples/Sortable.tsx
  packages/tables/stories/examples/VirtualScrolling.tsx
  packages/tables/yarn.lock
  packages/tags/stories/examples/CustomHue.tsx
  packages/tags/stories/examples/FontWeight.tsx
  packages/tags/stories/examples/Truncation.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore: simplify storybook configuration (#998)
  .storybook/gardenTheme.js
  .storybook/main.js
  .storybook/manager-head.html
  .storybook/manager.js
  .storybook/preview.js
  README.md
  package.json
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write
