Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(changelog): add v9.2.0 [skip ci]
  CHANGELOG.md
Due: none

chore: adjust renovate schedule
  .github/renovate.json
  README.md
Due: none

chore: adjust renovate schedule (#1980)
  .github/renovate.json
  README.md
Due: none

fix(chrome): provide missing `useId` container dependency for `Sheet` component
  package-lock.json
  packages/chrome/package.json
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(accordions): set `inert` for hidden `Stepper` content
  packages/accordions/src/elements/stepper/components/Content.spec.tsx
  packages/accordions/src/elements/stepper/components/Content.tsx
  packages/accordions/src/styled/stepper/StyledInnerContent.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(chrome): provide missing `useId` container dependency for `Sheet` component (#1981)
  package-lock.json
  packages/chrome/package.json
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(accordions): set `inert` for hidden `Stepper` content (#1982)
  packages/accordions/src/elements/stepper/components/Content.spec.tsx
  packages/accordions/src/elements/stepper/components/Content.tsx
  packages/accordions/src/styled/stepper/StyledInnerContent.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: PR feedback
  package-lock.json
  package.json
  packages/breadcrumbs/src/elements/Breadcrumb.tsx
  packages/breadcrumbs/src/styled/StyledChevronIcon.tsx
  packages/chrome/src/elements/header/HeaderItem.tsx
  packages/chrome/src/elements/nav/Nav.tsx
  packages/chrome/src/styled/nav/StyledNavItemIcon.ts
  packages/colorpickers/src/elements/ColorSwatch/index.tsx
  packages/colorpickers/src/styled/ColorSwatch/StyledIcon.ts
  packages/loaders/src/elements/Skeleton.spec.tsx
  packages/loaders/src/styled/StyledSkeleton.ts
  packages/notifications/src/elements/global-alert/GlobalAlert.tsx
  packages/tags/src/elements/Avatar.tsx
  packages/theming/src/index.ts
  packages/theming/src/utils/StyledBaseIcon.ts
  utils/build/styled.d.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore: fix type error
  packages/dropdowns/src/views/combobox/StyledOptionSelectionIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming): add `componentStyles` utility
  docs/api.md
  packages/theming/src/index.ts
  packages/theming/src/utils/componentStyles.ts
  packages/theming/src/utils/retrieveComponentStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: PR feedback
  packages/tags/src/elements/Avatar.tsx
  packages/theming/src/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/StyledBaseIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Add unit testing
  packages/theming/src/utils/componentStyles.spec.ts
  packages/theming/src/utils/componentStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(dropdowns): fix multiselectable combobox tags
  packages/dropdowns/demo/stories/ComboboxStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(dropdowns): fix multiselectable combobox tags (#1983)
  packages/dropdowns/demo/stories/ComboboxStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: enable demo stories testing
  utils/test/jest.config.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test: update snapshots
  packages/buttons/demo/stories/__snapshots__/ButtonStory.spec.tsx.snap
  packages/buttons/demo/stories/__snapshots__/SplitButtonStory.spec.tsx.snap
  packages/colorpickers/demo/stories/__snapshots__/ColorPickerDialogStory.spec.tsx.snap
  packages/colorpickers/demo/stories/__snapshots__/ColorSwatchDialogStory.spec.tsx.snap
  packages/draggable/demo/stories/__snapshots__/DraggableStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/AutocompleteStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/ComboboxStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/MenuStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/MultiSelectStory.spec.tsx.snap
  packages/dropdowns/demo/stories/__snapshots__/ComboboxStory.spec.tsx.snap
  packages/dropdowns/demo/stories/__snapshots__/MenuStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/CheckboxStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/FauxInputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/FileListStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/InputGroupStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/InputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/MediaInputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/RadioStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/SelectStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/TextareaStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/TilesStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/ToggleStory.spec.tsx.snap
  packages/grid/demo/stories/__snapshots__/GridStory.spec.tsx.snap
  packages/grid/demo/stories/__snapshots__/PaneProviderStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/DrawerStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/ModalStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/TooltipDialogStory.spec.tsx.snap
  packages/tags/demo/stories/__snapshots__/TagStory.spec.tsx.snap
  packages/tooltips/demo/stories/__snapshots__/TooltipStory.spec.tsx.snap
Due: none

fix: prevent invalid DOM attributes
  packages/dropdowns.legacy/demo/stories/MultiselectStory.tsx
  packages/forms/demo/stories/CheckboxStory.tsx
  packages/forms/demo/stories/FieldStory.tsx
  packages/forms/demo/stories/FileListStory.tsx
  packages/forms/demo/stories/RadioStory.tsx
  packages/forms/demo/stories/ToggleStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(modal header): use transient props
  packages/modals/src/elements/Header.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test: add stories specs
  packages/buttons/demo/stories/ButtonStory.spec.tsx
  packages/buttons/demo/stories/SplitButtonStory.spec.tsx
  packages/colorpickers/demo/stories/ColorPickerDialogStory.spec.tsx
  packages/colorpickers/demo/stories/ColorSwatchDialogStory.spec.tsx
  packages/draggable/demo/stories/DraggableStory.spec.tsx
  packages/draggable/demo/stories/DropzoneStory.spec.tsx
  packages/dropdowns.legacy/demo/stories/AutocompleteStory.spec.tsx
  packages/dropdowns.legacy/demo/stories/ComboboxStory.spec.tsx
  packages/dropdowns.legacy/demo/stories/MenuStory.spec.tsx
  packages/dropdowns.legacy/demo/stories/MultiSelectStory.spec.tsx
  packages/dropdowns/demo/stories/ComboboxStory.spec.tsx
  packages/dropdowns/demo/stories/MenuStory.spec.tsx
  packages/forms/demo/stories/CheckboxStory.spec.tsx
  packages/forms/demo/stories/FauxInputStory.spec.tsx
  packages/forms/demo/stories/FileListStory.spec.tsx
  packages/forms/demo/stories/InputGroupStory.spec.tsx
  packages/forms/demo/stories/InputStory.spec.tsx
  packages/forms/demo/stories/MediaInputStory.spec.tsx
  packages/forms/demo/stories/RadioStory.spec.tsx
  packages/forms/demo/stories/SelectStory.spec.tsx
  packages/forms/demo/stories/TextareaStory.spec.tsx
  packages/forms/demo/stories/TilesStory.spec.tsx
  packages/forms/demo/stories/ToggleStory.spec.tsx
  packages/grid/demo/stories/GridStory.spec.tsx
  packages/grid/demo/stories/PaneProviderStory.spec.tsx
  packages/loaders/demo/stories/SkeletonStory.spec.tsx
  packages/modals/demo/stories/DrawerStory.spec.tsx
  packages/modals/demo/stories/ModalStory.spec.tsx
  packages/modals/demo/stories/TooltipDialogStory.spec.tsx
  packages/tags/demo/stories/TagStory.spec.tsx
  packages/tooltips/demo/stories/TooltipStory.spec.tsx
  packages/typography/demo/stories/TypescaleStory.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test: fix and remove invalid specs
  packages/colorpickers/demo/stories/ColorPickerDialogStory.spec.tsx
  packages/forms/demo/stories/FileListStory.spec.tsx
  packages/forms/demo/stories/InputGroupStory.spec.tsx
  packages/forms/demo/stories/SelectStory.spec.tsx
  packages/tooltips/demo/stories/TooltipStory.spec.tsx
  packages/typography/demo/stories/TypescaleStory.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test: capture stories snapshots with styled-components v5
  packages/buttons/demo/stories/__snapshots__/ButtonStory.spec.tsx.snap
  packages/buttons/demo/stories/__snapshots__/SplitButtonStory.spec.tsx.snap
  packages/colorpickers/demo/stories/__snapshots__/ColorPickerDialogStory.spec.tsx.snap
  packages/colorpickers/demo/stories/__snapshots__/ColorSwatchDialogStory.spec.tsx.snap
  packages/draggable/demo/stories/__snapshots__/DraggableStory.spec.tsx.snap
  packages/draggable/demo/stories/__snapshots__/DropzoneStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/AutocompleteStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/ComboboxStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/MenuStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/MultiSelectStory.spec.tsx.snap
  packages/dropdowns/demo/stories/__snapshots__/ComboboxStory.spec.tsx.snap
  packages/dropdowns/demo/stories/__snapshots__/MenuStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/CheckboxStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/FauxInputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/FileListStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/InputGroupStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/InputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/MediaInputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/RadioStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/SelectStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/TextareaStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/TilesStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/ToggleStory.spec.tsx.snap
  packages/grid/demo/stories/__snapshots__/GridStory.spec.tsx.snap
  packages/grid/demo/stories/__snapshots__/PaneProviderStory.spec.tsx.snap
  packages/loaders/demo/stories/__snapshots__/SkeletonStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/DrawerStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/ModalStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/TooltipDialogStory.spec.tsx.snap
  packages/tags/demo/stories/__snapshots__/TagStory.spec.tsx.snap
  packages/tooltips/demo/stories/__snapshots__/TooltipStory.spec.tsx.snap
  packages/typography/demo/stories/__snapshots__/TypescaleStory.spec.tsx.snap
Due: none

test(buttons): update stories snapshots
  packages/buttons/demo/stories/__snapshots__/ButtonStory.spec.tsx.snap
  packages/buttons/demo/stories/__snapshots__/SplitButtonStory.spec.tsx.snap
Due: none

test(colorpickers): update stories snapshots
  packages/colorpickers/demo/stories/__snapshots__/ColorPickerDialogStory.spec.tsx.snap
  packages/colorpickers/demo/stories/__snapshots__/ColorSwatchDialogStory.spec.tsx.snap
Due: none

test(draggable): update stories snapshots
  packages/draggable/demo/stories/__snapshots__/DraggableStory.spec.tsx.snap
Due: none

test(dropdowns.legacy): update stories snapshots
  packages/dropdowns.legacy/demo/stories/__snapshots__/AutocompleteStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/ComboboxStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/MenuStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/MultiSelectStory.spec.tsx.snap
Due: none

test(dropdowns): update stories snapshots
  packages/dropdowns/demo/stories/__snapshots__/ComboboxStory.spec.tsx.snap
  packages/dropdowns/demo/stories/__snapshots__/MenuStory.spec.tsx.snap
Due: none

test(forms): update stories snapshots
  packages/forms/demo/stories/__snapshots__/CheckboxStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/FauxInputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/FileListStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/InputGroupStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/InputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/MediaInputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/RadioStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/SelectStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/TextareaStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/TilesStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/ToggleStory.spec.tsx.snap
Due: none

test(modals): update stories snapshots
  packages/modals/demo/stories/__snapshots__/DrawerStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/ModalStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/TooltipDialogStory.spec.tsx.snap
Due: none

test(tags): update stories snapshots
  packages/tags/demo/stories/__snapshots__/TagStory.spec.tsx.snap
Due: none

test(tooltips): update stories snapshots
  packages/tooltips/demo/stories/__snapshots__/TooltipStory.spec.tsx.snap
Due: none

fix(splitter): prevent invalid DOM attrs
  packages/grid/demo/stories/PaneProviderStory.tsx
  packages/grid/src/elements/pane/components/SplitterButton.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test(grid): update stories snapshots
  packages/grid/demo/stories/__snapshots__/GridStory.spec.tsx.snap
  packages/grid/demo/stories/__snapshots__/PaneProviderStory.spec.tsx.snap
Due: none

deps: add styled-component@6.x.x as peerDependency option
  package-lock.json
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/draggable/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

deps(theming): add styled-component@6.x.x as peerDependency option
  package-lock.json
  packages/theming/package.json
Due: prettier-package-json --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
