Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

feat(buttons|chrome): upgrade to useKeyboardFocus hook
  packages/buttons/package.json
  packages/buttons/src/views/Anchor.js
  packages/buttons/src/views/Button.example.md
  packages/buttons/src/views/Button.js
  packages/chrome/package.json
  packages/chrome/src/views/header/HeaderItem.js
  packages/chrome/src/views/nav/NavItem.js
  packages/chrome/src/views/subnav/SubNavItem.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Initial input type="range" styling
  .stylelintrc
  packages/forms/src/fields/Range.js
  packages/forms/src/styled/checkbox/StyledCheckInput.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/radio/StyledRadioInput.js
  packages/forms/src/styled/range/StyledRangeSingleThumbInput.js
  packages/forms/src/styled/text/StyledTextInput.js
  packages/forms/src/styled/toggle/StyledToggleInput.js
  packages/forms/src/styled/toggle/StyledToggleMessage.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Initial styling for multi-thumb range
  packages/forms/src/fields/MultiThumbRange.js
  packages/forms/src/fields/Range.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/range/StyledRangeInput.js
  packages/forms/src/styled/range/StyledRangeSingleThumb.js
  packages/forms/src/styled/range/StyledSlider.js
  packages/forms/src/styled/range/StyledSliderThumb.js
  packages/forms/src/styled/range/StyledSliderTrack.js
  packages/forms/src/styled/range/StyledSliderTrackRail.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Bump chrome bundlesize limit
  packages/chrome/package.json
Due: prettier-package-json --write

Finalize styling properties
  packages/forms/examples/multi-thumb-range.md
  packages/forms/examples/range.md
  packages/forms/src/fields/MultiThumbRange.js
  packages/forms/src/styled/StyledField.js
  packages/forms/src/styled/StyledField.spec.js
  packages/forms/src/styled/checkbox/StyledCheckInput.js
  packages/forms/src/styled/common/StyledMessage.js
  packages/forms/src/styled/radio/StyledRadioInput.js
  packages/forms/src/styled/radio/StyledRadioLabel.js
  packages/forms/src/styled/range/StyledRangeInput.js
  packages/forms/src/styled/range/StyledRangeSingleThumb.spec.js
  packages/forms/src/styled/range/StyledSlider.js
  packages/forms/src/styled/range/StyledSliderTrack.js
  packages/forms/src/styled/text/StyledTextFauxInput.js
  packages/forms/src/styled/text/StyledTextInput.js
  packages/forms/src/styled/text/StyledTextMediaFigure.js
  packages/forms/src/styled/text/StyledTextMediaInput.js
  packages/forms/src/styled/text/StyledTextarea.js
  packages/forms/src/styled/toggle/StyledToggleInput.js
  packages/forms/src/styled/toggle/StyledToggleLabel.js
  packages/forms/src/styled/toggle/StyledToggleLabel.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Clean up element props
  packages/forms/examples/faux-input.md
  packages/forms/src/fields/Input.js
  packages/forms/src/fields/Range.js
  packages/forms/src/fields/Textarea.js
  packages/forms/src/fields/common/Field.js
  packages/forms/src/fields/common/Label.js
  packages/forms/src/fields/other/FauxInput.js
  packages/forms/src/fields/other/MediaInput.js
  packages/forms/src/styled/text/StyledTextFauxInput.js
  packages/forms/src/styled/text/StyledTextMediaFigure.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update disabled styling
  packages/forms/src/fields/MultiThumbRange.js
  packages/forms/src/styled/radio/StyledRadioInput.js
  packages/forms/src/styled/range/StyledRangeInput.js
  packages/forms/src/styled/range/StyledSlider.js
  packages/forms/src/styled/range/StyledSliderThumb.js
  packages/forms/src/styled/range/StyledSliderTrack.js
  packages/forms/src/styled/text/StyledTextInput.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor validation and context
  packages/forms/src/fields/Checkbox.js
  packages/forms/src/fields/Input.js
  packages/forms/src/fields/Radio.js
  packages/forms/src/fields/Textarea.js
  packages/forms/src/fields/Toggle.js
  packages/forms/src/fields/other/FauxInput.js
  packages/forms/src/fields/other/MediaInput.js
  packages/forms/src/utils/useCheckboxContext.js
  packages/forms/src/utils/useRadioContext.js
  packages/forms/src/utils/useToggleContext.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Pass slider values to views; remove compact Range styling
  packages/forms/src/fields/MultiThumbRange.js
  packages/forms/src/styled/range/StyledRangeInput.js
  packages/forms/src/styled/range/StyledSlider.js
  packages/forms/src/styled/range/StyledSliderThumb.js
  packages/forms/src/styled/range/StyledSliderTrack.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(buttons|chrome): upgrade to useKeyboardFocus hook (#482)
  packages/buttons/package.json
  packages/buttons/src/views/Anchor.js
  packages/buttons/src/views/Button.example.md
  packages/buttons/src/views/Button.js
  packages/chrome/package.json
  packages/chrome/src/views/header/HeaderItem.js
  packages/chrome/src/views/nav/NavItem.js
  packages/chrome/src/views/subnav/SubNavItem.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(deps): update dependency polished to v3
  packages/loaders/package.json
Due: prettier-package-json --write

feat(loaders): deprecate ScheduleContainer BREAKING
  packages/loaders/package.json
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Dots.js
  packages/loaders/src/Dots.spec.js
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Spinner.js
  packages/loaders/src/Spinner.spec.js
  packages/loaders/src/containers/ScheduleContainer.example.md
  packages/loaders/src/containers/ScheduleContainer.js
  packages/loaders/src/hooks/useCSSSVGAnimation.js
  packages/loaders/src/styled-elements.js
  packages/loaders/src/styled-elements.spec.js
  packages/loaders/src/utils/animations.js
  packages/loaders/src/utils/animations.spec.js
  packages/loaders/src/utils/dot-coordinates.js
  packages/loaders/src/utils/dot-coordinates.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Remove ScheduleContainer
  packages/loaders/src/containers/ScheduleContainer.example.md
  packages/loaders/src/containers/ScheduleContainer.js
  packages/loaders/src/containers/ScheduleContainer.spec.js
  packages/loaders/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Correct rebase issues
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Progress.example.md
  packages/loaders/src/Spinner.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add min/max name props and pass backgroundSize/Position to underlying styled component
  packages/forms/src/fields/MultiThumbRange.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update rgba import
  packages/loaders/package.json
  packages/loaders/src/Skeleton.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(loaders): deprecate ScheduleContainer BREAKING (#462)
  packages/loaders/package.json
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Dots.js
  packages/loaders/src/Dots.spec.js
  packages/loaders/src/Progress.example.md
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Spinner.js
  packages/loaders/src/Spinner.spec.js
  packages/loaders/src/containers/ScheduleContainer.example.md
  packages/loaders/src/containers/ScheduleContainer.js
  packages/loaders/src/containers/ScheduleContainer.spec.js
  packages/loaders/src/hooks/useCSSSVGAnimation.js
  packages/loaders/src/styled-elements.js
  packages/loaders/src/styled-elements.spec.js
  packages/loaders/src/utils/animations.js
  packages/loaders/src/utils/animations.spec.js
  packages/loaders/src/utils/dot-coordinates.js
  packages/loaders/src/utils/dot-coordinates.spec.js
  packages/loaders/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Revert "feat(loaders): deprecate ScheduleContainer BREAKING (#462)"
  packages/loaders/package.json
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Dots.js
  packages/loaders/src/Dots.spec.js
  packages/loaders/src/Progress.example.md
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Spinner.js
  packages/loaders/src/Spinner.spec.js
  packages/loaders/src/containers/ScheduleContainer.example.md
  packages/loaders/src/containers/ScheduleContainer.js
  packages/loaders/src/containers/ScheduleContainer.spec.js
  packages/loaders/src/hooks/useCSSSVGAnimation.js
  packages/loaders/src/styled-elements.js
  packages/loaders/src/styled-elements.spec.js
  packages/loaders/src/utils/animations.js
  packages/loaders/src/utils/animations.spec.js
  packages/loaders/src/utils/dot-coordinates.js
  packages/loaders/src/utils/dot-coordinates.spec.js
  packages/loaders/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(internal): upgrade @zendeskgarden/container-keyboardfocus
  packages/buttons/package.json
  packages/chrome/package.json
  packages/forms/package.json
Due: prettier-package-json --write

Revert "feat(loaders): deprecate ScheduleContainer BREAKING (#462)" (#488)
  packages/loaders/package.json
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Dots.js
  packages/loaders/src/Dots.spec.js
  packages/loaders/src/Progress.example.md
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Spinner.js
  packages/loaders/src/Spinner.spec.js
  packages/loaders/src/containers/ScheduleContainer.example.md
  packages/loaders/src/containers/ScheduleContainer.js
  packages/loaders/src/containers/ScheduleContainer.spec.js
  packages/loaders/src/hooks/useCSSSVGAnimation.js
  packages/loaders/src/styled-elements.js
  packages/loaders/src/styled-elements.spec.js
  packages/loaders/src/utils/animations.js
  packages/loaders/src/utils/animations.spec.js
  packages/loaders/src/utils/dot-coordinates.js
  packages/loaders/src/utils/dot-coordinates.spec.js
  packages/loaders/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(internal): upgrade @zendeskgarden/container-keyboardfocus (#489)
  packages/buttons/package.json
  packages/chrome/package.json
  packages/forms/package.json
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  packages/autocomplete/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/forms/package.json
Due: prettier-package-json --write

Add v6.9.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

feat(loaders): deprecate ScheduleContainer BREAKING
  packages/loaders/package.json
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Dots.js
  packages/loaders/src/Dots.spec.js
  packages/loaders/src/Progress.example.md
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Spinner.js
  packages/loaders/src/Spinner.spec.js
  packages/loaders/src/containers/ScheduleContainer.example.md
  packages/loaders/src/containers/ScheduleContainer.js
  packages/loaders/src/containers/ScheduleContainer.spec.js
  packages/loaders/src/hooks/useCSSSVGAnimation.js
  packages/loaders/src/styled-elements.js
  packages/loaders/src/styled-elements.spec.js
  packages/loaders/src/utils/animations.js
  packages/loaders/src/utils/animations.spec.js
  packages/loaders/src/utils/dot-coordinates.js
  packages/loaders/src/utils/dot-coordinates.spec.js
  packages/loaders/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(loaders): deprecate ScheduleContainer BREAKING (#491)
  packages/loaders/package.json
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Dots.js
  packages/loaders/src/Dots.spec.js
  packages/loaders/src/Progress.example.md
  packages/loaders/src/Skeleton.js
  packages/loaders/src/Spinner.js
  packages/loaders/src/Spinner.spec.js
  packages/loaders/src/containers/ScheduleContainer.example.md
  packages/loaders/src/containers/ScheduleContainer.js
  packages/loaders/src/containers/ScheduleContainer.spec.js
  packages/loaders/src/hooks/useCSSSVGAnimation.js
  packages/loaders/src/styled-elements.js
  packages/loaders/src/styled-elements.spec.js
  packages/loaders/src/utils/animations.js
  packages/loaders/src/utils/animations.spec.js
  packages/loaders/src/utils/dot-coordinates.js
  packages/loaders/src/utils/dot-coordinates.spec.js
  packages/loaders/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Remove all references to deprecated packages
  README.md
  demo/index.html
  examples/codesandbox/garden-create-react-app/package.json
  examples/codesandbox/garden-create-react-app/src/global-styling.js
  examples/codesandbox/garden-create-react-app/yarn.lock
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(internal): deprecated react-selection and migrate Tabs and Pagination components BREAKING
  README.md
  demo/index.html
  packages/buttons/package.json
  packages/chrome/package.json
  packages/modals/package.json
  packages/pagination/package.json
  packages/pagination/src/elements/Pagination.example.md
  packages/pagination/src/elements/Pagination.js
  packages/pagination/src/elements/Pagination.spec.js
  packages/selection/src/index.js
  packages/tabs/package.json
  packages/tabs/src/elements/Tabs.example.md
  packages/tabs/src/elements/Tabs.js
  packages/tabs/src/elements/Tabs.spec.js
  packages/tooltips/package.json
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(internal): deprecated react-selection and migrate Tabs and Pagination components BREAKING (#486)
  README.md
  demo/index.html
  packages/buttons/package.json
  packages/chrome/package.json
  packages/modals/package.json
  packages/pagination/package.json
  packages/pagination/src/elements/Pagination.example.md
  packages/pagination/src/elements/Pagination.js
  packages/pagination/src/elements/Pagination.spec.js
  packages/selection/src/index.js
  packages/tabs/package.json
  packages/tabs/src/elements/Tabs.example.md
  packages/tabs/src/elements/Tabs.js
  packages/tabs/src/elements/Tabs.spec.js
  packages/tooltips/package.json
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(deps): update dependency dom-helpers to v5
  packages/buttons/package.json
  packages/modals/package.json
  packages/selection/package.json
  packages/tables/package.json
Due: prettier-package-json --write
