Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix(chrome): add fixed positioning to html element
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/Chrome.spec.tsx
  packages/chrome/src/elements/Chrome.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Keep isFluid prop, but swap logic
  packages/chrome/.size-snapshot.json
  packages/chrome/examples/basic.md
  packages/chrome/examples/header.md
  packages/chrome/src/elements/Chrome.spec.tsx
  packages/chrome/src/elements/Chrome.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor falsey logic
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/Chrome.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update to "main" branch
  .circleci/config.yml
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .huskyrc
  README.md
  docs/api.md
  docs/development.md
  docs/migration.md
  lerna.json
  packages/.template/styleguide.config.js
  packages/accordions/styleguide.config.js
  packages/avatars/styleguide.config.js
  packages/breadcrumbs/styleguide.config.js
  packages/buttons/styleguide.config.js
  packages/chrome/styleguide.config.js
  packages/datepickers/styleguide.config.js
  packages/dropdowns/styleguide.config.js
  packages/forms/styleguide.config.js
  packages/grid/styleguide.config.js
  packages/loaders/styleguide.config.js
  packages/modals/styleguide.config.js
  packages/notifications/styleguide.config.js
  packages/pagination/styleguide.config.js
  packages/tables/styleguide.config.js
  packages/tabs/styleguide.config.js
  packages/tags/styleguide.config.js
  packages/theming/styleguide.config.js
  packages/tooltips/styleguide.config.js
  packages/typography/styleguide.config.js
  packages/utilities/README.md
  packages/utilities/styleguide.config.js
  utils/scripts/deploy.js
  utils/scripts/tag.js
  utils/styleguide/TableOfContentsRenderer/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update to version 2.0 code of conduct
  .github/CODE_OF_CONDUCT.md
Due: none

Update prop description
  packages/chrome/src/elements/Chrome.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(chrome): add fixed positioning to html element (#790)
  packages/chrome/.size-snapshot.json
  packages/chrome/examples/basic.md
  packages/chrome/examples/header.md
  packages/chrome/src/elements/Chrome.spec.tsx
  packages/chrome/src/elements/Chrome.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

change: replace master with "main" branch (#791)
  .circleci/config.yml
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .huskyrc
  README.md
  docs/api.md
  docs/development.md
  docs/migration.md
  lerna.json
  packages/.template/styleguide.config.js
  packages/accordions/styleguide.config.js
  packages/avatars/styleguide.config.js
  packages/breadcrumbs/styleguide.config.js
  packages/buttons/styleguide.config.js
  packages/chrome/styleguide.config.js
  packages/datepickers/styleguide.config.js
  packages/dropdowns/styleguide.config.js
  packages/forms/styleguide.config.js
  packages/grid/styleguide.config.js
  packages/loaders/styleguide.config.js
  packages/modals/styleguide.config.js
  packages/notifications/styleguide.config.js
  packages/pagination/styleguide.config.js
  packages/tables/styleguide.config.js
  packages/tabs/styleguide.config.js
  packages/tags/styleguide.config.js
  packages/theming/styleguide.config.js
  packages/tooltips/styleguide.config.js
  packages/typography/styleguide.config.js
  packages/utilities/README.md
  packages/utilities/styleguide.config.js
  utils/scripts/deploy.js
  utils/scripts/tag.js
  utils/styleguide/TableOfContentsRenderer/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(avatars): use fluid chrome in avatars example
  packages/avatars/examples/advanced.md
Due: none

fix(avatars): use fluid chrome in avatars example (#794)
  packages/avatars/examples/advanced.md
Due: none

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.15.1 [skip ci]
  CHANGELOG.md
Due: none

Revert "chore(release): publish"
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

Revert "chore(changelog): add v8.15.1 [skip ci]"
  CHANGELOG.md
Due: none

chore: revert v8.15.1 release (#795)
  CHANGELOG.md
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

Add Span.Icon media components
  packages/typography/examples/span.md
  packages/typography/src/elements/Span.tsx
  packages/typography/src/styled/StyledFont.tsx
  packages/typography/src/styled/StyledIcon.ts
  packages/typography/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/typography/.size-snapshot.json
Due: none

Tune-up media span examples for RTL
  packages/typography/examples/span.md
Due: none

fix(deps): update dependency react-scripts to v3.4.1
  examples/codesandbox/package.json
  examples/codesandbox/yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @types/jest to v26
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v14
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency rollup-plugin-delete to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency @zendeskgarden/css-bedrock to v8
  examples/codesandbox/package.json
  examples/codesandbox/yarn.lock
  examples/gatsby/package.json
  examples/gatsby/yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
Due: prettier-package-json --write

Do not update TypeScript
  package.json
  yarn.lock
Due: prettier-package-json --write

Upgrade eslint version
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove unused eslint disable
  packages/accordions/src/elements/accordion/components/Header.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add and wrap runOnlyPendingTimers in MultiSelect test
  packages/dropdowns/src/elements/Multiselect/Multiselect.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency @zendeskgarden/svg-icons to v6.19.0
  packages/accordions/package.json
  packages/accordions/yarn.lock
  packages/breadcrumbs/package.json
  packages/breadcrumbs/yarn.lock
  packages/buttons/package.json
  packages/buttons/yarn.lock
  packages/chrome/package.json
  packages/chrome/yarn.lock
  packages/datepickers/package.json
  packages/datepickers/yarn.lock
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
  packages/forms/package.json
  packages/forms/yarn.lock
  packages/modals/package.json
  packages/modals/yarn.lock
  packages/notifications/package.json
  packages/notifications/yarn.lock
  packages/pagination/package.json
  packages/pagination/yarn.lock
  packages/tables/package.json
  packages/tables/yarn.lock
  packages/tags/package.json
  packages/tags/yarn.lock
Due: prettier-package-json --write

chore(deps): update node orb to v3.0.1
  .circleci/config.yml
Due: none

chore(examples): update codesandbox package.json
  examples/codesandbox/package.json
Due: prettier-package-json --write
