Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(forms): ensure Textarea autoresizing is calculated with controlled value
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/Textarea.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix scrollHeight mocking
  packages/forms/src/fields/Textarea.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update scrollHeight mocking
  packages/forms/src/elements/Textarea.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(forms): ensure Textarea autoresizing is calculated with controlled value (#825)
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/Textarea.spec.tsx
  packages/forms/src/elements/Textarea.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(buttons): update Anchor isExternal prop docs
  packages/buttons/src/elements/Anchor.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(buttons): update Anchor isExternal prop docs (#826)
  packages/buttons/src/elements/Anchor.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.18.0 [skip ci]
  CHANGELOG.md
Due: none

chore(tests): add user-event testing library (#822)
  package.json
  packages/accordions/src/elements/accordion/components/Header.spec.tsx
  packages/buttons/src/elements/ButtonGroup.spec.tsx
  packages/chrome/src/elements/subnav/CollapsibleSubNavItem.spec.tsx
  packages/datepickers/src/elements/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/components/End.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Start.spec.tsx
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.spec.tsx
  packages/dropdowns/src/elements/Dropdown/Dropdown.spec.tsx
  packages/dropdowns/src/elements/Fields/Label.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/AddItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/Item.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Menu.spec.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.spec.tsx
  packages/dropdowns/src/elements/Select/Select.spec.tsx
  packages/dropdowns/src/elements/Trigger/Trigger.spec.tsx
  packages/forms/src/elements/FauxInput.spec.tsx
  packages/forms/src/elements/MediaInput.spec.tsx
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  packages/forms/src/elements/Range.spec.tsx
  packages/forms/src/elements/tiles/Tiles.spec.tsx
  packages/modals/src/elements/Modal.spec.tsx
  packages/pagination/src/elements/Pagination/Pagination.spec.tsx
  packages/tables/src/elements/OverflowButton.spec.tsx
  packages/tables/src/elements/Row.spec.tsx
  packages/tabs/src/elements/Tabs.spec.tsx
  packages/tooltips/src/elements/Tooltip.spec.tsx
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(forms): allow Textarea to autoresize based on content (#824)
  packages/forms/examples/text-input.md
  packages/forms/src/fields/Textarea.js
  packages/forms/src/fields/Textarea.spec.js
  packages/forms/src/styled/text/StyledTextarea.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/forms/package.json
Due: prettier-package-json --write

Add v7.3.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Enhance FauxInput flexibility
  packages/forms/.size-snapshot.json
  packages/forms/examples/basic.md
  packages/forms/src/elements/FauxInput.spec.tsx
  packages/forms/src/elements/FauxInput.tsx
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/index.ts
  packages/forms/src/styled/text/StyledTextFauxInput.ts
  packages/forms/src/styled/text/StyledTextInput.ts
  packages/forms/src/styled/text/StyledTextMediaFigure.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Reduce changes
  packages/forms/examples/basic.md
  packages/forms/src/elements/MediaInput.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor dropdown elements to rely on form elements
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/styled/field/StyledMultiselect.ts
  packages/dropdowns/src/styled/field/StyledSelect.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(notifications): update well to use base padding
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/StyledBase.spec.tsx
  packages/notifications/src/styled/StyledBase.ts
  packages/notifications/src/styled/StyledIcon.ts
  packages/notifications/src/styled/StyledWell.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(notifications): update well to use base padding (#823)
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/StyledBase.spec.tsx
  packages/notifications/src/styled/StyledBase.ts
  packages/notifications/src/styled/StyledIcon.ts
  packages/notifications/src/styled/StyledWell.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor styled code for dropdowns
  packages/dropdowns/examples/field-variants.md
  packages/dropdowns/examples/multiselect.md
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/styled/field/SelectWrapper.tsx
  packages/dropdowns/src/styled/field/StyledMultiselect.ts
  packages/dropdowns/src/styled/field/StyledSelect.ts
  packages/dropdowns/src/styled/index.ts
  packages/dropdowns/src/styled/multiselect/StyledMultiselectInput.ts
  packages/dropdowns/src/styled/multiselect/StyledMultiselectItemWrapper.ts
  packages/dropdowns/src/styled/multiselect/StyledMultiselectItemsContainer.ts
  packages/dropdowns/src/styled/multiselect/StyledMultiselectMoreAnchor.ts
  packages/dropdowns/src/styled/select/StyledFauxInput.ts
  packages/dropdowns/src/styled/select/StyledInput.ts
  packages/dropdowns/src/styled/select/StyledSelect.ts
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/text/StyledTextFauxInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update FauxInput icon API
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/FauxInput.tsx
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/styled/text/StyledTextFauxInput.ts
  packages/forms/src/styled/text/StyledTextInput.ts
  packages/forms/src/styled/text/StyledTextMediaFigure.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use updated FauxInput icon API
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/styled/multiselect/StyledMultiselectItemsContainer.ts
  packages/dropdowns/src/styled/select/StyledFauxInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Simplify diff
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/styled/select/StyledInput.ts
  packages/forms/src/elements/FauxInput.tsx
  packages/forms/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/dropdowns/.size-snapshot.json
Due: none

Update tests to pass
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.spec.tsx
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.spec.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Select/Select.spec.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add unit testing
  packages/dropdowns/.size-snapshot.json
  packages/forms/src/elements/FauxInput.spec.tsx
  packages/forms/src/styled/text/StyledTextMediaFigure.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fill-out documentation
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(modals): introduce new TooltipModal component
  packages/modals/.size-snapshot.json
  packages/modals/examples/tooltip-modal.md
  packages/modals/package.json
  packages/modals/src/elements/TooltipModal/Body.tsx
  packages/modals/src/elements/TooltipModal/Close.tsx
  packages/modals/src/elements/TooltipModal/Title.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/modals/src/index.ts
  packages/modals/src/styled/StyledTooltipModal.ts
  packages/modals/src/styled/StyledTooltipModalBackdrop.ts
  packages/modals/src/styled/StyledTooltipModalBody.ts
  packages/modals/src/styled/StyledTooltipModalClose.ts
  packages/modals/src/styled/StyledTooltipModalFooter.ts
  packages/modals/src/styled/StyledTooltipModalFooterItem.ts
  packages/modals/src/styled/StyledTooltipModalTitle.tsx
  packages/modals/src/styled/StyledTooltipWrapper.tsx
  packages/modals/src/styled/index.ts
  packages/modals/src/utils/gardenPlacements.tsx
  packages/modals/src/utils/useTooltipModalContext.tsx
  packages/modals/styleguide.config.js
  packages/modals/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Remove polished
  packages/modals/package.json
Due: prettier-package-json --write

fix(datepickers): format day with NumberFormat utility
  packages/datepickers/.size-snapshot.json
  packages/datepickers/src/elements/Datepicker/components/Calendar.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Move popper attributes to wrapping element
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Improve typing for styling helpers
  packages/dropdowns/src/styled/multiselect/StyledMultiselectInput.ts
  packages/dropdowns/src/styled/multiselect/StyledMultiselectItemsContainer.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor FauxInput static typing
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/FauxInput.spec.tsx
  packages/forms/src/elements/FauxInput.tsx
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add testing
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/TooltipModal/Body.spec.tsx
  packages/modals/src/elements/TooltipModal/Close.spec.tsx
  packages/modals/src/elements/TooltipModal/Title.spec.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.spec.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/modals/src/styled/StyledTooltipModalTitle.ts
  packages/modals/src/styled/StyledTooltipWrapper.ts
  packages/modals/src/utils/useTooltipModalContext.spec.tsx
  utils/test/tsconfig.test.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use more elegant boolean construct
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove unused data-test-id attributes
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Multiselect/Multiselect.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
