Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix: correct build status badge links (#688)
  README.md
Due: none

chore: configure CircleCI for v7 branch (#686)
  .circleci/config.yml
  .travis.yml
  README.md
  package.json
Due: prettier-package-json --write

chore: configure CircleCI for v6 branch (#687)
  .circleci/config.yml
  .travis.yml
  README.md
  package.json
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore: add v8.4.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

chore(release): publish
  lerna.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
Due: prettier-package-json --write

Add v6.9.3 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Initial XXS styling
  packages/avatars/examples/basic.md
  packages/avatars/src/elements/Avatar.tsx
  packages/avatars/src/styled/StyledAvatar.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/avatars/.size-snapshot.json
Due: none

Reduce `math` usage to increase performance
  packages/avatars/src/styled/StyledAvatar.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Rename `double`->`extra`
  packages/avatars/.size-snapshot.json
  packages/avatars/src/elements/Avatar.tsx
  packages/avatars/src/styled/StyledAvatar.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update demo sizing
  packages/avatars/examples/advanced.md
  packages/avatars/examples/basic.md
Due: none

Rewind advanced demo changes (tbd with menu updates)
  packages/avatars/examples/advanced.md
Due: none

Add XXS unit testing
  packages/avatars/src/styled/StyledAvatar.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Reduce diff
  packages/avatars/examples/advanced.md
Due: none

Restore menu theming
  packages/datepickers/src/styled/StyledMenuWrapper.ts
  packages/dropdowns/src/styled/menu/StyledMenuWrapper.ts
  packages/theming/src/utils/menuStyles.example.md
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
Due: none

Apply theme to underlying FauxInput
  packages/dropdowns/src/styled/field/StyledSelect.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Prevent FauxInput pixel nudge
  packages/forms/.size-snapshot.json
  packages/forms/examples/advanced.md
  packages/forms/src/styled/text/StyledTextFauxInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/dropdowns/.size-snapshot.json
Due: none

feat(avatars): add XXS size (#689)
  packages/avatars/.size-snapshot.json
  packages/avatars/examples/basic.md
  packages/avatars/src/elements/Avatar.tsx
  packages/avatars/src/styled/StyledAvatar.spec.tsx
  packages/avatars/src/styled/StyledAvatar.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns, datepickers): restore menu theming and prevent autocomplete pixel nudge (#690)
  packages/datepickers/.size-snapshot.json
  packages/datepickers/src/styled/StyledMenuWrapper.ts
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/styled/field/StyledSelect.ts
  packages/dropdowns/src/styled/menu/StyledMenuWrapper.ts
  packages/forms/.size-snapshot.json
  packages/forms/examples/advanced.md
  packages/forms/src/styled/text/StyledTextFauxInput.ts
  packages/theming/src/utils/menuStyles.example.md
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove unnecessary `background-image` transition
  packages/forms/src/styled/tiles/StyledTile.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Swap out radio background image for SVG
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/common/Label.tsx
  packages/forms/src/styled/index.ts
  packages/forms/src/styled/radio/StyledRadioInput.ts
  packages/forms/src/styled/radio/StyledRadioSvg.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Replace checkbox background-image icons with SVGs
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/common/Label.tsx
  packages/forms/src/styled/checkbox/StyledCheckInput.ts
  packages/forms/src/styled/checkbox/StyledCheckSvg.ts
  packages/forms/src/styled/checkbox/StyledDashSvg.ts
  packages/forms/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Co-locate show/hide styling with SVG components
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/common/Label.tsx
  packages/forms/src/styled/checkbox/StyledCheckInput.ts
  packages/forms/src/styled/checkbox/StyledCheckSvg.ts
  packages/forms/src/styled/checkbox/StyledDashSvg.ts
  packages/forms/src/styled/index.ts
  packages/forms/src/styled/radio/StyledRadioInput.ts
  packages/forms/src/styled/radio/StyledRadioSvg.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Abstract common styles
  .stylelintrc
  packages/forms/src/styled/checkbox/StyledCheckSvg.ts
  packages/forms/src/styled/checkbox/StyledDashSvg.ts
  packages/forms/src/styled/radio/StyledRadioInput.ts
  packages/forms/src/styled/radio/StyledRadioSvg.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Replace toggle background-image with SVG
  packages/forms/src/styled/radio/icon.svg
  packages/forms/src/styled/toggle/StyledToggleInput.spec.tsx
  packages/forms/src/styled/toggle/StyledToggleInput.ts
  packages/forms/src/styled/toggle/StyledToggleSvg.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/forms/.size-snapshot.json
Due: none

Use right-sized toggle icon
  packages/forms/src/styled/toggle/StyledToggleInput.ts
  packages/forms/src/styled/toggle/StyledToggleSvg.ts
  packages/forms/src/styled/toggle/icon.svg
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add testing
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/checkbox/StyledCheckSvg.spec.tsx
  packages/forms/src/styled/checkbox/StyledDashSvg.spec.tsx
  packages/forms/src/styled/radio/StyledRadioSvg.spec.tsx
  packages/forms/src/styled/toggle/StyledToggleSvg.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore: add v8.4.1 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Update svg-icons
  packages/accordions/package.json
  packages/accordions/yarn.lock
  packages/breadcrumbs/package.json
  packages/breadcrumbs/yarn.lock
  packages/buttons/package.json
  packages/buttons/yarn.lock
  packages/chrome/package.json
  packages/chrome/yarn.lock
  packages/datepickers/package.json
  packages/datepickers/yarn.lock
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
  packages/forms/package.json
  packages/forms/yarn.lock
  packages/modals/package.json
  packages/modals/yarn.lock
  packages/notifications/package.json
  packages/notifications/yarn.lock
  packages/pagination/package.json
  packages/pagination/yarn.lock
  packages/tables/package.json
  packages/tables/yarn.lock
  packages/tags/package.json
  packages/tags/yarn.lock
Due: prettier-package-json --write
