Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(theming): update palette color values
  packages/theming/src/elements/palette/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/palette/index.ts
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming): add new `getCheckeredBackground` utility (#1793)
  packages/colorpickers/src/styled/ColorPicker/StyledAlphaRange.ts
  packages/colorpickers/src/styled/ColorPicker/StyledPreview.ts
  packages/colorpickers/src/styled/ColorPickerDialog/StyledButtonPreview.ts
  packages/colorpickers/src/styled/common/checkeredBackground.ts
  packages/theming/demo/stories/GetColorStory.tsx
  packages/theming/src/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/getCheckeredBackground.spec.ts
  packages/theming/src/utils/getCheckeredBackground.ts
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: removes stale product colors from palette
  packages/chrome/README.md
  packages/chrome/demo/stories/ChromeStory.tsx
  packages/chrome/src/elements/header/HeaderItem.spec.tsx
  packages/chrome/src/elements/nav/NavItem.spec.tsx
  packages/chrome/src/styled/header/StyledLogoHeaderItem.ts
  packages/chrome/src/styled/nav/StyledLogoNavItem.ts
  packages/chrome/src/types/index.ts
  packages/theming/src/elements/palette/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/palette/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Add PALETTE demo
  packages/theming/demo/stories/PaletteStory.tsx
  packages/theming/demo/utilities.stories.mdx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Clean up demo
  packages/theming/demo/stories/PaletteStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(Notifications): improve screen-reader support (#1790)
  packages/notifications/src/elements/Notification.spec.tsx
  packages/notifications/src/elements/Notification.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v8.76.1
  docs/changelogs/v8.md
Due: none

chore(next): updates from `main` (#1796)
  docs/changelogs/v8.md
  packages/notifications/src/elements/Notification.spec.tsx
  packages/notifications/src/elements/Notification.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: updates migration.md
  docs/migration.md
Due: none

fix(theming): update palette color values (#1795)
  packages/theming/demo/stories/PaletteStory.tsx
  packages/theming/demo/utilities.stories.mdx
  packages/theming/src/elements/palette/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/palette/index.ts
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat!: removes stale product colors from palette (#1794)
  docs/migration.md
  packages/chrome/README.md
  packages/chrome/demo/stories/ChromeStory.tsx
  packages/chrome/src/elements/header/HeaderItem.spec.tsx
  packages/chrome/src/elements/nav/NavItem.spec.tsx
  packages/chrome/src/styled/header/StyledLogoHeaderItem.ts
  packages/chrome/src/styled/nav/StyledLogoNavItem.ts
  packages/chrome/src/types/index.ts
  packages/theming/src/elements/palette/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/palette/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming): add system `opacity` values to the theme
  packages/theming/demo/stories/GetColorStory.tsx
  packages/theming/demo/utilities.stories.mdx
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/theme/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Add unit test
  .github/PULL_REQUEST_TEMPLATE.md
  packages/theming/src/utils/getColor.spec.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Handle invalid opacity
  packages/theming/src/utils/getColor.spec.ts
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming): add system `opacity` values to the theme (#1797)
  .github/PULL_REQUEST_TEMPLATE.md
  packages/theming/demo/stories/GetColorStory.tsx
  packages/theming/demo/utilities.stories.mdx
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/theme/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/getColor.spec.ts
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.0.0-next.9 [skip ci]
  CHANGELOG.md
Due: none

feat(color utils): add custom palette generator + isValidColor
  packages/theming/src/utils/colors.spec.ts
  packages/theming/src/utils/colors.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(getColor): use new color utilities
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(forms): updates Message to receive margin when intermediaries are present
  packages/datepickers/demo/datepicker.stories.mdx
  packages/datepickers/demo/stories/DatepickerStory.tsx
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: code review
  packages/datepickers/demo/stories/DatepickerStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: code reveux
  packages/datepickers/demo/datepicker.stories.mdx
  packages/datepickers/demo/stories/DatepickerStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: code revroi
  packages/datepickers/demo/datepicker.stories.mdx
Due: none

fix(forms): updates Message to receive margin when intermediaries are present (#1799)
  packages/datepickers/demo/datepicker.stories.mdx
  packages/datepickers/demo/stories/DatepickerStory.tsx
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
  utils/build/rollup.config-1714675503759.cjs
  utils/build/rollup.config-1714675503877.cjs
  utils/build/rollup.config-1714675503925.cjs
  utils/build/rollup.config-1714675504000.cjs
  utils/build/rollup.config-1714675504049.cjs
  utils/build/rollup.config-1714675504426.cjs
Due: prettier-package-json --write

chore(changelog): add v8.76.2 [skip ci]
  CHANGELOG.md
Due: none

fix(forms): updates Message to receive margin when intermediaries are present (#1799)
  packages/datepickers/demo/datePicker.stories.mdx
  packages/datepickers/demo/stories/DatePickerStory.tsx
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v8.76.2 [skip ci]
  CHANGELOG.md
  docs/changelogs/v8.md
Due: none

fix(DatePickerStory): correct typo
  packages/datepickers/demo/stories/DatePickerStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(next): update from `main@8.76.2` (#1801)
  CHANGELOG.md
  docs/changelogs/v8.md
  package-lock.json
  packages/datepickers/demo/datePicker.stories.mdx
  packages/datepickers/demo/stories/DatePickerStory.tsx
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(CHANGELOG): revert to remove extra lines
  CHANGELOG.md
Due: none

chore(CHANGELOG): revert to remove extra lines (#1802)
  CHANGELOG.md
Due: none

chore(changelog): add v9.0.0-next.10 [skip ci]
  CHANGELOG.md
Due: none

chore(buttons): new light/dark mode colors
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

docs(storybook): add global dark/light color variables control
  .storybook/preview.js
  packages/theming/demo/utilities.stories.mdx
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Allow user entry for transparency
  packages/theming/demo/utilities.stories.mdx
Due: none

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
