Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Update size snapshot
  packages/colorpickers/.size-snapshot.json
Due: none

Add README example
  packages/notifications/README.md
Due: none

Update styled utility constant, add knob to timeout
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/toaster/ToastProvider.tsx
  packages/notifications/src/elements/toaster/styled.ts
  packages/notifications/stories/5-Toasts.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Set range heights for correct Firefox rendering
  packages/colorpickers/src/styled/common/StyledRange.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix width for IE11
  packages/colorpickers/src/styled/ColorpickerDialog/StyledButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Convert color hex to a format that is compatible with IE11
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/stories/examples/ColorpickerDialog/Controlled.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/WithFormInput.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(notifications): introduce toast pattern and utilities (#1021)
  package.json
  packages/modals/package.json
  packages/modals/yarn.lock
  packages/notifications/.size-snapshot.json
  packages/notifications/README.md
  packages/notifications/package.json
  packages/notifications/src/elements/toaster/Toast.tsx
  packages/notifications/src/elements/toaster/ToastProvider.spec.tsx
  packages/notifications/src/elements/toaster/ToastProvider.tsx
  packages/notifications/src/elements/toaster/ToastSlot.spec.tsx
  packages/notifications/src/elements/toaster/ToastSlot.tsx
  packages/notifications/src/elements/toaster/reducer.ts
  packages/notifications/src/elements/toaster/styled.ts
  packages/notifications/src/elements/toaster/useToast.spec.tsx
  packages/notifications/src/elements/toaster/useToast.ts
  packages/notifications/src/index.ts
  packages/notifications/stories/5-Toasts.stories.tsx
  packages/notifications/yarn.lock
  packages/tables/yarn.lock
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Add default isAnimated prop to tooltip modal
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix displayName
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorpickerDialog/index.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(modals): fadeout tooltip modal (#1024)
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/modals/src/styled/StyledTooltipModal.ts
  packages/modals/src/styled/StyledTooltipModalBackdrop.ts
  packages/modals/stories/4-TooltipModal.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(dropdowns): migrate react-dropdowns to Storybook
  demo/index.html
  packages/dropdowns/README.md
  packages/dropdowns/package.json
  packages/dropdowns/stories/1-Readme.stories.mdx
  packages/dropdowns/stories/2-Menu.stories.tsx
  packages/dropdowns/stories/3-Select.stories.tsx
  packages/dropdowns/stories/4-Autocomplete.stories.tsx
  packages/dropdowns/stories/5-Multiselect.stories.tsx
  packages/dropdowns/stories/examples/Autocomplete/Default.tsx
  packages/dropdowns/stories/examples/Menu/Advanced.tsx
  packages/dropdowns/stories/examples/Menu/Default.tsx
  packages/dropdowns/stories/examples/Menu/Tree.tsx
  packages/dropdowns/stories/examples/Multiselect/Default.tsx
  packages/dropdowns/stories/examples/Select/Advanced.tsx
  packages/dropdowns/stories/examples/Select/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(colorpickers): correct ColorpickerDialog displayName (#1027)
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorpickerDialog/index.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): migrate react-forms to storybook
  demo/index.html
  packages/forms/README.md
  packages/forms/examples/advanced.md
  packages/forms/examples/basic.md
  packages/forms/examples/input-group.md
  packages/forms/examples/tiles.md
  packages/forms/package.json
  packages/forms/stories/1-Readme.stories.mdx
  packages/forms/stories/10-Range.stories.tsx
  packages/forms/stories/11-MultiThumbRange.stories.tsx
  packages/forms/stories/12-Tiles.stories.tsx
  packages/forms/stories/13-InputGroup.stories.tsx
  packages/forms/stories/14-FileUpload.stories.tsx
  packages/forms/stories/2-Input.stories.tsx
  packages/forms/stories/3-Textarea.stories.tsx
  packages/forms/stories/4-MediaInput.stories.tsx
  packages/forms/stories/5-FauxInput.stories.tsx
  packages/forms/stories/6-Select.stories.tsx
  packages/forms/stories/7-Checkbox.stories.tsx
  packages/forms/stories/8-Radio.stories.tsx
  packages/forms/stories/9-Toggle.stories.tsx
  packages/forms/stories/story-types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Button up package dependencies
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/colorpickers/yarn.lock
Due: prettier-package-json --write

fix(colorpickers): fix broken color picker dialog test
  packages/colorpickers/src/elements/ColorpickerDialog/index.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(colorpickers): fix broken color picker dialog test (#1029)
  packages/colorpickers/src/elements/ColorpickerDialog/index.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Apply minRows and maxRows to textarea story
  packages/forms/stories/3-Textarea.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(colorpickers): move react-buttons to a direct dependency (#1030)
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/colorpickers/yarn.lock
Due: prettier-package-json --write

Prevent hex field spell checking
  packages/colorpickers/src/elements/Colorpicker/index.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add hasArrow override
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorpickerDialog/index.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(colorpickers): disable hex spell checking and arrow by default (#1031)
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/Colorpicker/index.tsx
  packages/colorpickers/src/elements/ColorpickerDialog/index.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

color dialog tooltip
  packages/colorpickers/src/elements/ColorpickerDialog/index.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/WithIconButton.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Applied hideVisually styles on StyledLabel and corresponding unit tests
  packages/forms/src/styled/common/StyledLabel.spec.tsx
  packages/forms/src/styled/common/StyledLabel.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Removes .label + .component margining for forms and datepicker components
  packages/datepickers/stories/examples/Default.tsx
  packages/dropdowns/examples/field-variants.md
  packages/forms/examples/basic.md
  packages/forms/examples/file-upload.md
  packages/forms/src/styled/file-upload/StyledFileUpload.ts
  packages/forms/src/styled/radio/StyledRadioLabel.ts
  packages/forms/src/styled/range/StyledRangeInput.spec.tsx
  packages/forms/src/styled/range/StyledRangeInput.ts
  packages/forms/src/styled/range/StyledSlider.spec.tsx
  packages/forms/src/styled/range/StyledSlider.ts
  packages/forms/src/styled/text/StyledTextInput.spec.tsx
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): migrate react-forms to storybook (#1028)
  demo/index.html
  packages/forms/README.md
  packages/forms/examples/advanced.md
  packages/forms/examples/basic.md
  packages/forms/examples/input-group.md
  packages/forms/examples/tiles.md
  packages/forms/package.json
  packages/forms/stories/1-Readme.stories.mdx
  packages/forms/stories/10-Range.stories.tsx
  packages/forms/stories/11-MultiThumbRange.stories.tsx
  packages/forms/stories/12-Tiles.stories.tsx
  packages/forms/stories/13-InputGroup.stories.tsx
  packages/forms/stories/14-FileUpload.stories.tsx
  packages/forms/stories/2-Input.stories.tsx
  packages/forms/stories/3-Textarea.stories.tsx
  packages/forms/stories/4-MediaInput.stories.tsx
  packages/forms/stories/5-FauxInput.stories.tsx
  packages/forms/stories/6-Select.stories.tsx
  packages/forms/stories/7-Checkbox.stories.tsx
  packages/forms/stories/8-Radio.stories.tsx
  packages/forms/stories/9-Toggle.stories.tsx
  packages/forms/stories/story-types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(colorpickers): pass color dialog props down to child trigger
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorpickerDialog/index.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/WithIconButton.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Prevent subpixel height increase on sliders
  packages/colorpickers/src/styled/Colorpicker/StyledSliders.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(colorpickers): prevent subpixel slider height increase (#1034)
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/styled/Colorpicker/StyledSliders.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix wonky arrow positioning
  packages/modals/src/styled/StyledTooltipModal.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/modals/.size-snapshot.json
Due: none
