Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

chore(next): updates from main
  packages/dropdowns.next/src/elements/menu/MenuList.tsx
  packages/dropdowns.next/src/elements/menu/utils.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix unit tests
  package-lock.json
  packages/colorpickers/src/elements/ColorSwatch/index.spec.tsx
  packages/colorpickers/src/elements/ColorSwatchDialog/index.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Remove spaces
  packages/colorpickers/demo/colorSwatchDialog.stories.mdx
Due: none

feat: rename Pagination -> OffsetPagination
  packages/pagination/README.md
  packages/pagination/demo/OffsetPagination.stories.mdx
  packages/pagination/demo/stories/CursorPaginationStory.tsx
  packages/pagination/demo/stories/OffsetPaginationStory.tsx
  packages/pagination/src/elements/OffsetPagination/OffsetPagination.spec.tsx
  packages/pagination/src/elements/OffsetPagination/OffsetPagination.tsx
  packages/pagination/src/elements/OffsetPagination/components/Gap.spec.tsx
  packages/pagination/src/elements/OffsetPagination/components/Gap.tsx
  packages/pagination/src/elements/OffsetPagination/components/Next.spec.tsx
  packages/pagination/src/elements/OffsetPagination/components/Next.tsx
  packages/pagination/src/elements/OffsetPagination/components/Page.spec.tsx
  packages/pagination/src/elements/OffsetPagination/components/Page.tsx
  packages/pagination/src/elements/OffsetPagination/components/Previous.spec.tsx
  packages/pagination/src/elements/OffsetPagination/components/Previous.tsx
  packages/pagination/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix lint error
  packages/colorpickers/src/styled/ColorSwatch/StyledColorSwatchInput.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Rollback `react-merge-refs` v1
  package-lock.json
  packages/buttons/package.json
  packages/buttons/src/elements/Button.tsx
  packages/chrome/package.json
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/colorpickers/package.json
  packages/colorpickers/src/elements/ColorSwatch/index.tsx
  packages/dropdowns.next/package.json
  packages/dropdowns.next/src/elements/combobox/Option.tsx
  packages/dropdowns.next/src/elements/menu/Item.tsx
  packages/dropdowns.next/src/elements/menu/Menu.tsx
  packages/dropdowns/package.json
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Combobox/Combobox.tsx
  packages/dropdowns/src/elements/Fields/Field.tsx
  packages/dropdowns/src/elements/Menu/Items/Item.tsx
  packages/dropdowns/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/forms/package.json
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/elements/Range.tsx
  packages/forms/src/elements/Textarea.tsx
  packages/forms/src/elements/tiles/components/Label.tsx
  packages/grid/package.json
  packages/grid/src/elements/pane/Pane.tsx
  packages/grid/src/elements/pane/components/Splitter.tsx
  packages/modals/package.json
  packages/modals/src/elements/DrawerModal/DrawerModal.tsx
  packages/modals/src/elements/Modal.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/tabs/package.json
  packages/tabs/src/elements/Tab.tsx
  packages/tooltips/package.json
  packages/tooltips/src/elements/Tooltip.tsx
  utils/test/jest.config.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Update grid container and migration guide
  docs/migration.md
  package-lock.json
  packages/colorpickers/package.json
  packages/colorpickers/src/elements/ColorSwatch/index.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Fix package lock file
  package-lock.json
Due: none

Remove `popperModifiers`
  packages/colorpickers/demo/colorPickerDialog.stories.mdx
  packages/colorpickers/demo/colorSwatchDialog.stories.mdx
Due: none

feat(colorpickers)!: refactor `ColorSwatch` with improved accessibility backed by a native input (radio or checkbox) group (#1711)
  docs/migration.md
  package-lock.json
  packages/colorpickers/demo/colorPickerDialog.stories.mdx
  packages/colorpickers/demo/colorSwatch.stories.mdx
  packages/colorpickers/demo/colorSwatchDialog.stories.mdx
  packages/colorpickers/package.json
  packages/colorpickers/src/elements/ColorSwatch/index.spec.tsx
  packages/colorpickers/src/elements/ColorSwatch/index.tsx
  packages/colorpickers/src/elements/ColorSwatchDialog/index.spec.tsx
  packages/colorpickers/src/elements/ColorSwatchDialog/index.tsx
  packages/colorpickers/src/styled/ColorSwatch/StyledCheckIcon.spec.tsx
  packages/colorpickers/src/styled/ColorSwatch/StyledColorSwatch.ts
  packages/colorpickers/src/styled/ColorSwatch/StyledColorSwatchInput.ts
  packages/colorpickers/src/styled/ColorSwatch/StyledColorSwatchLabel.ts
  packages/colorpickers/src/styled/ColorSwatch/StyledIcon.ts
  packages/colorpickers/src/styled/ColorSwatch/StyledSwatchButton.ts
  packages/colorpickers/src/styled/index.ts
  packages/colorpickers/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore!: replace Popper with Floating UI (#1709)
  docs/migration.md
  package-lock.json
  packages/colorpickers/demo/colorPickerDialog.stories.mdx
  packages/colorpickers/demo/colorSwatchDialog.stories.mdx
  packages/colorpickers/src/elements/ColorSwatchDialog/index.tsx
  packages/colorpickers/src/elements/ColorpickerDialog/index.tsx
  packages/colorpickers/src/types/index.ts
  packages/datepickers/demo/datepicker.stories.mdx
  packages/datepickers/package.json
  packages/datepickers/src/elements/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/elements/Datepicker/components/Input.tsx
  packages/datepickers/src/elements/Datepicker/utils/garden-placements.spec.ts
  packages/datepickers/src/elements/Datepicker/utils/garden-placements.ts
  packages/datepickers/src/index.ts
  packages/datepickers/src/styled/StyledMenuWrapper.ts
  packages/datepickers/src/types/index.ts
  packages/dropdowns.next/src/elements/menu/MenuList.tsx
  packages/dropdowns.next/src/elements/menu/utils.ts
  packages/dropdowns.next/src/types/index.ts
  packages/modals/package.json
  packages/modals/src/elements/TooltipModal/TooltipModal.spec.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/modals/src/styled/StyledTooltipModal.ts
  packages/modals/src/styled/StyledTooltipWrapper.ts
  packages/modals/src/types/index.ts
  packages/modals/src/utils/gardenPlacements.tsx
  packages/theming/src/utils/getArrowPosition.spec.ts
  packages/theming/src/utils/getArrowPosition.ts
  packages/theming/src/utils/getFloatingPlacements.ts
  packages/theming/src/utils/menuStyles.ts
  packages/tooltips/demo/tooltip.stories.mdx
  packages/tooltips/package.json
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/elements/utils.ts
  packages/tooltips/src/styled/StyledTooltip.ts
  packages/tooltips/src/styled/StyledTooltipWrapper.ts
  packages/tooltips/src/types/index.ts
  packages/tooltips/src/utils/gardenPlacements.spec.ts
  packages/tooltips/src/utils/gardenPlacements.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Updates [skip ci]
  1724.1431d181.iframe.bundle.js
  1724.d6ba9361.iframe.bundle.js
  560.16fefe5c.iframe.bundle.js
  560.d439b788.iframe.bundle.js
  7544.2335ef31.iframe.bundle.js
  7544.257b5523.iframe.bundle.js
  9136.35c7d46f.iframe.bundle.js
  9136.eae211d5.iframe.bundle.js
  colorpickers-demo-colorPickerDialog-stories-mdx.8f143d35.iframe.bundle.js
  colorpickers-demo-colorPickerDialog-stories-mdx.94d6c63e.iframe.bundle.js
  colorpickers-demo-colorSwatchDialog-stories-mdx.423230f4.iframe.bundle.js
  colorpickers-demo-colorSwatchDialog-stories-mdx.9b10dfe5.iframe.bundle.js
  datepickers-demo-datepicker-stories-mdx.260ee88d.iframe.bundle.js
  datepickers-demo-datepicker-stories-mdx.792d19c7.iframe.bundle.js
  iframe.html
  notifications-demo-toastProvider-stories-mdx.3406c885.iframe.bundle.js
  notifications-demo-toastProvider-stories-mdx.e060b163.iframe.bundle.js
  project.json
  runtime~main.0752c087.iframe.bundle.js
  runtime~main.f8e34864.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: updates component api structure and tests
  package-lock.json
  packages/pagination/demo/OffsetPagination.stories.mdx
  packages/pagination/demo/stories/OffsetPaginationStory.tsx
  packages/pagination/package.json
  packages/pagination/src/elements/OffsetPagination/OffsetPagination.spec.tsx
  packages/pagination/src/elements/OffsetPagination/OffsetPagination.tsx
  packages/pagination/src/elements/OffsetPagination/components/Gap.spec.tsx
  packages/pagination/src/elements/OffsetPagination/components/Gap.tsx
  packages/pagination/src/elements/OffsetPagination/components/Next.spec.tsx
  packages/pagination/src/elements/OffsetPagination/components/Next.tsx
  packages/pagination/src/elements/OffsetPagination/components/Page.spec.tsx
  packages/pagination/src/elements/OffsetPagination/components/Page.tsx
  packages/pagination/src/elements/OffsetPagination/components/Previous.spec.tsx
  packages/pagination/src/elements/OffsetPagination/components/Previous.tsx
  packages/pagination/src/styled/CursorPagination/StyledCursor.ts
  packages/pagination/src/styled/OffsetPagination/StyledGapListItem.spec.tsx
  packages/pagination/src/styled/OffsetPagination/StyledGapListItem.ts
  packages/pagination/src/styled/OffsetPagination/StyledList.spec.tsx
  packages/pagination/src/styled/OffsetPagination/StyledList.ts
  packages/pagination/src/styled/OffsetPagination/StyledListItem.ts
  packages/pagination/src/styled/OffsetPagination/StyledNav.ts
  packages/pagination/src/styled/OffsetPagination/StyledNavigation.spec.tsx
  packages/pagination/src/styled/OffsetPagination/StyledNavigation.ts
  packages/pagination/src/styled/OffsetPagination/StyledPage.spec.tsx
  packages/pagination/src/styled/OffsetPagination/StyledPage.ts
  packages/pagination/src/styled/OffsetPagination/StyledPageBase.ts
  packages/pagination/src/styled/index.ts
  packages/pagination/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore: simplifies some tests and includes more accessibility
  packages/pagination/src/elements/OffsetPagination/OffsetPagination.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: rename DrawerModal to Drawer
  packages/modals/demo/drawer.stories.mdx
  packages/modals/demo/drawerModal.stories.mdx
  packages/modals/demo/stories/DrawerStory.tsx
  packages/modals/src/elements/Drawer/Body.spec.tsx
  packages/modals/src/elements/Drawer/Body.tsx
  packages/modals/src/elements/Drawer/Close.spec.tsx
  packages/modals/src/elements/Drawer/Close.tsx
  packages/modals/src/elements/Drawer/Drawer.spec.tsx
  packages/modals/src/elements/Drawer/Drawer.tsx
  packages/modals/src/elements/Drawer/Footer.tsx
  packages/modals/src/elements/Drawer/FooterItem.tsx
  packages/modals/src/elements/Drawer/Header.spec.tsx
  packages/modals/src/elements/Drawer/Header.tsx
  packages/modals/src/elements/DrawerModal/Header.tsx
  packages/modals/src/index.ts
  packages/modals/src/styled/StyledDrawer.ts
  packages/modals/src/styled/StyledDrawerBody.ts
  packages/modals/src/styled/StyledDrawerClose.spec.tsx
  packages/modals/src/styled/StyledDrawerClose.ts
  packages/modals/src/styled/StyledDrawerFooter.ts
  packages/modals/src/styled/StyledDrawerFooterItem.ts
  packages/modals/src/styled/StyledDrawerHeader.spec.tsx
  packages/modals/src/styled/StyledDrawerHeader.ts
  packages/modals/src/styled/index.ts
  packages/modals/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: updates README with Drawer and TooltipModal examples
  packages/modals/README.md
Due: none

chore: code review from @jzempel
  docs/migration.md
Due: none

chore: code review from @jzempel
  docs/migration.md
  packages/pagination/demo/OffsetPagination.stories.mdx
  packages/pagination/src/styled/OffsetPagination/StyledPage.ts
  packages/pagination/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat: renames Datepicker and DatepickerRange to DatePicker and DatePickerRange
  docs/migration.md
  packages/datepickers/README.md
  packages/datepickers/demo/datepicker.stories.mdx
  packages/datepickers/demo/datepickerRange.stories.mdx
  packages/datepickers/demo/stories/DatepickerRangeStory.tsx
  packages/datepickers/demo/stories/DatepickerStory.tsx
  packages/datepickers/src/elements/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/elements/Datepicker/Datepicker.tsx
  packages/datepickers/src/elements/Datepicker/components/Calendar.tsx
  packages/datepickers/src/elements/Datepicker/components/Input.tsx
  packages/datepickers/src/elements/Datepicker/components/MonthSelector.tsx
  packages/datepickers/src/elements/Datepicker/utils/date-picker-reducer.ts
  packages/datepickers/src/elements/Datepicker/utils/useDatepickerContext.ts
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/DatepickerRange.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Calendar.tsx
  packages/datepickers/src/elements/DatepickerRange/components/End.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/components/End.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Month.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Start.spec.tsx
  packages/datepickers/src/elements/DatepickerRange/components/Start.tsx
  packages/datepickers/src/elements/DatepickerRange/utils/date-picker-range-reducer.ts
  packages/datepickers/src/elements/DatepickerRange/utils/useDatepickerRangeContext.ts
  packages/datepickers/src/index.ts
  packages/datepickers/src/styled/StyledDatepicker.ts
  packages/datepickers/src/styled/StyledRangeCalendar.ts
  packages/datepickers/src/styled/index.ts
  packages/datepickers/src/types/index.ts
  packages/datepickers/src/utils/calendar-utils.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: rename folders
  docs/migration.md
  packages/datepickers/src/elements/Date_Picker/Datepicker.spec.tsx
  packages/datepickers/src/elements/Date_Picker/Datepicker.tsx
  packages/datepickers/src/elements/Date_Picker/components/Calendar.tsx
  packages/datepickers/src/elements/Date_Picker/components/Input.tsx
  packages/datepickers/src/elements/Date_Picker/components/MonthSelector.tsx
  packages/datepickers/src/elements/Date_Picker/utils/date-picker-reducer.ts
  packages/datepickers/src/elements/Date_Picker/utils/useDatepickerContext.ts
  packages/datepickers/src/elements/Date_PickerRange/DatePickerRange.spec.tsx
  packages/datepickers/src/elements/Date_PickerRange/DatePickerRange.tsx
  packages/datepickers/src/elements/Date_PickerRange/components/Calendar.tsx
  packages/datepickers/src/elements/Date_PickerRange/components/End.spec.tsx
  packages/datepickers/src/elements/Date_PickerRange/components/End.tsx
  packages/datepickers/src/elements/Date_PickerRange/components/Month.tsx
  packages/datepickers/src/elements/Date_PickerRange/components/Start.spec.tsx
  packages/datepickers/src/elements/Date_PickerRange/components/Start.tsx
  packages/datepickers/src/elements/Date_PickerRange/utils/date-picker-range-reducer.ts
  packages/datepickers/src/elements/Date_PickerRange/utils/useDatePickerRangeContext.ts
  packages/datepickers/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: rename back to correct directory names
  packages/datepickers/demo/datepicker.stories.mdx
  packages/datepickers/demo/datepickerRange.stories.mdx
  packages/datepickers/demo/stories/Date_PickerRangeStory.tsx
  packages/datepickers/demo/stories/Date_PickerStory.tsx
  packages/datepickers/src/elements/DatePicker/Date_Picker.spec.tsx
  packages/datepickers/src/elements/DatePicker/Date_Picker.tsx
  packages/datepickers/src/elements/DatePicker/components/Calendar.tsx
  packages/datepickers/src/elements/DatePicker/components/Input.tsx
  packages/datepickers/src/elements/DatePicker/components/MonthSelector.tsx
  packages/datepickers/src/elements/DatePicker/utils/date-picker-reducer.ts
  packages/datepickers/src/elements/DatePicker/utils/useDate_PickerContext.ts
  packages/datepickers/src/elements/DatePickerRange/Date_PickerRange.spec.tsx
  packages/datepickers/src/elements/DatePickerRange/Date_PickerRange.tsx
  packages/datepickers/src/elements/DatePickerRange/components/Calendar.tsx
  packages/datepickers/src/elements/DatePickerRange/components/End.spec.tsx
  packages/datepickers/src/elements/DatePickerRange/components/End.tsx
  packages/datepickers/src/elements/DatePickerRange/components/Month.tsx
  packages/datepickers/src/elements/DatePickerRange/components/Start.spec.tsx
  packages/datepickers/src/elements/DatePickerRange/components/Start.tsx
  packages/datepickers/src/elements/DatePickerRange/utils/date-picker-range-reducer.ts
  packages/datepickers/src/elements/DatePickerRange/utils/useDatePickerRangeContext.ts
  packages/datepickers/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: renames files to correct casing
  packages/datepickers/demo/date_Picker.stories.mdx
  packages/datepickers/demo/date_PickerRange.stories.mdx
  packages/datepickers/demo/stories/DatePickerRangeStory.tsx
  packages/datepickers/demo/stories/DatePickerStory.tsx
  packages/datepickers/src/elements/DatePicker/DatePicker.spec.tsx
  packages/datepickers/src/elements/DatePicker/DatePicker.tsx
  packages/datepickers/src/elements/DatePicker/components/Calendar.tsx
  packages/datepickers/src/elements/DatePicker/components/MonthSelector.tsx
  packages/datepickers/src/elements/DatePicker/utils/useDatePickerContext.ts
  packages/datepickers/src/elements/DatePickerRange/DatePickerRange.spec.tsx
  packages/datepickers/src/elements/DatePickerRange/DatePickerRange.tsx
  packages/datepickers/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: renames story files
  packages/datepickers/demo/datePicker.stories.mdx
  packages/datepickers/demo/datePickerRange.stories.mdx
Due: none

chore: rename styled date picker
  packages/datepickers/src/styled/StyledDate_Picker.ts
  packages/datepickers/src/styled/StyledRangeCalendar.ts
  packages/datepickers/src/styled/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: styled component to correct name
  packages/datepickers/src/styled/StyledDatePicker.ts
  packages/datepickers/src/styled/StyledRangeCalendar.ts
  packages/datepickers/src/styled/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: add type change to migration.md
  docs/migration.md
Due: none

chore: alphabetize modal changes
  docs/migration.md
Due: none

chore: update lingering placeholder namings
  packages/datepickers/src/elements/DatePickerRange/components/End.spec.tsx
  packages/datepickers/src/elements/DatePickerRange/components/Start.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: specify before and after type change
  docs/migration.md
Due: none

chore: rename pagination story placeholder
  packages/pagination/demo/_cursorPagination.stories.mdx
  packages/pagination/demo/_offsetPagination.stories.mdx
Due: none

chore: correct casing on story files
  packages/pagination/demo/cursorPagination.stories.mdx
  packages/pagination/demo/offsetPagination.stories.mdx
Due: none

feat!: renames Pagination to OffsetPagination with revised API (#1712)
  docs/migration.md
  package-lock.json
  packages/pagination/README.md
  packages/pagination/demo/offsetPagination.stories.mdx
  packages/pagination/demo/pagination.stories.mdx
  packages/pagination/demo/stories/CursorPaginationStory.tsx
  packages/pagination/demo/stories/PaginationStory.tsx
  packages/pagination/package.json
  packages/pagination/src/elements/OffsetPagination/OffsetPagination.spec.tsx
  packages/pagination/src/elements/OffsetPagination/OffsetPagination.tsx
  packages/pagination/src/elements/OffsetPagination/components/Gap.spec.tsx
  packages/pagination/src/elements/OffsetPagination/components/Gap.tsx
  packages/pagination/src/elements/OffsetPagination/components/Next.spec.tsx
  packages/pagination/src/elements/OffsetPagination/components/Next.tsx
  packages/pagination/src/elements/OffsetPagination/components/Page.spec.tsx
  packages/pagination/src/elements/OffsetPagination/components/Page.tsx
  packages/pagination/src/elements/OffsetPagination/components/Previous.spec.tsx
  packages/pagination/src/elements/OffsetPagination/components/Previous.tsx
  packages/pagination/src/elements/Pagination/Pagination.spec.tsx
  packages/pagination/src/elements/Pagination/Pagination.tsx
  packages/pagination/src/elements/Pagination/components/Gap.tsx
  packages/pagination/src/elements/Pagination/components/Page.tsx
  packages/pagination/src/index.ts
  packages/pagination/src/styled/CursorPagination/StyledCursor.ts
  packages/pagination/src/styled/OffsetPagination/StyledGapListItem.spec.tsx
  packages/pagination/src/styled/OffsetPagination/StyledGapListItem.ts
  packages/pagination/src/styled/OffsetPagination/StyledList.spec.tsx
  packages/pagination/src/styled/OffsetPagination/StyledList.ts
  packages/pagination/src/styled/OffsetPagination/StyledListItem.ts
  packages/pagination/src/styled/OffsetPagination/StyledNav.ts
  packages/pagination/src/styled/OffsetPagination/StyledNavigation.spec.tsx
  packages/pagination/src/styled/OffsetPagination/StyledNavigation.ts
  packages/pagination/src/styled/OffsetPagination/StyledPage.spec.tsx
  packages/pagination/src/styled/OffsetPagination/StyledPage.ts
  packages/pagination/src/styled/OffsetPagination/StyledPageBase.ts
  packages/pagination/src/styled/index.ts
  packages/pagination/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

feat!: rename DrawerModal to Drawer (#1715)
  docs/migration.md
  packages/modals/README.md
  packages/modals/demo/drawer.stories.mdx
  packages/modals/demo/drawerModal.stories.mdx
  packages/modals/demo/stories/DrawerStory.tsx
  packages/modals/src/elements/Drawer/Body.spec.tsx
  packages/modals/src/elements/Drawer/Body.tsx
  packages/modals/src/elements/Drawer/Close.spec.tsx
  packages/modals/src/elements/Drawer/Close.tsx
  packages/modals/src/elements/Drawer/Drawer.spec.tsx
  packages/modals/src/elements/Drawer/Drawer.tsx
  packages/modals/src/elements/Drawer/Footer.tsx
  packages/modals/src/elements/Drawer/FooterItem.tsx
  packages/modals/src/elements/Drawer/Header.spec.tsx
  packages/modals/src/elements/Drawer/Header.tsx
  packages/modals/src/elements/DrawerModal/Header.tsx
  packages/modals/src/index.ts
  packages/modals/src/styled/StyledDrawer.ts
  packages/modals/src/styled/StyledDrawerBody.ts
  packages/modals/src/styled/StyledDrawerClose.spec.tsx
  packages/modals/src/styled/StyledDrawerClose.ts
  packages/modals/src/styled/StyledDrawerFooter.ts
  packages/modals/src/styled/StyledDrawerFooterItem.ts
  packages/modals/src/styled/StyledDrawerHeader.spec.tsx
  packages/modals/src/styled/StyledDrawerHeader.ts
  packages/modals/src/styled/index.ts
  packages/modals/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat!: renames Datepicker components to DatePicker (#1716)
  docs/migration.md
  packages/datepickers/README.md
  packages/datepickers/demo/datePicker.stories.mdx
  packages/datepickers/demo/datePickerRange.stories.mdx
  packages/datepickers/demo/stories/DatePickerRangeStory.tsx
  packages/datepickers/demo/stories/DatePickerStory.tsx
  packages/datepickers/src/elements/DatePicker/DatePicker.spec.tsx
  packages/datepickers/src/elements/DatePicker/DatePicker.tsx
  packages/datepickers/src/elements/DatePicker/components/Calendar.tsx
  packages/datepickers/src/elements/DatePicker/components/Input.tsx
  packages/datepickers/src/elements/DatePicker/components/MonthSelector.tsx
  packages/datepickers/src/elements/DatePicker/utils/date-picker-reducer.ts
  packages/datepickers/src/elements/DatePicker/utils/useDatePickerContext.ts
  packages/datepickers/src/elements/DatePickerRange/DatePickerRange.spec.tsx
  packages/datepickers/src/elements/DatePickerRange/DatePickerRange.tsx
  packages/datepickers/src/elements/DatePickerRange/components/Calendar.tsx
  packages/datepickers/src/elements/DatePickerRange/components/End.spec.tsx
  packages/datepickers/src/elements/DatePickerRange/components/End.tsx
  packages/datepickers/src/elements/DatePickerRange/components/Month.tsx
  packages/datepickers/src/elements/DatePickerRange/components/Start.spec.tsx
  packages/datepickers/src/elements/DatePickerRange/components/Start.tsx
  packages/datepickers/src/elements/DatePickerRange/utils/date-picker-range-reducer.ts
  packages/datepickers/src/elements/DatePickerRange/utils/useDatePickerRangeContext.ts
  packages/datepickers/src/elements/Datepicker/utils/useDatepickerContext.ts
  packages/datepickers/src/index.ts
  packages/datepickers/src/styled/StyledDatePicker.ts
  packages/datepickers/src/styled/StyledRangeCalendar.ts
  packages/datepickers/src/styled/index.ts
  packages/datepickers/src/types/index.ts
  packages/datepickers/src/utils/calendar-utils.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: rename datepickers folder name in storybook UI
  packages/datepickers/demo/datePicker.stories.mdx
  packages/datepickers/demo/datePickerRange.stories.mdx
Due: none

fix: rename datepickers folder name in storybook UI (#1717)
  packages/datepickers/demo/datePicker.stories.mdx
  packages/datepickers/demo/datePickerRange.stories.mdx
Due: none

chore(changelog): add v8.74.2 [skip ci]
  docs/changelogs/v8.md
Due: none

chore(next): updates from `main` (#1718)
  docs/changelogs/v8.md
  package-lock.json
Due: none

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write
