Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG|docs/changelogs/*).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

refactor(modals): use transient props
  packages/modals/src/elements/Drawer/Drawer.tsx
  packages/modals/src/elements/Drawer/Header.tsx
  packages/modals/src/elements/Header.tsx
  packages/modals/src/elements/Modal.tsx
  packages/modals/src/elements/TooltipDialog/TooltipDialog.tsx
  packages/modals/src/styled/StyledBackdrop.spec.tsx
  packages/modals/src/styled/StyledBackdrop.ts
  packages/modals/src/styled/StyledDrawerHeader.spec.tsx
  packages/modals/src/styled/StyledDrawerHeader.ts
  packages/modals/src/styled/StyledHeader.spec.tsx
  packages/modals/src/styled/StyledHeader.ts
  packages/modals/src/styled/StyledModal.spec.tsx
  packages/modals/src/styled/StyledModal.ts
  packages/modals/src/styled/StyledTooltipDialog.ts
  packages/modals/src/styled/StyledTooltipWrapper.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(typography): use transient props
  packages/typography/src/elements/Code.tsx
  packages/typography/src/elements/CodeBlock.tsx
  packages/typography/src/elements/LG.tsx
  packages/typography/src/elements/MD.tsx
  packages/typography/src/elements/SM.tsx
  packages/typography/src/elements/XL.tsx
  packages/typography/src/elements/XXL.tsx
  packages/typography/src/elements/XXXL.tsx
  packages/typography/src/elements/lists/OrderedList.tsx
  packages/typography/src/elements/lists/OrderedListItem.tsx
  packages/typography/src/elements/lists/UnorderedList.tsx
  packages/typography/src/elements/lists/UnorderedListItem.tsx
  packages/typography/src/elements/span/Span.tsx
  packages/typography/src/styled/StyledCode.ts
  packages/typography/src/styled/StyledCodeBlockLine.spec.tsx
  packages/typography/src/styled/StyledCodeBlockLine.ts
  packages/typography/src/styled/StyledFont.spec.tsx
  packages/typography/src/styled/StyledFont.tsx
  packages/typography/src/styled/StyledList.spec.tsx
  packages/typography/src/styled/StyledList.ts
  packages/typography/src/styled/StyledListItem.spec.tsx
  packages/typography/src/styled/StyledListItem.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(draggable): use transient props
  packages/draggable/src/elements/draggable-list/DraggableList.tsx
  packages/draggable/src/elements/draggable-list/components/DropIndicator.tsx
  packages/draggable/src/elements/draggable-list/components/Item.tsx
  packages/draggable/src/elements/draggable/Draggable.tsx
  packages/draggable/src/elements/dropzone/Dropzone.tsx
  packages/draggable/src/elements/dropzone/components/Icon.tsx
  packages/draggable/src/styled/draggable-list/StyledDraggableList.ts
  packages/draggable/src/styled/draggable-list/StyledDropIndicator.ts
  packages/draggable/src/styled/draggable-list/StyledItem.ts
  packages/draggable/src/styled/draggable/StyledDraggable.spec.tsx
  packages/draggable/src/styled/draggable/StyledDraggable.ts
  packages/draggable/src/styled/dropzone/StyledDropzone.ts
  packages/draggable/src/styled/dropzone/StyledIcon.spec.tsx
  packages/draggable/src/styled/dropzone/StyledIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test: add stories specs for buttons, dropdown.legacy, forms
  eslint.config.mjs
  packages/buttons/demo/stories/ButtonStory.spec.tsx
  packages/buttons/demo/stories/SplitButtonStory.spec.tsx
  packages/buttons/demo/stories/__snapshots__/ButtonStory.spec.tsx.snap
  packages/buttons/demo/stories/__snapshots__/SplitButtonStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/AutocompleteStory.spec.tsx
  packages/dropdowns.legacy/demo/stories/ComboboxStory.spec.tsx
  packages/dropdowns.legacy/demo/stories/MenuStory.spec.tsx
  packages/dropdowns.legacy/demo/stories/MultiSelectStory.spec.tsx
  packages/dropdowns.legacy/demo/stories/__snapshots__/AutocompleteStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/ComboboxStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/MenuStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/MultiSelectStory.spec.tsx.snap
  packages/forms/demo/stories/CheckboxStory.spec.tsx
  packages/forms/demo/stories/FauxInputStory.spec.tsx
  packages/forms/demo/stories/FileListStory.spec.tsx
  packages/forms/demo/stories/InputGroupStory.spec.tsx
  packages/forms/demo/stories/InputStory.spec.tsx
  packages/forms/demo/stories/MediaInputStory.spec.tsx
  packages/forms/demo/stories/RadioStory.spec.tsx
  packages/forms/demo/stories/SelectStory.spec.tsx
  packages/forms/demo/stories/TextareaStory.spec.tsx
  packages/forms/demo/stories/TilesStory.spec.tsx
  packages/forms/demo/stories/ToggleStory.spec.tsx
  packages/forms/demo/stories/__snapshots__/CheckboxStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/FauxInputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/FileListStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/InputGroupStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/InputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/MediaInputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/RadioStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/SelectStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/TextareaStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/TilesStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/ToggleStory.spec.tsx.snap
  utils/test/jest.config.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test: add stories specs for dropdowns
  packages/dropdowns/demo/stories/ComboboxStory.spec.tsx
  packages/dropdowns/demo/stories/MenuStory.spec.tsx
  packages/dropdowns/demo/stories/__snapshots__/ComboboxStory.spec.tsx.snap
  packages/dropdowns/demo/stories/__snapshots__/MenuStory.spec.tsx.snap
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test: add stories specs for typography, draggable, modals
  packages/draggable/demo/stories/DraggableStory.spec.tsx
  packages/draggable/demo/stories/DropzoneStory.spec.tsx
  packages/draggable/demo/stories/__snapshots__/DraggableStory.spec.tsx.snap
  packages/draggable/demo/stories/__snapshots__/DropzoneStory.spec.tsx.snap
  packages/modals/demo/stories/DrawerStory.spec.tsx
  packages/modals/demo/stories/ModalStory.spec.tsx
  packages/modals/demo/stories/TooltipDialogStory.spec.tsx
  packages/modals/demo/stories/__snapshots__/DrawerStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/ModalStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/TooltipDialogStory.spec.tsx.snap
  packages/typography/demo/stories/TypescaleStory.spec.tsx
  packages/typography/demo/stories/__snapshots__/TypescaleStory.spec.tsx.snap
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test: update shots
  packages/buttons/demo/stories/__snapshots__/ButtonStory.spec.tsx.snap
  packages/buttons/demo/stories/__snapshots__/SplitButtonStory.spec.tsx.snap
  packages/draggable/demo/stories/__snapshots__/DraggableStory.spec.tsx.snap
  packages/draggable/demo/stories/__snapshots__/DropzoneStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/AutocompleteStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/ComboboxStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/MenuStory.spec.tsx.snap
  packages/dropdowns.legacy/demo/stories/__snapshots__/MultiSelectStory.spec.tsx.snap
  packages/dropdowns/demo/stories/__snapshots__/ComboboxStory.spec.tsx.snap
  packages/dropdowns/demo/stories/__snapshots__/MenuStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/CheckboxStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/FauxInputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/FileListStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/InputGroupStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/InputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/MediaInputStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/RadioStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/SelectStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/TextareaStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/TilesStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/ToggleStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/DrawerStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/ModalStory.spec.tsx.snap
  packages/modals/demo/stories/__snapshots__/TooltipDialogStory.spec.tsx.snap
  packages/typography/demo/stories/__snapshots__/TypescaleStory.spec.tsx.snap
Due: none

deps: point to correct `react-theming` peerDependency (#1965)
  package-lock.json
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/draggable/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

Harden `getColor` memoization key generation
  packages/theming/src/utils/getColor.spec.ts
  packages/theming/src/utils/getColor.ts
  packages/theming/src/utils/getColorV8.spec.ts
  packages/theming/src/utils/getColorV8.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Add missing combobox `Option` value migration documentation
  docs/migration.md
Due: none

fix(theming): harden `getColor` memoization key generation (#1966)
  docs/migration.md
  packages/theming/src/utils/getColor.spec.ts
  packages/theming/src/utils/getColor.ts
  packages/theming/src/utils/getColorV8.spec.ts
  packages/theming/src/utils/getColorV8.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/draggable/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.1.1 [skip ci]
  CHANGELOG.md
Due: none

test(MenuStory): update snapshot to account for bug fix
  packages/dropdowns/demo/stories/__snapshots__/MenuStory.spec.tsx.snap
Due: none

refactor(tooltips): use transient props
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/styled/StyledTooltip.ts
  packages/tooltips/src/styled/StyledTooltipWrapper.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(loaders): use transient props
  packages/loaders/src/elements/Dots.tsx
  packages/loaders/src/elements/Inline.tsx
  packages/loaders/src/elements/Progress.tsx
  packages/loaders/src/elements/Spinner.tsx
  packages/loaders/src/styled/StyledDots.ts
  packages/loaders/src/styled/StyledInline.ts
  packages/loaders/src/styled/StyledProgress.ts
  packages/loaders/src/styled/StyledSVG.spec.tsx
  packages/loaders/src/styled/StyledSVG.ts
  packages/loaders/src/styled/StyledSpinnerCircle.spec.tsx
  packages/loaders/src/styled/StyledSpinnerCircle.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(colorpickers): use transient props
  packages/colorpickers/src/elements/ColorPicker/ColorWell.tsx
  packages/colorpickers/src/styled/ColorPicker/StyledColorWellThumb.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(grid): use transient props
  packages/grid/src/elements/Col.tsx
  packages/grid/src/elements/Row.tsx
  packages/grid/src/elements/pane/components/Splitter.tsx
  packages/grid/src/elements/pane/components/SplitterButton.tsx
  packages/grid/src/styled/StyledCol.spec.tsx
  packages/grid/src/styled/StyledCol.ts
  packages/grid/src/styled/StyledRow.spec.tsx
  packages/grid/src/styled/StyledRow.ts
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
  packages/grid/src/styled/pane/StyledPaneSplitterButtonContainer.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test: update stories snapshots w invalid attrs removed
  packages/colorpickers/demo/stories/__snapshots__/ColorSwatchDialogStory.spec.tsx.snap
  packages/forms/demo/stories/__snapshots__/FileListStory.spec.tsx.snap
  packages/grid/demo/stories/__snapshots__/PaneProviderStory.spec.tsx.snap
  packages/tooltips/demo/stories/__snapshots__/TooltipStory.spec.tsx.snap
Due: none

chore: remove unused import
  packages/draggable/demo/stories/DropzoneStory.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(grid): use `auto` tooltip positioning for `Pane.SplitterButton`
  packages/grid/src/elements/pane/components/SplitterButton.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test: add Tags stories specs
  packages/tags/demo/stories/TagStory.spec.tsx
  packages/tags/demo/stories/__snapshots__/TagStory.spec.tsx.snap
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(tags): use transient props
  packages/tags/src/elements/Tag.tsx
  packages/tags/src/styled/StyledTag.spec.tsx
  packages/tags/src/styled/StyledTag.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: convert to transient props, remove invalid DOM attrs
  packages/avatars/src/elements/Avatar.tsx
  packages/dropdowns.legacy/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns.legacy/src/elements/Multiselect/Multiselect.tsx
  packages/dropdowns.legacy/src/elements/Select/Select.tsx
  packages/dropdowns.legacy/src/elements/Trigger/Trigger.tsx
  packages/dropdowns.legacy/src/styled/multiselect/StyledMultiselectInput.ts
  packages/dropdowns.legacy/src/styled/select/StyledInput.ts
  packages/dropdowns/src/elements/combobox/Option.tsx
  packages/forms/src/elements/common/Message.tsx
  packages/grid/src/elements/Grid.tsx
  packages/grid/src/styled/StyledGrid.ts
  packages/loaders/src/elements/Inline.tsx
  packages/loaders/src/elements/Spinner.tsx
  packages/loaders/src/styled/StyledInline.ts
  packages/loaders/src/styled/StyledSVG.ts
  packages/modals/src/elements/Footer.tsx
  packages/modals/src/styled/StyledFooter.spec.tsx
  packages/modals/src/styled/StyledFooter.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: use correct syntax for nested selector (v6 prep)
  packages/.template/src/styled/Styled{{capitalize component}}.ts
  packages/chrome/src/styled/body/StyledMain.tsx
  packages/datepickers/src/styled/StyledHeaderPaddle.ts
  packages/dropdowns.legacy/src/styled/multiselect/StyledMultiselectMoreAnchor.ts
  packages/pagination/src/styled/OffsetPagination/StyledList.ts
  packages/pagination/src/styled/OffsetPagination/StyledPageBase.ts
  packages/theming/src/utils/focusStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(notifications toasts): use transient props
  packages/notifications/src/elements/toaster/ToastProvider.spec.tsx
  packages/notifications/src/elements/toaster/ToastSlot.tsx
  packages/notifications/src/elements/toaster/styled.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: remove unused isCompact logic
  packages/dropdowns.legacy/src/elements/Menu/Items/HeaderIcon.tsx
  packages/dropdowns.legacy/src/styled/items/header/StyledHeaderIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: typo
  packages/colorpickers/src/styled/ColorPicker/StyledHexField.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: correct syntax for nested selectors
  packages/theming/src/utils/menuStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test: update snapshot showing correct spellcheck attr
  packages/colorpickers/demo/stories/__snapshots__/ColorPickerDialogStory.spec.tsx.snap
Due: none

fix: pass correct props
  packages/grid/src/styled/StyledGrid.spec.tsx
  packages/loaders/src/elements/Dots.tsx
  packages/loaders/src/styled/StyledSVG.spec.tsx
  packages/tables/src/elements/SortableCell.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write
