Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Update size snapshots
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/pagination/.size-snapshot.json
Due: none

Update to use svg-icons
  packages/forms/src/styled/radio/StyledRadioSvg.ts
  packages/forms/src/styled/radio/icon.svg
  packages/forms/src/styled/toggle/StyledToggleSvg.ts
  packages/forms/src/styled/toggle/icon.svg
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/forms/.size-snapshot.json
Due: none

fix(theming): upgrade polished and remove deprecated stripUnit usages
  packages/.template/package.json
  packages/accordions/package.json
  packages/accordions/yarn.lock
  packages/avatars/package.json
  packages/avatars/yarn.lock
  packages/breadcrumbs/package.json
  packages/breadcrumbs/yarn.lock
  packages/buttons/package.json
  packages/buttons/yarn.lock
  packages/chrome/package.json
  packages/chrome/yarn.lock
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
  packages/forms/package.json
  packages/forms/yarn.lock
  packages/grid/package.json
  packages/grid/yarn.lock
  packages/loaders/package.json
  packages/loaders/yarn.lock
  packages/pagination/package.json
  packages/pagination/yarn.lock
  packages/tables/package.json
  packages/tables/yarn.lock
  packages/tabs/package.json
  packages/tabs/yarn.lock
  packages/tags/package.json
  packages/tags/yarn.lock
  packages/theming/.size-snapshot.json
  packages/theming/package.json
  packages/theming/src/utils/getLineHeight.ts
  packages/theming/yarn.lock
  packages/tooltips/package.json
  packages/tooltips/yarn.lock
  packages/typography/package.json
  packages/typography/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(buttons): allow custom Button type
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.spec.tsx
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(tooltips): ensure updated content triggers new position
  packages/tooltips/.size-snapshot.json
  packages/tooltips/src/elements/Tooltip.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(buttons): allow custom Button type (#696)
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.spec.tsx
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(tooltips): ensure updated content triggers new position (#697)
  packages/tooltips/.size-snapshot.json
  packages/tooltips/src/elements/Tooltip.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

dots description
  packages/loaders/src/elements/Dots.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(theming): upgrade polished and remove deprecated stripUnit usages (#694)
  packages/.template/package.json
  packages/accordions/package.json
  packages/accordions/yarn.lock
  packages/avatars/package.json
  packages/avatars/yarn.lock
  packages/breadcrumbs/package.json
  packages/breadcrumbs/yarn.lock
  packages/buttons/package.json
  packages/buttons/yarn.lock
  packages/chrome/package.json
  packages/chrome/yarn.lock
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
  packages/forms/package.json
  packages/forms/yarn.lock
  packages/grid/package.json
  packages/grid/yarn.lock
  packages/loaders/package.json
  packages/loaders/yarn.lock
  packages/pagination/package.json
  packages/pagination/yarn.lock
  packages/tables/package.json
  packages/tables/yarn.lock
  packages/tabs/package.json
  packages/tabs/yarn.lock
  packages/tags/package.json
  packages/tags/yarn.lock
  packages/theming/.size-snapshot.json
  packages/theming/package.json
  packages/theming/src/utils/getLineHeight.ts
  packages/theming/yarn.lock
  packages/tooltips/package.json
  packages/tooltips/yarn.lock
  packages/typography/package.json
  packages/typography/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update dependency prettier to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency rollup-plugin-license to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

Apply new prettier formatting to files
  .prettierrc
  packages/accordions/src/styled/stepper/StyledIcon.ts
  packages/avatars/src/styled/StyledAvatar.ts
  packages/breadcrumbs/src/styled/StyledBreadcrumbItem.ts
  packages/buttons/src/elements/Anchor.tsx
  packages/buttons/src/elements/Button.tsx
  packages/buttons/src/elements/ChevronButton.tsx
  packages/buttons/src/elements/IconButton.tsx
  packages/datepickers/src/styled/StyledDay.ts
  packages/dropdowns/examples/autocomplete.md
  packages/dropdowns/examples/multiselect.md
  packages/dropdowns/src/styled/items/StyledItem.ts
  packages/modals/src/styled/StyledFooter.ts
  packages/theming/src/utils/arrowStyles.example.md
  packages/theming/src/utils/arrowStyles.ts
  packages/typography/src/elements/Code.tsx
  packages/typography/src/elements/Ellipsis.tsx
  packages/typography/src/elements/LG.tsx
  packages/typography/src/elements/MD.tsx
  packages/typography/src/elements/SM.tsx
  packages/typography/src/elements/XL.tsx
  packages/typography/src/elements/XXL.tsx
  packages/typography/src/elements/XXXL.tsx
  packages/typography/src/elements/lists/OrderedListItem.tsx
  packages/typography/src/elements/lists/UnorderedListItem.tsx
  packages/utilities/src/utils/hasType.js
  packages/utilities/src/utils/requiredParam.js
  utils/scripts/scoped-npm-command.js
  utils/test/garden-test-utils.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(deps): update dependency react-popper to v2
  packages/datepickers/package.json
  packages/datepickers/yarn.lock
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
  packages/tooltips/package.json
  packages/tooltips/yarn.lock
Due: prettier-package-json --write

feat(all): add styled-components v5 as valid peer dependency
  examples/codesandbox/package.json
  examples/codesandbox/yarn.lock
  examples/gatsby/package.json
  examples/gatsby/yarn.lock
  packages/.template/package.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(deps): update dependency fs-extra to v9
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency chalk to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency commander to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-loader to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-plugin-react-hooks to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency html-loader to v1
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(deps): update dependency @zendeskgarden/container-accordion to v1
  packages/chrome/package.json
  packages/chrome/yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  packages/accordions/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies (#715) [skip ci]
  package.json
  packages/accordions/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/loaders/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tags/.size-snapshot.json
  packages/theming/.size-snapshot.json
  yarn.lock
Due: prettier-package-json --write

chore(renovate): allow open ranges for dev dependencies
  renovate.json
Due: none

fix(accordions): update maxHeight when content scrollHeight changes
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/accordions/src/elements/stepper/components/Content.tsx
  packages/accordions/src/styled/stepper/StyledInnerContent.tsx
  packages/accordions/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(loaders): update Dots API descriptions (#699)
  packages/loaders/src/elements/Dots.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write
