Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/draggable/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.3.0 [skip ci]
  CHANGELOG.md
Due: none

Revert API doc formatting
  docs/api.md
Due: none

Update JS doc
  packages/theming/src/utils/componentStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(Combobox): hide Listbox from NVDA when collapsed to avoid incomplete announcements
  packages/dropdowns/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns/src/elements/combobox/Listbox.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Address TS feedback from @ze-flo
  packages/theming/src/utils/componentStyles.ts
  packages/theming/src/utils/retrieveComponentStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

style: inline the comment
  packages/dropdowns/src/elements/combobox/Listbox.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming): add `componentStyles` utility (#1986)
  docs/api.md
  packages/theming/src/index.ts
  packages/theming/src/utils/componentStyles.spec.ts
  packages/theming/src/utils/componentStyles.ts
  packages/theming/src/utils/retrieveComponentStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(Combobox): hide Listbox from NVDA when collapsed to avoid incomplete announcements
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Allow `data-garden-id` from wrapped component
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Rollback package-lock
  package-lock.json
Due: none

fix(Combobox): improve screen reader experience for Select-Only combobox w NVDA (#1987)
  packages/dropdowns/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns/src/elements/combobox/Listbox.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(Combobox): improve screen reader experience for Select-Only combobox w NVDA (#1988)
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v9.4.0 [skip ci]
  CHANGELOG.md
Due: none

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.76.9 [skip ci]
  CHANGELOG.md
Due: none

feat(theming): add `initialColorScheme` to `ThemeProvider` to configure a color scheme provider
  packages/theming/demo/utilities.stories.mdx
  packages/theming/src/elements/ColorSchemeProvider.tsx
  packages/theming/src/elements/ThemeProvider.tsx
  packages/theming/src/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/useColorScheme.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Apply background/foreground colors whether or not CSS bedrock is linked
  .storybook/preview.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: set dist tag to `v8` instead of `latest` (default)
  lerna.json
Due: none

chore: add package preDistTag for consistency
  lerna.json
Due: none

Fill out `ThemeProvider` storybook demo
  packages/theming/demo/stories/ThemeProviderStory.tsx
  packages/theming/demo/themeProvider.stories.mdx
  packages/theming/demo/utilities.stories.mdx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Add unit tests
  packages/theming/demo/stories/ThemeProviderStory.tsx
  packages/theming/src/elements/ThemeProvider.tsx
  packages/theming/src/utils/useColorScheme.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(v8 branch): set `dist-tag` to `v8` (#1990)
  lerna.json
Due: none

Fix lint errors
  packages/colorpickers/src/elements/ColorPicker/ColorWell.tsx
  packages/colorpickers/src/elements/ColorSwatch/index.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix @dnd-kit
  package-lock.json
  packages/draggable/demo/~patterns/stories/components.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix lint errors
  packages/avatars/src/elements/Avatar.tsx
  packages/avatars/src/elements/StatusIndicator.tsx
  packages/draggable/demo/~patterns/stories/DragAndDropStory.tsx
  packages/dropdowns/demo/stories/ComboboxStory.tsx
  packages/forms/src/elements/common/Hint.tsx
  packages/notifications/src/elements/Notification.tsx
  packages/tables/src/elements/SortableCell.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Restructure to expose `ColorSchemeProvider` for consumer use
  packages/theming/demo/colorSchemeProvider.stories.mdx
  packages/theming/demo/stories/ColorSchemeProviderStory.tsx
  packages/theming/demo/stories/ThemeProviderStory.tsx
  packages/theming/demo/themeProvider.stories.mdx
  packages/theming/src/elements/ColorSchemeProvider.tsx
  packages/theming/src/elements/ThemeProvider.tsx
  packages/theming/src/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/useColorScheme.spec.tsx
  packages/theming/src/utils/useColorScheme.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update README
  packages/theming/README.md
Due: none

Update prop description
  packages/theming/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming): add `ColorSchemeProvider` (#1991)
  .storybook/preview.js
  packages/theming/README.md
  packages/theming/demo/colorSchemeProvider.stories.mdx
  packages/theming/demo/stories/ColorSchemeProviderStory.tsx
  packages/theming/demo/themeProvider.stories.mdx
  packages/theming/demo/utilities.stories.mdx
  packages/theming/src/elements/ColorSchemeProvider.tsx
  packages/theming/src/index.ts
  packages/theming/src/types/index.ts
  packages/theming/src/utils/useColorScheme.spec.tsx
  packages/theming/src/utils/useColorScheme.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(theming): return hex from generated `getColor` values
  packages/theming/src/utils/getColor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Enhance `getColor` storybook demo with generated hue info
  packages/theming/demo/stories/GetColorStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Refine story with generated hue only when color is not in the theme
  packages/theming/demo/stories/GetColorStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Formatting
  packages/theming/demo/stories/GetColorStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Optimization
  packages/theming/demo/stories/GetColorStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v9.5.0 [skip ci]
  CHANGELOG.md
Due: none

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
