Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Use controlled usage to drive advanced accordion example
  packages/accordions/examples/advanced.md
Due: none

Address review feedback
  packages/accordions/.size-snapshot.json
  packages/accordions/examples/advanced.md
  packages/accordions/examples/basic.md
  packages/accordions/package.json
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/elements/accordion/components/Label.tsx
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/index.ts
  packages/accordions/src/styled/accordion/StyledAccordion.ts
  packages/accordions/src/styled/accordion/StyledButton.spec.tsx
  packages/accordions/src/styled/accordion/StyledButton.ts
  packages/accordions/src/styled/accordion/StyledHeader.spec.tsx
  packages/accordions/src/styled/accordion/StyledHeader.ts
  packages/accordions/src/styled/accordion/StyledInnerPanel.ts
  packages/accordions/src/styled/accordion/StyledPanel.ts
  packages/accordions/src/styled/accordion/StyledRotateIcon.ts
  packages/accordions/src/utils/useAccordionContext.ts
  packages/accordions/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(accordions): add new accordion component
  packages/accordions/.size-snapshot.json
  packages/accordions/README.md
  packages/accordions/examples/advanced.md
  packages/accordions/examples/basic.md
  packages/accordions/package.json
  packages/accordions/src/elements/accordion/Accordion.spec.tsx
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/src/elements/accordion/components/Header.spec.tsx
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/elements/accordion/components/Label.spec.tsx
  packages/accordions/src/elements/accordion/components/Label.tsx
  packages/accordions/src/elements/accordion/components/Panel.spec.tsx
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/elements/accordion/components/Section.spec.tsx
  packages/accordions/src/elements/accordion/components/Section.tsx
  packages/accordions/src/styled/accordion/StyledAccordion.ts
  packages/accordions/src/styled/accordion/StyledButton.spec.tsx
  packages/accordions/src/styled/accordion/StyledButton.ts
  packages/accordions/src/styled/accordion/StyledHeader.spec.tsx
  packages/accordions/src/styled/accordion/StyledHeader.ts
  packages/accordions/src/styled/accordion/StyledInnerPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledInnerPanel.ts
  packages/accordions/src/styled/accordion/StyledPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledPanel.ts
  packages/accordions/src/styled/accordion/StyledRotateIcon.spec.tsx
  packages/accordions/src/styled/accordion/StyledRotateIcon.ts
  packages/accordions/src/styled/accordion/StyledSection.ts
  packages/accordions/src/styled/index.ts
  packages/accordions/src/utils/index.ts
  packages/accordions/src/utils/useAccordionContext.spec.tsx
  packages/accordions/src/utils/useAccordionContext.ts
  packages/accordions/src/utils/useHeaderContext.spec.tsx
  packages/accordions/src/utils/useHeaderContext.ts
  packages/accordions/src/utils/useSectionContext.spec.tsx
  packages/accordions/src/utils/useSectionContext.ts
  packages/accordions/styleguide.config.js
  packages/accordions/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

More feedback addressed
  packages/accordions/.size-snapshot.json
  packages/accordions/examples/advanced.md
  packages/accordions/package.json
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/styled/accordion/StyledAccordion.ts
  packages/accordions/src/styled/accordion/StyledButton.ts
  packages/accordions/src/styled/accordion/StyledInnerPanel.ts
  packages/accordions/src/styled/accordion/StyledPanel.ts
  packages/accordions/src/styled/accordion/StyledRotateIcon.ts
  packages/accordions/src/styled/accordion/StyledSection.ts
  packages/accordions/src/utils/useAccordionContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Add line-height to compensate for zero font-size on hidden labels
  packages/forms/src/styled/radio/StyledRadioLabel.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Optimize calculations by not using `math` function
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/toggle/StyledToggleLabel.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add test
  packages/forms/src/styled/radio/StyledRadioLabel.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Restore transition to close button focus & hover styles
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/content/StyledClose.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(notifications): restore transition to close button focus & hover styles (#730)
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/content/StyledClose.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(forms): retain line height for hidden radio/checkbox/toggle labels (#729)
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/radio/StyledRadioLabel.spec.tsx
  packages/forms/src/styled/radio/StyledRadioLabel.ts
  packages/forms/src/styled/toggle/StyledToggleLabel.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(accordions): add new accordion component (#725)
  packages/accordions/.size-snapshot.json
  packages/accordions/README.md
  packages/accordions/examples/advanced.md
  packages/accordions/examples/basic.md
  packages/accordions/package.json
  packages/accordions/src/elements/accordion/Accordion.spec.tsx
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/src/elements/accordion/components/Header.spec.tsx
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/elements/accordion/components/Label.spec.tsx
  packages/accordions/src/elements/accordion/components/Label.tsx
  packages/accordions/src/elements/accordion/components/Panel.spec.tsx
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/elements/accordion/components/Section.spec.tsx
  packages/accordions/src/elements/accordion/components/Section.tsx
  packages/accordions/src/index.ts
  packages/accordions/src/styled/accordion/StyledAccordion.ts
  packages/accordions/src/styled/accordion/StyledButton.spec.tsx
  packages/accordions/src/styled/accordion/StyledButton.ts
  packages/accordions/src/styled/accordion/StyledHeader.spec.tsx
  packages/accordions/src/styled/accordion/StyledHeader.ts
  packages/accordions/src/styled/accordion/StyledInnerPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledInnerPanel.ts
  packages/accordions/src/styled/accordion/StyledPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledPanel.ts
  packages/accordions/src/styled/accordion/StyledRotateIcon.spec.tsx
  packages/accordions/src/styled/accordion/StyledRotateIcon.ts
  packages/accordions/src/styled/accordion/StyledSection.ts
  packages/accordions/src/styled/index.ts
  packages/accordions/src/utils/index.ts
  packages/accordions/src/utils/useAccordionContext.spec.tsx
  packages/accordions/src/utils/useAccordionContext.ts
  packages/accordions/src/utils/useHeaderContext.spec.tsx
  packages/accordions/src/utils/useHeaderContext.ts
  packages/accordions/src/utils/useSectionContext.spec.tsx
  packages/accordions/src/utils/useSectionContext.ts
  packages/accordions/styleguide.config.js
  packages/accordions/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.7.0 [skip ci]
  CHANGELOG.md
Due: none

Ensure `version` commit hits CI, triggering npm publish
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add comment
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Realign with GH "Labels" UI
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(scripts): ensure version commit hits CI, triggering npm publish (#731)
  .github/PULL_REQUEST_TEMPLATE.md
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(dropdowns): add start slot to autocomplete and select components (#728)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/examples/field-variants.md
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.spec.tsx
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.tsx
  packages/dropdowns/src/elements/Select/Select.spec.tsx
  packages/dropdowns/src/elements/Select/Select.tsx
  packages/dropdowns/src/styled/field/StyledSelect.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(forms/dropdowns): improve start icon sizing
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.spec.tsx
  packages/dropdowns/src/elements/Select/Select.spec.tsx
  packages/dropdowns/src/styled/field/SelectWrapper.tsx
  packages/dropdowns/src/styled/field/StyledSelect.ts
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/styled/text/StyledTextInput.ts
  packages/forms/src/styled/text/StyledTextMediaFigure.spec.tsx
  packages/forms/src/styled/text/StyledTextMediaFigure.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix linting
  packages/dropdowns/src/elements/Select/Select.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(breadcrumbs): change chevron color from black to grey-600
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/src/styled/StyledChevronIcon.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(breadcrumbs): change chevron color from black to grey-600 (#735)
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/src/styled/StyledChevronIcon.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

update forms math() usage
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update deploy context
  .circleci/config.yml
Due: none

Improve deploy error handling
  package.json
  utils/scripts/deploy.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update figure margin
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(forms/dropdowns): improve start icon sizing (#733)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Autocomplete/Autocomplete.spec.tsx
  packages/dropdowns/src/elements/Select/Select.spec.tsx
  packages/dropdowns/src/styled/field/SelectWrapper.tsx
  packages/dropdowns/src/styled/field/StyledSelect.ts
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/styled/text/StyledTextInput.ts
  packages/forms/src/styled/text/StyledTextMediaFigure.spec.tsx
  packages/forms/src/styled/text/StyledTextMediaFigure.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Improve tag master branch default
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.8.0 [skip ci]
  CHANGELOG.md
Due: none

Fix changelog handling
  utils/scripts/tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore: deploy script improvements and fixes (#736)
  .circleci/config.yml
  package.json
  utils/scripts/deploy.js
  utils/scripts/tag.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write
