Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

feat(tooltips): add fallbackPlacements support to Tooltips
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

docs: update Tooltip + TooltipModal story with fallbackPlacements
  packages/modals/demo/stories/TooltipDialogStory.tsx
  packages/modals/demo/tooltipDialog.stories.mdx
  packages/tooltips/demo/stories/TooltipStory.tsx
  packages/tooltips/demo/tooltip.stories.mdx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(modals, tooltips): adds `fallbackPlacements` support to `Tooltip` and `TooltipModal` (#2020)
  packages/modals/demo/stories/TooltipDialogStory.tsx
  packages/modals/demo/tooltipDialog.stories.mdx
  packages/modals/src/elements/TooltipDialog/TooltipDialog.tsx
  packages/modals/src/types/index.ts
  packages/tooltips/demo/stories/TooltipStory.tsx
  packages/tooltips/demo/tooltip.stories.mdx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

deps(dropdowns): upgrade to @zendeskgarden/container-menu@1.0.0
  package-lock.json
  packages/dropdowns/package.json
Due: prettier-package-json --write

chore: PR feedback
  package-lock.json
  packages/dropdowns/package.json
  packages/dropdowns/src/views/menu/StyledItemAnchor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

feat(dropdowns): add navigation link support to Menu's `Item` component (#2021)
  package-lock.json
  packages/dropdowns/demo/stories/data.ts
  packages/dropdowns/package.json
  packages/dropdowns/src/context/useMenuContext.ts
  packages/dropdowns/src/elements/menu/Item.tsx
  packages/dropdowns/src/elements/menu/Menu.spec.tsx
  packages/dropdowns/src/elements/menu/Menu.tsx
  packages/dropdowns/src/elements/menu/utils.ts
  packages/dropdowns/src/types/index.ts
  packages/dropdowns/src/views/index.ts
  packages/dropdowns/src/views/menu/StyledItemAnchor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/draggable/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.7.0 [skip ci]
  CHANGELOG.md
Due: none

fix(avatars): add parent reference to restore status box-shadow
  packages/avatars/src/styled/StyledAvatar.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(avatars): accessible status rendering
  package-lock.json
  packages/avatars/package.json
  packages/avatars/src/elements/Avatar.spec.tsx
  packages/avatars/src/elements/Avatar.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Restore badge
  packages/avatars/src/elements/Avatar.spec.tsx
  packages/avatars/src/elements/Avatar.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Sort imports
  packages/avatars/src/elements/Avatar.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Restore `data-icon-status`
  packages/avatars/src/elements/Avatar.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(avatars): status ring styling and accessibility (#2022)
  package-lock.json
  packages/avatars/package.json
  packages/avatars/src/elements/Avatar.spec.tsx
  packages/avatars/src/elements/Avatar.tsx
  packages/avatars/src/styled/StyledAvatar.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

Add tooltip + menu pattern story
  packages/tooltips/demo/~patterns/patterns.stories.mdx
  packages/tooltips/demo/~patterns/stories/MenuStory.tsx
  packages/tooltips/package.json
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(tooltips): update @zendeskgarden/container-tooltip to v2.0.0
  package-lock.json
  packages/tooltips/package.json
  packages/tooltips/src/elements/Tooltip.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(tooltips): add Menu pattern story
  packages/tooltips/demo/~patterns/patterns.stories.mdx
  packages/tooltips/demo/~patterns/stories/MenuStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix types
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/styled/StyledTooltip.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(tooltips): prevent `Tooltip` from interfering with a popup (menu, dialog, etc.) trigger (#2023)
  package-lock.json
  packages/tooltips/demo/~patterns/patterns.stories.mdx
  packages/tooltips/demo/~patterns/stories/MenuStory.tsx
  packages/tooltips/package.json
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/styled/StyledTooltip.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(changelog): add v9.7.1 [skip ci]
  CHANGELOG.md
Due: none

wip dots delay fix
  packages/loaders/src/elements/Dots.tsx
  packages/loaders/src/styled/StyledDots.ts
  packages/loaders/src/utils/animations.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(dropdowns): update `useCombobox` container with improved cache coordination
  package-lock.json
  packages/dropdowns/package.json
Due: prettier-package-json --write

fix(dropdowns): update `useCombobox` container with improved cache coordination (#2029)
  package-lock.json
  packages/dropdowns/package.json
Due: prettier-package-json --write

fix(notifications): update `GlobalAlert` box-shadow to inset
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(notifications): update `GlobalAlert` box-shadow to inset (#2030)
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v9.7.2 [skip ci]
  CHANGELOG.md
Due: none

feat(avatars): allow `null` aria-label on `StatusIndicator` to mark as decorative
  packages/avatars/demo/~patterns/stories/StatusMenuStory.tsx
  packages/avatars/src/elements/StatusIndicator.spec.tsx
  packages/avatars/src/elements/StatusIndicator.tsx
  packages/avatars/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming): allow `null` color scheme key to bypass `ColorSchemeProvider` local storage
  packages/theming/demo/stories/ColorSchemeProviderStory.tsx
  packages/theming/src/elements/ColorSchemeProvider.tsx
  packages/theming/src/types/index.ts
  packages/theming/src/utils/useColorScheme.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(theming): allow `null` color scheme key to bypass `ColorSchemeProvider` local storage (#2032)
  packages/theming/demo/stories/ColorSchemeProviderStory.tsx
  packages/theming/src/elements/ColorSchemeProvider.tsx
  packages/theming/src/types/index.ts
  packages/theming/src/utils/useColorScheme.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(avatars): update visibility logic and icon size in `sizeStyles`
  packages/avatars/src/styled/StyledStatusIndicator.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(avatars): update sizeStyles to prevent arrowhead cutoff and adjust positioning
  packages/avatars/src/styled/StyledStatusIndicatorBase.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(avatars): adjust inset-inline-start for 'extrasmall' size in sizeStyles
  package-lock.json
  packages/avatars/src/styled/StyledStatusIndicatorBase.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(avatars): allow `null` aria-label on `StatusIndicator` to mark as decorative (#2031)
  package-lock.json
  packages/avatars/demo/~patterns/stories/StatusMenuStory.tsx
  packages/avatars/src/elements/StatusIndicator.spec.tsx
  packages/avatars/src/elements/StatusIndicator.tsx
  packages/avatars/src/styled/StyledStatusIndicator.ts
  packages/avatars/src/styled/StyledStatusIndicatorBase.ts
  packages/avatars/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v9.8.0 [skip ci]
  CHANGELOG.md
Due: none

feat(dots): update to use pure CSS animation
  packages/loaders/src/elements/Dots.spec.tsx
  packages/loaders/src/elements/Dots.tsx
  packages/loaders/src/styled/StyledDots.ts
  packages/loaders/src/styled/StyledSVG.ts
  packages/loaders/src/utils/animations.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix: changed StyledModal's max-height, when viewport max-height is less than 400px
  packages/modals/src/styled/StyledModal.spec.tsx
  packages/modals/src/styled/StyledModal.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(loaders): update `Dots` to use pure CSS animation (#2033)
  packages/loaders/src/elements/Dots.spec.tsx
  packages/loaders/src/elements/Dots.tsx
  packages/loaders/src/styled/StyledDots.ts
  packages/loaders/src/styled/StyledSVG.ts
  packages/loaders/src/utils/animations.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
