Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

docs(accordions): refine prop description
  packages/accordions/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: code review changes
  packages/avatars/src/elements/Avatar.spec.tsx
  packages/avatars/src/styled/StyledAvatar.spec.tsx
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
  packages/avatars/src/styled/StyledStatusIndicator.spec.tsx
  packages/avatars/src/styled/utility.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(accordions): new light/dark mode colors (#1850)
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/elements/accordion/components/Label.tsx
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/elements/stepper/Stepper.tsx
  packages/accordions/src/elements/stepper/components/Content.tsx
  packages/accordions/src/elements/stepper/components/Label.tsx
  packages/accordions/src/elements/stepper/components/Step.tsx
  packages/accordions/src/elements/timeline/components/Item.tsx
  packages/accordions/src/styled/accordion/StyledButton.spec.tsx
  packages/accordions/src/styled/accordion/StyledButton.ts
  packages/accordions/src/styled/accordion/StyledHeader.ts
  packages/accordions/src/styled/accordion/StyledInnerPanel.ts
  packages/accordions/src/styled/accordion/StyledPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledPanel.ts
  packages/accordions/src/styled/accordion/StyledRotateIcon.spec.tsx
  packages/accordions/src/styled/accordion/StyledRotateIcon.ts
  packages/accordions/src/styled/stepper/StyledContent.ts
  packages/accordions/src/styled/stepper/StyledIcon.spec.tsx
  packages/accordions/src/styled/stepper/StyledIcon.ts
  packages/accordions/src/styled/stepper/StyledInnerContent.ts
  packages/accordions/src/styled/stepper/StyledLabel.spec.tsx
  packages/accordions/src/styled/stepper/StyledLabel.ts
  packages/accordions/src/styled/stepper/StyledLabelText.spec.tsx
  packages/accordions/src/styled/stepper/StyledLabelText.ts
  packages/accordions/src/styled/stepper/StyledLine.ts
  packages/accordions/src/styled/stepper/StyledStep.spec.tsx
  packages/accordions/src/styled/stepper/StyledStep.ts
  packages/accordions/src/styled/stepper/StyledStepper.spec.tsx
  packages/accordions/src/styled/stepper/StyledStepper.ts
  packages/accordions/src/styled/timeline/StyledItem.spec.tsx
  packages/accordions/src/styled/timeline/StyledItem.ts
  packages/accordions/src/styled/timeline/StyledItemIcon.ts
  packages/accordions/src/styled/timeline/StyledSeparator.ts
  packages/accordions/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: code review
  packages/avatars/src/styled/StyledStatusIndicator.ts
  packages/avatars/src/styled/StyledStatusIndicatorBase.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

deps: bump @zendeskgarden/scripts
  package-lock.json
  package.json
Due: prettier-package-json --write

refactor: reference same commit sha
  utils/scripts/deploy.mjs
Due: none

ci: fix missing staging deploy status by associating deploy ref to correct SHA (#1856)
  package-lock.json
  package.json
  utils/scripts/deploy.mjs
Due: prettier-package-json --write

ci: fix missing staging deploy status by associating deploy ref to correct SHA (#1856)
  package.json
  utils/scripts/deploy.mjs
Due: prettier-package-json --write

chore: refresh package-lock.json
  package-lock.json
Due: none

chore: code review getStatusColor
  packages/avatars/src/styled/utility.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: sync `next` with `main` (#1858)
  package-lock.json
  package.json
  utils/scripts/deploy.mjs
Due: prettier-package-json --write

chore: use transparent fallback
  packages/avatars/src/styled/utility.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(avatars): adds light/dark mode colors (#1852)
  packages/avatars/demo/stories/AvatarStory.tsx
  packages/avatars/demo/~patterns/stories/MenuStory.tsx
  packages/avatars/demo/~patterns/stories/StatusMenuStory.tsx
  packages/avatars/package.json
  packages/avatars/src/elements/Avatar.spec.tsx
  packages/avatars/src/elements/Avatar.tsx
  packages/avatars/src/elements/StatusIndicator.tsx
  packages/avatars/src/styled/StyledAvatar.spec.tsx
  packages/avatars/src/styled/StyledAvatar.ts
  packages/avatars/src/styled/StyledStandaloneStatusIndicator.ts
  packages/avatars/src/styled/StyledStatusIndicator.spec.tsx
  packages/avatars/src/styled/StyledStatusIndicator.ts
  packages/avatars/src/styled/StyledStatusIndicatorBase.ts
  packages/avatars/src/styled/utility.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

feat(typography): recolor `CodeBlock` component
  packages/typography/demo/stories/data.ts
  packages/typography/src/elements/CodeBlock.tsx
  packages/typography/src/styled/StyledCodeBlock.ts
  packages/typography/src/styled/StyledCodeBlockLine.ts
  packages/typography/src/styled/StyledCodeBlockToken.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(colorpickers): recolor
  packages/colorpickers/src/styled/ColorPicker/StyledAlphaRange.ts
  packages/colorpickers/src/styled/ColorPicker/StyledColorWellThumb.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSliders.ts
  packages/colorpickers/src/styled/ColorSwatch/StyledColorSwatchLabel.ts
  packages/colorpickers/src/styled/common/StyledRange.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: use transient props
  packages/colorpickers/src/elements/ColorPicker/ColorWell.tsx
  packages/colorpickers/src/elements/ColorPicker/index.tsx
  packages/colorpickers/src/elements/ColorPickerDialog/index.tsx
  packages/colorpickers/src/elements/ColorSwatch/index.tsx
  packages/colorpickers/src/elements/ColorSwatchDialog/index.tsx
  packages/colorpickers/src/styled/ColorPicker/StyledColorPicker.ts
  packages/colorpickers/src/styled/ColorPicker/StyledColorWell.ts
  packages/colorpickers/src/styled/ColorPicker/StyledHueRange.ts
  packages/colorpickers/src/styled/ColorPicker/StyledPreview.ts
  packages/colorpickers/src/styled/ColorPickerDialog/StyledButtonPreview.ts
  packages/colorpickers/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: clean up
  packages/colorpickers/src/styled/common/StyledRange.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

tests: add specs
  packages/colorpickers/src/styled/common/StyledRange.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix tests
  packages/typography/src/elements/CodeBlock.spec.tsx
  packages/typography/src/styled/StyledCodeBlock.spec.tsx
  packages/typography/src/styled/StyledCodeBlockLine.spec.tsx
  packages/typography/src/styled/StyledCodeBlockLine.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Upgrade prism-react-renderer
  package-lock.json
  packages/typography/package.json
  packages/typography/src/elements/CodeBlock.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

ci: let known bots deploy to staging
  .github/workflows/ci.yaml
Due: none

Fix imports, tests, and reduce languages
  package-lock.json
  packages/typography/demo/stories/data.ts
  packages/typography/src/elements/CodeBlock.spec.tsx
  packages/typography/src/elements/CodeBlock.tsx
  packages/typography/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update migration guide
  docs/migration.md
Due: none

ci: let known bots deploy to staging (#1863)
  .github/workflows/ci.yaml
Due: none

chore: sync package-lock.json
  package-lock.json
Due: none

chore: sync `next` with `main` (#1865)
  .github/workflows/ci.yaml
  package-lock.json
  package.json
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.0.0-next.18 [skip ci]
  CHANGELOG.md
Due: none

Recolor legacy dropdowns
  packages/dropdowns.legacy/src/elements/Combobox/Combobox.spec.tsx
  packages/dropdowns.legacy/src/styled/items/StyledAddItem.ts
  packages/dropdowns.legacy/src/styled/items/StyledItem.spec.tsx
  packages/dropdowns.legacy/src/styled/items/StyledItem.ts
  packages/dropdowns.legacy/src/styled/items/StyledItemIcon.ts
  packages/dropdowns.legacy/src/styled/items/StyledItemMeta.ts
  packages/dropdowns.legacy/src/styled/items/StyledNextIcon.tsx
  packages/dropdowns.legacy/src/styled/items/StyledPreviousIcon.tsx
  packages/dropdowns.legacy/src/styled/items/header/StyledHeaderIcon.ts
  packages/dropdowns.legacy/src/styled/menu/StyledSeparator.ts
  packages/dropdowns.legacy/src/styled/multiselect/StyledMultiselectMoreAnchor.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor: PR feedback
  packages/colorpickers/demo/stories/data.ts
  packages/colorpickers/src/styled/ColorPicker/StyledAlphaRange.ts
  packages/colorpickers/src/styled/ColorPicker/StyledPreview.ts
  packages/colorpickers/src/styled/ColorPicker/StyledSliders.ts
  packages/colorpickers/src/styled/types.ts
  packages/colorpickers/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(tooltip): fix apparent arrow size
  packages/tooltips/src/styled/StyledTooltip.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix icon color
  packages/dropdowns.legacy/src/styled/items/StyledItemIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(tooltip): increase arrow size for small tooltips (#1866)
  packages/tooltips/src/styled/StyledTooltip.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Refine dynamic prismjs imports and add `bash` language support
  docs/migration.md
  packages/typography/demo/stories/data.ts
  packages/typography/src/elements/CodeBlock.tsx
  packages/typography/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Revert bash example
  packages/typography/demo/stories/data.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: updates storybook titles
  package-lock.json
  packages/draggable/demo/draggable-list.stories.mdx
  packages/draggable/demo/draggable.stories.mdx
  packages/draggable/demo/dropzone.stories.mdx
  packages/draggable/demo/~patterns/patterns.stories.mdx
Due: none

chore: PR feedback
  packages/colorpickers/src/styled/common/StyledRange.spec.tsx
  packages/colorpickers/src/styled/common/StyledRange.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(typography)!: recolor `CodeBlock` and migrate to `prism-react-renderer` v2 (#1864)
  docs/migration.md
  package-lock.json
  packages/typography/demo/stories/data.ts
  packages/typography/package.json
  packages/typography/src/elements/CodeBlock.spec.tsx
  packages/typography/src/elements/CodeBlock.tsx
  packages/typography/src/styled/StyledCodeBlock.spec.tsx
  packages/typography/src/styled/StyledCodeBlock.ts
  packages/typography/src/styled/StyledCodeBlockLine.spec.tsx
  packages/typography/src/styled/StyledCodeBlockLine.ts
  packages/typography/src/styled/StyledCodeBlockToken.ts
  packages/typography/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write
