Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

feat(chrome): deprecate AccordionContainer (#461)
  packages/chrome/package.json
  packages/chrome/src/containers/AccordionContainer.example.md
  packages/chrome/src/containers/AccordionContainer.js
  packages/chrome/src/views/subnav/CollapsibleSubNavItem.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Bump css-avatars dependency for badge fix
  packages/avatars/package.json
Due: prettier-package-json --write

fix(avatars): prevent badge `content-box` sizing overrides (#464)
  packages/avatars/package.json
Due: prettier-package-json --write

Update renovate schedule
  renovate.json
Due: none

Root TS configuration
  packages/avatars/package.json
  packages/avatars/styleguide.config.js
  packages/avatars/tsconfig.build.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore: update renovate schedule (#466)
  renovate.json
Due: none

Convert to TypeScript
  packages/avatars/README.md
  packages/avatars/package.json
  packages/avatars/src/components/Avatar.js
  packages/avatars/src/components/Avatar.spec.tsx
  packages/avatars/src/components/Avatar.tsx
  packages/avatars/src/index.ts
  packages/avatars/src/styled/StyledAvatar.spec.tsx
  packages/avatars/src/styled/StyledAvatar.ts
  packages/avatars/src/styled/StyledText.spec.tsx
  packages/avatars/src/styled/StyledText.ts
  packages/avatars/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  packages/autocomplete/package.json
  packages/avatars/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/select/package.json
  packages/tabs/package.json
Due: prettier-package-json --write

Add v6.7.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

fix(deps): update non-major package dependencies
  packages/autocomplete/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

Address JZ comments
  packages/buttons/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v10
  package.json
  yarn.lock
Due: prettier-package-json --write

Disable failing lint lines
  packages/menus/src/containers/MenuContainer.js
  packages/utilities/src/utils/hasType.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Correct failing tests
  packages/chrome/src/views/subnav/CollapsibleSubNavItem.spec.js
  packages/loaders/src/Spinner.js
  packages/loaders/src/styled-elements.js
  packages/loaders/src/styled-elements.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Restore Avatar prop types
  packages/avatars/README.md
  packages/avatars/package.json
  packages/avatars/src/components/Avatar.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(avatars): migrate to TypeScript (#477)
  packages/avatars/package.json
  packages/avatars/src/components/Avatar.spec.tsx
  packages/avatars/src/components/Avatar.tsx
  packages/avatars/src/index.ts
  packages/avatars/src/styled/StyledAvatar.spec.tsx
  packages/avatars/src/styled/StyledAvatar.ts
  packages/avatars/src/styled/StyledText.spec.tsx
  packages/avatars/src/styled/StyledText.ts
  packages/avatars/src/styled/index.ts
  packages/avatars/styleguide.config.js
  packages/avatars/tsconfig.build.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(build): revert react-docgen-typescript upgrade
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(build): revert react-docgen-typescript upgrade (#478)
  package.json
  yarn.lock
Due: prettier-package-json --write

Add Garden `iconSizes` to theme
  packages/theming/src/theme/__snapshots__/index.spec.ts.snap
  packages/theming/src/theme/index.ts
  utils/build/styled.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/autocomplete/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/select/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

Add v6.7.1 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

chore(selection): remove all react-selection KEY_CODES usage
  packages/modals/package.json
  packages/modals/src/elements/Modal.spec.js
  packages/pagination/package.json
  packages/pagination/src/elements/Pagination.spec.js
  packages/tags/package.json
  packages/tags/src/views/Close.example.md
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(selection: remove all react-selection composeEventHandler usages
  packages/modals/package.json
  packages/modals/src/views/Close.js
  packages/tables/package.json
  packages/tables/src/views/OverflowButton.js
  packages/tables/src/views/Row.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Initial text input styling
  BREAKING_CHANGES.md
  packages/forms/package.json
  packages/forms/src/fields/Input.js
  packages/forms/src/fields/Textarea.js
  packages/forms/src/fields/other/FauxInput.js
  packages/forms/src/fields/other/MediaInput.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/text/StyledTextFauxInput.js
  packages/forms/src/styled/text/StyledTextInput.js
  packages/forms/src/styled/text/StyledTextMediaFigure.js
  packages/forms/src/styled/text/StyledTextMediaInput.js
  packages/forms/src/styled/text/StyledTextarea.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Constrain to a single child
  packages/forms/src/styled/text/StyledTextMediaFigure.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Hint and label styling
  .stylelintrc
  BREAKING_CHANGES.md
  packages/forms/src/fields/common/Hint.js
  packages/forms/src/fields/common/Label.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/text/StyledTextHint.js
  packages/forms/src/styled/text/StyledTextInput.js
  packages/forms/src/styled/text/StyledTextLabel.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Initial message styling
  packages/forms/examples/introduction.md
  packages/forms/src/fields/common/Field.js
  packages/forms/src/fields/common/Message.js
  packages/forms/src/styled/common/StyledField.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/text/StyledTextHint.js
  packages/forms/src/styled/text/StyledTextInput.js
  packages/forms/src/styled/text/StyledTextLabel.js
  packages/forms/src/styled/text/StyledTextMessage.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fill in message validation icons
  packages/forms/src/fields/common/Message.js
  packages/forms/src/styled/common/StyledMessageIcon.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/text/StyledTextMessage.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write
