Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "linters": {
    "*.js": [
      "stylelint",
      "eslint",
      "jest --config=utils/test/jest.config.js --findRelatedTests",
      "prettier --write",
      "git add"
    ],
    "*.md": [
      "markdownlint",
      "prettier --write",
      "git add"
    ],
    "**/package.json": [
      "prettier-package-json --write",
      "git add"
    ]
  },
  "ignore": ["**/CHANGELOG.md"]
}

feat(buttons): Migrate package to container-buttongroup and container-keyboardfocus
  BREAKING_CHANGES.md
  packages/buttons/examples/button-group.md
  packages/buttons/package.json
  packages/buttons/src/components/Button.js
  packages/buttons/src/components/ButtonGroup.js
  packages/buttons/src/components/ButtonGroup.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Missing example update
  BREAKING_CHANGES.md
  packages/buttons/README.md
Due: prettier --write, markdownlint

Fix react-theming documentation
  packages/theming/README.md
Due: prettier --write, markdownlint

Fill out tags testing
  packages/tags/examples/basic.md
  packages/tags/package.json
  packages/tags/src/components/Close.spec.js
  packages/tags/src/components/Tag.js
  packages/tags/src/components/Tag.spec.js
  packages/tags/src/styled/StyledAvatar.spec.js
  packages/tags/src/styled/StyledClose.js
  packages/tags/src/styled/StyledClose.spec.js
  packages/tags/src/styled/StyledTag.js
  packages/tags/src/styled/StyledTag.spec.js
  packages/tags/src/views/Avatar.spec.js
  packages/tags/src/views/Tag.spec.js
  packages/tags/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Styling refinement
  packages/tags/examples/basic.md
  packages/tags/src/styled/StyledTag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Fill out examples
  packages/tags/examples/advanced.md
  packages/tags/examples/avatar.md
  packages/tags/examples/basic.md
  packages/tags/examples/close.md
  packages/tags/src/styled/StyledTag.js
  packages/tags/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

docs(forms): Checkbox example in forms is throwing
  packages/forms/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

docs(forms): Checkbox example in forms is throwing (#422)
  packages/forms/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

docs: correct react-theming peer dependencies (#421)
  packages/theming/README.md
Due: prettier --write, markdownlint

Update breaking changes doc
  BREAKING_CHANGES.md
Due: prettier --write, markdownlint

Handle minimum width tags
  packages/tags/src/styled/StyledTag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Parameter update
  packages/tags/src/components/Close.js
  packages/tags/src/components/Tag.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Clarification
  BREAKING_CHANGES.md
Due: prettier --write, markdownlint

Improve example ARIA
  packages/tags/README.md
  packages/tags/examples/advanced.md
  packages/tags/examples/basic.md
Due: prettier --write, markdownlint

Remove image randomization
  packages/tags/examples/advanced.md
Due: prettier --write, markdownlint

Update example
  packages/datepickers/examples/range.md
  packages/datepickers/src/DatepickerRange/components/Calendar.tsx
Due: prettier --write, markdownlint

fix(datepicker): correct minValue and maxValue displays and allow same date selection within Range (#415)
  packages/datepickers/examples/range.md
  packages/datepickers/src/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/Datepicker/components/Calendar.tsx
  packages/datepickers/src/DatepickerRange/DatepickerRange.spec.tsx
  packages/datepickers/src/DatepickerRange/components/Month.tsx
  packages/datepickers/src/DatepickerRange/utils/datepicker-range-reducer.ts
Due: prettier --write, markdownlint

chore(release): publish
  lerna.json
  packages/datepickers/package.json
Due: prettier-package-json --write

Add v6.4.3 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

chore(deps): update dependency eslint-plugin-react-hooks to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all development non-major dependencies
  package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency @zendeskgarden/eslint-config to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-loader to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency inquirer to v7
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency rimraf to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update all development non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update typescript-eslint monorepo to v2
  package.json
  yarn.lock
Due: prettier-package-json --write

Ignore single usage of ts-ignore
  packages/datepickers/src/styled/styled-menu.spec.tsx
  packages/dropdowns/src/styled/menu/StyledMenu.spec.tsx
  utils/test/garden-test-utils.tsx
Due: none
