Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Remove competing Range lower track background
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/styled/Colorpicker/StyledAlphaRange.ts
  packages/colorpickers/src/styled/Colorpicker/StyledHueRange.ts
  packages/colorpickers/src/styled/common/StyledRange.ts
  packages/forms/.size-snapshot.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove incorrect boolean logic
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/range/StyledRangeInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove export
  packages/forms/src/elements/Range.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(forms, colorpickers): provide mechanism for removing Range lower track (#1060)
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/styled/Colorpicker/StyledAlphaRange.ts
  packages/colorpickers/src/styled/Colorpicker/StyledHueRange.ts
  packages/colorpickers/src/styled/common/StyledRange.ts
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/Range.tsx
  packages/forms/src/styled/range/StyledRangeInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Normalize background CSS
  packages/colorpickers/src/styled/Colorpicker/StyledAlphaRange.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/colorpickers/.size-snapshot.json
Due: none

chore(deps): upgrade styled-components to v5 (#1051)
  package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/styled/Colorpicker/StyledAlphaRange.ts
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  packages/loaders/src/elements/Dots.spec.tsx
  packages/loaders/src/elements/Spinner.spec.tsx
  packages/pagination/.size-snapshot.json
  packages/pagination/src/styled/Pagination/StyledPage.spec.tsx
  packages/pagination/src/styled/Pagination/StyledPage.ts
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update non-major package dependencies
  packages/accordions/package.json
  packages/accordions/yarn.lock
  packages/breadcrumbs/package.json
  packages/breadcrumbs/yarn.lock
  packages/buttons/package.json
  packages/buttons/yarn.lock
  packages/chrome/package.json
  packages/chrome/yarn.lock
  packages/datepickers/package.json
  packages/datepickers/yarn.lock
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
  packages/forms/package.json
  packages/forms/yarn.lock
  packages/modals/package.json
  packages/modals/yarn.lock
  packages/notifications/package.json
  packages/notifications/yarn.lock
  packages/pagination/package.json
  packages/pagination/yarn.lock
  packages/tables/package.json
  packages/tables/yarn.lock
  packages/tags/package.json
  packages/tags/yarn.lock
Due: prettier-package-json --write

chore(deps): update node orb to v4.2.1
  .circleci/config.yml
Due: none

chore(deps): update dependency @zendeskgarden/stylelint-config to v16
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency husky to v6
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  main.2bb0ee2b328491f7dca5.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Upgrade husky 4-to-6
  .husky/.gitignore
  .husky/pre-commit
Due: none

Fix husky and stylelint runtimes
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: prettier-package-json --write

chore: upgrade husky and stylelint (#1070)
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Keep existing @types/react version until nested package dependency uses latest version
  package.json
  yarn.lock
Due: prettier-package-json --write

Update path to new location of default Storybook babel config
  .storybook/babel.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update snapshots
  packages/accordions/.size-snapshot.json
  packages/breadcrumbs/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/colorpickers/.size-snapshot.json
  packages/datepickers/.size-snapshot.json
  packages/dropdowns/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tags/.size-snapshot.json
Due: none

Update loaders snapshot
  packages/loaders/src/elements/Dots.spec.tsx
  packages/loaders/src/elements/Spinner.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency @rollup/plugin-commonjs to v18
  package.json
  yarn.lock
Due: prettier-package-json --write

Temporarily use fireEvent on div elements
  packages/datepickers/src/elements/Datepicker/Datepicker.spec.tsx
  packages/dropdowns/src/elements/Dropdown/Dropdown.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/AddItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/MediaItem.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency @testing-library/user-event to v13
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency lerna to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  main.447bcd73.iframe.bundle.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update dependency inquirer to v8
  package.json
  yarn.lock
Due: prettier-package-json --write

fix(colorpickers): allow props to be applied to color dialog trigger
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorpickerDialog/index.spec.tsx
  packages/colorpickers/src/elements/ColorpickerDialog/index.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/Controlled.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/Uncontrolled.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(notifications): use IE11 compatible react-uid
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/notifications/src/elements/toaster/useToast.ts
  packages/notifications/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Initial combobox implementation
  packages/dropdowns/src/elements/Combobox/Combobox.tsx
  packages/dropdowns/src/index.ts
  packages/dropdowns/stories/6-Combobox.stories.tsx
  packages/dropdowns/stories/examples/Combobox/Default.tsx
  packages/forms/src/elements/FauxInput.tsx
  packages/forms/src/elements/MediaInput.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(notifications): use IE11 compatible react-uid (#1072)
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/notifications/src/elements/toaster/useToast.ts
  packages/notifications/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Rename prop to buttonProps
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/ColorpickerDialog/index.spec.tsx
  packages/colorpickers/src/elements/ColorpickerDialog/index.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/Controlled.tsx
  packages/colorpickers/stories/examples/ColorpickerDialog/Uncontrolled.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
