Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(dropdowns.next): `Combobox` with `isBare` option never shows horiz scrollbar to preserve styling (#1872)
  packages/dropdowns/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns/src/views/combobox/StyledTrigger.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v8.76.5 [skip ci]
  docs/changelogs/v8.md
Due: none

chore: sync `next` with `main` (#1874)
  docs/changelogs/v8.md
  packages/dropdowns/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns/src/views/combobox/StyledTrigger.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/draggable/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.0.0-next.20 [skip ci]
  CHANGELOG.md
Due: none

refactor(tooltip): remove inset logic, border-color matches bg-color
  packages/tooltips/src/elements/Tooltip.spec.tsx
  packages/tooltips/src/styled/StyledTooltip.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(arrowStyles): ensure arrow height matches size arg value
  packages/theming/src/utils/arrowStyles.spec.tsx
  packages/theming/src/utils/arrowStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(menu): reduce arrow size to match V8
  packages/dropdowns.legacy/src/styled/menu/StyledMenu.ts
  packages/dropdowns/src/views/menu/StyledMenu.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: remove console.log
  packages/theming/src/utils/arrowStyles.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(tooltips): renders correct arrow dimensions based on tooltip size (#1882)
  packages/dropdowns.legacy/src/styled/menu/StyledMenu.ts
  packages/dropdowns/src/views/menu/StyledMenu.ts
  packages/theming/src/utils/arrowStyles.spec.tsx
  packages/theming/src/utils/arrowStyles.ts
  packages/tooltips/src/elements/Tooltip.spec.tsx
  packages/tooltips/src/styled/StyledTooltip.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v9.0.0-next.21 [skip ci]
  CHANGELOG.md
Due: none

Update `Span` hue prop to accept color variable keys
  packages/typography/demo/code.stories.mdx
  packages/typography/src/elements/span/Span.spec.tsx
  packages/typography/src/styled/StyledFont.tsx
  packages/typography/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(chrome): update Nav.List displayName
  packages/chrome/src/elements/nav/NavList.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(chrome): update Nav.List displayName (#1884)
  packages/chrome/src/elements/nav/NavList.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update `tag` hue prop description
  packages/tags/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update `Timeline` surfaceColor prop to accept color variable keys
  packages/accordions/demo/stories/TimelineStory.tsx
  packages/accordions/src/styled/timeline/StyledItemIcon.ts
  packages/accordions/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update `Avatar` color props to receive color variable keys
  packages/accordions/src/types/index.ts
  packages/avatars/demo/stories/AvatarStory.tsx
  packages/avatars/demo/~patterns/stories/MenuStory.tsx
  packages/avatars/src/styled/StyledAvatar.spec.tsx
  packages/avatars/src/styled/StyledAvatar.ts
  packages/avatars/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Whitespace
  packages/avatars/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(dropdowns.next): adds missing role to itemgroup
  packages/dropdowns.next/src/elements/menu/ItemGroup.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Formatting
  packages/accordions/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(theming): add `withTheme` removal to migration guide
  docs/migration.md
Due: none

feat: allow color-related props to receive color variable keys in addition to hex values (#1885)
  packages/accordions/demo/stories/TimelineStory.tsx
  packages/accordions/src/styled/timeline/StyledItemIcon.ts
  packages/accordions/src/types/index.ts
  packages/avatars/demo/stories/AvatarStory.tsx
  packages/avatars/demo/~patterns/stories/MenuStory.tsx
  packages/avatars/src/styled/StyledAvatar.spec.tsx
  packages/avatars/src/styled/StyledAvatar.ts
  packages/avatars/src/types/index.ts
  packages/tags/src/types/index.ts
  packages/typography/demo/code.stories.mdx
  packages/typography/src/elements/span/Span.spec.tsx
  packages/typography/src/styled/StyledFont.tsx
  packages/typography/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(theming): add `withTheme` removal to migration guide (#1887)
  docs/migration.md
Due: none

fix(dropdowns.next): adds missing role to itemgroup (#1886)
  packages/dropdowns.next/src/elements/menu/ItemGroup.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(forms): ensure `Message` validation icon has a role of "img"
  packages/forms/src/elements/common/Message.spec.tsx
  packages/forms/src/styled/common/StyledMessageIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(forms): ensure `Message` validation icon has a role of "img" (#1888)
  packages/forms/src/elements/common/Message.spec.tsx
  packages/forms/src/styled/common/StyledMessageIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.76.6 [skip ci]
  CHANGELOG.md
Due: none

fix(dropdowns.next): adds missing role to itemgroup (#1886)
  packages/dropdowns/src/elements/menu/ItemGroup.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: sync `next` with `main` (#1890)
  packages/dropdowns/src/elements/menu/ItemGroup.tsx
  packages/forms/src/elements/common/Message.spec.tsx
  packages/forms/src/styled/common/StyledMessageIcon.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v9.0.0-next.22 [skip ci]
  CHANGELOG.md
Due: none

chore(theming): remove `PALETTE_V8` export
  packages/modals/src/styled/StyledFooter.spec.tsx
  packages/modals/src/styled/StyledFooter.ts
  packages/theming/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(theming): remove `PALETTE_V8` export (#1891)
  packages/modals/src/styled/StyledFooter.spec.tsx
  packages/modals/src/styled/StyledFooter.ts
  packages/theming/src/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Rename TooltipModal to TooltipDialog
  docs/migration.md
  packages/colorpickers/src/elements/ColorPickerDialog/index.tsx
  packages/colorpickers/src/elements/ColorSwatchDialog/index.tsx
  packages/colorpickers/src/styled/ColorPickerDialog/StyledTooltipBody.ts
  packages/colorpickers/src/styled/ColorPickerDialog/StyledTooltipDialog.ts
  packages/colorpickers/src/styled/index.ts
  packages/colorpickers/src/types/index.ts
  packages/modals/README.md
  packages/modals/demo/stories/TooltipDialogStory.tsx
  packages/modals/demo/stories/data.ts
  packages/modals/demo/tooltipDialog.stories.mdx
  packages/modals/demo/tooltipModal.stories.mdx
  packages/modals/src/elements/TooltipDialog/Body.spec.tsx
  packages/modals/src/elements/TooltipDialog/Body.tsx
  packages/modals/src/elements/TooltipDialog/Close.spec.tsx
  packages/modals/src/elements/TooltipDialog/Close.tsx
  packages/modals/src/elements/TooltipDialog/Footer.tsx
  packages/modals/src/elements/TooltipDialog/FooterItem.tsx
  packages/modals/src/elements/TooltipDialog/Title.spec.tsx
  packages/modals/src/elements/TooltipDialog/Title.tsx
  packages/modals/src/elements/TooltipDialog/TooltipDialog.spec.tsx
  packages/modals/src/elements/TooltipDialog/TooltipDialog.tsx
  packages/modals/src/index.ts
  packages/modals/src/styled/StyledTooltipDialog.ts
  packages/modals/src/styled/StyledTooltipDialogBackdrop.ts
  packages/modals/src/styled/StyledTooltipDialogBody.ts
  packages/modals/src/styled/StyledTooltipDialogClose.ts
  packages/modals/src/styled/StyledTooltipDialogFooter.ts
  packages/modals/src/styled/StyledTooltipDialogFooterItem.ts
  packages/modals/src/styled/StyledTooltipDialogTitle.ts
  packages/modals/src/styled/StyledTooltipWrapper.ts
  packages/modals/src/styled/index.ts
  packages/modals/src/types/index.ts
  packages/modals/src/utils/useTooltipDialogContext.spec.tsx
  packages/modals/src/utils/useTooltipDialogContext.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Update migration guide
  docs/migration.md
Due: none

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
