Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0 --ignore-pattern !.storybook",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix(combobox): address multiselectable state issues with new `TagGroup` component
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/elements/combobox/TagGroup.tsx
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Hack aria-labelledby for JAWS + NVDA
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(theming): roll back guide product color
  packages/theming/.size-snapshot.json
  packages/theming/src/elements/palette/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/palette/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fill out tag group expansion unit testing
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(theming): roll back guide product color (#1588)
  packages/theming/.size-snapshot.json
  packages/theming/src/elements/palette/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/palette/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Prevent double screenreader readout of value
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/views/combobox/StyledInput.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(combobox): address multiselectable state issues with new `TagGroup` component (#1589)
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.spec.tsx
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/elements/combobox/TagGroup.tsx
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/combobox/StyledInput.ts
  packages/dropdowns.next/src/views/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.69.6 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  8331.93b53fc5.iframe.bundle.js
  8331.f2bcfc94.iframe.bundle.js
  9117.3e606864.iframe.bundle.js
  9117.f00a9212.iframe.bundle.js
  9644.b5d065fe.iframe.bundle.js
  9644.fb5546ee.iframe.bundle.js
  avatars-demo-patterns-patterns-stories-mdx.8c085cfb.iframe.bundle.js
  avatars-demo-patterns-patterns-stories-mdx.e3388d01.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.2a4fb649.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.869aa18e.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.265f3382.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.a0a17906.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.4760d6f4.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.eec682ad.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.359a5c82.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.b1541982.iframe.bundle.js
  iframe.html
  notifications-demo-toastProvider-stories-mdx.162cebd4.iframe.bundle.js
  notifications-demo-toastProvider-stories-mdx.3cade69f.iframe.bundle.js
  project.json
  runtime~main.972b9ef9.iframe.bundle.js
  runtime~main.db5533c6.iframe.bundle.js
  tables-demo-table-stories-mdx.742f3635.iframe.bundle.js
  tables-demo-table-stories-mdx.dce6d189.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat: uptake new accordion container
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/elements/accordion/components/Label.tsx
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/elements/accordion/components/Section.tsx
  packages/accordions/src/elements/stepper/Stepper.tsx
  packages/accordions/src/elements/stepper/components/Step.tsx
  packages/accordions/src/types/index.ts
  packages/accordions/src/utils/useAccordionContext.ts
  packages/accordions/src/utils/useSectionContext.ts
  packages/accordions/src/utils/useStepContext.ts
  packages/accordions/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix(accordions): enable dynamic height for panel
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/styled/accordion/StyledInnerPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledInnerPanel.ts
  packages/accordions/src/styled/accordion/StyledPanel.spec.tsx
  packages/accordions/src/styled/accordion/StyledPanel.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: refine types
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/src/utils/useAccordionContext.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: prune dependancies
  packages/accordions/package.json
  packages/accordions/yarn.lock
Due: prettier-package-json --write

fix(tabs): loosen `toTabs` type checking
  packages/tabs/.size-snapshot.json
  packages/tabs/src/elements/Tabs.spec.tsx
  packages/tabs/src/utils/toTabs.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(tabs): loosen `toTabs` type checking (#1601)
  packages/tabs/.size-snapshot.json
  packages/tabs/src/elements/Tabs.spec.tsx
  packages/tabs/src/utils/toTabs.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  9117.5501668f.iframe.bundle.js
  9117.f00a9212.iframe.bundle.js
  9644.34a593f2.iframe.bundle.js
  9644.fb5546ee.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.869aa18e.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.ea40a366.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.7092464e.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.a0a17906.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.a65ecf0c.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.eec682ad.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.b474f715.iframe.bundle.js
  runtime~main.e2c247a7.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Resolve to CJS versions invoked by lerna
  package.json
  yarn.lock
Due: prettier-package-json --write

fix: remove comments
  packages/accordions/src/styled/accordion/StyledPanel.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: explicitly set overflow for inner panel
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/accordion/StyledInnerPanel.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix build errors
  package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/Alert.tsx
  packages/notifications/src/styled/StyledAlert.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Restore CJS resolutions
  package.json
Due: prettier-package-json --write

Update yarn.lock
  yarn.lock
Due: none

Fix eslint & tsc errors
  packages/colorpickers/src/elements/Colorpicker/ColorWell.tsx
  yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

More lerna CLI resolutions
  package.json
  yarn.lock
Due: prettier-package-json --write

Convert utility scripts to ESM modules
  .circleci/config.yml
  .eslintrc.json
  package.json
  utils/scripts/deploy.mjs
  utils/scripts/new.mjs
  utils/scripts/scoped-npm-command.js
  utils/scripts/tag.mjs
  yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Update resolutions for `yarn run tag`
  package.json
Due: prettier-package-json --write

Set netlify-cli resolution
  package.json
  yarn.lock
Due: prettier-package-json --write

Set netlify resolutions
  package.json
  yarn.lock
Due: prettier-package-json --write

Remove netlify resolutions
  package.json
  yarn.lock
Due: prettier-package-json --write

Clear ESM resolutions
  package.json
  yarn.lock
Due: prettier-package-json --write

Re-add string-width resolution
  package.json
  yarn.lock
Due: prettier-package-json --write

Lock @types/react
  yarn.lock
Due: none

Updates [skip ci]
  1661.272adecb.iframe.bundle.js
  1661.272adecb.iframe.bundle.js.LICENSE.txt
  1661.37ab401c.iframe.bundle.js
  199.b06b4a34.iframe.bundle.js
  199.ef294c97.iframe.bundle.js
  2802.71c7bf67.iframe.bundle.js
  2802.71c7bf67.iframe.bundle.js.LICENSE.txt
  2802.fed92784.iframe.bundle.js
  3103.d691f857.iframe.bundle.js
  3103.d691f857.iframe.bundle.js.LICENSE.txt
  3103.d691f857.iframe.bundle.js.map
  3358.635414fa.iframe.bundle.js
  3358.94192278.iframe.bundle.js
  3528.e941d294.iframe.bundle.js
  503.afbd160d.iframe.bundle.js
  503.afbd160d.iframe.bundle.js.LICENSE.txt
  503.f0aaa5b9.iframe.bundle.js
  5830.ad4dabfd.iframe.bundle.js.map
  6400.62342d2e.iframe.bundle.js
  6400.62342d2e.iframe.bundle.js.LICENSE.txt
  6624.8cfb4434.iframe.bundle.js
  6624.a05e970f.iframe.bundle.js
  785.1f4afc32.iframe.bundle.js
  785.77e7ddad.iframe.bundle.js
  buttons-demo-buttonGroup-stories-mdx.92b21c1c.iframe.bundle.js
  buttons-demo-buttonGroup-stories-mdx.b581957d.iframe.bundle.js
  chrome-demo-collapsibleSubNavItem-stories-mdx.56a5a4e0.iframe.bundle.js
  chrome-demo-collapsibleSubNavItem-stories-mdx.5e8bd93e.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.359a5c82.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.b1541982.iframe.bundle.js
  forms-demo-multiThumbRange-stories-mdx.1308884b.iframe.bundle.js
  forms-demo-multiThumbRange-stories-mdx.5305489c.iframe.bundle.js
  iframe.html
  main.78b8c0cc.iframe.bundle.js
  main.c8cbe4a7.iframe.bundle.js
  project.json
  runtime~main.5efc977f.iframe.bundle.js
  runtime~main.6f43da1f.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write
