Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

.lintstagedrc:

{
  "linters": {
    "*.js": [
      "stylelint",
      "eslint",
      "jest --config=utils/test/jest.config.js --findRelatedTests",
      "prettier --write",
      "git add"
    ],
    "*.md": [
      "markdownlint",
      "prettier --write",
      "git add"
    ],
    "**/package.json": [
      "prettier-package-json --write",
      "git add"
    ]
  },
  "ignore": ["**/CHANGELOG.md"]
}

Adjust cell width to accommodate small-sized avatar
  packages/tables/src/examples/paginated-table.md
Due: prettier --write, markdownlint

fix(tables): adjust paginated example cell width to accommodate small-sized avatar (#360)
  packages/tables/src/examples/paginated-table.md
Due: prettier --write, markdownlint

chore(release): publish
  lerna.json
  packages/autocomplete/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/checkboxes/package.json
  packages/chrome/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/radios/package.json
  packages/ranges/package.json
  packages/select/package.json
  packages/selection/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/textfields/package.json
  packages/theming/package.json
  packages/toggles/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

Add v6.0.1 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

fix(build): add tag fetching to process
  utils/scripts/version.sh
Due: none

fix(build): add tag fetching to process (#361)
  utils/scripts/version.sh
Due: none

Expose API and DEVELOPMENT documentation at root
  .github/API.md
  .github/CONTRIBUTING.md
  .github/DEVELOPMENT.md
  .github/ISSUE_TEMPLATE.md
  API.md
  DEVELOPMENT.md
  package.json
Due: prettier --write, markdownlint, prettier-package-json --write

chore: add versioning documentation (#362)
  .github/API.md
  .github/CONTRIBUTING.md
  .github/DEVELOPMENT.md
  .github/ISSUE_TEMPLATE.md
  API.md
  DEVELOPMENT.md
  VERSIONING.md
  package.json
Due: prettier --write, markdownlint, prettier-package-json --write

Upgrade @zendeskgarden/css-avatars
  packages/avatars/package.json
Due: prettier-package-json --write

Fix `system` -> `isSystem`
  packages/avatars/src/Avatar.example.md
Due: prettier --write, markdownlint

Remove `badge` element – now handled via data attribute
  packages/avatars/src/Avatar.js
  packages/avatars/src/Avatar.spec.js
  packages/avatars/src/styled.js
  packages/avatars/src/styled.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add react-containers link to demo page
  demo/index.html
Due: none

Add "deprecated" section
  demo/index.html
Due: none

Adjust columns
  demo/index.html
Due: none

Update SVG icons
  demo/index.svg
Due: none

chore(demo): add `react-containers` nav link + deprecated packages section (#364)
  demo/index.html
  demo/index.svg
Due: none

fix(avatars): update avatar CSS for badge animation (#363)
  packages/avatars/package.json
  packages/avatars/src/Avatar.example.md
  packages/avatars/src/Avatar.js
  packages/avatars/src/Avatar.spec.js
  packages/avatars/src/styled.js
  packages/avatars/src/styled.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

Pass className to <Icon />
  packages/buttons/src/views/icon-button/Icon.js
  packages/buttons/src/views/icon-button/Icon.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(buttons): pass className to Icon component (#366)
  packages/buttons/src/views/icon-button/Icon.js
  packages/buttons/src/views/icon-button/Icon.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(avatars): update propTypes to accurately check badge type
  packages/avatars/src/Avatar.js
  packages/avatars/src/Avatar.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(avatars): update propTypes to accurately check badge type (#367)
  packages/avatars/src/Avatar.js
  packages/avatars/src/Avatar.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/autocomplete/package.json
  packages/avatars/package.json
  packages/buttons/package.json
Due: prettier-package-json --write

Add v6.0.2 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

Update Avatar to render `active` styling whenever a badge is provided
  packages/avatars/src/Avatar.example.md
  packages/avatars/src/Avatar.js
  packages/avatars/src/Avatar.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Improve a11y
  packages/avatars/src/Avatar.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Enhance documentation
  packages/avatars/src/Avatar.example.md
Due: prettier --write, markdownlint

Allow "medium" size prop
  packages/avatars/src/Avatar.js
  packages/avatars/src/styled.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Updates
  avatars/build/bundle.f3f1a07e.js
  avatars/index.html
  tables/build/bundle.fd99897b.js
  tables/index.html
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write
