Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(publishing): ensure `latest` tag is applied to most recent release
  lerna.json
Due: none

fix(publishing): ensure `latest` tag is applied to most recent release (#2125)
  lerna.json
Due: none

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/draggable/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.15.3 [skip ci]
  CHANGELOG.md
Due: none

fix(dropdowns): prevent isMountedRef from staying false after StrictMode remount
  packages/dropdowns/src/elements/combobox/Listbox.tsx
  packages/dropdowns/src/elements/menu/MenuList.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test(dropdowns): add StrictMode regression specs for Listbox and MenuList isMountedRef logic
  packages/dropdowns/src/elements/combobox/Listbox.spec.tsx
  packages/dropdowns/src/elements/menu/MenuList.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(dropdowns): restore isMountedRef on remount to fix StrictMode regression (#2126)
  packages/dropdowns/src/elements/combobox/Listbox.spec.tsx
  packages/dropdowns/src/elements/combobox/Listbox.tsx
  packages/dropdowns/src/elements/menu/MenuList.spec.tsx
  packages/dropdowns/src/elements/menu/MenuList.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(modals): remove incorrect close on blur behavior for Modal and Drawer
  package-lock.json
  packages/modals/package.json
  packages/modals/src/elements/Drawer/Drawer.spec.tsx
  packages/modals/src/elements/Modal.spec.tsx
  packages/modals/src/elements/TooltipDialog/TooltipDialog.spec.tsx
  packages/modals/src/elements/TooltipDialog/TooltipDialog.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

fix(modals): upgrade `container-modal` to v2 to fix blur-close behavior (#2127)
  package-lock.json
  packages/modals/package.json
  packages/modals/src/elements/Drawer/Drawer.spec.tsx
  packages/modals/src/elements/Modal.spec.tsx
  packages/modals/src/elements/TooltipDialog/TooltipDialog.spec.tsx
  packages/modals/src/elements/TooltipDialog/TooltipDialog.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(changelog): add v9.15.4 [skip ci]
  CHANGELOG.md
Due: none

fix(modals): keep tooltip dialog within viewport bounds
  packages/modals/src/elements/TooltipDialog/TooltipDialog.spec.tsx
  packages/modals/src/elements/TooltipDialog/TooltipDialog.tsx
  packages/modals/src/styled/StyledTooltipDialog.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(modals): add popup tooltip dialog story
  packages/modals/demo/stories/TooltipDialogPopupStory.tsx
  packages/modals/demo/tooltipDialog.mdx
  packages/modals/demo/tooltipDialog.stories.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(modals): apply tooltip dialog shift for auto placement
  packages/modals/src/elements/TooltipDialog/TooltipDialog.spec.tsx
  packages/modals/src/elements/TooltipDialog/TooltipDialog.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(modals): keep tooltip dialog arrow anchored after shift
  packages/modals/src/elements/TooltipDialog/TooltipDialog.tsx
  packages/modals/src/styled/StyledTooltipDialog.ts
  packages/theming/src/utils/arrowStyles.spec.tsx
  packages/theming/src/utils/arrowStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(modals): remove tooltip dialog demo updates from PR
  packages/modals/demo/stories/TooltipDialogPopupStory.tsx
  packages/modals/demo/tooltipDialog.mdx
  packages/modals/demo/tooltipDialog.stories.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(modals): shift tooltip dialog for explicit placements
  packages/modals/src/elements/TooltipDialog/TooltipDialog.spec.tsx
  packages/modals/src/elements/TooltipDialog/TooltipDialog.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(modals): keep tooltip dialog within viewport bounds (#2130)
  packages/modals/src/elements/TooltipDialog/TooltipDialog.spec.tsx
  packages/modals/src/elements/TooltipDialog/TooltipDialog.tsx
  packages/modals/src/styled/StyledTooltipDialog.ts
  packages/theming/src/utils/arrowStyles.spec.tsx
  packages/theming/src/utils/arrowStyles.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v9.15.5 [skip ci]
  CHANGELOG.md
Due: none

chore(dropdowns): preview integration with container-combobox@2.0.9-alpha [DO NOT MERGE]
  packages/dropdowns/package.json
  zendeskgarden-container-combobox-2.0.9-alpha.tgz
Due: prettier-package-json --write

chore(dropdowns): fix preview integration with container-combobox@2.0.9-alpha [DO NOT MERGE]
  package-lock.json
  utils/build/rollup.config.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

update lockfile for container-combobox@2.0.9-alpha
  packages/accordions/pnpm-lock.yaml
  packages/avatars/pnpm-lock.yaml
  packages/breadcrumbs/pnpm-lock.yaml
  packages/buttons/pnpm-lock.yaml
  packages/chrome/pnpm-lock.yaml
  packages/colorpickers/pnpm-lock.yaml
  packages/datepickers/pnpm-lock.yaml
  packages/draggable/pnpm-lock.yaml
Due: none

update dropdowns lockfile for container-combobox@2.0.9-alpha
  packages/dropdowns/pnpm-lock.yaml
Due: none

remove unnecessary pnpm-lock.yaml
  packages/dropdowns/pnpm-lock.yaml
Due: none

chore(dropdowns): remove noise lock files from preview PR [DO NOT MERGE]
  package-lock.json
  packages/accordions/pnpm-lock.yaml
  packages/avatars/pnpm-lock.yaml
  packages/breadcrumbs/pnpm-lock.yaml
  packages/buttons/pnpm-lock.yaml
  packages/chrome/pnpm-lock.yaml
  packages/colorpickers/pnpm-lock.yaml
  packages/datepickers/pnpm-lock.yaml
  packages/draggable/pnpm-lock.yaml
Due: none

chore(dropdowns): sync package-lock.json for container-combobox@2.0.9-alpha [DO NOT MERGE]
  package-lock.json
Due: none

feat(tooltips): add toggletip support to Tooltip component
  packages/tooltips/demo/tooltip.stories.tsx
  packages/tooltips/demo/~patterns/patterns.mdx
  packages/tooltips/demo/~patterns/patterns.stories.tsx
  packages/tooltips/demo/~patterns/stories/InfoToggletipStory.tsx
  packages/tooltips/demo/~patterns/stories/ToggletipAnchorStory.tsx
  packages/tooltips/demo/~patterns/stories/ToggletipStory.tsx
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(tooltips): use container-tooltip prerelease tarball for testing
  package-lock.json
  packages/tooltips/package.json
  zendeskgarden-container-tooltip-2.2.3-alpha.1.tgz
Due: prettier-package-json --write

refactor(tooltips): remove explanatory comments from toggletip code
  packages/tooltips/demo/~patterns/stories/InfoToggletipStory.tsx
  packages/tooltips/src/elements/Tooltip.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

test(tooltips): add toggletip integration specs
  packages/tooltips/src/elements/Tooltip.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

feat(datepickers): Add DateTimePicker
  packages/datepickers/demo/dateTimePicker.mdx
  packages/datepickers/demo/dateTimePicker.stories.tsx
  packages/datepickers/demo/stories/DateTimePickerStory.tsx
  packages/datepickers/src/elements/DateTimePicker/DateTimePicker.spec.tsx
  packages/datepickers/src/elements/DateTimePicker/DateTimePicker.tsx
  packages/datepickers/src/elements/DateTimePicker/components/Calendar.tsx
  packages/datepickers/src/elements/DateTimePicker/components/Input.tsx
  packages/datepickers/src/elements/DateTimePicker/components/MonthSelector.tsx
  packages/datepickers/src/elements/DateTimePicker/components/TimeColumn.tsx
  packages/datepickers/src/elements/DateTimePicker/components/TimePanel.tsx
  packages/datepickers/src/elements/DateTimePicker/utils/date-time-picker-reducer.ts
  packages/datepickers/src/elements/DateTimePicker/utils/time-utils.spec.ts
  packages/datepickers/src/elements/DateTimePicker/utils/time-utils.ts
  packages/datepickers/src/elements/DateTimePicker/utils/useDateTimePickerContext.ts
  packages/datepickers/src/index.ts
  packages/datepickers/src/styled/StyledDateTimePicker.ts
  packages/datepickers/src/styled/StyledTimeColumn.ts
  packages/datepickers/src/styled/StyledTimeColumnHeader.ts
  packages/datepickers/src/styled/StyledTimeOption.ts
  packages/datepickers/src/styled/StyledTimePanel.ts
  packages/datepickers/src/styled/index.ts
  packages/datepickers/src/types/index.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(datepickers): Fix minValue and maxValue handler in story
  packages/datepickers/demo/stories/DateTimePickerStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(accordions): prevent step content overflow when collapsed
  packages/accordions/src/styled/stepper/StyledInnerContent.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(accordions): prevent step content overflow when collapsed (#2137)
  packages/accordions/src/styled/stepper/StyledInnerContent.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(changelog): add v9.15.6 [skip ci]
  CHANGELOG.md
Due: none

feat(datepickers): Add dateFormat to story
  packages/datepickers/demo/dateTimePicker.stories.tsx
  packages/datepickers/demo/stories/DateTimePickerStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(dropdowns): vendor container-combobox 2.0.9-alpha.1 tarball for local testing
  package-lock.json
  packages/dropdowns/local-deps/zendeskgarden-container-combobox-2.0.9-alpha.1.tgz
  packages/dropdowns/package.json
Due: prettier-package-json --write

chore(dropdowns): bump local container-combobox tarball to 2.0.9-alpha.2
  package-lock.json
  packages/dropdowns/local-deps/zendeskgarden-container-combobox-2.0.9-alpha.1.tgz
  packages/dropdowns/local-deps/zendeskgarden-container-combobox-2.0.9-alpha.2.tgz
  packages/dropdowns/package.json
Due: prettier-package-json --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
