Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

Update with new chrome `hue` prop
  packages/chrome/examples/basic.md
  packages/chrome/src/elements/Chrome.tsx
  packages/chrome/src/elements/nav/Nav.spec.tsx
  packages/chrome/src/elements/nav/Nav.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/chrome/src/styled/index.ts
  packages/chrome/src/styled/nav/StyledLogoNavItem.ts
  packages/chrome/src/styled/nav/StyledNav.ts
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/chrome/src/utils/useChromeContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Move rule from warning to error
  .eslintrc.json
Due: none

chore(lint): create styled-component default theme eslint rule (#575)
  .eslintrc.json
  package.json
  packages/breadcrumbs/src/styled/StyledBreadcrumb.ts
  packages/breadcrumbs/src/styled/StyledBreadcrumbItem.ts
  packages/breadcrumbs/src/styled/StyledCenteredBreadcrumbItem.tsx
  packages/modals/src/views/Body.js
  packages/modals/src/views/Close.js
  packages/modals/src/views/Footer.js
  packages/modals/src/views/FooterItem.js
  packages/modals/src/views/Header.js
  packages/modals/src/views/ModalView.js
  packages/pagination/src/views/Gap.js
  packages/pagination/src/views/NextPage.js
  packages/pagination/src/views/Page.js
  packages/pagination/src/views/PaginationView.js
  packages/pagination/src/views/PreviousPage.js
  utils/eslint/index.js
  utils/eslint/package.json
  utils/eslint/rules/require-default-theme.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(pagination): migrate to TypeScript
  BREAKING_CHANGES.md
  packages/pagination/examples/default.md
  packages/pagination/package.json
  packages/pagination/src/elements/Pagination.js
  packages/pagination/src/elements/Pagination.spec.tsx
  packages/pagination/src/elements/Pagination.tsx
  packages/pagination/src/index.js
  packages/pagination/src/index.spec.js
  packages/pagination/src/index.ts
  packages/pagination/src/styled/StyledGap.spec.tsx
  packages/pagination/src/styled/StyledGap.ts
  packages/pagination/src/styled/StyledNextPage.spec.tsx
  packages/pagination/src/styled/StyledNextPage.ts
  packages/pagination/src/styled/StyledPage.spec.tsx
  packages/pagination/src/styled/StyledPage.ts
  packages/pagination/src/styled/StyledPagination.spec.tsx
  packages/pagination/src/styled/StyledPagination.ts
  packages/pagination/src/styled/StyledPreviousPage.spec.tsx
  packages/pagination/src/styled/StyledPreviousPage.ts
  packages/pagination/src/styled/index.ts
  packages/pagination/src/views/PaginationView.example.md
  packages/pagination/src/views/PaginationView.js
  packages/pagination/styleguide.config.js
  packages/pagination/tsconfig.build.json
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Breaking changes 'not' -> 'no'
  BREAKING_CHANGES.md
Due: none

Customize subnav hue
  packages/chrome/src/elements/subnav/SubNav.tsx
  packages/chrome/src/elements/subnav/SubNavItem.tsx
  packages/chrome/src/styled/index.ts
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/chrome/src/styled/subnav/StyledSubNav.ts
  packages/chrome/src/styled/subnav/StyledSubNavItem.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Memoize readable color results
  packages/chrome/src/elements/Chrome.spec.tsx
  packages/chrome/src/elements/Chrome.tsx
  packages/chrome/src/elements/nav/Nav.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/chrome/src/index.ts
  packages/chrome/src/styled/nav/StyledLogoNavItem.ts
  packages/chrome/src/styled/nav/StyledNav.ts
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/chrome/src/utils/useChromeContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Restore color unit testing
  packages/chrome/src/elements/Chrome.spec.tsx
  packages/chrome/src/elements/Chrome.tsx
  packages/chrome/src/elements/nav/Nav.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update example
  packages/chrome/examples/basic.md
Due: none

Update subnav color styles
  packages/chrome/src/elements/subnav/SubNav.tsx
  packages/chrome/src/elements/subnav/SubNavItem.tsx
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/chrome/src/styled/subnav/StyledSubNav.ts
  packages/chrome/src/styled/subnav/StyledSubNavItem.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Example re-word
  packages/chrome/examples/basic.md
Due: none

Update breaking changes doc
  BREAKING_CHANGES.md
Due: none

feat(pagination): migrate to TypeScript (#576)
  BREAKING_CHANGES.md
  packages/pagination/examples/default.md
  packages/pagination/package.json
  packages/pagination/src/elements/Pagination.js
  packages/pagination/src/elements/Pagination.spec.tsx
  packages/pagination/src/elements/Pagination.tsx
  packages/pagination/src/index.js
  packages/pagination/src/index.spec.js
  packages/pagination/src/index.ts
  packages/pagination/src/styled/StyledGap.spec.tsx
  packages/pagination/src/styled/StyledGap.ts
  packages/pagination/src/styled/StyledNextPage.spec.tsx
  packages/pagination/src/styled/StyledNextPage.ts
  packages/pagination/src/styled/StyledPage.spec.tsx
  packages/pagination/src/styled/StyledPage.ts
  packages/pagination/src/styled/StyledPagination.spec.tsx
  packages/pagination/src/styled/StyledPagination.ts
  packages/pagination/src/styled/StyledPreviousPage.spec.tsx
  packages/pagination/src/styled/StyledPreviousPage.ts
  packages/pagination/src/styled/index.ts
  packages/pagination/src/views/PaginationView.example.md
  packages/pagination/src/views/PaginationView.js
  packages/pagination/styleguide.config.js
  packages/pagination/tsconfig.build.json
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(eslint): ensure required theme rule is applied to all files
  .eslintrc.json
  packages/buttons/src/styled/StyledAnchor.ts
  packages/buttons/src/styled/StyledIconButton.ts
  packages/chrome/src/styled/subnav/StyledSubNavItemIcon.tsx
  packages/chrome/src/styled/subnav/StyledSubNavItemText.ts
  packages/chrome/src/styled/subnav/StyledSubNavPanel.ts
  packages/datepickers/src/styled/StyledMenu.tsx
  packages/dropdowns/src/styled/field/StyledField.ts
  packages/dropdowns/src/styled/field/StyledHint.ts
  packages/dropdowns/src/styled/field/StyledLabel.ts
  packages/dropdowns/src/styled/field/StyledMessage.ts
  packages/dropdowns/src/styled/field/StyledMultiselect.tsx
  packages/dropdowns/src/styled/field/StyledSelect.ts
  packages/dropdowns/src/styled/items/StyledAddItem.ts
  packages/dropdowns/src/styled/items/StyledItem.ts
  packages/dropdowns/src/styled/items/StyledItemMeta.ts
  packages/dropdowns/src/styled/items/StyledNextItem.ts
  packages/dropdowns/src/styled/items/StyledPreviousItem.ts
  packages/dropdowns/src/styled/items/header/StyledHeaderItem.ts
  packages/dropdowns/src/styled/items/media/StyledMediaBody.ts
  packages/dropdowns/src/styled/items/media/StyledMediaItem.ts
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
  packages/dropdowns/src/styled/menu/StyledSeparator.ts
  packages/loaders/src/styled/StyledDots.ts
  packages/loaders/src/styled/StyledInlineTypingIndicator.tsx
  packages/notifications/src/styled/StyledAlert.ts
  packages/notifications/src/styled/StyledNotification.ts
  packages/notifications/src/styled/StyledWell.ts
  packages/notifications/src/styled/content/StyledClose.tsx
  packages/notifications/src/styled/content/StyledParagraph.tsx
  packages/notifications/src/styled/content/StyledTitle.tsx
  packages/tables/src/styled/StyledRow.ts
  packages/tables/src/styled/StyledSortableButton.ts
  packages/tooltips/src/styled/StyledTooltipWrapper.ts
  utils/eslint/rules/require-default-theme.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add missing breadcrumbs dev dependency
  packages/breadcrumbs/package.json
Due: prettier-package-json --write

Rebuild yarn file
  yarn.lock
Due: none

Upgrade all packages and resolutions
  package.json
  packages/dropdowns/src/Menu/Menu.spec.tsx
  packages/dropdowns/src/Multiselect/Multiselect.tsx
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(lint): ensure required theme rule is applied to all files (#579)
  .eslintrc.json
  package.json
  packages/breadcrumbs/package.json
  packages/buttons/src/styled/StyledAnchor.ts
  packages/buttons/src/styled/StyledIconButton.ts
  packages/chrome/src/styled/subnav/StyledSubNavItemIcon.tsx
  packages/chrome/src/styled/subnav/StyledSubNavItemText.ts
  packages/chrome/src/styled/subnav/StyledSubNavPanel.ts
  packages/datepickers/src/styled/StyledMenu.tsx
  packages/dropdowns/src/Menu/Menu.spec.tsx
  packages/dropdowns/src/Multiselect/Multiselect.tsx
  packages/dropdowns/src/styled/field/StyledField.ts
  packages/dropdowns/src/styled/field/StyledHint.ts
  packages/dropdowns/src/styled/field/StyledLabel.ts
  packages/dropdowns/src/styled/field/StyledMessage.ts
  packages/dropdowns/src/styled/field/StyledMultiselect.tsx
  packages/dropdowns/src/styled/field/StyledSelect.ts
  packages/dropdowns/src/styled/items/StyledAddItem.ts
  packages/dropdowns/src/styled/items/StyledItem.ts
  packages/dropdowns/src/styled/items/StyledItemMeta.ts
  packages/dropdowns/src/styled/items/StyledNextItem.ts
  packages/dropdowns/src/styled/items/StyledPreviousItem.ts
  packages/dropdowns/src/styled/items/header/StyledHeaderItem.ts
  packages/dropdowns/src/styled/items/media/StyledMediaBody.ts
  packages/dropdowns/src/styled/items/media/StyledMediaItem.ts
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
  packages/dropdowns/src/styled/menu/StyledSeparator.ts
  packages/loaders/src/styled/StyledDots.ts
  packages/loaders/src/styled/StyledInlineTypingIndicator.tsx
  packages/notifications/src/styled/StyledAlert.ts
  packages/notifications/src/styled/StyledNotification.ts
  packages/notifications/src/styled/StyledWell.ts
  packages/notifications/src/styled/content/StyledClose.tsx
  packages/notifications/src/styled/content/StyledParagraph.tsx
  packages/notifications/src/styled/content/StyledTitle.tsx
  packages/tables/src/styled/StyledRow.ts
  packages/tables/src/styled/StyledSortableButton.ts
  packages/tooltips/src/styled/StyledTooltipWrapper.ts
  utils/eslint/rules/require-default-theme.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Alphabetize
  BREAKING_CHANGES.md
Due: none

Fix basic demo layout
  packages/forms/examples/basic.md
Due: none

chore: keep breaking changes in alphabetical order (#580)
  BREAKING_CHANGES.md
Due: none

fix(forms): basic demo layout (#581)
  packages/forms/examples/basic.md
Due: none

chore(release): publish
  lerna.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
Due: prettier-package-json --write

Add v7.1.4 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

fix(build): fix datepicker build step (#562)
  yarn.lock
Due: none

feat(notifications): Migrate to CSS-in-JS
  packages/forms/package.json
  packages/notifications/examples/basic.md
  packages/notifications/package.json
  packages/notifications/src/elements/Alert.spec.tsx
  packages/notifications/src/elements/Alert.tsx
  packages/notifications/src/elements/Notification.tsx
  packages/notifications/src/elements/Well.tsx
  packages/notifications/src/elements/content/Close.tsx
  packages/notifications/src/elements/content/Paragraph.tsx
  packages/notifications/src/elements/content/Title.tsx
  packages/notifications/src/styled/StyledAlert.spec.tsx
  packages/notifications/src/styled/StyledAlert.ts
  packages/notifications/src/styled/StyledBase.spec.tsx
  packages/notifications/src/styled/StyledBase.ts
  packages/notifications/src/styled/StyledIcon.ts
  packages/notifications/src/styled/StyledNotification.spec.tsx
  packages/notifications/src/styled/StyledNotification.ts
  packages/notifications/src/styled/StyledWell.spec.tsx
  packages/notifications/src/styled/StyledWell.ts
  packages/notifications/src/styled/content/StyledClose.spec.tsx
  packages/notifications/src/styled/content/StyledClose.ts
  packages/notifications/src/styled/content/StyledClose.tsx
  packages/notifications/src/styled/content/StyledParagraph.spec.tsx
  packages/notifications/src/styled/content/StyledParagraph.ts
  packages/notifications/src/styled/content/StyledTitle.spec.tsx
  packages/notifications/src/styled/content/StyledTitle.ts
  packages/notifications/src/styled/index.ts
  packages/notifications/src/utils/icons.ts
  packages/notifications/src/utils/types.ts
  packages/notifications/src/utils/useNotificationsContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(notifications): Migrate to CSS-in-JS (#563)
  packages/forms/package.json
  packages/notifications/examples/basic.md
  packages/notifications/package.json
  packages/notifications/src/elements/Alert.spec.tsx
  packages/notifications/src/elements/Alert.tsx
  packages/notifications/src/elements/Notification.tsx
  packages/notifications/src/elements/Well.tsx
  packages/notifications/src/elements/content/Close.tsx
  packages/notifications/src/elements/content/Paragraph.tsx
  packages/notifications/src/elements/content/Title.tsx
  packages/notifications/src/styled/StyledAlert.spec.tsx
  packages/notifications/src/styled/StyledAlert.ts
  packages/notifications/src/styled/StyledBase.spec.tsx
  packages/notifications/src/styled/StyledBase.ts
  packages/notifications/src/styled/StyledIcon.ts
  packages/notifications/src/styled/StyledNotification.spec.tsx
  packages/notifications/src/styled/StyledNotification.ts
  packages/notifications/src/styled/StyledWell.spec.tsx
  packages/notifications/src/styled/StyledWell.ts
  packages/notifications/src/styled/content/StyledClose.spec.tsx
  packages/notifications/src/styled/content/StyledClose.ts
  packages/notifications/src/styled/content/StyledClose.tsx
  packages/notifications/src/styled/content/StyledParagraph.spec.tsx
  packages/notifications/src/styled/content/StyledParagraph.ts
  packages/notifications/src/styled/content/StyledTitle.spec.tsx
  packages/notifications/src/styled/content/StyledTitle.ts
  packages/notifications/src/styled/index.ts
  packages/notifications/src/utils/icons.ts
  packages/notifications/src/utils/types.ts
  packages/notifications/src/utils/useNotificationsContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(chrome): replace background color with `hue` prop (#578)
  BREAKING_CHANGES.md
  packages/chrome/examples/basic.md
  packages/chrome/src/elements/Chrome.spec.tsx
  packages/chrome/src/elements/Chrome.tsx
  packages/chrome/src/elements/nav/Nav.spec.tsx
  packages/chrome/src/elements/nav/Nav.tsx
  packages/chrome/src/elements/nav/NavItem.tsx
  packages/chrome/src/elements/subnav/SubNav.tsx
  packages/chrome/src/elements/subnav/SubNavItem.tsx
  packages/chrome/src/index.ts
  packages/chrome/src/styled/index.ts
  packages/chrome/src/styled/nav/StyledLogoNavItem.ts
  packages/chrome/src/styled/nav/StyledNav.ts
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/chrome/src/styled/subnav/StyledSubNav.ts
  packages/chrome/src/styled/subnav/StyledSubNavItem.tsx
  packages/chrome/src/utils/useChromeContext.ts
  packages/chrome/src/utils/useNavContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Restore max_size
  packages/datepickers/package.json
Due: prettier-package-json --write

fix(tooltips): use semantic tag for paragraph element
  packages/tooltips/src/elements/Paragraph.tsx
  packages/tooltips/src/styled/StyledParagraph.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Revert react-docgen-typescript, which causes https://github.com/styleguidist/react-styleguidist/issues/1439#issuecomment-539426607 on some pages since #579
  package.json
  yarn.lock
Due: prettier-package-json --write

Update yarn
  yarn.lock
Due: none

chore: update next with master branch commits (#582)
  CHANGELOG.md
  examples/codesandbox/garden-create-react-app/yarn.lock
  lerna.json
  package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/dropdowns/src/Menu/Menu.spec.tsx
  packages/dropdowns/src/Multiselect/Multiselect.tsx
  packages/modals/package.json
  packages/pagination/package.json
  packages/tables/package.json
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(deps): update dependency styled-components to v5
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update non-major shared dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

Increase react-forms bundle size
  packages/forms/package.json
Due: prettier-package-json --write

fix(deps): update non-major package dependencies
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/modals/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
Due: prettier-package-json --write

chore(deps): update dependency husky to v4
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency jest-styled-components to v7
  package.json
  yarn.lock
Due: prettier-package-json --write
