Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Refactor related CSS
  packages/forms/src/styled/common/StyledMessageIcon.js
  packages/forms/src/styled/text/StyledTextMessage.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Move common hint/label/message; initial checkbox styling
  BREAKING_CHANGES.md
  packages/forms/src/fields/Checkbox.js
  packages/forms/src/fields/common/Hint.js
  packages/forms/src/fields/common/Label.js
  packages/forms/src/fields/common/Message.js
  packages/forms/src/styled/checkboxes/StyledCheckInput.js
  packages/forms/src/styled/common/StyledHint.js
  packages/forms/src/styled/common/StyledHint.spec.js
  packages/forms/src/styled/common/StyledLabel.js
  packages/forms/src/styled/common/StyledLabel.spec.js
  packages/forms/src/styled/common/StyledMessage.js
  packages/forms/src/styled/common/StyledMessage.spec.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/radio/StyledRadioInput.js
  packages/forms/src/styled/text/StyledTextInput.js
  packages/forms/src/styled/toggle/StyledToggleInput.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(loaders): introduce Progress component
  packages/loaders/README.md
  packages/loaders/src/Progress.example.md
  packages/loaders/src/Progress.js
  packages/loaders/src/Progress.spec.js
  packages/loaders/src/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(selection): remove usages of react-selection KEY_CODES and composeEventHandlers (#479)
  packages/modals/package.json
  packages/modals/src/elements/Modal.spec.js
  packages/modals/src/views/Close.js
  packages/pagination/package.json
  packages/pagination/src/elements/Pagination.spec.js
  packages/tables/package.json
  packages/tables/src/views/OverflowButton.js
  packages/tables/src/views/Row.js
  packages/tags/package.json
  packages/tags/src/views/Close.example.md
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Increase size threshold
  packages/forms/package.json
Due: prettier-package-json --write

Add assertions to tests
  packages/forms/examples/range.md
  packages/forms/src/fields/Range.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(forms): deprecate react-ranges and migrate components to react-forms
  packages/forms/examples/multi-thumb-range.md
  packages/forms/examples/range.md
  packages/forms/package.json
  packages/forms/src/fields/MultiThumbRange.js
  packages/forms/src/fields/MultiThumbRange.spec.js
  packages/forms/src/fields/Range.js
  packages/forms/src/fields/Range.spec.js
  packages/forms/src/index.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/range/StyledRangeHint.js
  packages/forms/src/styled/range/StyledRangeHint.spec.js
  packages/forms/src/styled/range/StyledRangeLabel.js
  packages/forms/src/styled/range/StyledRangeLabel.spec.js
  packages/forms/src/styled/range/StyledRangeMessage.js
  packages/forms/src/styled/range/StyledRangeMessage.spec.js
  packages/forms/src/styled/range/StyledRangeSingleThumb.js
  packages/forms/src/styled/range/StyledRangeSingleThumb.spec.js
  packages/forms/styleguide.config.js
  packages/ranges/src/index.js
  utils/scripts/version.sh
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Customize styling of range
  packages/forms/examples/range.md
  packages/forms/package.json
  packages/forms/src/fields/Range.spec.js
  packages/forms/src/fields/common/Field.js
  packages/forms/src/fields/other/MediaInput.spec.js
  packages/forms/src/styled/StyledField.js
  packages/forms/src/styled/StyledField.spec.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/range/StyledRangeHint.spec.js
  packages/forms/src/styled/range/StyledRangeLabel.js
  packages/forms/src/styled/range/StyledRangeLabel.spec.js
  packages/forms/src/styled/range/StyledRangeMessage.js
  packages/forms/src/styled/range/StyledRangeMessage.spec.js
  packages/forms/src/styled/text/StyledTextLabel.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Remove deprecated usage of react-ranges in examples
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Spinner.example.md
  packages/typography/examples/list.md
Due: none

Update multi-thumb range examples
  packages/forms/examples/multi-thumb-range.md
Due: none

feat(loaders): introduce Progress component (#468)
  packages/loaders/README.md
  packages/loaders/src/Progress.example.md
  packages/loaders/src/Progress.js
  packages/loaders/src/Progress.spec.js
  packages/loaders/src/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add range deprecation to index.html
  demo/index.html
Due: none

feat(forms): deprecate react-ranges and migrate components to react-forms (#463)
  demo/index.html
  packages/forms/examples/multi-thumb-range.md
  packages/forms/examples/range.md
  packages/forms/package.json
  packages/forms/src/fields/MultiThumbRange.js
  packages/forms/src/fields/MultiThumbRange.spec.js
  packages/forms/src/fields/Range.js
  packages/forms/src/fields/Range.spec.js
  packages/forms/src/fields/common/Field.js
  packages/forms/src/fields/other/MediaInput.spec.js
  packages/forms/src/index.js
  packages/forms/src/styled/StyledField.js
  packages/forms/src/styled/StyledField.spec.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/range/StyledRangeSingleThumb.js
  packages/forms/src/styled/range/StyledRangeSingleThumb.spec.js
  packages/forms/src/styled/text/StyledTextLabel.js
  packages/forms/styleguide.config.js
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Spinner.example.md
  packages/ranges/src/index.js
  packages/typography/examples/list.md
  utils/scripts/version.sh
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  packages/autocomplete/package.json
  packages/forms/package.json
  packages/loaders/package.json
  packages/menus/package.json
  packages/modals/package.json
  packages/pagination/package.json
  packages/ranges/package.json
  packages/select/package.json
  packages/tables/package.json
  packages/tags/package.json
Due: prettier-package-json --write

Add v6.8.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Continued checkbox styling
  packages/forms/src/styled/checkboxes/StyledCheckInput.js
  packages/forms/src/styled/checkboxes/StyledCheckLabel.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/radio/StyledRadioLabel.js
  packages/forms/src/styled/text/StyledTextInput.js
  packages/forms/src/styled/toggle/StyledToggleLabel.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update checkbox hint and message styling
  packages/forms/src/fields/Checkbox.js
  packages/forms/src/fields/Radio.js
  packages/forms/src/fields/Toggle.js
  packages/forms/src/fields/common/Hint.js
  packages/forms/src/fields/common/Message.js
  packages/forms/src/styled/checkboxes/StyledCheck.js
  packages/forms/src/styled/checkboxes/StyledCheck.spec.js
  packages/forms/src/styled/checkboxes/StyledCheckHint.js
  packages/forms/src/styled/checkboxes/StyledCheckInput.js
  packages/forms/src/styled/checkboxes/StyledCheckLabel.js
  packages/forms/src/styled/checkboxes/StyledCheckMessage.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/radio/StyledRadio.js
  packages/forms/src/styled/radio/StyledRadioHint.js
  packages/forms/src/styled/radio/StyledRadioMessage.js
  packages/forms/src/styled/toggle/StyledToggle.js
  packages/forms/src/styled/toggle/StyledToggleHint.js
  packages/forms/src/styled/toggle/StyledToggleMessage.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add radio styling
  packages/forms/src/fields/Radio.js
  packages/forms/src/fields/common/Hint.js
  packages/forms/src/fields/common/Label.js
  packages/forms/src/fields/common/Message.js
  packages/forms/src/styled/checkboxes/StyledCheckInput.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/radio/StyledRadioHint.js
  packages/forms/src/styled/radio/StyledRadioHint.spec.js
  packages/forms/src/styled/radio/StyledRadioInput.js
  packages/forms/src/styled/radio/StyledRadioInput.spec.js
  packages/forms/src/styled/radio/StyledRadioLabel.js
  packages/forms/src/styled/radio/StyledRadioLabel.spec.js
  packages/forms/src/styled/radio/StyledRadioMessage.js
  packages/forms/src/styled/radio/StyledRadioMessage.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Initial toggle styling
  packages/forms/src/styled/checkboxes/StyledCheckInput.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/toggle/StyledToggleInput.js
  packages/forms/src/styled/toggle/StyledToggleLabel.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Refactor checkbox to extend radio for more intuitive styling overrides
  packages/forms/src/fields/Checkbox.js
  packages/forms/src/fields/Radio.js
  packages/forms/src/fields/common/Hint.js
  packages/forms/src/fields/common/Label.js
  packages/forms/src/fields/common/Message.js
  packages/forms/src/styled/checkboxes/StyledCheckHint.js
  packages/forms/src/styled/checkboxes/StyledCheckInput.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/radio/StyledRadioHint.js
  packages/forms/src/styled/radio/StyledRadioHint.spec.js
  packages/forms/src/styled/radio/StyledRadioInput.js
  packages/forms/src/styled/radio/StyledRadioInput.spec.js
  packages/forms/src/styled/radio/StyledRadioLabel.js
  packages/forms/src/styled/radio/StyledRadioLabel.spec.js
  packages/forms/src/styled/radio/StyledRadioMessage.js
  packages/forms/src/styled/radio/StyledRadioMessage.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Clean up
  packages/forms/src/fields/Toggle.js
  packages/forms/src/fields/common/Hint.js
  packages/forms/src/fields/common/Label.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update toggle message styling
  packages/forms/src/styled/index.js
  packages/forms/src/styled/toggle/StyledToggleHint.js
  packages/forms/src/styled/toggle/StyledToggleLabel.js
  packages/forms/src/styled/toggle/StyledToggleMessage.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Temporary theming test
  packages/forms/examples/introduction.md
Due: none

Remove temporary theming example
  packages/forms/examples/introduction.md
Due: none

feat(forms): deprecate react-ranges and migrate components to react-forms (#463)
  demo/index.html
  packages/forms/examples/multi-thumb-range.md
  packages/forms/examples/range.md
  packages/forms/package.json
  packages/forms/src/fields/MultiThumbRange.js
  packages/forms/src/fields/MultiThumbRange.spec.js
  packages/forms/src/fields/Range.js
  packages/forms/src/fields/Range.spec.js
  packages/forms/src/fields/common/Field.js
  packages/forms/src/fields/other/MediaInput.spec.js
  packages/forms/src/index.js
  packages/forms/src/styled/StyledField.js
  packages/forms/src/styled/StyledField.spec.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/range/StyledRangeSingleThumb.js
  packages/forms/src/styled/range/StyledRangeSingleThumb.spec.js
  packages/forms/styleguide.config.js
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Spinner.example.md
  packages/ranges/src/index.js
  packages/typography/examples/lists.md
  utils/scripts/version.sh
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Rename "checkboxes" -> "checkbox" for alignment
  packages/forms/src/styled/checkbox/StyledCheckHint.js
  packages/forms/src/styled/checkbox/StyledCheckHint.spec.js
  packages/forms/src/styled/checkbox/StyledCheckInput.js
  packages/forms/src/styled/checkbox/StyledCheckInput.spec.js
  packages/forms/src/styled/checkbox/StyledCheckLabel.js
  packages/forms/src/styled/checkbox/StyledCheckLabel.spec.js
  packages/forms/src/styled/checkbox/StyledCheckMessage.js
  packages/forms/src/styled/checkbox/StyledCheckMessage.spec.js
  packages/forms/src/styled/index.js
  packages/forms/src/styled/toggle/StyledToggleInput.js
  packages/forms/src/styled/toggle/StyledToggleLabel.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove `ranges` component package
  packages/avatars/examples/basic.md
  packages/ranges/README.md
  packages/ranges/package.json
  packages/ranges/src/elements/MultiThumbRange.example.md
  packages/ranges/src/elements/MultiThumbRange.js
  packages/ranges/src/elements/MultiThumbRange.spec.js
  packages/ranges/src/elements/Range.js
  packages/ranges/src/elements/Range.spec.js
  packages/ranges/src/elements/RangeField.example.md
  packages/ranges/src/elements/RangeField.js
  packages/ranges/src/elements/RangeField.spec.js
  packages/ranges/src/index.js
  packages/ranges/src/index.spec.js
  packages/ranges/src/views/Hint.js
  packages/ranges/src/views/Hint.spec.js
  packages/ranges/src/views/Label.js
  packages/ranges/src/views/Label.spec.js
  packages/ranges/src/views/Message.js
  packages/ranges/src/views/Message.spec.js
  packages/ranges/src/views/RangeGroup.js
  packages/ranges/src/views/RangeGroup.spec.js
  packages/ranges/src/views/SingleThumbView.js
  packages/ranges/src/views/SingleThumbView.spec.js
  packages/ranges/styleguide.config.js
  packages/tags/examples/advanced.md
  utils/styleguide/styleguide.base.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(forms): allow MediaRange to recieve all possible ref values
  packages/forms/src/fields/other/MediaInput.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(forms): allow MediaRange to recieve all possible ref values (#480)
  packages/forms/src/fields/other/MediaInput.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(datepicker): ensure mouse events are propogated correctly
  packages/datepickers/src/DatepickerRange/utils/datepicker-range-reducer.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update current day font-weight
  packages/datepickers/src/styled/styled-datepicker.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(datepicker): ensure mouse events are propogated correctly (#481)
  packages/datepickers/src/DatepickerRange/utils/datepicker-range-reducer.ts
  packages/datepickers/src/styled/styled-datepicker.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/datepickers/package.json
  packages/forms/package.json
Due: prettier-package-json --write

Add v6.8.1 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
