Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0 --ignore-pattern !.storybook",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

feat: created StyledHiddenText component and spec
  packages/typography/src/styled/StyledHiddenText.spec.tsx
  packages/typography/src/styled/StyledHiddenText.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: added StyledHiddenText to styled exports; created type for IHiddenTextProps
  packages/typography/.size-snapshot.json
  packages/typography/src/styled/index.ts
  packages/typography/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat: created HiddenText component
  packages/typography/src/elements/HiddenText.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat: added exports for HiddenText component and IHiddenTextProps to typography package index
  packages/typography/.size-snapshot.json
  packages/typography/src/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat: created Storybook story for HiddenText component
  packages/typography/demo/hiddenText.stories.mdx
  packages/typography/demo/stories/HiddenTextStory.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: renamed HiddenText to AccessibleText
  packages/typography/.size-snapshot.json
  packages/typography/demo/accessibleText.stories.mdx
  packages/typography/demo/stories/AccessibleTextStory.tsx
  packages/typography/src/elements/AccessibleText.tsx
  packages/typography/src/index.ts
  packages/typography/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: renamed StyledHiddenText to StyledVisuallyHiddenText
  packages/typography/.size-snapshot.json
  packages/typography/src/elements/AccessibleText.tsx
  packages/typography/src/styled/StyledHiddenText.spec.tsx
  packages/typography/src/styled/StyledVisuallyHiddenText.spec.tsx
  packages/typography/src/styled/StyledVisuallyHiddenText.ts
  packages/typography/src/styled/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/drag-drop/package.json
  packages/dropdowns.next/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.69.9 [skip ci]
  CHANGELOG.md
Due: none

fix(combobox): add missing hint and message props
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/context/useFieldContext.ts
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/elements/combobox/Field.tsx
  packages/dropdowns.next/src/elements/combobox/Hint.tsx
  packages/dropdowns.next/src/elements/combobox/Message.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update container-combobox dependency
  packages/dropdowns.next/package.json
  packages/dropdowns.next/yarn.lock
Due: prettier-package-json --write

fix(colorpicker): prevent infinite rerender in React v18 Legacy mode
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/Colorpicker/index.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix jsdoc
  packages/dropdowns.next/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(combobox): stabilize IDs and add missing hint/message props (#1614)
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/package.json
  packages/dropdowns.next/src/context/useFieldContext.ts
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/elements/combobox/Field.tsx
  packages/dropdowns.next/src/elements/combobox/Hint.tsx
  packages/dropdowns.next/src/elements/combobox/Message.tsx
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix(colorpicker): prevent infinite rerender in React v18 Legacy mode (#1616)
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/src/elements/Colorpicker/index.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(changelog): add v8.69.10 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  1408.1095722d.iframe.bundle.js
  1408.73661b14.iframe.bundle.js
  datepickers-demo-datepicker-stories-mdx.13c57dcc.iframe.bundle.js
  datepickers-demo-datepicker-stories-mdx.da514664.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.30e65a02.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.359a5c82.iframe.bundle.js
  dropdowns-demo-autocomplete-stories-mdx.4166a425.iframe.bundle.js
  dropdowns-demo-autocomplete-stories-mdx.7f86b2b1.iframe.bundle.js
  dropdowns-demo-combobox-stories-mdx.8bd84097.iframe.bundle.js
  dropdowns-demo-combobox-stories-mdx.b2f7a2f4.iframe.bundle.js
  dropdowns-demo-multiselect-stories-mdx.1cce955f.iframe.bundle.js
  dropdowns-demo-multiselect-stories-mdx.edcfa036.iframe.bundle.js
  dropdowns-demo-select-stories-mdx.14b01506.iframe.bundle.js
  dropdowns-demo-select-stories-mdx.1724c6f3.iframe.bundle.js
  forms-demo-fauxInput-stories-mdx.d2208a19.iframe.bundle.js
  forms-demo-fauxInput-stories-mdx.eec70069.iframe.bundle.js
  forms-demo-mediaInput-stories-mdx.31963834.iframe.bundle.js
  forms-demo-mediaInput-stories-mdx.f874334e.iframe.bundle.js
  forms-demo-select-stories-mdx.a0f842bb.iframe.bundle.js
  forms-demo-select-stories-mdx.cc970e32.iframe.bundle.js
  forms-demo-textarea-stories-mdx.67b38631.iframe.bundle.js
  forms-demo-textarea-stories-mdx.d3e69edf.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.0386b12f.iframe.bundle.js
  runtime~main.511be7d6.iframe.bundle.js
  tags-demo-patterns-patterns-stories-mdx.78ec8016.iframe.bundle.js
  tags-demo-patterns-patterns-stories-mdx.8bfb6233.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(combobox): stabilize production SSR ID generation
  packages/dropdowns.next/package.json
  packages/dropdowns.next/yarn.lock
Due: prettier-package-json --write

fix(combobox): stabilize production SSR ID generation (#1618)
  packages/dropdowns.next/package.json
  packages/dropdowns.next/yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  3451.1e973c09.iframe.bundle.js
  3451.a01c4b95.iframe.bundle.js
  3451.a01c4b95.iframe.bundle.js.LICENSE.txt
  datepickers-demo-datepickerRange-stories-mdx.359a5c82.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.b1541982.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.511be7d6.iframe.bundle.js
  runtime~main.b72842fe.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(changelog): add v8.69.11 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  1408.1095722d.iframe.bundle.js
  1408.73661b14.iframe.bundle.js
  9117.120ace9d.iframe.bundle.js
  9117.f00a9212.iframe.bundle.js
  9644.c1c4c698.iframe.bundle.js
  9644.d5dd52f3.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.660ff85f.iframe.bundle.js
  buttons-demo-chevronButton-stories-mdx.869aa18e.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.a0a17906.iframe.bundle.js
  buttons-demo-splitButton-stories-mdx.e5188368.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.47c2dd36.iframe.bundle.js
  buttons-demo-toggleIconButton-stories-mdx.eec682ad.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.359a5c82.iframe.bundle.js
  datepickers-demo-datepickerRange-stories-mdx.b1541982.iframe.bundle.js
  dropdowns-demo-autocomplete-stories-mdx.4166a425.iframe.bundle.js
  dropdowns-demo-autocomplete-stories-mdx.7f86b2b1.iframe.bundle.js
  dropdowns-demo-combobox-stories-mdx.8bd84097.iframe.bundle.js
  dropdowns-demo-combobox-stories-mdx.b2f7a2f4.iframe.bundle.js
  dropdowns-demo-multiselect-stories-mdx.1cce955f.iframe.bundle.js
  dropdowns-demo-multiselect-stories-mdx.edcfa036.iframe.bundle.js
  dropdowns-demo-select-stories-mdx.14b01506.iframe.bundle.js
  dropdowns-demo-select-stories-mdx.1724c6f3.iframe.bundle.js
  forms-demo-fauxInput-stories-mdx.d2208a19.iframe.bundle.js
  forms-demo-fauxInput-stories-mdx.eec70069.iframe.bundle.js
  forms-demo-mediaInput-stories-mdx.31963834.iframe.bundle.js
  forms-demo-mediaInput-stories-mdx.f874334e.iframe.bundle.js
  forms-demo-select-stories-mdx.a0f842bb.iframe.bundle.js
  forms-demo-select-stories-mdx.cc970e32.iframe.bundle.js
  forms-demo-textarea-stories-mdx.67b38631.iframe.bundle.js
  forms-demo-textarea-stories-mdx.d3e69edf.iframe.bundle.js
  iframe.html
  project.json
  runtime~main.66a45c52.iframe.bundle.js
  runtime~main.b72842fe.iframe.bundle.js
  tags-demo-patterns-patterns-stories-mdx.78ec8016.iframe.bundle.js
  tags-demo-patterns-patterns-stories-mdx.8bfb6233.iframe.bundle.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(modals): adds appendToNode prop to TooltipModal
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/TooltipModal/TooltipModal.spec.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/modals/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(modals): adds appendToNode prop to TooltipModal (#1619)
  packages/modals/.size-snapshot.json
  packages/modals/src/elements/TooltipModal/TooltipModal.spec.tsx
  packages/modals/src/elements/TooltipModal/TooltipModal.tsx
  packages/modals/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(grid): `Pane.Splitter` position styling regression
  packages/grid/.size-snapshot.json
  packages/grid/src/elements/pane/components/Splitter.spec.tsx
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(grid): `Pane.Splitter` position styling regression (#1620)
  packages/grid/.size-snapshot.json
  packages/grid/src/elements/pane/components/Splitter.spec.tsx
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(theming): improve kale-500 color contrast
  packages/theming/src/elements/palette/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/palette/index.ts
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(theming): improve kale-500 color contrast (#1621)
  packages/theming/src/elements/palette/__snapshots__/index.spec.ts.snap
  packages/theming/src/elements/palette/index.ts
  packages/theming/src/elements/theme/__snapshots__/index.spec.ts.snap
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(changelog): add v8.70.0 [skip ci]
  CHANGELOG.md
Due: none
