Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write",
    "git add"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write",
    "git add"
  ],
  "**/package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

Remove declarations file
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove margin from FooterItem first child
  packages/modals/src/styled/StyledFooter.spec.tsx
  packages/modals/src/styled/StyledFooterItem.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Use PALETTE
  packages/modals/src/styled/StyledFooter.spec.tsx
  packages/modals/src/styled/StyledHeader.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update Example styling
  packages/modals/examples/basic.md
Due: none

Temp
  packages/forms/package.json
  packages/modals/src/styled/StyledFooterItem.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(build): correct failing tests (#608)
  packages/pagination/src/elements/Pagination.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(modals): migrate to CSS-in-JS (#602)
  packages/forms/package.json
  packages/modals/examples/basic.md
  packages/modals/package.json
  packages/modals/src/elements/Body.spec.tsx
  packages/modals/src/elements/Close.spec.tsx
  packages/modals/src/elements/Close.tsx
  packages/modals/src/elements/Footer.spec.tsx
  packages/modals/src/elements/Footer.tsx
  packages/modals/src/elements/FooterItem.spec.tsx
  packages/modals/src/elements/Header.spec.tsx
  packages/modals/src/elements/Header.tsx
  packages/modals/src/elements/Modal.spec.tsx
  packages/modals/src/elements/Modal.tsx
  packages/modals/src/styled/StyledBackdrop.spec.tsx
  packages/modals/src/styled/StyledBackdrop.ts
  packages/modals/src/styled/StyledBody.spec.tsx
  packages/modals/src/styled/StyledBody.ts
  packages/modals/src/styled/StyledClose.spec.tsx
  packages/modals/src/styled/StyledClose.ts
  packages/modals/src/styled/StyledDangerIcon.spec.tsx
  packages/modals/src/styled/StyledDangerIcon.ts
  packages/modals/src/styled/StyledFooter.spec.tsx
  packages/modals/src/styled/StyledFooter.ts
  packages/modals/src/styled/StyledFooterItem.spec.tsx
  packages/modals/src/styled/StyledFooterItem.ts
  packages/modals/src/styled/StyledHeader.spec.tsx
  packages/modals/src/styled/StyledHeader.ts
  packages/modals/src/styled/StyledModal.spec.tsx
  packages/modals/src/styled/StyledModal.ts
  packages/modals/src/styled/index.ts
  packages/modals/src/utils/useModalContext.ts
  utils/build/declarations.d.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Fix `itemSize` for virtual table rows
  packages/tables/examples/virtual-table.md
Due: none

fix(dropdowns): overflow in Multiselect items
  packages/dropdowns/src/styled/field/StyledMultiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update selected+hovered row color
  packages/tables/src/styled/StyledRow.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix selected+hovered border color
  packages/tables/src/styled/StyledRow.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(tables): theming color design updates (#606)
  packages/tables/examples/virtual-table.md
  packages/tables/src/elements/OverflowButton.spec.tsx
  packages/tables/src/styled/StyledOverflowButton.ts
  packages/tables/src/styled/StyledRow.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): overflow in Multiselect items (#607)
  packages/dropdowns/examples/multiselect.md
  packages/dropdowns/src/styled/field/StyledMultiselect.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/dropdowns/package.json
Due: prettier-package-json --write

Add v7.1.6 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Update template example to align with v8
  packages/.template/README.md
  packages/.template/examples/basic.md
  packages/.template/package.json
  packages/.template/src/Example.example.md
  packages/.template/src/Example.js
  packages/.template/src/elements/Example.tsx
  packages/.template/src/index.spec.js
  packages/.template/src/index.ts
  packages/.template/src/styled/StyledExample.ts
  packages/.template/src/styled/index.ts
  packages/.template/styleguide.config.js
  packages/.template/tsconfig.build.json
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Add template spec test files
  packages/.template/README.md
  packages/.template/src/elements/Example.spec.tsx
  packages/.template/src/styled/StyledExample.spec.tsx
  packages/.template/src/styled/StyledExample.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

perf(loaders): prevent rerender for dots
  packages/loaders/src/Dots.js
  packages/loaders/src/Dots.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update modal close button styles
  packages/modals/package.json
  packages/modals/src/styled/StyledClose.ts
  packages/modals/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Move __mocks__ in order to cleanup root
  utils/test/jest.config.js
  utils/test/rootDir/__mocks__/dom-helpers/scrollTo.js
  utils/test/rootDir/__mocks__/popper.js.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add bundlesize check to lint-staged
  .lintstagedrc
Due: none

Restore `jest` command
  .lintstagedrc
Due: none

Setup docs location
  .github/CONTRIBUTING.md
  docs/development.md
  docs/versioning.md
  package.json
Due: prettier-package-json --write

Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Remove "breaking change" checkbox; now signaled by label
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix(dropdowns): limit PopperJS computations while dropdowns are closed
  packages/dropdowns/src/Dropdown/Dropdown.tsx
  packages/dropdowns/src/Menu/Menu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): limit PopperJS computations while dropdowns are closed (#613)
  packages/dropdowns/src/Dropdown/Dropdown.tsx
  packages/dropdowns/src/Menu/Menu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): conditionally render menu items to correct android rendering
  packages/dropdowns/src/Menu/Items/Item.spec.tsx
  packages/dropdowns/src/Menu/Items/NextItem.spec.tsx
  packages/dropdowns/src/Menu/Items/PreviousItem.spec.tsx
  packages/dropdowns/src/Menu/Menu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): conditionally render menu items to correct android rendering (#614)
  packages/dropdowns/src/Menu/Items/Item.spec.tsx
  packages/dropdowns/src/Menu/Items/NextItem.spec.tsx
  packages/dropdowns/src/Menu/Items/PreviousItem.spec.tsx
  packages/dropdowns/src/Menu/Menu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add v7.1.7 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

feat(theming): add retrieveTheme alias for v7 consumers
  packages/theming/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add transitions to color properties
  packages/modals/src/styled/StyledClose.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write
