Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Remove invalid `styles.css` import documentation
  README.md
  packages/breadcrumbs/README.md
  packages/chrome/README.md
  packages/datepickers/README.md
  packages/dropdowns/README.md
  packages/modals/README.md
  packages/notifications/README.md
  packages/tables/README.md
  packages/tabs/README.md
  packages/tooltips/README.md
Due: none

fix(demo): example and documentation issues (#631)
  README.md
  demo/index.html
  packages/avatars/.size-snapshot.json
  packages/avatars/src/styled/StyledAvatar.ts
  packages/breadcrumbs/README.md
  packages/chrome/README.md
  packages/datepickers/README.md
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/README.md
  packages/dropdowns/examples/advanced-menu.md
  packages/dropdowns/src/elements/Menu/Menu.tsx
  packages/dropdowns/src/styled/items/media/StyledMediaFigure.ts
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
  packages/forms/examples/basic.md
  packages/loaders/examples/skeleton.md
  packages/modals/README.md
  packages/modals/src/elements/Modal.tsx
  packages/notifications/README.md
  packages/tables/README.md
  packages/tables/examples/basic.md
  packages/tables/examples/overflow-menu.md
  packages/tables/src/styled/StyledCell.ts
  packages/tabs/README.md
  packages/tooltips/README.md
  packages/tooltips/examples/basic.md
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Rename `containsIcon` -> `hasIcon`
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/examples/advanced-menu.md
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.tsx
  packages/dropdowns/src/styled/items/header/StyledHeaderItem.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Rename `initialIsVisible` -> `isInitialVisible`
  packages/tooltips/.size-snapshot.json
  packages/tooltips/src/elements/Tooltip.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update breaking changes
  BREAKING_CHANGES.md
Due: none

Rename `isDark` to `isLight`
  BREAKING_CHANGES.md
  packages/loaders/examples/skeleton.md
  packages/loaders/src/elements/Skeleton.spec.tsx
  packages/loaders/src/elements/Skeleton.tsx
  packages/loaders/src/styled/StyledSkeleton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update snapshot
  packages/loaders/.size-snapshot.json
Due: none

Reverse semantics for `arrowStyles` inset parameter for clarity
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
  packages/theming/.size-snapshot.json
  packages/theming/src/utils/arrowStyles.spec.tsx
  packages/theming/src/utils/arrowStyles.ts
  packages/tooltips/src/styled/StyledTooltip.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update snapshots
  packages/dropdowns/.size-snapshot.json
  packages/tooltips/.size-snapshot.json
Due: none

Use item context to pass `isDisabled` for styling ItemMeta
  packages/dropdowns/src/elements/Menu/Items/Item.tsx
  packages/dropdowns/src/elements/Menu/Items/ItemMeta.tsx
  packages/dropdowns/src/styled/items/StyledItemMeta.ts
  packages/dropdowns/src/utils/useItemContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add `useItemContext` testing
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/utils/useItemContext.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore: prop renames for API consistency (#632)
  BREAKING_CHANGES.md
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/examples/advanced-menu.md
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/HeaderItem.tsx
  packages/dropdowns/src/styled/items/header/StyledHeaderItem.ts
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
  packages/loaders/.size-snapshot.json
  packages/loaders/examples/skeleton.md
  packages/loaders/src/elements/Skeleton.spec.tsx
  packages/loaders/src/elements/Skeleton.tsx
  packages/loaders/src/styled/StyledSkeleton.ts
  packages/theming/.size-snapshot.json
  packages/theming/src/utils/arrowStyles.spec.tsx
  packages/theming/src/utils/arrowStyles.ts
  packages/tooltips/.size-snapshot.json
  packages/tooltips/src/elements/Tooltip.tsx
  packages/tooltips/src/styled/StyledTooltip.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): disabled `ItemMeta` styling (#633)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Menu/Items/Item.tsx
  packages/dropdowns/src/elements/Menu/Items/ItemMeta.tsx
  packages/dropdowns/src/styled/items/StyledItemMeta.ts
  packages/dropdowns/src/utils/useItemContext.spec.tsx
  packages/dropdowns/src/utils/useItemContext.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): update animation to use translate instead of margin
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Menu/Menu.spec.tsx
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(dropdowns): update animation to use translate instead of margin (#634)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Menu/Menu.spec.tsx
  packages/dropdowns/src/styled/menu/StyledMenu.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(build): allow lerna to publish under non-latest tag
  lerna.json
Due: none

Update package size
  packages/datepickers/package.json
Due: prettier-package-json --write

chore(docs): add migration.md
  BREAKING_CHANGES.md
  docs/migration.md
Due: none

chore(docs): add migration.md (#636)
  BREAKING_CHANGES.md
  docs/migration.md
Due: none

Add lerna branch lock
  lerna.json
Due: none

chore(build): prepare next branch for master release
  .huskyrc
  .travis.yml
  lerna.json
  package.json
  utils/scripts/version-next.sh
Due: prettier-package-json --write

chore(deps): remove old dependencies
  package.json
  utils/test/jest.config.js
  utils/test/jest.setup.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Upgrade all peerDependencies to allow theming@v8
  packages/.template/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(build): prepare next branch for master release (#635)
  .huskyrc
  .travis.yml
  lerna.json
  package.json
  packages/.template/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  utils/scripts/version-next.sh
  utils/test/jest.config.js
  utils/test/jest.setup.js
  yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(build): allow lerna to publish under non-latest tag (#637)
  lerna.json
  packages/datepickers/package.json
Due: prettier-package-json --write

chore(build): allow lerna publish
  .travis.yml
  lerna.json
Due: none

chore(build): allow lerna publish (#638)
  .travis.yml
  lerna.json
Due: none

fix(all): ensure valid peerDependency range for all v8 packages
  lerna.json
  packages/.template/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

Add v8.0.0 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

feat(build): allow all packages to consume v8 theming
  packages/.template/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/selection/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

feat(examples): migrate create-react-app example to v8
  examples/codesandbox/garden-create-react-app/package.json
  examples/codesandbox/garden-create-react-app/src/components/ExampleWrapper.js
  examples/codesandbox/garden-create-react-app/src/examples/Example.js
  examples/codesandbox/garden-create-react-app/src/global-styling.js
  examples/codesandbox/garden-create-react-app/src/index.js
  examples/codesandbox/garden-create-react-app/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

feat(build): allow all packages to consume v8 theming (#640)
  packages/.template/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/selection/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(release): publish
  lerna.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/selection/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

Add v7.1.10 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none
