Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

fix(build): correct prettier error to finish release (#409)
  packages/datepickers/examples/range.md
Due: prettier --write, markdownlint

chore(release): publish
  lerna.json
  packages/datepickers/package.json
Due: prettier-package-json --write

Add v6.4.1 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

Use grid layout
  packages/typography/examples/code.md
  packages/typography/examples/lists.md
  packages/typography/examples/typography.md
Due: prettier --write, markdownlint

chore(deps): update all development non-major dependencies
  package.json
  yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency commander to v3
  package.json
  yarn.lock
Due: prettier-package-json --write

Add styled component testing
  packages/theming/src/theme/index.js
  packages/typography/src/components/lists/OrderedList.js
  packages/typography/src/components/lists/UnorderedList.js
  packages/typography/src/styled/StyledCode.spec.js
  packages/typography/src/styled/StyledEllipsis.spec.js
  packages/typography/src/styled/StyledFont.spec.js
  packages/typography/src/styled/StyledList.spec.js
  packages/typography/src/styled/StyledListItem.js
  packages/typography/src/styled/StyledListItem.spec.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update breaking changes doc
  BREAKING_CHANGES.md
Due: prettier --write, markdownlint

Format
  BREAKING_CHANGES.md
Due: prettier --write, markdownlint

Use `forwardRef` API
  packages/typography/src/components/Code.js
  packages/typography/src/components/Ellipsis.js
  packages/typography/src/components/LG.js
  packages/typography/src/components/MD.js
  packages/typography/src/components/SM.js
  packages/typography/src/components/XL.js
  packages/typography/src/components/XXL.js
  packages/typography/src/components/XXXL.js
  packages/typography/src/components/lists/OrderedList.js
  packages/typography/src/components/lists/OrderedListItem.js
  packages/typography/src/components/lists/UnorderedList.js
  packages/typography/src/components/lists/UnorderedListItem.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Replace `withComponent` with `as` prop
  packages/typography/src/components/Ellipsis.js
  packages/typography/src/components/LG.js
  packages/typography/src/components/MD.js
  packages/typography/src/components/SM.js
  packages/typography/src/components/XL.js
  packages/typography/src/components/XXL.js
  packages/typography/src/components/XXXL.js
  packages/typography/src/components/lists/OrderedList.js
  packages/typography/src/components/lists/UnorderedList.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix `DEFAULT_THEME` object display
  packages/theming/src/theme/index.example.md
Due: prettier --write, markdownlint

Move `ThemeProvider`
  packages/theming/src/ThemeProvider.example.md
  packages/theming/src/ThemeProvider.js
  packages/theming/src/index.js
  packages/theming/src/index.spec.js
  packages/theming/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Move styleguidist content to `examples` folder
  packages/theming/examples/default-theme.md
  packages/theming/examples/palette.md
  packages/theming/examples/theme-provider.md
  packages/theming/styleguide.config.js
  utils/styleguide/setup.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Remove styleguidist `PALETTE` imports
  packages/avatars/src/Avatar.example.md
  packages/chrome/src/containers/AccordionContainer.example.md
  packages/dropdowns/src/examples/menu.md
  packages/dropdowns/src/examples/select.md
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Inline.example.md
  packages/loaders/src/Skeleton.example.md
  packages/loaders/src/Spinner.example.md
  packages/tables/src/examples/paginated-table.md
Due: prettier --write, markdownlint

Remove `autocomplete` from README
  README.md
Due: prettier --write, markdownlint

Add bundle size badges to README
  README.md
Due: prettier --write, markdownlint

Replace shields.io with badgen.net
  README.md
Due: prettier --write, markdownlint

Reference badge URLs
  README.md
Due: prettier --write, markdownlint

Update breaking changes
  BREAKING_CHANGES.md
Due: prettier --write, markdownlint

chore: add bundle size badges (#413)
  README.md
Due: prettier --write, markdownlint

fix(dropdowns): persist cursor location in Autocomplete
  packages/dropdowns/src/Dropdown/Dropdown.tsx
  packages/dropdowns/src/examples/autocomplete.md
Due: prettier --write, markdownlint

chore: organize theming package (#412)
  packages/avatars/src/Avatar.example.md
  packages/chrome/src/containers/AccordionContainer.example.md
  packages/dropdowns/src/examples/menu.md
  packages/dropdowns/src/examples/select.md
  packages/loaders/src/Dots.example.md
  packages/loaders/src/Inline.example.md
  packages/loaders/src/Skeleton.example.md
  packages/loaders/src/Spinner.example.md
  packages/tables/src/examples/paginated-table.md
  packages/theming/examples/default-theme.md
  packages/theming/examples/palette.md
  packages/theming/examples/theme-provider.md
  packages/theming/src/ThemeProvider.js
  packages/theming/src/index.js
  packages/theming/src/index.spec.js
  packages/theming/styleguide.config.js
  utils/styleguide/setup.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

fix(dropdowns): persist cursor location in Autocomplete (#414)
  packages/dropdowns/src/Dropdown/Dropdown.tsx
  packages/dropdowns/src/examples/autocomplete.md
Due: prettier --write, markdownlint

chore(release): publish
  lerna.json
  packages/dropdowns/package.json
Due: prettier-package-json --write

Add v6.4.2 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write, markdownlint

Initial tag styling
  packages/tags/package.json
  packages/tags/src/views/Tag.example.md
  packages/tags/src/views/Tag.js
  packages/theming/src/theme/__snapshots__/index.spec.js.snap
  packages/theming/src/theme/index.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint, prettier-package-json --write

fix(datepicker): correct minValue and maxValue displays and allow same date selection within Range
  packages/datepickers/src/Datepicker/Datepicker.spec.tsx
  packages/datepickers/src/Datepicker/components/Calendar.tsx
  packages/datepickers/src/DatepickerRange/DatepickerRange.spec.tsx
  packages/datepickers/src/DatepickerRange/components/Calendar.tsx
  packages/datepickers/src/DatepickerRange/components/Month.tsx
  packages/datepickers/src/DatepickerRange/utils/datepicker-range-reducer.ts
Due: none

Style tag avatar/close children
  packages/tags/examples/avatar.md
  packages/tags/examples/close.md
  packages/tags/examples/tag.md
  packages/tags/src/components/Close.js
  packages/tags/src/components/Tag.js
  packages/tags/src/styled/StyledAvatar.js
  packages/tags/src/styled/StyledClose.js
  packages/tags/src/styled/StyledTag.js
  packages/tags/src/styled/index.js
  packages/tags/src/views/Avatar.js
  packages/tags/src/views/Close.js
  packages/tags/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Update examples
  packages/tags/README.md
  packages/tags/examples/tag.md
  packages/tags/src/index.spec.js
  packages/tags/src/styled/StyledClose.js
  packages/tags/src/styled/StyledTag.js
  packages/tags/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, markdownlint

Path conditions:
  stylelint: any of: *.js
  eslint: any of: *.js
  jest --config=utils/test/jest.config.js --findRelatedTests: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.md)
  markdownlint: any of: *.md
  prettier-package-json --write: any of: **/package.json
