Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix: duplicate characters in `version` script
  package.json
Due: prettier-package-json --write

fix(chrome): fix css styling and types
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/styled/sheet/StyledSheet.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix: duplicate characters in `version` script (#1240)
  package.json
Due: prettier-package-json --write

fix: feedback from pr
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/sheet/Sheet.spec.tsx
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/elements/sheet/components/Body.spec.tsx
  packages/chrome/src/elements/sheet/components/Body.tsx
  packages/chrome/src/elements/sheet/components/Close.spec.tsx
  packages/chrome/src/elements/sheet/components/Close.tsx
  packages/chrome/src/elements/sheet/components/Description.spec.tsx
  packages/chrome/src/elements/sheet/components/Description.tsx
  packages/chrome/src/elements/sheet/components/Footer.spec.tsx
  packages/chrome/src/elements/sheet/components/Footer.tsx
  packages/chrome/src/elements/sheet/components/FooterItem.spec.tsx
  packages/chrome/src/elements/sheet/components/FooterItem.tsx
  packages/chrome/src/elements/sheet/components/Header.spec.tsx
  packages/chrome/src/elements/sheet/components/Header.tsx
  packages/chrome/src/elements/sheet/components/Title.spec.tsx
  packages/chrome/src/elements/sheet/components/Title.tsx
  packages/chrome/src/styled/sheet/StyledSheet.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix: css styling and rtl
  packages/chrome/package.json
  packages/chrome/src/styled/sheet/StyledSheet.ts
  packages/chrome/src/styled/sheet/StyledSheetFooter.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheetFooter.ts
  packages/chrome/src/styled/sheet/StyledSheetHeader.ts
  packages/chrome/stories/examples/Sheet.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix: add size-snapshot
  packages/chrome/.size-snapshot.json
Due: none

chore: prevent multiple `displayName` assignments per file
  packages/dropdowns/src/elements/Menu/Items/AddItem.tsx
  packages/dropdowns/src/elements/Menu/Items/NextItem.tsx
  packages/dropdowns/src/elements/Menu/Items/PreviousItem.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/dropdowns/.size-snapshot.json
Due: none

fix: typography feedback
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/chrome/src/elements/sheet/components/Close.tsx
  packages/chrome/src/elements/sheet/components/Description.tsx
  packages/chrome/src/elements/sheet/components/Title.tsx
  packages/chrome/src/styled/index.ts
  packages/chrome/src/styled/sheet/StyledSheet.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheet.ts
  packages/chrome/src/styled/sheet/StyledSheetClose.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheetClose.ts
  packages/chrome/src/styled/sheet/StyledSheetDescription.ts
  packages/chrome/src/styled/sheet/StyledSheetFooter.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheetHeader.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheetHeader.ts
  packages/chrome/src/styled/sheet/StyledSheetTitle.ts
  packages/chrome/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore: remove multiple `displayName` assignments per file (#1241)
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Menu/Items/AddItem.tsx
  packages/dropdowns/src/elements/Menu/Items/NextItem.tsx
  packages/dropdowns/src/elements/Menu/Items/PreviousItem.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Improve display styling to handle `min-height` layout
  packages/forms/src/styled/file-upload/StyledFileUpload.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add margin styling for first item following a file upload
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/file-list/StyledFileListItem.ts
  packages/forms/stories/14-FileUpload.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Enhance story controls
  packages/forms/.size-snapshot.json
  packages/forms/stories/14-FileUpload.stories.tsx
  packages/forms/stories/story-types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add File.Delete component
  packages/forms/src/elements/file-list/components/Close.tsx
  packages/forms/src/elements/file-list/components/Delete.tsx
  packages/forms/src/elements/file-list/components/File.tsx
  packages/forms/src/elements/file-list/components/Item.tsx
  packages/forms/src/styled/file-list/StyledFileDelete.ts
  packages/forms/src/styled/index.ts
  packages/forms/stories/14-FileUpload.stories.tsx
  packages/forms/stories/16-FileList.stories.tsx
  packages/forms/stories/story-types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix: replace close button to standalone
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/sheet/components/Close.tsx
  packages/chrome/src/styled/sheet/StyledSheetClose.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheetClose.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix: size-snapshot.json
  packages/chrome/.size-snapshot.json
Due: none

fix(sheet): smooth out animation and add wrapper
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/sheet/Sheet.spec.tsx
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/styled/index.ts
  packages/chrome/src/styled/sheet/StyledSheet.spec.tsx
  packages/chrome/src/styled/sheet/StyledSheet.ts
  packages/chrome/src/styled/sheet/StyledSheetHeader.ts
  packages/chrome/src/styled/sheet/StyledSheetWrapper.ts
  packages/chrome/stories/examples/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(sheet): remove tab index from body
  packages/chrome/.size-snapshot.json
  packages/chrome/package.json
  packages/chrome/src/elements/sheet/components/Body.tsx
  packages/chrome/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Add generic file type
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/file-list/utils.tsx
  packages/forms/stories/14-FileUpload.stories.tsx
  packages/forms/stories/16-FileList.stories.tsx
  packages/forms/stories/story-types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore: remove version lifecycle lockfile updates
  package.json
Due: prettier-package-json --write

feat(sheet): add size prop for width consistency
  packages/chrome/.size-snapshot.json
  packages/chrome/src/elements/sheet/Sheet.tsx
  packages/chrome/src/styled/sheet/StyledSheet.ts
  packages/chrome/src/styled/sheet/StyledSheetFooter.ts
  packages/chrome/src/styled/sheet/StyledSheetWrapper.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore: remove version lifecycle lockfile updates (#1243)
  package.json
Due: prettier-package-json --write

chore(deps): update react types
  package.json
  packages/modals/yarn.lock
  packages/notifications/yarn.lock
  packages/tables/yarn.lock
  yarn.lock
Due: prettier-package-json --write

feat(accordions): add default expanded sections prop
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/Accordion.spec.tsx
  packages/accordions/src/elements/accordion/Accordion.tsx
  packages/accordions/stories/examples/Uncontrolled.tsx
  packages/accordions/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.44.2 [skip ci]
  CHANGELOG.md
Due: none

feat(sheet): add size arg in storybook
  packages/chrome/stories/examples/Sheet.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(dropdown): add danger state
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/elements/Menu/Items/Item.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/Item.tsx
  packages/dropdowns/src/elements/Menu/Items/ItemMeta.spec.tsx
  packages/dropdowns/src/elements/Menu/Items/ItemMeta.tsx
  packages/dropdowns/src/styled/items/StyledItem.ts
  packages/dropdowns/src/styled/items/StyledItemMeta.ts
  packages/dropdowns/src/utils/useItemContext.ts
  packages/dropdowns/stories/examples/Menu/Advanced.tsx
  packages/dropdowns/stories/examples/Menu/Default.tsx
  packages/dropdowns/stories/examples/Menu/Icon.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Set file validation and compact icon handling
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/file-list/components/File.tsx
  packages/forms/src/elements/file-list/utils.tsx
  packages/forms/src/styled/file-list/StyledFile.ts
  packages/forms/src/styled/file-list/StyledFileClose.ts
  packages/forms/src/styled/file-list/StyledFileIcon.ts
  packages/forms/src/utils/useFileContext.ts
  packages/forms/stories/16-FileList.stories.tsx
  packages/forms/stories/story-types.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Manage compact sizing
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/file-list/components/Close.tsx
  packages/forms/src/elements/file-list/components/Delete.tsx
  packages/forms/src/elements/file-list/components/File.tsx
  packages/forms/src/styled/file-upload/StyledFileUpload.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(deps): update @types/react (#1244)
  package.json
  packages/modals/yarn.lock
  packages/notifications/yarn.lock
  packages/tables/yarn.lock
  yarn.lock
Due: prettier-package-json --write
