Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

update min-width
  packages/buttons/src/styled/StyledIconButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

snapshot
  packages/buttons/.size-snapshot.json
Due: none

fix(accordions): remove default button behavior
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/elements/accordion/components/Label.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

refactor
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledIconButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update Label.spec.tsx
  packages/accordions/src/elements/accordion/components/Label.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update Popper Modifiers link to point to correct documentation
  packages/tooltips/src/elements/Tooltip.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Fix grammar
  packages/tooltips/src/elements/Tooltip.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(buttons): apply min-width to icon buttons (#837)
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledIconButton.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(tooltip): correct tooltip docs popper URL (#839)
  packages/tooltips/src/elements/Tooltip.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Prevent `isStart` attribute from being added to DOM element
  packages/typography/src/styled/StyledIcon.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/typography/.size-snapshot.json
Due: none

fix(forms): workaround shift+click checkbox labels on Firefox
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/common/Label.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(typography): prevent prop from being added to DOM element as an invalid attribute (#840)
  packages/typography/.size-snapshot.json
  packages/typography/src/styled/StyledIcon.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(accordions): remove default button behavior (#838)
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/elements/accordion/components/Label.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(datepickers): show calendar on tab
  packages/datepickers/src/Datepicker/Datepicker.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Retrieve id from htmlFor
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/common/Label.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Set pointer-events to none for SVG children
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/checkbox/StyledCheckSvg.ts
  packages/forms/src/styled/checkbox/StyledDashSvg.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update snapshot
  packages/forms/.size-snapshot.json
Due: none

fix(forms): workaround shift+click checkbox labels on Firefox (#842)
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/common/Label.tsx
  packages/forms/src/styled/checkbox/StyledCheckSvg.ts
  packages/forms/src/styled/checkbox/StyledDashSvg.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.20.0 [skip ci]
  CHANGELOG.md
Due: none

feat(forms): introduce InputGroup component
  packages/forms/examples/input-group.md
  packages/forms/src/elements/Input.tsx
  packages/forms/src/elements/input-group/InputGroup.spec.tsx
  packages/forms/src/elements/input-group/InputGroup.tsx
  packages/forms/src/index.ts
  packages/forms/src/styled/index.ts
  packages/forms/src/styled/input-group/StyledAppend.ts
  packages/forms/src/styled/input-group/StyledInputGroup.ts
  packages/forms/src/styled/input-group/StyledPrepend.ts
  packages/forms/src/utils/useInputGroupContext.ts
  packages/forms/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove iOS mobile margin
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/input-group/StyledInputGroup.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(forms): allow checkbox label click for Firefox
  packages/forms/src/fields/common/Label.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(forms): allow checkbox label click for Firefox (#844)
  packages/forms/src/fields/common/Label.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(accordions): workaround for Chromium autoscroll
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/utils/index.ts
  packages/accordions/src/utils/scroll.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

fix(accordions): prevent double trigger click invocation on Firefox
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/components/Header.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/forms/package.json
Due: prettier-package-json --write

Add v7.3.2 to CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Update snapshot
  packages/accordions/.size-snapshot.json
Due: none

Update @zendeskgarden/scripts
  package.json
  yarn.lock
Due: prettier-package-json --write

Correct z-index of buttons
  packages/forms/.size-snapshot.json
  packages/forms/examples/input-group.md
  packages/forms/src/styled/input-group/StyledAppend.ts
  packages/forms/src/styled/input-group/StyledInputGroup.ts
  packages/forms/src/styled/input-group/StyledPrepend.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write
