Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Update dependencies and start on story controls
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/demo/combobox.stories.mdx
  packages/dropdowns.next/demo/stories/ComboboxStory.tsx
  packages/dropdowns.next/package.json
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
  packages/dropdowns.next/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix(forms): prevent `validationLabel` warning on `Message` when `validation` is undefined
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/common/Message.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update theming peer dependency
  packages/forms/package.json
Due: prettier-package-json --write

fix(forms): prevent `validationLabel` warning on `Message` when `validation` is undefined (#1547)
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/forms/src/elements/common/Message.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Continue filling out props and story controls
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/demo/combobox.stories.mdx
  packages/dropdowns.next/demo/stories/ComboboxStory.tsx
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Fix mouse click for non-editable combobox
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(theming): add `boxShadow` retention parameter to `getFocusBoxShadow` utility
  packages/theming/.size-snapshot.json
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/focusStyles.ts
  packages/theming/src/utils/getFocusBoxShadow.spec.ts
  packages/theming/src/utils/getFocusBoxShadow.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Add `spacerHue` and `spacerShade` override parameters
  packages/theming/.size-snapshot.json
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/getFocusBoxShadow.spec.ts
  packages/theming/src/utils/getFocusBoxShadow.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Correct JSDoc
  packages/theming/src/utils/getFocusBoxShadow.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(theming): enhance focus utilities with additional parameter overrides (#1549)
  packages/theming/.size-snapshot.json
  packages/theming/src/utils/focusStyles.spec.tsx
  packages/theming/src/utils/focusStyles.ts
  packages/theming/src/utils/getFocusBoxShadow.spec.ts
  packages/theming/src/utils/getFocusBoxShadow.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(components): use new focus styles for interactive elements
  packages/accordions/src/styled/accordion/StyledHeader.ts
  packages/buttons/src/styled/StyledButton.ts
  packages/forms/src/styled/file-list/StyledFile.ts
  packages/forms/src/styled/file-upload/StyledFileUpload.ts
  packages/forms/src/styled/input-group/StyledInputGroup.ts
  packages/forms/src/styled/radio/StyledRadioInput.ts
  packages/forms/src/styled/range/StyledSliderThumb.ts
  packages/forms/src/styled/text/StyledTextInput.ts
  packages/forms/src/styled/tiles/StyledTile.ts
  packages/pagination/src/styled/Pagination/StyledPageBase.ts
  packages/tabs/src/styled/StyledTab.ts
  packages/tags/src/styled/StyledTag.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: style formatting
  packages/buttons/src/styled/StyledButton.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: add remaining components and finalize forms
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/accordion/StyledHeader.spec.tsx
  packages/accordions/src/styled/accordion/StyledHeader.ts
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/chrome/src/styled/sheet/StyledSheetClose.ts
  packages/colorpickers/.size-snapshot.json
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/styled/draggable/StyledDraggable.spec.tsx
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/forms/src/elements/Select.tsx
  packages/forms/src/elements/input-group/InputGroup.spec.tsx
  packages/forms/src/styled/range/StyledRangeInput.ts
  packages/forms/src/styled/select/StyledSelectWrapper.ts
  packages/forms/src/styled/text/StyledTextFauxInput.ts
  packages/forms/src/styled/text/StyledTextInput.ts
  packages/forms/src/styled/tiles/StyledTile.ts
  packages/grid/.size-snapshot.json
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
  packages/modals/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tabs/.size-snapshot.json
  packages/tabs/src/styled/StyledTab.ts
  packages/tabs/src/styled/StyledTabs.ts
  packages/tags/.size-snapshot.json
  packages/typography/.size-snapshot.json
  packages/typography/src/styled/StyledCodeBlockContainer.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: continued focus style update for components
  packages/chrome/src/styled/StyledSkipNav.ts
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/colorpickers/src/styled/ColorSwatch/StyledSwatchButton.ts
  packages/colorpickers/src/styled/common/StyledRange.ts
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/forms/src/styled/file-list/StyledFile.ts
  packages/forms/src/styled/range/StyledRangeInput.ts
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
  packages/modals/src/styled/StyledClose.ts
  packages/notifications/src/styled/content/StyledClose.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
  packages/tables/src/styled/StyledOverflowButton.ts
  packages/tables/src/styled/StyledSortableButton.ts
  packages/tags/src/styled/StyledTag.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: update snapshots
  packages/accordions/.size-snapshot.json
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/drag-drop/.size-snapshot.json
  packages/forms/.size-snapshot.json
  packages/notifications/.size-snapshot.json
  packages/pagination/.size-snapshot.json
Due: none

fix: revert moz focus inner and use focusStates with condition
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/StyledSkipNav.ts
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/chrome/src/styled/sheet/StyledSheetClose.ts
  packages/grid/.size-snapshot.json
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/content/StyledClose.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.5f8920a7.iframe.bundle.js
  main.b04ee165.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor: upgrade to latest focus styles utility usage
  packages/buttons/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/StyledSkipNav.ts
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/grid/.size-snapshot.json
  packages/grid/src/styled/pane/StyledPaneSplitterButton.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: address fedback
  packages/breadcrumbs/demo/stories/BreadcrumbStory.tsx
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/StyledSkipNav.ts
  packages/chrome/src/styled/header/StyledHeaderItem.ts
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/src/styled/multiselect/StyledMultiselectInput.ts
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/Select.tsx
  packages/forms/src/styled/select/StyledSelect.ts
  packages/forms/src/styled/select/StyledSelectWrapper.ts
  packages/forms/src/styled/text/StyledTextFauxInput.ts
  packages/forms/src/styled/text/StyledTextInput.ts
  packages/grid/.size-snapshot.json
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/tags/.size-snapshot.json
  packages/tags/src/styled/StyledTag.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: remove focus when isBare
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/forms/src/styled/text/StyledTextFauxInput.ts
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: follow LVHFA order
  packages/accordions/.size-snapshot.json
  packages/accordions/src/styled/accordion/StyledHeader.ts
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/StyledSkipNav.ts
  packages/forms/src/styled/range/StyledSliderThumb.ts
  packages/forms/src/styled/tiles/StyledTile.ts
  packages/grid/.size-snapshot.json
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/tables/.size-snapshot.json
  packages/tables/src/styled/StyledOverflowButton.ts
  packages/tabs/.size-snapshot.json
  packages/tabs/src/styled/StyledTab.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

refactor: remove isFocused internal prop from accordion
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/components/Header.spec.tsx
  packages/accordions/src/elements/accordion/components/Header.tsx
  packages/accordions/src/styled/accordion/StyledHeader.spec.tsx
  packages/accordions/src/styled/accordion/StyledHeader.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Expand storybook `options` control
  packages/dropdowns.next/demo/combobox.stories.mdx
  packages/dropdowns.next/demo/stories/ComboboxStory.tsx
  packages/dropdowns.next/demo/stories/data.ts
  packages/dropdowns.next/demo/stories/types.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: prevent override of Downshift option callback ref (used for `itemRefs` and scrollIntoView
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Option.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/drag-drop/.size-snapshot.json
  packages/drag-drop/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.67.0 [skip ci]
  CHANGELOG.md
Due: none

Updates [skip ci]
  iframe.html
  main.4ce71001.iframe.bundle.js
  main.5f8920a7.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Handle available listbox height styling
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
  packages/dropdowns.next/src/types/index.ts
  packages/dropdowns.next/src/views/combobox/StyledFloating.ts
  packages/dropdowns.next/src/views/combobox/StyledListbox.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Remove height reset
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Restore height reset
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/src/elements/combobox/Listbox.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Initial controlled prop implementation
  packages/dropdowns.next/.size-snapshot.json
  packages/dropdowns.next/demo/combobox.stories.mdx
  packages/dropdowns.next/src/elements/combobox/Combobox.tsx
  packages/dropdowns.next/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: border sizing, order, anchor focus styles, and nav focus styles
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
  packages/buttons/src/styled/StyledButtonGroup.spec.tsx
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/header/StyledHeaderItem.ts
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/input-group/StyledInputGroup.ts
  packages/tags/.size-snapshot.json
  packages/tags/src/styled/StyledTag.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: update snapshots
  packages/accordions/.size-snapshot.json
  packages/chrome/.size-snapshot.json
  packages/modals/.size-snapshot.json
  packages/tables/.size-snapshot.json
  packages/tags/.size-snapshot.json
Due: none

Update container-combobox
  packages/dropdowns.next/package.json
  packages/dropdowns.next/yarn.lock
Due: prettier-package-json --write

fix: button group
  packages/buttons/.size-snapshot.json
  packages/buttons/src/styled/StyledButton.ts
  packages/buttons/src/styled/StyledButtonGroup.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: remove todo comments
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: comments and global alert anchor focus ring size
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/nav/StyledNavItem.ts
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/input-group/StyledInputGroup.ts
  packages/forms/src/styled/select/StyledSelect.ts
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: remove internal isFocused prop from tiles
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/tiles/Tiles.spec.tsx
  packages/forms/src/elements/tiles/components/Tile.tsx
  packages/forms/src/styled/tiles/StyledTile.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: clean up tiles test
  packages/forms/src/elements/tiles/Tiles.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: address feedback
  packages/drag-drop/src/styled/draggable/StyledDraggable.ts
  packages/forms/.size-snapshot.json
  packages/forms/src/styled/text/StyledTextFauxInput.ts
  packages/forms/src/styled/text/StyledTextInput.ts
  packages/forms/src/utils/getValidationHue.ts
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0 --ignore-pattern !.storybook: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
