Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(changelog): add v9.12.4 [skip ci]
  CHANGELOG.md
Due: none

chore: run storybook v8 migration script
  .storybook/main.js
  package-lock.json
  package.json
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore(storybook): clean up configs
  .storybook/main.js
  .storybook/manager.js
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(modals): prevent unexpected close on blur
  package-lock.json
  packages/modals/package.json
Due: prettier-package-json --write

Restore previous test
  packages/modals/src/elements/TooltipDialog/TooltipDialog.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(modals): prevent unexpected close on blur (#2073)
  package-lock.json
  packages/modals/package.json
  packages/modals/src/elements/TooltipDialog/TooltipDialog.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write, prettier-package-json --write

chore: temporarily bypass bandwidth check until
  utils/scripts/deploy.mjs
Due: none

chore(eslint): update for Storybook + consolidate config blocks
  eslint.config.mjs
Due: none

refactor(Storybook): polish configs, improve typesafety
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.tsx
  .storybook/tsconfig.json
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(tsconfig): set moduleResolution for compatibility w Storybook v10 deps
  .storybook/tsconfig.json
  tsconfig.json
Due: none

style(stories): prettier
  packages/dropdowns/demo/~patterns/patterns.stories.tsx
  packages/forms/demo/checkbox.stories.tsx
  packages/forms/demo/fieldset.stories.tsx
  packages/forms/demo/radio.stories.tsx
  packages/forms/demo/range.stories.tsx
  packages/forms/demo/select.stories.tsx
  packages/forms/demo/toggle.stories.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(storybook): disable telemetry tracking
  .storybook/main.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: clean up
  eslint.config.mjs
Due: none

style: prettier
  packages/loaders/demo/stories/SkeletonStory.tsx
  packages/notifications/demo/stories/WellStory.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

refactor(template): update demo templates
  packages/.template/demo/stories/{{capitalize component}}Story.tsx
  packages/.template/demo/{{lowercase component}}.stories.mdx
  packages/.template/demo/{{lowercase component}}.stories.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore(eslint config): exclude .template folder
  eslint.config.mjs
Due: none

chore(release): publish
  lerna.json
  package-lock.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/package.json
  packages/datepickers/package.json
  packages/draggable/package.json
  packages/dropdowns.legacy/package.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/package.json
  packages/typography/package.json
Due: prettier-package-json --write

chore(changelog): add v9.12.5 [skip ci]
  CHANGELOG.md
Due: none

Revert "chore: temporarily bypass bandwidth check until"
  utils/scripts/deploy.mjs
Due: none

chore: bump @zendeskgarden/scripts to address Netlify API changes
  package-lock.json
  package.json
Due: prettier-package-json --write

fix(Storybook): re-enable OS theme inheritance
  .storybook/manager.ts
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

fix(Storybook): display props in ArgTypes block using alpha order
  .storybook/preview.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

chore: update lockfile
  package-lock.json
Due: none

fix(tooltips): prevent open on implicit focus
  package-lock.json
  packages/tooltips/package.json
Due: prettier-package-json --write

Patch unit tests
  packages/tooltips/src/elements/Tooltip.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Fix failing tests
  packages/colorpickers/src/elements/ColorSwatch/index.spec.tsx
  packages/colorpickers/src/elements/ColorSwatchDialog/index.spec.tsx
Due: stylelint, eslint --max-warnings 0, jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  stylelint: any of: *.{js,ts,tsx}
  eslint --max-warnings 0: any of: *.{js,ts,tsx}
  jest --config=utils/test/jest.config.js --bail --findRelatedTests --passWithNoTests: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier-package-json --write: any of: **/package.json
