Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint --max-warnings 0 --ignore-pattern !.storybook",
    "jest --config=utils/test/jest.config.js --bail --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).{md,mdx}": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

Update container-splitter
  packages/grid/package.json
  packages/grid/yarn.lock
Due: prettier-package-json --write

Updates [skip ci]
  iframe.html
  main.576e45f9.iframe.bundle.js
  main.d16c7dd4.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(storybook): use swc loader and minifier and move to workspaces
  .storybook/main.js
  lerna.json
  package.json
  packages/accordions/src/utils/useAccordionContext.ts
  packages/datepickers/.size-snapshot.json
  packages/grid/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/Notification.tsx
  packages/notifications/src/styled/StyledNotification.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

Restore button color styling
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(grid): add `isFixed` prop along with a11y fixes (#1455)
  packages/grid/.size-snapshot.json
  packages/grid/demo/stories/data.ts
  packages/grid/package.json
  packages/grid/src/elements/pane/PaneProvider.spec.tsx
  packages/grid/src/elements/pane/components/Splitter.spec.tsx
  packages/grid/src/elements/pane/components/Splitter.tsx
  packages/grid/src/styled/pane/StyledPaneSplitter.ts
  packages/grid/src/types/index.ts
  packages/grid/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix(chrome): scroll on subnav overflow (#1454)
  packages/chrome/.size-snapshot.json
  packages/chrome/src/styled/subnav/StyledSubNav.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.a7088364.iframe.bundle.js
  main.d0f628d3.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: update snapshots
  packages/accordions/.size-snapshot.json
  packages/forms/.size-snapshot.json
Due: none

fix: test
  .storybook/main.js
  package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/Alert.tsx
  packages/notifications/src/styled/StyledAlert.ts
  yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

More button design updates
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/global-alert/GlobalAlert.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertIcon.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.ts
  packages/notifications/src/styled/global-alert/utility.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

TS fix
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.spec.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.a7088364.iframe.bundle.js
  main.cad07556.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: remove extra type and add tests
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.spec.tsx
  packages/notifications/src/types/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(jest): use swc as transformer (#1456)
  package.json
  packages/forms/src/elements/MultiThumbRange.spec.tsx
  utils/test/jest.config.js
  yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

fix: remove type export
  packages/notifications/src/index.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(accordions, forms): use document for resizing (#1417)
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/accordion/components/Panel.tsx
  packages/accordions/src/elements/stepper/components/Content.tsx
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/Textarea.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.c0e1fb66.iframe.bundle.js
  main.cad07556.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.8a13ef01.iframe.bundle.js
  main.c0e1fb66.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: address feedback
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/global-alert/GlobalAlert.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertButton.spec.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertButton.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertClose.spec.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertClose.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertContent.spec.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertContent.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertTitle.spec.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertTitle.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Correct child anchor reference styling
  packages/notifications/.size-snapshot.json
  packages/notifications/demo/global-alert.stories.mdx
  packages/notifications/demo/stories/GlobalAlertStory.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Restructure GlobalAlert.Title
  packages/notifications/.size-snapshot.json
  packages/notifications/demo/stories/GlobalAlertStory.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: remove scroll bar on safari
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore: update snapshot
  packages/notifications/.size-snapshot.json
  packages/notifications/demo/stories/data.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: remove scroll on safari with overflow-x hidden
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix: remove transient props
  packages/notifications/.size-snapshot.json
  packages/notifications/src/elements/global-alert/GlobalAlert.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertButton.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertClose.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertTitle.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(notifications): global alert component (#1450)
  packages/notifications/.size-snapshot.json
  packages/notifications/demo/global-alert.stories.mdx
  packages/notifications/demo/stories/GlobalAlertStory.tsx
  packages/notifications/package.json
  packages/notifications/src/elements/global-alert/GlobalAlert.spec.tsx
  packages/notifications/src/elements/global-alert/GlobalAlert.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertButton.spec.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertButton.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertClose.spec.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertClose.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertContent.spec.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertContent.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertTitle.spec.tsx
  packages/notifications/src/elements/global-alert/GlobalAlertTitle.tsx
  packages/notifications/src/elements/global-alert/utility.ts
  packages/notifications/src/index.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlert.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertButton.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertClose.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertContent.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertIcon.ts
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.spec.tsx
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.ts
  packages/notifications/src/styled/global-alert/index.ts
  packages/notifications/src/styled/index.ts
  packages/notifications/src/types/index.ts
  packages/notifications/yarn.lock
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write, prettier-package-json --write

chore(release): publish
  lerna.json
  packages/accordions/.size-snapshot.json
  packages/accordions/package.json
  packages/avatars/.size-snapshot.json
  packages/avatars/package.json
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/colorpickers/.size-snapshot.json
  packages/colorpickers/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/package.json
  packages/forms/.size-snapshot.json
  packages/forms/package.json
  packages/grid/.size-snapshot.json
  packages/grid/package.json
  packages/loaders/.size-snapshot.json
  packages/loaders/package.json
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/notifications/.size-snapshot.json
  packages/notifications/package.json
  packages/pagination/.size-snapshot.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/.size-snapshot.json
  packages/tabs/package.json
  packages/tags/.size-snapshot.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/.size-snapshot.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.60.0 [skip ci]
  CHANGELOG.md
Due: none

chore(demo): prevent strict mode tool in production Storybook
  .storybook/preview.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

chore(demo): prevent strict mode tool in production Storybook (#1459)
  .storybook/preview.js
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.02c89850.iframe.bundle.js
  main.bc425998.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(breadcrumbs): removed word "navigation" from default ARIA label
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/src/elements/Breadcrumb.spec.tsx
  packages/breadcrumbs/src/elements/Breadcrumb.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

feat(breadcrumbs): removed word "navigation" from default ARIA label (#1461)
  packages/breadcrumbs/.size-snapshot.json
  packages/breadcrumbs/src/elements/Breadcrumb.spec.tsx
  packages/breadcrumbs/src/elements/Breadcrumb.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Updates [skip ci]
  iframe.html
  main.02c89850.iframe.bundle.js
  main.6e019196.iframe.bundle.js
  project.json
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(accordions): relative type interface import
  packages/accordions/.size-snapshot.json
  packages/accordions/src/elements/timeline/components/Item.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

Update size snapshot
  packages/accordions/.size-snapshot.json
Due: none

fix(notifications): add flex-shrink to global alert title
  packages/notifications/.size-snapshot.json
  packages/notifications/src/styled/global-alert/StyledGlobalAlertTitle.ts
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write

fix(accordions): relative type interface import (#1463)
  packages/accordions/src/elements/timeline/components/Item.tsx
Due: stylelint, eslint --max-warnings 0 --ignore-pattern !.storybook, jest --config=utils/test/jest.config.js --bail --findRelatedTests, prettier --write
