Repository zendeskgarden/react-components: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "stylelint",
    "eslint",
    "jest --config=utils/test/jest.config.js --findRelatedTests",
    "prettier --write"
  ],
  "!(*CHANGELOG).md": [
    "markdownlint",
    "prettier --write"
  ],
  "**/package.json": [
    "prettier-package-json --write"
  ]
}

fix(modals): allow Modal to be used in SSR environments (#876)
  packages/modals/.size-snapshot.json
  packages/modals/package.json
  packages/modals/src/elements/Modal.tsx
  packages/modals/yarn.lock
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

fix(deps): update dependency downshift to v6
  packages/dropdowns/package.json
  packages/dropdowns/yarn.lock
Due: prettier-package-json --write

chore(deps): update dependency eslint-plugin-jest to v24
  package.json
  yarn.lock
Due: prettier-package-json --write

Update eslint config and correct jest failures
  .eslintrc.json
  packages/dropdowns/src/elements/Multiselect/Multiselect.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): migrate react-accordions examples to storybook
  .eslintrc.json
  .storybook/main.js
  packages/accordions/README.md
  packages/accordions/package.json
  packages/accordions/stories/1-Readme.stories.mdx
  packages/accordions/stories/2-Accordion.stories.tsx
  packages/accordions/stories/3-Stepper.stories.tsx
  packages/accordions/styleguide.config.js
  packages/dropdowns/src/index.ts
  packages/forms/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Remove examples directory
  packages/accordions/examples/advanced.md
  packages/accordions/examples/basic.md
Due: none

Add extra line padding
  .storybook/main.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add read-only styling
  packages/forms/examples/basic.md
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Configure read-only styling for faux inputs
  packages/forms/.size-snapshot.json
  packages/forms/src/elements/FauxInput.tsx
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/styled/text/StyledTextFauxInput.ts
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update root accordions href
  demo/index.html
Due: none

Enhance basic example
  packages/forms/.size-snapshot.json
  packages/forms/examples/basic.md
Due: none

Add auto-selection for read-only fields
  packages/forms/src/elements/Input.tsx
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/elements/Textarea.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Add inline documentation to accordion stories
  packages/accordions/stories/2-Accordion.stories.tsx
  packages/accordions/stories/3-Stepper.stories.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update input-group example
  packages/forms/.size-snapshot.json
  packages/forms/examples/input-group.md
Due: none

Add readonly unit testing
  packages/forms/src/elements/Input.spec.tsx
  packages/forms/src/elements/MediaInput.spec.tsx
  packages/forms/src/elements/Textarea.spec.tsx
  packages/forms/src/styled/text/StyledTextFauxInput.spec.tsx
  packages/forms/src/styled/text/StyledTextInput.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Reduce readonly styling precedence
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Update size snapshot
  packages/forms/.size-snapshot.json
Due: none

Cleanup extra lines [skip ci]
  packages/forms/src/elements/Input.spec.tsx
  packages/forms/src/elements/MediaInput.spec.tsx
  packages/forms/src/elements/Textarea.spec.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Rename accordion stories
  .eslintrc.json
  packages/accordions/stories/2-Accordion.stories.tsx
  packages/accordions/stories/examples/Controlled.tsx
  packages/accordions/stories/examples/Uncontrolled.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Remove redundant header
  packages/accordions/stories/examples/Controlled.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(docs): migrate react-accordions examples to storybook (#878)
  .eslintrc.json
  .storybook/main.js
  demo/index.html
  packages/accordions/README.md
  packages/accordions/examples/advanced.md
  packages/accordions/examples/basic.md
  packages/accordions/package.json
  packages/accordions/stories/1-Readme.stories.mdx
  packages/accordions/stories/2-Accordion.stories.tsx
  packages/accordions/stories/3-Stepper.stories.tsx
  packages/accordions/stories/examples/Controlled.tsx
  packages/accordions/stories/examples/Uncontrolled.tsx
  packages/accordions/styleguide.config.js
  packages/dropdowns/src/index.ts
  packages/forms/src/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(docs): migrate react-breadcrumbs docs to storybook
  demo/index.html
  packages/breadcrumbs/README.md
  packages/breadcrumbs/examples/basic.md
  packages/breadcrumbs/package.json
  packages/breadcrumbs/stories/1-Readme.stories.mdx
  packages/breadcrumbs/stories/2-Breadcrumbs.stories.tsx
  packages/breadcrumbs/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Update demo index page to link to README
  demo/index.html
Due: none

chore(docs): migrate react-breadcrumbs docs to storybook (#880)
  demo/index.html
  packages/breadcrumbs/README.md
  packages/breadcrumbs/examples/basic.md
  packages/breadcrumbs/package.json
  packages/breadcrumbs/stories/1-Readme.stories.mdx
  packages/breadcrumbs/stories/2-Breadcrumbs.stories.tsx
  packages/breadcrumbs/styleguide.config.js
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

chore(docs): migrate react-avatars examples to storybook
  .eslintrc.json
  demo/index.html
  packages/avatars/README.md
  packages/avatars/package.json
  packages/avatars/stories/1-Readme.stories.mdx
  packages/avatars/stories/2-Avatar.stories.tsx
  packages/avatars/stories/examples/ChromeUsage.tsx
  packages/avatars/stories/examples/Default.tsx
  packages/avatars/stories/examples/MenuUsage.tsx
  packages/avatars/styleguide.config.js
  packages/chrome/src/styled/index.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write, prettier-package-json --write

Address Henry a11y comments
  packages/avatars/stories/examples/ChromeUsage.tsx
  packages/avatars/stories/examples/Default.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

feat(forms): add readonly support for text inputs (#879)
  packages/forms/.size-snapshot.json
  packages/forms/examples/basic.md
  packages/forms/examples/input-group.md
  packages/forms/src/elements/FauxInput.tsx
  packages/forms/src/elements/Input.spec.tsx
  packages/forms/src/elements/Input.tsx
  packages/forms/src/elements/MediaInput.spec.tsx
  packages/forms/src/elements/MediaInput.tsx
  packages/forms/src/elements/Textarea.spec.tsx
  packages/forms/src/elements/Textarea.tsx
  packages/forms/src/styled/text/StyledTextFauxInput.spec.tsx
  packages/forms/src/styled/text/StyledTextFauxInput.ts
  packages/forms/src/styled/text/StyledTextInput.spec.tsx
  packages/forms/src/styled/text/StyledTextInput.ts
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

Address JZ comments
  packages/avatars/stories/examples/ChromeUsage.tsx
  packages/avatars/stories/examples/Default.tsx
  packages/avatars/stories/examples/MenuUsage.tsx
Due: stylelint, eslint, jest --config=utils/test/jest.config.js --findRelatedTests, prettier --write

chore(release): publish
  lerna.json
  packages/accordions/package.json
  packages/avatars/package.json
  packages/breadcrumbs/package.json
  packages/buttons/.size-snapshot.json
  packages/buttons/package.json
  packages/chrome/package.json
  packages/datepickers/.size-snapshot.json
  packages/datepickers/package.json
  packages/dropdowns/.size-snapshot.json
  packages/dropdowns/package.json
  packages/forms/package.json
  packages/grid/package.json
  packages/loaders/package.json
  packages/modals/package.json
  packages/notifications/package.json
  packages/pagination/package.json
  packages/tables/.size-snapshot.json
  packages/tables/package.json
  packages/tabs/package.json
  packages/tags/package.json
  packages/theming/package.json
  packages/tooltips/.size-snapshot.json
  packages/tooltips/package.json
  packages/typography/package.json
  packages/utilities/package.json
Due: prettier-package-json --write

chore(changelog): add v8.23.0 [skip ci]
  CHANGELOG.md
Due: none
